<%= form_for(@business, :url => '/getfeatured/submit', :method => :POST, :html => {:multipart => true}) do |f| %>
    <div class="actions">
      <table class="form" cellpadding="5" cellspacing="0" style="font-size: 90%;">
        <tr>
          <td colspan="2">
            <% if @business.errors.any? %>
                <div id="error_explanation">
                  <h2><%= t("BUSINESS_WARNING")%></h2>
                </div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td style="width: 50%;">
            <table>
              <tr>
                <td>
                  <h2 class="block-header"><u><%= t("BUSINESS_DETAILS")%></u></h2>
                  <%= f.label :name, t("NAME_OF_COMPANY") %>
                  <%= f.text_field :name, :style => 'width: 300px;' %>

                  <%= f.label :category, t("TYPE_OF_BUSINESS") %>
                  <%= f.text_field :category, :style => 'width: 300px;' %>

                  <%= f.label :city, t("BUSINESS_LOCATION") %>
                  <%= f.text_field :city, :style => 'width: 300px;' %>

                  <%= f.label :website, t("WEBSITE")%>
                  <%= f.text_field :website, :style => 'width: 300px;' %>

                </td>
              </tr>
              <tr>
                <td>
                  <h2 class="block-header"><u><%= t("CONTACT_INFORMATION") %></u></h2>

                  <%= f.label :contact_person_name, t("CONTACT_PERSON") %>
                  <%= f.text_field :contact_person_name, :style => 'width: 300px;' %>

                  <%= f.label :phone, t("CONTACT_NUMBER") %>
                  <%= f.text_field :phone, :style => 'width: 300px;' %>

                  <%= f.label :email,  t("EMAIL_ADDRESS") %>
                  <%= f.text_field :email, :style => 'width: 300px;' %>
                </td>
              </tr>
            </table>
          </td>
          <td style="width: 50%;" valign="middle">
            <p class="highlight-box">
              <%= t("PROVIDE_BUSINESS_INFO")%> <br /><br /><%= t("REPRESENTATIVE_GET_IN_TOUCH")%>
            </p>

            <p class="highlight-box">
              <b style="font-size:110%;"><%= t("CONTACT_DIRECTLY")%></b><br/><br/>
               <%= t("PHONE")%>: <br/>
              <b><%=h SITE_CONFIG['business_phone']%></b><br/><br/>

              <%= t("EMAIL")%>:<br/>
              <a href="mailto:<%=h SITE_CONFIG['system_email']['business']%>"><b><%=h SITE_CONFIG['system_email']['business']%></b></a>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="padding-left: 10px;">
            <h2 class="block-header"><u><%= t("ANY_OTHER_INFO")%></u></h2>
            <%= f.text_area :notes, :rows => "5", :style => 'width: 630px;' %>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 10px;">
            <%= f.submit t("SUBMIT") %>
          </td>
        </tr>
      </table>
    </div>
<% end %>