<% page_title "Feature Your Business - Akhoni" %>

<div class="title page-header">
  <h1><%= t("FEATURE_YOUR_BUSINESS")%></h1>
</div>


<div class="form" style="padding-left: 0px;">
  <%= render 'form' %>
</div>
