<% page_title "Thank you - Akhoni" %>

<div class="title page-header">
  <h1><%= t("THANK_YOU")%></h1>
</div>

<div class="form" style="padding: 5px 20px;">
  <table width="96%">
    <tr>
      <td height="350" align="center" valign="middle">
        <%=image_tag('handshake.png')%> <br /><br /><br />
        <strong class="bangla"><%=t("WE_ARE_PROCESSING_YOUR_REQUEST")%></strong>, <%=t("REPRESENTATIVE_GET_IN_TOUCH")%>
      </td>
    </tr>
  </table>
</div>