<% if @poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poll.errors.count, "error") %> prohibited this Mobile Transaction from being
        saved:</h2>

      <ul>
        <% @poll.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% form_for(@poll, :url => submit_url, :method => submit_method) do |f| %>
    <%#= hidden_field 'mobile', 'default', {:value => '88'} %>
    <div class="actions">
      <table>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="5" width="100%" class="form" border="0">
              <tbody>
              <tr>
                <td width="50%" style="vertical-align: top;">
                  <table cellspacing="0" cellpadding="5" width="100%">
                    <tbody>
                    <tr>
                      <td colspan="2">
                        <div class="label">Question</div>
                        <%= f.text_field :question, :size => 30 %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Description</div>
                        <%= f.text_area :description %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Active?</div>
                        <%= f.check_box :is_active %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Start Date</div>
                        <%= f.datetime_select :start_date %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">End Date</div>
                        <%= f.datetime_select :end_date %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>

              </tr>
              <tr>
                <td class="info-block-bar" colspan="2">
                  <%= f.submit %> or
                  <%= link_to 'Cancel', admin_polls_url %>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
          <td>
            <table cellspacing="0" cellpadding="5" width="100%" class="form" border="0">
              <tbody>
              <tr>
                <td width="50%" style="vertical-align: top;">



                  <fieldset class="content-block">
                    <legend>Option Information</legend>

                    <div class="label">
                      <%= add_object_link("Add new option", f, @poll.poll_options.build, "manage/polls/poll_option", "#product_sizes") %></div>
                    <br/>

                    <div id="product_sizes">
                      <%= render :partial => 'manage/polls/poll_option', :locals => {:form => f, :poll_option => @poll.poll_options.build} %>
                    </div>
                    <br/>
                    <%= render :partial => 'manage/polls/poll_options', :locals => {:form => f, :poll_options => @poll.poll_options} %>
                  </fieldset>




                </td>

              </tr>

              </tbody>
            </table>
          </td>
        </tr>
      </table>

    </div>
<% end %>


