<div id="existing_sizes">
  <table id="all_sizes">
    <tr>
      <th>Options</th>
       <th></th>
    </tr>
    <tbody>
    <%= form.fields_for :poll_options do |poll_option| %>
        <% unless poll_option.object.new_record? %>
            <tr id=<%= poll_option.object.id %>>
              <td style="text-align:center;" >
                <%= poll_option.text_field :option %>
              </td>
              <td>
                <%= poll_option.check_box :_destroy %> Remove
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>