<div id="product_size">

  <%= form.fields_for :poll_options, poll_option,:child_index => (poll_option.new_record? ? "index_to_replace_with_js" : nil) do |options_form| %>

      <table>
        <tr>
          <td>
            <div class="label">Option</div>
            <%= options_form.text_field :option %>
          </td>
          <td>
            <%= link_to_function "Remove", "$(this).parent().parent().remove()", :href => "javascript:void(0);" ,:class =>"remove" %>
          </td>
        </tr>
      </table>
  <% end %>

</div>




