<%= link_to 'New Poll', new_admin_poll_path %>
<% if @polls.size > 0 -%>
<h1>Listing Polls </h1>

<table class="list">
<%= render :partial => 'manage/commons/pagination', :locals => {:items => @polls} %>
  <tr>
    <th>Question</th>
    <th>Active?</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th colspan="2" style="text-align:center;">Action</th>
  </tr>

<% @polls.each do |poll| %>
  <tr>
    <td><%= poll.question %></td>
    <td><%= poll.is_active? ? 'Yes' : 'No' %></td>
    <td><%= poll.start_date.strftime("%B %d, %Y, %I:%M %p") %></td>
    <td><%= poll.end_date.strftime("%B %d, %Y, %I:%M %p") %></td>
    <td>
      <%= link_to 'Edit', edit_admin_poll_path(poll) if can?(:edit, :"manage/polls") %>
    </td>
    <td>
      <% if deletable?(:edit, :"manage/polls") %>
        <%= link_to 'Delete', admin_poll_url(poll), :confirm => 'Are you sure to delete?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% else %>
   <div class="empty">No Poll available</div>
<% end %>


