<table class="info-block">
  <tbody>
  <tr>
    <td class="info-block-bar">
      New Poll
    </td>
  </tr>
  <tr>
    <td>

      <%= render :partial => 'form', :locals => {:submit_url => admin_polls_path(), :submit_method => :POST} %>

  </tr>
  </tbody>
</table>
