<p id="notice"><%= notice %></p>

<p>
  <b>Mobile number:</b>
  <%= @poll.mobile_number %>
</p>

<p>
  <b>Amount:</b>
  <%= @poll.amount %>
</p>

<p>
  <b>Transaction:</b>
  <%= @poll.transaction_id %>
</p>

<p>
  <b>User:</b>
  <%= @poll.user_id %>
</p>

<p>
  <b>Is used:</b>
  <%= @poll.is_used %>
</p>


<%= link_to 'Edit', edit_manage_poll_path(@poll) %> |
<%= link_to 'Back', manage_polls_path %>
