<tr id="coupon_<%= coupon.id %>" class="row_order">
  <td><%= coupon.order.user.name %></td>
  <td><%= coupon.security_code_coupon %></td>
  <td><%= coupon.quantity %></td>
  <% if coupon.order.deal.present? && (coupon.order.deal.free_coupon? || coupon.order.deal.free_gift?) %>
      <td> -- </td>
      <td> -- </td>
      <td> -- </td>
  <% else %>
      <td><%= coupon.actual_price %></td>
      <td><%= coupon.order.payment_type %></td>
      <td><%= coupon.amount %></td>
  <% end %>
  <td><%= show_date(coupon.created_at) %></td>
  <td><%= show_date(coupon.redeemed_at) %></td>
  <td>
    <% if coupon.redeemed? %>
        Redeemed <%= ' By '+coupon.redeemed_by_user.name_or_email if coupon.redeemed_by_user.present? %>
    <% elsif coupon.log_failed_redeems.length > Coupon::MAX_REDEEM_ATTEMPT %>
        <span class="warning">LOCKED</span>
    <% elsif coupon.redeemable? %>
        <div class="button_outside_border_blue action" coupon_id="<%= coupon.id %>" coupon_code="<%= coupon.security_code_coupon %>">
          <div class="button_inside_border_blue button_redeem">
            Redeem
          </div>
        </div>
    <% else %>
        <span class="warning"></span>
    <% end %>
  </td>
</tr>