<% page_title 'Coupon Search - Akhoni' %>

<script language="JavaScript">
    // Init redeem dialog
    $(document).ready(function() {
        var URL_COUPON_VERIFY = "<%= merchant_coupon_verify_url %>";
        var redeem_dialog = $('#dialog_redeem');
        var verification_code = $('#code_verification');
        var current_tr = null;

        var current_row = {
            coupon_code: null,
            order_id   : null,
            verification_code : null
        };

        var parameterizeObject = function (obj) {
            var array = [];
            for (var index in obj) {
                array.push(index + '=' + obj[index]);
            }
            return array.join('&');
        };

        redeem_dialog.dialog(
                {
                    autoOpen  : false,
                    resizable : false,
                    closeText : 'Cancel',
                    modal     : true,
                    title     : "Verification Code",
                    width     : 350,
                    height    : 140,
                    buttons   : {
                        "Cancel": function() {
                            $(this).dialog('close');
                        },
                        "Verify" : function() {
                            current_row.verification_code = verification_code.val();
                            $.ajax({
                                url   : URL_COUPON_VERIFY,
                                data  : parameterizeObject(current_row),
                                success : function(data) {
                                    if (data.status == 'SUCCESS') {
                                        current_tr.replaceWith(data.data);
                                        $('#coupon_' + current_row.coupon_id).effect('highlight', {}, 3000);
                                    } else {
                                        alert(data.data);
                                    }

                                    redeem_dialog.dialog('close');
                                }
                            });
                        }
                    }
                });

        $('.action').live('click', function() {
            current_tr = $(this).parent().parent();
            current_row.coupon_id = $(this).attr('coupon_id');
            current_row.coupon_code = $(this).attr('coupon_code');
            verification_code.val('');
            redeem_dialog.dialog('open');
        });
    });

</script>

<%= form_for @search, :url => "", :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="2" class="info-block-title">
          Filter Coupons
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Company Name</td>
        <td>
          <%= h @merchant.name %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Deal</td>
        <td>
          <%= select("search", "order_deal_id_or_order_deal_parent_id_equals", @deals.collect { |d| [d.title_with_campaign_name.to_s.html_safe, d.id] }, {:include_blank => true}) %>
        </td>
      </tr>
      <% if (@products.size > 0) %>
          <tr>
            <td class="info-block-label-nowrap">Product</td>
            <td>
              <%= select("search", "order_product_id_equals", @products.collect { |d| [d.title_with_campaign_name.to_s.html_safe, d.id] }, {:include_blank => true}) %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td class="info-block-label-nowrap">Coupon Code</td>
        <td>
          <%= f.text_field :security_code_coupon_contains, :size => '25' %>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Search", :onclick => "if($('#search_security_code_coupon_contains').val() == '') $('#search_security_code_coupon_contains').val('xxxxxxxx')" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');$('#search_security_code_coupon_contains').val('xxxxxxxx');document.forms[0].submit()"/>
        </td>
      </tr>

      <tr>
        <td colspan="6">
          <%= link_to 'Redeemed Coupons' , merchant_redeemed_coupons_url(:id => params[:id]) %>
        </td>
      </tr>
    </table>
<% end %>

<% if @coupons.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="5"><%= page_entries_info @coupons %></td>
        <td colspan="10" style="text-align:right;"><%= will_paginate(@coupons) %></td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Coupon Code</th>
        <th width="70">Quantity</th>
        <th width="100">Original Value</th>
        <th width="100">Payment Method</th>
        <th width="100">Paid Amount</th>
        <th>Buy Date</th>
        <th>Redeem Date</th>
        <th width="170">Action</th>
      </tr>
      <tbody>
      <%= render :partial => "row_order", :collection=> @coupons, :as => :coupon %>
      </tbody>
      <tr>
        <td colspan="5"><%= page_entries_info @coupons %></td>
        <td colspan="10" style="text-align:right;"><%= will_paginate(@coupons) %></td>
      </tr>
    </table>
    <div id="dialog_redeem" style="display:none;">
      <form>
        <label for="code_verification">Enter verification code</label>
        <input type="text" id="code_verification" size="10" maxlength="3"/>
      </form>
    </div>
<% else %>
    <div class="empty">No orders</div>
<% end %>