<%= form_tag '/manage/SaveBackgroundImage', {:multipart => true} do %>
  <table class="info-block">
    <tr>
      <td class="info-block-bar">
        Upload Background Image
      </td>
    </tr>
    <tr>
      <td style='color:red;'>
        <span class="legend">Currently, we are supporting only JPG format and size should be minimum 1600 X 900 pixels</span>
      </td>
    </tr>
    <tr>
      <td>
        <%= file_field_tag :background_image, :size => 35, :style => 'font-size: 30px;' %>
        <%= submit_tag "Upload", :style => 'font-size: 30px;' %>
      </td>
    </tr>
    <tr>
      <td>
      </td>
    </tr>
  </table>
<% end %>
