<tr id="payment_summary_<%= payment_summary.id %>">
  <td><%= link_to User.collector_name(payment_summary.collector), admin_payment_summary_path(payment_summary.id) %></td>
  <td><%= payment_summary.collection_amount %></td>
  <td><%= payment_summary.due_amount %></td>
  <td class="action" payment_summary_id="<%= payment_summary.id %>">
    <% if can?(:receive, :"manage/payment_summaries") && payment_summary.due_amount > 0 -%>
        <a class="button" style="cursor: pointer;">Receive Payment</a>
    <% end %>
    <% if can? :show, :"manage/audits" %>
        <%= show_history(payment_summary.id, 'PaymentSummary') %>
    <% end %>
  </td>
</tr>