<script language="JavaScript">
    $(document).ready(function() {


        var receive_dialog = $('#receive_dialog');
        var received_amount = $('#received_amount');
        var received_comment = $('#received_comment');
        var current_tr = null;

        var current_row = {
            payment_summary_id   : null,
            received_amount      : null,
            comments             : null,
            received_at          : null
        };

        var parameterizeObject = function (obj) {
            var array = [];
            for (var index in obj) {
                array.push(index + '=' + obj[index]);
            }
            return array.join('&');
        };

        receive_dialog.dialog(
        {
            autoOpen  : false,
            resizable : false,
            closeText : 'Cancel',
            modal     : true,
            title     : "Receive",
            width     : 400,
            height    : 240,
            buttons   : {
                "Cancel": function() {
                    $(this).dialog('close');
                },
                "Receive" : function() {
                    current_row.received_amount = received_amount.val();
                    current_row.received_comment = encodeURIComponent(received_comment.val());
                    current_row.received_at = $('#payment_received_at_1i').val() + '-' + $('#payment_received_at_2i').val() + '-' + $('#payment_received_at_3i').val()


                    $.ajax({
                        url   : "payment_summaries/receive",
                        data  : parameterizeObject(current_row),
                        beforeSend: function(){
                            $("#loading").html("<strong style='color: green'>Processing...</strong>");
                        },
                        success : function(data) {
                            if (data.status == 'SUCCESS') {
                                current_tr.replaceWith(data.data);
                                $('#payment_summary_' + current_row.payment_summary_id).effect('highlight', {}, 3000);
                            } else {
                                alert(data.data);
                            }
                            $("#loading").html('');
                            receive_dialog.dialog('close');
                        }
                    });
                }
            }
        });

        $('.button').live('click', function() {
            current_tr = $(this).parent().parent();
            current_row.payment_summary_id = $(this).parent().attr('payment_summary_id');
            received_amount.val('');
            receive_dialog.dialog('open');
        });
    });

</script>

<div id="receive_dialog" style="display:none;">
  <form>
    <table>
      <tr>
        <td colspan="3" id="loading"></td>
      </tr>
      <tr>
        <td style="vertical-align:top">Enter Receive Amount</td>
        <td style="vertical-align:top"> :</td>
        <td><input id="received_amount" style="width:195px" /></td>
      </tr>
      <tr>
        <td style="vertical-align:top">Received Comment</td>
        <td style="vertical-align:top"> :</td>
        <td style="vertical-align:top;">
          <textarea id="received_comment" rows="4" style="width:195px"></textarea>
        </td>
      </tr>
      <tr>
        <td style="vertical-align:top">Receive Date</td>
        <td style="vertical-align:top"> :</td>
        <td>
            <%= date_select("payment", "received_at", :prompt => true) %>
        </td>
      </tr>
    </table>
  </form>
</div>

<%= form_tag(admin_payment_summaries_path().to_s, {:id=> 'filter_form', :name=> 'filter_form', :method => :get}) do %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Payments
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">
          Deal: <%= select_tag("deal_id", options_from_collection_for_select(Deal.parent_deal, "id", "title_with_campaign_name", @deal.id), :onchange => "document.forms[0].submit()") %>
          <%= submit_tag "Export" %>
          <%= submit_tag "Export All" %>
        </td>
      </tr>
    </table>
<% end %>

<br/>

<% if @deal.payment_summaries.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <th>Collector Name</th>
        <th>Collected Amount</th>
        <th>Due Amount</th>
        <th width="150">Action</th>
      </tr>
      <tbody>
      <%= render :partial => "row_summary", :collection=> @deal.payment_summaries, :as => :payment_summary %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Payment available</div>
<% end %>
