<% page_title 'Payment details' %>

<h2>Payment Receive Details for <%= @payment_summary.collector.name %> </h2>

<table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @payment_receives %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@payment_receives) %></td>
      </tr>
      <tr>
        <th>Payment Receiver</th>
        <th>Received Amount</th>
        <th>Received At</th>
        <th>Comments</th>
      </tr>
      <tbody>
      <% @payment_receives.each do |payment_receive| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= payment_receive.user.name %></td>
            <td><%= payment_receive.received_amount %></td>
            <td><%= payment_receive.received_at.present? ? payment_receive.received_at.strftime("%d.%m.%Y") : payment_receive.created_at.strftime("%d.%m.%Y") %></td>
            <td><%= payment_receive.comments %></td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @payment_receives %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@payment_receives) %></td>
      </tr>
      </tbody>
    </table>

<%= link_to 'Back', "javascript:history.go(-1)", :class => 'button', :id => "payment_summary_back" %>