<% original_local = I18n.locale %>
<div>
  <% if @merchant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this merchant from being saved:</h2>

        <ul>
          <% @merchant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@merchant, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <div class="actions">
      <table class="form" width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td width="50%" style="vertical-align:top">
            <table width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td colspan="2">
                  <div class="label">Name</div>
                  <%= f.text_field :name, :size => 55, :maxlength => 150 %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Name(Bangla)*</div>
                  <% I18n.locale = reverse_language %>
                  <%= text_field :bangla_merchant, :name, :value => params[:bangla_merchant] && params[:bangla_merchant][:name] ? params[:bangla_merchant][:name] : @merchant.name, :size => 55, :maxlength => 150, :class => 'bangla' %>
                  <% I18n.locale = original_local %>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Address</div>
                  <%= f.text_area :address, :rows => 3, :cols => 71 %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Address(Bangla)*</div>
                  <% I18n.locale = reverse_language %>
                  <%= text_area :bangla_merchant, :address, :value => params[:bangla_merchant] && params[:bangla_merchant][:address] ? params[:bangla_merchant][:address] : @merchant.address, :rows => 3, :cols => 71, :class => 'bangla' %>
                  <% I18n.locale = original_local %>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">URL Name(example: the-8-resaurant, vlcc, ecstasy)</div>
                  <%= f.text_field :url_name, :size => 55, :maxlength => 150 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Contact Person</div>
                  <%= f.text_field :contact_person, :size => 55, :maxlength => 150 %>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <div class="label">Contact Person Detail</div>
                  <%= f.text_area :contact_person_detail, :rows => 3, :cols => 71 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Contact Number</div>
                  <%= f.text_field :contract_number, :size => 55, :maxlength => 255 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Email</div>
                  <%= f.text_field :email, :size => 55, :maxlength => 255 %> <br/>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Website</div>
                  <%= f.text_field :website, :size => 55, :maxlength => 255 %> <br/>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Latitude</div>
                  <%= f.text_field :lat, :size => 25, :maxlength => 30 %>
                </td>
                <td>
                  <div class="label">Longitude</div>
                  <%= f.text_field :long, :size => 26, :maxlength => 30 %>
                </td>
              </tr>
            </table>
          </td>
          <td width="50%" style="vertical-align:top">
            <table width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td>
                  <div class="label">User</div>
                  <%= text_area_tag("user_emails", @merchant.user_emails, :rows => 5, :cols => 60) %> <br/>
                  <i>Notes: Comma(,) separated user email address which is exists in our database.</i>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="label">Can View Orders</div>
                  <%= f.check_box :is_enable_orders_view %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Can View Customer Contact</div>
                  <%= f.check_box :can_view_customer_contact %>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="label">Featured?</div>
                  <%= f.check_box :is_featured %>
                </td>
              </tr>

              <tr>
                <td>
                  <div class="label">Has store enabled?</div>
                  <%= f.check_box :has_store_enabled %>
                </td>
              </tr>


              <tr>
                <td>
                  <div class="label">Logo (Size: 120X61)</div>
                  <div id="logo">
                    <div class="picture">
                      <%= f.file_field :logo %>
                    </div>
                  </div>

                  <div id="existing_logos" style="margin-top: 5px">
                    <%= image_tag @merchant.logo.url(:thumb) %>
                  </div>
                </td>
              </tr>
              <tr style="height: 20px"></tr>
              <tr>
                <td>
                  <div class="label">Banner (Size: 680X200)</div>
                  <div id="banner">
                    <div class="picture">
                      <%= f.file_field :banner %>
                    </div>
                  </div>

                  <div id="existing_banners" style="margin-top: 5px">
                    <%= image_tag @merchant.banner.url(:big) %>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="info-block-bar">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_merchants_path() %>
          </td>
        </tr>
      </table>
    </div>
<% end %>
