<% page_title 'Edit Merchant Information' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Merchant
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_merchant_path(@merchant), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
