<% if can? :new, :"manage/merchants" %>
    <%= link_to 'New Merchant', new_admin_merchant_path() %>
<% end %>
<br/><br/>

<% if @merchants.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @merchants %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@merchants) %></td>
      </tr>
      <tr>
        <th width="80">Image</th>
        <th>Name</th>
        <th width="200">Contact Person</th>
        <th width="150">Contact Number</th>
        <th width="150">Email</th>
        <th width="50" style="text-align:center">#Users</th>
        <th width="80"></th>
      </tr>
      <tbody>
      <% @merchants.each do |merchant| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td>
              <% if (merchant.logo.to_s.present? && merchant.logo.to_s == '/logos/original/missing.png') || !merchant.logo.present? %>
                  <%= image_tag 'tiny_missing.png'  %>
              <% else %>
                  <%= image_tag merchant.logo.url(:thumb)  %>
              <% end %>
            </td>
            <td><%= h(merchant.name) %></td>
            <td><%= h(merchant.contact_person) %></td>
            <td><%= h(merchant.contract_number) %></td>
            <td><%= h(merchant.email) %></td>
            <td style="text-align:center"><%= h(merchant.users.count) %></td>
            <td class="center">
              <% if can? :edit, :"manage/merchants" %>
                <%= link_to 'Edit', edit_admin_merchant_path(merchant) %>
              <% end %>
              <% if deletable?(:destroy, :"manage/merchants") %>
                  |
                  <%= link_to 'Delete', admin_merchant_path(merchant), :confirm => 'Are you sure, You want to delete merchant information?', :method => :delete %>
              <% end %>
               <% if can? :show, :"manage/audits" %>
                <%= show_history(merchant.id,'Merchant') %>
               <% end %>
            </td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @merchants %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@merchants) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Merchant available</div>
<% end %>
