<% if @press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press.errors.count, "error") %> prohibited this Mobile Transaction from being
        saved:</h2>

      <ul>
        <% @press.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% form_for(@press, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <%#= hidden_field 'mobile', 'default', {:value => '88'} %>
    <div class="actions">
      <table cellspacing="0" cellpadding="5" width="100%" class="form">
        <tbody>
        <tr>
          <td width="50%" style="vertical-align: top;">
            <table cellspacing="0" cellpadding="5" width="100%">
              <tbody>
              <tr>
                <td colspan="2">
                  <div class="label">Title</div>
                  <%= f.text_field :title, :size => 30 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Description</div>
                  <%= f.text_area :description %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">URL</div>
                  <%= f.text_field :url %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Published Date</div>
                  <%= f.date_select :published_at %>
                </td>
              </tr>

              <tr>
                <td colspan="2">
                  <div class="label">Logo(130x55)</div>
                  <%= f.file_field :logo %>
                </td>
              </tr>
              </tbody>
            </table>
          </td>

        </tr>
        <tr>
          <td class="info-block-bar" colspan="2">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_presses_url %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>


