<table class="info-block">
  <tbody>
  <tr>
    <td class="info-block-bar">
      Edit Press Release
    </td>
  </tr>
  <tr>
    <td>

      <%= render :partial => 'form', :locals => {:submit_url => admin_press_path(@press), :submit_method => :PUT} %>

  </tr>
  </tbody>
</table>