<% page_title "Press Coverage - Akhoni.com" %>



<%= link_to 'New Press Release', new_admin_press_path %>
<% if @presses.size > 0 -%>
    <h1>Listing Press Releases</h1>

    <table class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @presses} %>
      <tr>
        <th>Logo</th>
        <th>Title</th>
        <th>Description</th>
        <th>url</th>
        <th>Published At</th>
        <th>Created At</th>
        <th colspan="2" style="text-align:center;">Action</th>
      </tr>

      <% @presses.each do |press| %>
          <tr>
            <td><%= image_tag press.logo.url(:thumb) %></td>
            <td><%= press.title %></td>
            <td><%= truncate(press.description, :length => 100) %></td>
            <td><%= press.url %></td>
            <td><%= show_date(press.published_at) %></td>
            <td><%= show_date(press.created_at) %></td>
            <td>
              <% if can? :edit, :"manage/presses" %>
                <%= link_to 'Edit', edit_admin_press_path(press) if can?(:edit, :"manage/presses") %>
              <% end %>
            </td>
            <td>
              <% if deletable?(:edit, :"manage/presses") %>
                  <%= link_to 'Delete', admin_press_url(press), :confirm => 'Are you sure to delete?', :method => :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

    <br />

<% else %>
    <div class="empty">No Press Release available</div>
<% end %>
