<p id="notice"><%= notice %></p>

<p>
  <b>Mobile number:</b>
  <%= @press.mobile_number %>
</p>

<p>
  <b>Amount:</b>
  <%= @press.amount %>
</p>

<p>
  <b>Transaction:</b>
  <%= @press.transaction_id %>
</p>

<p>
  <b>User:</b>
  <%= @press.user_id %>
</p>

<p>
  <b>Is used:</b>
  <%= @press.is_used %>
</p>


<%= link_to 'Edit', edit_manage_mobile_transaction_path(@press) %> |
<%= link_to 'Back', manage_mobile_transactions_path %>
