<% page_title "Resend Confirmation Email" %>
<div class="form">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :email %><br/>
        <%= f.text_field :email %></p>

      <p><%= f.submit "Resend confirmation instructions" %></p>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>