

<div>
  <% if @corporate_discount.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@corporate_discount.errors.count, "error") %> prohibited this Corporate Discount from being
          saved:</h2>

        <ul>
          <% @corporate_discount.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@corporate_discount, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <div class="actions">
      <table class="form" width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td>
            <div class="label">Email Contains</div>
            <%= f.text_field :domain, :size => 55, :maxlength => 150 %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">Discount</div>
            <%= f.text_field :discount, :size => 55, :maxlength => 150 %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">Discount Label(English)</div>
            <%= f.text_field :discount_label_en, :size => 55, :maxlength => 150 %>
          </td>
        </tr>
        <tr>
          <td>
            <div class="label">Discount Label(Bangla)</div>
            <%= f.text_field :discount_label_bn, :size => 55, :maxlength => 150 %>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <div class="label">Select Type</div>
                <%= select :corporate_discount, :item_type, {''=>'', 'Deal' => 'deal', 'Product' => 'product'} %>
              </tr>
            </table>
        </tr>

        <tr>
          <td>
            <div id='deal_select' style="<%= 'display: none' if @corporate_discount.item_type.nil? || @corporate_discount.item_type.to_s == 'product' %>">
              <div class="label">Select Deal</div>
              <%= select :corporate_discount_, :deal_item, deal_options, {:include_blank => true,:selected => @corporate_discount.item_id } %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id='product_select' style="<%= 'display: none' if @corporate_discount.item_type.nil? || @corporate_discount.item_type.to_s == 'deal'%>">
              <div class="label">Select Product</div>
              <%= select :corporate_discount_, :product_item, Product.all.collect { |p| [p.name, p.id] }, {:include_blank => '',:selected => @corporate_discount.item_id} %>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="info-block-bar">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_corporate_discounts_path() %>
          </td>
        </tr>
      </table>
    </div>
<% end %>
