<% page_title 'Edit Corporate Discount Information' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Corporate Discount
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_corporate_discount_path(@corporate_discount), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
