<%= form_for @search, :url => admin_corporate_discounts_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Corporate Discount
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Domain Contains</td>
        <td><%= f.text_field :domain_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap">Type</td>
        <td>
          <%= select("search", "item_type_equals", item_type_options(), {:include_blank => true}) %>
        </td>
      </tr>
      <td colspan="3" class="info-block-title">
        <%= f.submit "Filter" %>
        <%= f.submit "Export to Excel" %>
        <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
      </td>
      <td class="info-block-title" align="right">
      </td>
      </tr>
    </table>
<% end %>



<% if can? :new, :"manage/corporate_discounts" %>
    <%= link_to 'New corporate discount', new_admin_corporate_discount_path() %>
<% end %>
<br/><br/>

<% if @corporate_discounts.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @corporate_discounts %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@corporate_discounts) %></td>
      </tr>
      <tr>
        <th width="80">Email</th>
        <th width="80">Discount</th>
        <th>Deal/Product Name</th>
        <th width="150">Type</th>
        <th width="80"></th>
      </tr>
      <tbody>
      <% @corporate_discounts.each do |corporate_discount| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= h(corporate_discount.domain)%></td>
            <td><%= h(corporate_discount.discount) %></td>
            <td><%= h(corporate_discount.deal_or_product_name) %></td>
            <td><%= h(corporate_discount.item_type) %></td>
            <td class="center">
              <% if can? :edit, :"manage/corporate_discounts" %>
                <%= link_to 'Edit', edit_admin_corporate_discount_path(corporate_discount) %>
              <% end %>
              <% if deletable?(:destroy, :"manage/corporate_discounts") %>
                  |
                  <%= link_to 'Delete', admin_corporate_discount_path(corporate_discount), :confirm => 'Are you sure, You want to delete Corporate discount information?', :method => :delete %>
              <% end %>
               <% if can? :show, :"manage/audits" %>
                <%= show_history(corporate_discount.id,'CorporateDiscount') %>
               <% end %>
            </td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @corporate_discounts %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@corporate_discounts) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Corporate Discounts available</div>
<% end %>
