<% page_title 'Add New Corporate Discount Information' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      New Corporate Discount
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_corporate_discounts_path(), :submit_method => :POST} %>
    </td>
  </tr>
</table>





