<style>
    .description {
        color: #5C0B3A;
        font-size: 14px;
    }
</style>

<div style="text-align:center;">
  <h1 style="font-size:15pt"> <%= @notice.popup_title %></h1>
  <%= show_image_or_nothing(@notice.pictures.last,:medium) %> <br/>
  <p class="description">
     <%= @notice.popup_desc.html_safe %>
  </p>

</div>