<% if @banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@banner.errors.count, "error") %> prohibited this Banner from being
        saved:</h2>

      <ul>
        <% @banner.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% form_for(@banner, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <%#= hidden_field 'mobile', 'default', {:value => '88'} %>
    <div class="actions">
      <table cellspacing="0" cellpadding="5" width="100%" class="form">
        <tbody>
        <tr>
          <td width="50%" style="vertical-align: top;">
            <table cellspacing="0" cellpadding="5" width="100%">
              <tbody>
              <tr>
                <td colspan="2">
                  <div class="label">Title</div>
                  <%= f.text_field :title, :size => 30 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Link</div>
                  <%= f.text_field :link %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Is Active</div>
                  <%= f.check_box :is_active %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Rank</div>
                  <%= f.text_field :rank %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Position</div>
                  <%= f.select :position, Banner::POSITIONS %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Picture(203x173 - for left), (685xany - for top)</div>
                  <%= f.file_field :picture %>
                </td>
              </tr>
              </tbody>
            </table>
          </td>

        </tr>
        <tr>
          <td class="info-block-bar" colspan="2">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_banners_url %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>


