<% page_title "Banners - Akhoni.com" %>



<%= link_to 'New Banner', new_admin_banner_path %>
<% if @banners.size > 0 -%>
    <h1>Listing Banners</h1>

    <table class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @banners} %>
      <tr>
        <th>Picture</th>
        <th>Title</th>
        <th>Link</th>
        <th>Rank</th>
        <th>Position</th>
        <th>Is Active</th>
        <th>Created At</th>
        <th colspan="2" style="text-align:center;">Action</th>
      </tr>

      <% @banners.each do |banner| %>
          <tr>
            <td><%= image_tag banner.picture.url %></td>
            <td><%= banner.title %></td>
            <td><%= link_to banner.link, banner.link, :target => "_blank" %></td>
            <td><%= banner.rank %></td>
            <td><%= banner.position %></td>
            <td><%= banner.is_active? ? 'Yes' : 'No' %></td>
            <td><%= show_date(banner.created_at) %></td>
            <td>
              <% if can? :edit, :"manage/banneres" %>
                <%= link_to 'Edit', edit_admin_banner_path(banner) if can?(:edit, :"manage/banneres") %>
              <% end %>
            </td>
            <td>
              <% if deletable?(:edit, :"manage/banneres") %>
                  <%= link_to 'Delete', admin_banner_url(banner), :confirm => 'Are you sure to delete?', :method => :delete %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

    <br />

<% else %>
    <div class="empty">No banner is available</div>
<% end %>
