<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @banner.title %>
</p>

<p>
  <b>Link:</b>
  <%= @banner.link %>
</p>

<p>
  <b>Position:</b>
  <%= @banner.position %>
</p>

<p>
  <b>Is Active:</b>
  <%= @banner.is_active? ? 'Yes' : 'No' %>
</p>

<p>
  <b>Rank:</b>
  <%= @banner.rank %>
</p>


<%= link_to 'Edit', edit_manage_banner_path(@banner) %> |
<%= link_to 'Back', manage_banners_path %>
