<% page_title "Update Your Information" %>

<div class="title page-header">
  <h1><%= t("CHANGE_INFORMATION") %></h1>
</div>

<div class="form">
  <% resource.phone = resource.phone_without_country_code %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
      <%= devise_error_messages! %>

      <p><%= f.label :firstname  , t("FIRST_NAME") %>
        <%= f.text_field :firstname %>

        <%= f.label :lastname , t("LAST_NAME") %>
        <%= f.text_field :lastname %>

        <%= f.label :address, t("ADDRESS") %>
        <%= f.text_area :address, :size => "38x4" %>

        <% if (!resource.admin?) %>
            <%= f.label :email %>
            <%= f.text_field :email %>
        <% end %>
                                `
        <%= f.label :phone %>
        <%= f.text_field :phone, :class => 'phone', :style => "width:267px;" %> <br/><br/>


        <%= f.check_box :is_subscribed? %> <span class="bangla"><%= t("RECEIVE_NEW_DEAL_ALERT")%></span>

        <br/>


        <%= f.check_box :blink_priyojon %>
        <%= t("BLINK_PRIYOJON")  %>

      <br/>


        <%= f.label :password %>
        <i style="font-size:10pt;font-weight:bold" class="bangla">(<%= t("LEAVE_BLANK_FOR_NOT_CHANGE")%>)</i><br/>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>

        <br/>
        <%= f.submit t("UPDATE") %> <span class="bangla"><%= t("OR")%></span>
        <%= link_to t("BACK"), :back, :style=>'color: #666666;', :class => 'bangla' %>
      </p>
  <% end %>


</div>
