<div>
  <div style="width:100%;">
    <b>Dear <%= @user.name_or_email %>,</b><br/><br/>
    You have earned <%=Referral::CREDIT[:buy].to_i %> Tk. credit for your friend <%=@friend.name_or_email%>'s purchase.<br /><br />
    Your current referral balance is Tk. <%= @user.referral_credit %>.
    You can see the referral credit history <%= link_to "here", history_referrals_url() %>.
    <br/><br/>
    Thank you for using Akhoni.com service and referring us to your close ones. <br/><br/>
    Have a good day!<br/>
  </div>
  <div style="width:100%;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>