<div>
  <p>Welcome to Akhoni.com!</p>

  <p>You have been successfully added to the Akhoni.com family. We are delighted to have you with us.
    You can log in to your new account at: <a href="http://akhoni.com">http://akhoni.com</a></p>

  <p>From now on, you’re going to receive email notifications from us- whenever there’s an exciting deal for you.
    To help ensure that you receive all email messages right in your inbox, please add
    <a href="mailto:<%= h SITE_CONFIG['system_email']['newsletter'] %>"><%= h SITE_CONFIG['system_email']['newsletter'] %></a>
    to your contact list.</p>

  <p>If there is anything we can do to help you get started with Akhoni.com, please feel free to knock us at:
    <a href="mailto:<%= h SITE_CONFIG['system_email']['contact'] %>"><%= h SITE_CONFIG['system_email']['contact'] %></a>
  </p>

  <p>You can also reach us at: <%= h SITE_CONFIG['hotline_number'] %></p>

  <p>Thank you for choosing Akhoni.com. We hope you’d enjoy your experience with us.<br/><br/></p>

  <div style="width:100%; color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>
