<%= javascript 'tiny_mce/tiny_mce' %>

<div>
  <% if @notification.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% @notification.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@notification, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
  <table cellspacing="4" class="info-block">
    <tr>
      <td class="info-block-label">Template</td>
      <td align="right"><%= f.select 'template', SITE_CONFIG["email_templates"].collect { |t| [t.humanize, t] }, {:include_blank => ''} %></td>
    </tr>
    <tr>
      <td class="info-block-label">Deal</td>
      <td align="right"><%= f.select :deal_id, Deal.parent_deal.live.collect { |d| [d.title_with_campaign_name, d.id] }, {:include_blank => ''} %> </td>
    </tr>
    <tr>
      <td class="info-block-label">From Name</td>
      <td align="right"><%= f.text_field :from_name, :size => 50, :maxlength => 255 %></td>
    </tr>
    <tr>
      <td class="info-block-label">Subject</td>
      <td align="right"><%= f.text_field :subject, :size => 50, :maxlength => 255 %></td>
    </tr>
    <tr>
      <td class="info-block-label" style="vertical-align:top">Content</td>
      <td align="right"><%= f.text_area :content, :rows => 30, :cols => 100 %></td>
    </tr>
    <tr>
      <td class="info-block-label" style="vertical-align:top">Pre-Designed HTML</td>
      <td align="right">
        <%= f.file_field :designed_html  %>
        [ <small><b>You must have to select a zip file containing index.html in the root.</b></small> ]
      </td>
    </tr>
    <tr>
      <td class="info-block-title"></td>
      <td class="info-block-title">
        <%= f.submit "Save" %> or
        <%= link_to 'Cancel', admin_notifications_path() %>
      </td>
    </tr>
  </table>
<% end %>

<script type="text/javascript">
  initialize_tiny_mce("notification_content");
</script>
