<% if @users.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @users %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@users) %></td>
      </tr>
      <tr>
        <th>User Name</th>
        <th>Email Address</th>
        <th>Phone Number</th>
        <th>Address</th>
      </tr>
      <tbody>
      <% @users.each do |user| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= user.name %>
            <td><%= user.email %>
            <td><%= user.phone %>
            <td><%= user.address %>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @users %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@users) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No user available</div>
<% end %>