<% if can? :new, :"manage/notifications" %>
    <%= link_to 'New Notification', new_admin_notification_path() %>
<% end %>
<br/><br/>

<% if @notifications.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @notifications %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@notifications) %></td>
      </tr>
      <tr>
        <th>Subject</th>
        <th width="150">From Name</th>
        <th width="60">#Users</th>
        <th width="100">Template</th>
        <th width="150">Sent Date</th>
        <th width="150">Sent By</th>
        <th width="50">Action</th>
      </tr>
      <tbody>
      <% @notifications.each do |notification| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= link_to h(notification.subject), admin_notification_path(notification) %></td>
            <td><%= h notification.from_name %></td>
            <td><%= h notification.users.count %></td>
            <td><%= h notification.template %></td>
            <td><%= h show_date(notification.created_at, 'dt') %></td>
            <td><%= h notification.sender.name %></td>
            <td nowrap><%= show_notification_actions(notification) %></td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @notifications %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@notifications) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Notifications available</div>
<% end %>
