<%= form_for @search, :url => logs_admin_notifications_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Email Notification Logs
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">User Name/Phone</td>
        <td><%= f.text_field :receiver_firstname_or_receiver_lastname_or_receiver_phone_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap">Subject <%= f.text_field :subject_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap">Source <%= select("search", "bounce_type_equals", LogEmailNotification.bounce_types, {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Date between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="search[select_date]" class="date_filter_selector" for="sent_at" <%=date_filter_enabled? ? 'checked' : ''%> />
          <%= f.datetime_select :sent_at_greater_than_or_equal_to, {:disabled => !date_filter_enabled?()}, {:class => 'sent_at'} %>
          and <%= f.datetime_select :sent_at_less_than_or_equal_to, {:disabled => !date_filter_enabled?()}, {:class => 'sent_at'} %>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <%= f.submit "Export to Excel" %>
        </td>
      </tr>
    </table>
<% end %>
<br />

<% if @notification_logs.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @notification_logs} %>
      <tr>
        <th width="30">ID</th>
        <th width="80">Bounce Type</th>
        <th width="200">From</th>
        <th width="200">Source</th>
        <th>Subject</th>
        <th width="120">Sent At</th>
      </tr>
      <tbody>
      <% @notification_logs.each do |notification_log| %>
          <tr>
            <td><%= h(notification_log.id) %></td>
            <td><%= h(notification_log.bounce_type) %></td>
            <td><%= link_to_receiver(notification_log) %></td>
            <td><%= h(notification_log.notification_email) %></td>
            <td><%= h(notification_log.subject) %></td>
            <td><%= show_date(notification_log.sent_at, 'dt') %></td>
          </tr>
      <% end %>
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @notification_logs} %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No log available</div>
<% end %>
