<% page_title 'Notification details' %>

<table width="100%" cellspacing="5" class="info-block">
  <tr>
    <td class="info-block-bar">Notification details</td>
  </tr>
  <tr>
    <td valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-label">Subject</td>
          <td class="info-block-sep">:</td>
          <td><%= h @notification.subject %></td>
        </tr>
        <tr>
          <td class="info-block-label">From Name</td>
          <td class="info-block-sep">:</td>
          <td><%= h @notification.from_name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Template</td>
          <td class="info-block-sep">:</td>
          <td><%= h @notification.template %></td>
        </tr>
        <tr>
          <td class="info-block-label">Deal</td>
          <td class="info-block-sep">:</td>
          <td><%= h @notification.deal.present? ? @notification.deal.title : '' %></td>
        </tr>
        <tr>
          <td class="info-block-label">Notified To</td>
          <td class="info-block-sep">:</td>
          <td><span id="notification_counter"><%= h @notification.notifications_users.sent.count %></span>
            of <%= pluralize(@notification.users.count, "user") %> </td>
        </tr>
        <tr>
          <td class="info-block-label" style="vertical-align:top">Content</td>
          <td class="info-block-sep" style="vertical-align:top">:</td>
          <td><%= h @notification.content.html_safe %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td> <h2>
      <%= link_to 'Preview', preview_admin_notification_path(@notification), :target => "_blank" %>
      or  <%= link_to 'Back to List', admin_notifications_path() %></h2>
    </td>
  </tr>
</table>