<% if @business.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @business %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@business) %></td>
      </tr>
      <tr>
        <th>Company Name</th>
        <th width="170">Type</th>
        <th width="170">Location</th>
        <th width="170">Contact Person</th>
        <th width="150">Contact Number</th>
        <th width="180">Email</th>
        <th width="100">Date</th>
      </tr>
      <tbody>
      <% @business.each do |business| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td>
              <% if can? :show, :"manage/businesses" %>
                    <%= link_to h(business.name), admin_business_path(business) %>
              <% end %>
            </td>
            <td><%= h business.category %></td>
            <td><%= h business.city %></td>
            <td><%= h business.contact_person_name %></td>
            <td><%= h business.phone %></td>
            <td><%= h business.email %></td>
            <td><%= show_date(business.created_at) %></td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @business %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@business) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No data available</div>
<% end %>
