<% page_title 'Get your business featured' %>


<table width="100%" cellspacing="5" class="info-block">
  <tr>
    <td colspan="2" width="100%">
      <table width="100%">
        <tr>
          <td class="info-block-bar"><%= h @business.name %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3">Basic Information</td>
        </tr>
        <tr>
          <td class="info-block-label">Type of Business</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.category %></td>
        </tr>
        <tr>
          <td class="info-block-label">Location</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.city %></td>
        </tr>
        <tr>
          <td class="info-block-label">Website</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.website %></td>
        </tr>
      </table>
    </td>
    <td width="50%" valign="top">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3">Contact Information</td>
        </tr>
        <tr>
          <td class="info-block-label">Contact Person</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.contact_person_name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Phone</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.phone %></td>
        </tr>
        <tr>
          <td class="info-block-label">Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @business.email %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="100%">
      <table width="100%">
        <tr>
          <td class="info-block-title">Notes</td>
        </tr>
        <tr>
          <td>
            <%=@business.notes.present? ? @business.notes.html_safe : '' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>