<% if order.coupons.size > 0 %>
    <table width="100%">
      <tr>
        <td class="info-block-title">Coupon(s)</td>
        <td class="info-block-title" colspan="9" style="text-align:center;">
          <span id="coupon_message" style="color:red"><%= h message if defined?(message) %></span></td>
      </tr>
      <tr>
        <th>Code</th>
        <th>Quantity</th>
        <% if (order.deal.present? && !(order.deal.free_coupon? || order.deal.free_gift?)) || order.product.present? %>
            <th>Actual Amount</th>
            <th>Discounted Amount</th>
        <% end %>
        <th>Redeemed Date</th>
        <th>Redeemed By</th>
        <th></th>
      </tr>
      <% order.coupons.each do |coupon| %>
          <tr id="coupon<%= coupon.id %>">
            <td><%= (coupon.security_code_coupon) %></td>
            <td><%=  coupon.quantity %></td>
            <% if (order.deal.present? && !(order.deal.free_coupon? || order.deal.free_gift?)) ||order.product.present? %>
                <td><%= coupon.actual_price %></td>
                <td><%= coupon.order.orderable.advance_payable? ? coupon.order.quantity*coupon.order.orderable[:discounted_price_for_advance_payment] : coupon.amount %></td>
            <% end %>
            <td><%= show_date(coupon.redeemed_at) %></td>
            <td><%= h coupon.redeemed_by_user.name_or_email if coupon.redeemed_by_user.present? %></td>
            <td class="action">
              <%= link_to_print_coupon(coupon, 'Show', {:class => 'icon next'}) %>
              <% if can? :destroy, :"manage/coupons" %>
                <%= link_to_coupon_delete(coupon) %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <h2>Coupon not generated yet.</h2>
<% end %>