<% if order.user %>
    <tr id="order_<%= order.id %>" class='order-row <%= 'paid' if order.paid? %>' style="<%= (order.orderable.class.to_s == 'Deal' && [3,4].include?(order.orderable.type_id)) ? "background:#FCCFBD" : "" %>">
      <td id="order_id"><%= h(order.id) %></td>
      <td>
        <% if can? :show, :"manage/orders" %>
            <%= link_to order.security_code_booking, admin_order_path(order) %>
        <% else %>
            <%= order.security_code_booking %>
        <% end %>
      </td>
      <td><%= order.merchant.name %></td>
      <td nowrap>
        <% if can? :show, :"manage/orders" %>
            <%= link_to order.user.name_or_email, admin_order_path(order) %>
        <% else %>
            <%= order.user.name_or_email %>
        <% end %>
      </td>
      <td><%= order.user.email %>
        <br/><%= order.user.phone %></td>
      <td>
        <%= show_deal_or_product_details(order) %>
      </td>
      <td><%= order.booking_at.strftime "%d.%m.%Y" %></td>
      <td><%= order.quantity %></td>
      <td><%= order.actual_price %></td>
      <td><%= order.orderable.advance_payable? ? order.quantity * order.orderable.discounted_price_for_advance_payment : order.amount %></td>
      <td><%= order.payable_amount %></td>
      <td><%= order.shipping_cost.to_s %></td>
      <td><%= bought_orders_count(order.user) %></td>
      <td><%= show_status(order) %></td>
      <td><%= order.gift.present? ? 'Yes' :'No' %></td>
      <td><%= order.is_waiting ? 'Yes' :'No' %></td>
      <td>
        <div>
          <div class="comment<%= order.id %>_delivery_date"><%= order.delivery_date ? order.delivery_date.strftime("%d.%m.%Y") : '' %></div>
        </div>
      </td>
      <td>
        <div>
          <div class="comment<%= order.id %>_text" order_id="<%= order.id %>"><%= order.comment %></div>
          <div style="display:block" class="address<%= order.id %>_text" order_id="<%= order.id %>"><%= render_shipping_address(order) %></div>
        </div>
      </td>
      <td>
        <div>
          <div id="action_order_<%= order.id %>">
            <%= show_order_actions(order) %>
            <% if can? :show, :"manage/audits" %>
                <%= show_history(order.id, 'Order', 'icon history') %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>

<% end %>