<script language="JavaScript">
    // Init redeem dialog
    $(document).ready(function() {
        var comment_dialog = $('#dialog_comment');
        var comment_value = $('#comment_value');
        var address_value = $('#address_value');
        var delivery_date_year = $('#order_delivery_date_1i');
        var delivery_date_month = $('#order_delivery_date_2i');
        var delivery_date_day = $('#order_delivery_date_3i');
        var current_tr = null;

        var current_row = {
            order_id            : null,
            comment             : null,
            delivery_date_year  : null,
            delivery_date_month : null,
            delivery_date_day   : null
        };

        var parameterizeObject = function (obj) {
            var array = [];
            for (var index in obj) {
                array.push(index + '=' + encodeURIComponent(obj[index]));
            }
            return array.join('&');
        };

        comment_dialog.dialog(
                {
                    autoOpen  : false,
                    resizable : false,
                    closeText : 'Cancel',
                    modal     : true,
                    title     : "Enter Comment, Address And Delivery Date",
                    width     : 370,
                    height    : 350,
                    buttons   : {
                        "Cancel": function() {
                            $(this).dialog('close');
                        },
                        "Save" : function() {
                            current_row.comment = comment_value.val();
                            current_row.address_value = address_value.val();
                            current_row.delivery_date_year = delivery_date_year.val();
                            current_row.delivery_date_month = delivery_date_month.val();
                            current_row.delivery_date_day = delivery_date_day.val();
                            $.ajax({
                                url   : "/manage/orders/comment",
                                data  : parameterizeObject(current_row),
                                beforeSend: function(){
                                  $("#dialog_comment #processing").html("<strong style='color: green'>Processing...</strong>")
                                },
                                success : function(data) {
                                    if (data.status == 'SUCCESS') {
                                        current_tr.replaceWith(data.data);
                                        $('#order_' + current_row.order_id).effect('highlight', {}, 3000);
                                    } else {
                                        alert(data.data);
                                    }
                                    $("#dialog_comment #processing").html('')
                                    comment_dialog.dialog('close');
                                }
                            });
                        }
                    }
                });

        $('.add_comment').live('click', function() {
            current_tr = $(this).parent().parent().parent().parent();
            current_row.order_id = $(this).attr('order_id');
            comment_value.val($('.comment' + current_row.order_id + '_text').text());
            address_value.val($('.address' + current_row.order_id + '_text').text())
            comment_dialog.dialog('open');
            prepareDeliveryDateSelection(current_row);
        });
    });

    function prepareDeliveryDateSelection(current_row) {
        $("#order_delivery_date_1i option, #order_delivery_date_2i option, #order_delivery_date_3i option").removeAttr('selected');

        var deliveryDate = $('.comment' + current_row.order_id + '_delivery_date').html();
        deliveryDate = deliveryDate.split('.');
        if (deliveryDate.length > 0) {
            var year = Number(deliveryDate[2]);
            var month = Number(deliveryDate[1]);
            var day = Number(deliveryDate[0]);
            $("#order_delivery_date_1i option[value=" + year + "]").attr('selected', 'selected');
            $("#order_delivery_date_2i option[value=" + month + "]").attr('selected', 'selected');
            $("#order_delivery_date_3i option[value=" + day + "]").attr('selected', 'selected');
        }
    }


</script>

<div id="dialog_comment" style="display:none;">
  <form>
    <table width="100%">
      <tr>
        <td id="processing"></td>
      </tr>
      <tr>
        <td><strong>Comment:</strong></td>
      </tr>
      <tr>
        <td><textarea rows="3" cols="45" id="comment_value"></textarea></td>
      </tr>
      <tr>
        <td><strong>Address:</strong></td>
      </tr>
      <tr>
        <td><textarea rows="3" cols="45" id="address_value"></textarea></td>
      </tr>

      <tr>
        <td style="float:left;margin-top:10px;"><strong>Select Date:</strong></td>
      </tr>
      <tr>
        <td>
          <%= date_select("order", "delivery_date", :prompt => true) %>
        </td>
      </tr>
    </table>
  </form>
</div>


<%= form_for @search, :url => admin_orders_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block" style="font-size: 80%">
      <tr>
        <td colspan="4" class="info-block-title">
          Filter Order/Booking
        </td>
      </tr>
       <tr>
        <td colspan="3" class="info-block-label-nowrap">
          Deal?
          <%= f.check_box :deal_id_greater_than_or_equal_to %> Yes &nbsp;&nbsp;
          <%= f.check_box :deal_id_less_than %> No &nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product?
          <%= f.check_box :product_id_greater_than_or_equal_to %> Yes &nbsp;&nbsp;
          <%= f.check_box :product_id_less_than %> No &nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Merchant&nbsp;&nbsp;
          <%= select("search", "deal_merchant_translations_name_or_product_merchant_translations_name_equals", Merchant.all.collect { |m| [m.name, m.name] }, {:include_blank => true}) %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Deal Owner&nbsp;&nbsp;
          <%= select("search", "deal_manager_id_or_product_manager_id_equals", User.not_members.collect { |m| [m.email, m.id] }, {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Deal</td>
        <td class="info-block-label-nowrap">
          <%= select("search", "deal_id_or_deal_parent_id_equals", deal_options(), {:include_blank => true}) %>
          <span class="info-block-label-nowrap">Product</span>
          <%= select("search", "product_id_equals", product_options(), {:include_blank => true, :size => 20}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Payment Methods</td>
        <td class="info-block-label-nowrap">
          <%= select("search", "payments_method_equals", Payment.methods.collect { |m| [m[:name], m[:id]] }, {:include_blank => true}) %>
          <span class="info-block-label-nowrap">Type</span>
          <%= select("search", "deal_type_id_equals", Deal::TYPES, {:include_blank => true}) %>
          <span class="info-block-label-nowrap">Confirmed?</span>
          <%= f.check_box :confirmed_by_greater_than_or_equal_to %>
          <%= select("search", "confirmed_by_equals", collector_options_using_email(), {:include_blank => true}) %>
          &nbsp;&nbsp;Paid? <%= f.check_box :is_notified_is_true %>
          <%= select("search", "payments_collector_id_equals", collector_options_using_email(), {:include_blank => true}) %>
          &nbsp;&nbsp;Canceled?
          <%= f.check_box :canceled_by_greater_than_or_equal_to %> Yes &nbsp;&nbsp;
          <%= f.check_box :canceled_by_less_than %> No &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Code</td>
        <td class="info-block-label-nowrap">
          <%= f.text_field :security_code_booking_or_coupons_security_code_coupon_contains, :size => '25' %>
          &nbsp;&nbsp;Customer Name/Phone/Email
          <%= f.text_field :user_firstname_or_user_lastname_or_user_phone_or_user_email_contains, :size => '25' %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Booking Date between</td>
        <td class="info-block-label-nowrap">
          <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="booking_at"/>
          <%= f.datetime_select :booking_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
          and <%= f.datetime_select :booking_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Delivery Date between</td>
        <td class="info-block-label-nowrap">
          <input type="checkbox" id="select_delivery_date" name="select_delivery_date" class="date_filter_selector" for="delivery_date"/>
          <%= f.datetime_select :delivery_date_greater_than_or_equal_to, {:disabled => true}, {:class => 'delivery_date'} %>
          and <%= f.datetime_select :delivery_date_less_than_or_equal_to, {:disabled => true}, {:class => 'delivery_date'} %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <% if exportable?(:order) %>
              <%= f.submit "Export to Excel" %>
          <% end %>
          <%= f.submit "Print" %>
        </td>
      </tr>
    </table>

    <% if @orders.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="5"><%= page_entries_info @orders %></td>
            <td colspan="12" style="text-align:right;"><%= will_paginate(@orders) %></td>
          </tr>
          <tr>
            <th width="40">Order#</th>
            <th width="80"><%= f.sort_link :security_code_booking, 'Booking Code' %></th>
            <th>Merchant</th>
            <th>Name</th>
            <th width="100">Email/Phone</th>
            <th width="60">Deal/Product</th>
            <th width="40"><%= f.sort_link :booking_at, 'Date' %></th>
            <th width="30"><%= f.sort_link :quantity, 'Qty.' %></th>
            <th width="40">Org. Value</th>
            <th width="40">Dis. Value</th>
            <th width="40">Payable Value</th>
            <th width="40">Shipping Cost</th>
            <th width="40">Buy Count</th>
            <th width="80">Status</th>
            <th width="40">Gift?</th>
            <th width="40">Waiting?</th>
            <th width="75">Delivery Date</th>
            <th>Comment</th>
            <th width="80">Action</th>
          </tr>
          <tbody>
          <%= render :partial => "row_order", :collection=> @orders, :as => :order %>
          <tr>
            <td colspan="5"><%= page_entries_info @orders %></td>
            <td colspan="12" style="text-align:right;"><%= will_paginate(@orders) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No orders</div>
    <% end %>
<% end %>