<script type="text/javascript">
    function printSelection(node) {
        var content = node.innerHTML;
        var pwin = window.open('', 'print_content');
        pwin.document.open();
        pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
        pwin.document.close();
    }
</script>
<br/>
<div style="width:100%;text-align:center">
  <input type="button" value="Print" onclick="javascript:printSelection(document.getElementById('print_this'))"/>
  <input type="button" value="Back" onclick="javascript:history.go(-1)"/>
  <strong> <%= @orders.size %> records will be printed. </strong>
</div>
<br/>
<div id="print_this">
<style>
    .break {
        page-break-before: always;
        page-break-inside: avoid;

    }

    table tr td {
        font-size: 13px;
        font-family: arial
    }
</style>


<table width="100%" border="1" cellspacing="10" cellpadding="10">
<% @orders.each do |order| %>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <table width="100%" cellspacing="0">
                <tr>
                  <td align="center" colspan="3"><span style="font-size: 22px">Akhoni.com</span></td>
                </tr>
                <tr>
                  <td align="left" colspan="3"><span style="font-size: 18px;font-weight: bold;"><%= order.paid? ? 'Paid' : ' ' %></span></td>
                </tr>
                <tr>
                  <td width="35%">
                    <strong><%= order.user.name_or_email %>'s Copy</strong>
                  </td>
                  <td align="center" width="30%">
                    <strong style="font-size: 16px">Invoice/Money receipt</strong>
                  </td>
                  <td align="right" width="35%">
                    Reference # ___________
                  </td>
                </tr>
                <tr style="height: 10px"></tr>

                <tr>
                  <td colspan="2">
                    <table>
                      <tr>
                        <td>Delivery Date</td>
                        <td>:</td>
                        <td> <%= show_date (order.delivery_date) %> </td>
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td> <%= order.user.name %></td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td><%= render_shipping_address(order).html_safe %> </td>
                      </tr>
                    </table>
                  </td>
                  <td colspan="2" align="right">
                    <table>
                      <tr>
                        <td>Cell Number</td>
                        <td>:</td>
                        <td> <%= order.user.phone %>  </td>
                      </tr>
                      <tr>
                        <td>Booking Code</td>
                        <td>:</td>
                        <td><%= order.security_code_booking %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td><%= order.user.email %> </td>
                      </tr>
                    </table>

                  </td>
                </tr>

              </table>
            </td>
          </tr>

          <tr style="height: 10px"></tr>
          <tr>
            <td colspan="4">
              <table width="100%" cellspacing="0">
                <tr>
                  <th width="5%" style="border: 1px solid #000000;" align="center">SL</th>
                  <th align="center" width="70%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Particulars</th>
                  <th align="center" width="10%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Qty</th>
                  <th align="center" width="20%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Amount</th>
                </tr>
                <tr>
                  <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;padding-left: 5px">
                    <strong> Deal Name : </strong>
                    <% if order.deal.present? %>
                        <%= order.deal.parent.title.to_s + '/' if  order.deal.parent.present? %>  <%= order.deal.title %>
                    <% else %>
                        N/A
                    <% end %>
                  </td>
                  <td align="center" style="border-right: 1px solid #000000;"><%= order.quantity %></td>
                  <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.amount, :precision => 2) %></td>
                </tr>
                <tr>
                  <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;padding-left: 5px">
                    <strong> Product Name : </strong>
                    <% if order.product.present? %>
                        <%= order.product.name %>
                    <% else %>
                        N/A
                    <% end %>
                  </td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                </tr>

                <tr>
                  <td style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td valign="top" style="border-right: 1px solid #000000;height: 30px;padding-left: 5px;">
                    <strong>Size:</strong> <%= order.size.present? ? order.size.name : 'N/A' %></td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                </tr>

                <% if order.shipping_cost > 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Shipping Cost
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.shipping_cost, :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.cc_discount !=0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Credit Card
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.cc_discount * (-1), :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.referral_credit > 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;padding-right: 5px;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Referral Credit
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.referral_credit, :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.total_charge_discounts != 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Corporate Discount
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.total_charge_discounts, :precision => 2) %></td>
                    </tr>
                <% end %>


                <tr>
                  <th colspan="2" align="left" style="border: 1px solid #000000;padding-left: 5px">Total</th>
                  <th align="center" style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;border-top: 1px solid #000000;"><%= order.quantity %></th>
                  <th align="right" style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding-right: 5px;border-top: 1px solid #000000;"><%= number_with_precision(order.payable_amount, :precision => 2) %></th>
                </tr>
                <tr style="height: 60px"></tr>
                <tr>
                  <td colspan="2" align="left"><span style="border-top: 1px dotted #000000">Customer's signature</span>
                  </td>
                  <td colspan="2" align="right"><span style="border-top: 1px dotted #000000">For Akhoni.com</span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <table width="100%" cellspacing="0">
                <tr>
                  <td align="center" colspan="3"><span style="font-size: 22px">Akhoni.com</span></td>
                </tr>
                <tr>
                  <td align="left" colspan="3"><span style="font-size: 18px;font-weight: bold;"><%= order.paid? ? 'Paid' : ' ' %></span></td>
                </tr>
                <tr>
                  <td width="35%">
                    <strong>Akhoni.com's Copy</strong>
                  </td>
                  <td align="center" width="30%">
                    <strong style="font-size: 16px">Invoice/Money receipt</strong>
                  </td>
                  <td align="right" width="35%">
                    Reference # ___________
                  </td>
                </tr>
                <tr style="height: 10px"></tr>

                <tr>
                  <td colspan="2">
                    <table>
                      <tr>
                        <td>Delivery Date</td>
                        <td>:</td>
                        <td> <%= show_date (order.delivery_date) %> </td>
                      </tr>
                      <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td> <%= order.user.name %></td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>:</td>
                        <td><%= render_shipping_address(order).html_safe %> </td>
                      </tr>
                    </table>
                  </td>
                  <td colspan="2" align="right">
                    <table>
                      <tr>
                        <td>Cell Number</td>
                        <td>:</td>
                        <td> <%= order.user.phone %>  </td>
                      </tr>
                      <tr>
                        <td>Booking Code</td>
                        <td>:</td>
                        <td><%= order.security_code_booking %></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td><%= order.user.email %> </td>
                      </tr>
                    </table>

                  </td>
                </tr>

              </table>
            </td>
          </tr>

          <tr style="height: 10px"></tr>
          <tr>
            <td colspan="4">
              <table width="100%" cellspacing="0">
                <tr>
                  <th width="5%" style="border: 1px solid #000000;" align="center">SL</th>
                  <th align="center" width="70%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Particulars</th>
                  <th align="center" width="10%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Qty</th>
                  <th align="center" width="20%" style="border-top: 1px solid #000000;border-right: 1px solid #000000;border-bottom: 1px solid #000000;">Amount</th>
                </tr>
                <tr>
                  <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;padding-left: 5px">
                    <strong> Deal Name : </strong>
                    <% if order.deal.present? %>
                        <%= order.deal.parent.title.to_s + '/' if  order.deal.parent.present? %>  <%= order.deal.title %>
                    <% else %>
                        N/A
                    <% end %>
                  </td>
                  <td align="center" style="border-right: 1px solid #000000;"><%= order.quantity %></td>
                  <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.amount, :precision => 2) %></td>
                </tr>
                <tr>
                  <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;padding-left: 5px">
                    <strong> Product Name : </strong>
                    <% if order.product.present? %>
                        <%= order.product.name %>
                    <% else %>
                        N/A
                    <% end %>
                  </td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                </tr>

                <tr>
                  <td style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                  <td valign="top" style="border-right: 1px solid #000000;height: 30px;padding-left: 5px;">
                    <strong>Size:</strong> <%= order.size.present? ? order.size.name : 'N/A' %></td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                  <td style="border-right: 1px solid #000000;">&nbsp;</td>
                </tr>

                <% if order.shipping_cost > 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Shipping Cost
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.shipping_cost, :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.cc_discount != 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Credit Card
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.cc_discount * (-1), :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.referral_credit > 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;padding-right: 5px;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Referral Credit
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.referral_credit, :precision => 2) %></td>
                    </tr>
                <% end %>

                <% if order.total_charge_discounts != 0 %>
                    <tr>
                      <td align="center" style="border-right: 1px solid #000000;border-left: 1px solid #000000;">&nbsp;</td>
                      <td style="border-right: 1px solid #000000;padding-left: 5px">
                        Corporate Discount
                      </td>
                      <td style="border-right: 1px solid #000000;">&nbsp;</td>
                      <td align="right" style="border-right: 1px solid #000000;padding-right: 5px;"><%= number_with_precision(order.total_charge_discounts, :precision => 2) %></td>
                    </tr>
                <% end %>


                <tr>
                  <th colspan="2" align="left" style="border: 1px solid #000000;padding-left: 5px">Total</th>
                  <th align="center" style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;border-top: 1px solid #000000;"><%= order.quantity %></th>
                  <th align="right" style="border-right: 1px solid #000000;border-bottom: 1px solid #000000;padding-right: 5px;border-top: 1px solid #000000;"><%= number_with_precision(order.payable_amount, :precision => 2) %></th>
                </tr>
                <tr style="height: 60px"></tr>
                <tr>
                  <td colspan="2" align="left"><span style="border-top: 1px dotted #000000">Customer's signature</span>
                  </td>
                  <td colspan="2" align="right"><span style="border-top: 1px dotted #000000">For Akhoni.com</span></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr style="height: 5px" class="break"></tr>
<% end %>
</table>
</form>
</div>