<script type="text/javascript">
    function printSelection(node) {
        var content = node.innerHTML;
        var pwin = window.open('', 'print_content');
        pwin.document.open();
        pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
        pwin.document.close();
    }
</script>
<br/>
<div style="width:100%;text-align:center" >
 <input type="button" value="Print" onclick="javascript:printSelection(document.getElementById('print_this'))"/>
 <input type="button" value="Back" onclick="javascript:history.go(-1)" />
 <strong> <%= @orders.size %> records will be printed. </strong>
 </div>
<br/>
<div id="print_this">

  <style>
      .break {
          page-break-before: always;
      }

      table tr td {
          font-size: 11px;
          font-family: arial
      }
  </style>


  <table width="100%" border="1" cellspacing="10" cellpadding="10">
    <% index = 0 %>
    <% @orders.each do |order| %>
        <% if index%2 == 0 %>
            <tr
            <% if (index > 0 && index%5 == 0) %> class="break"
            <% end %> >
        <% end %>
        <td>
          <strong> Delivery Date : </strong> <%= show_date (order.delivery_date) %> <br/>
          <% if order.deal.present? %>  <strong> Deal Name : </strong> <%= order.deal.parent.title.to_s + '/' if  order.deal.parent.present? %>  <%= order.deal.title %> <br/>
          <% end %>
          <% if order.product.present? %> <strong> Product Name : </strong> <%= order.product.name %> <br/>
          <% end %>
          <strong> Customer Name: </strong> <%= order.user.name_or_email %> <br/>
          <strong> Email : </strong> <%= order.user.email %> <br/>
          <strong> Mobile Number:</strong> <%= order.user.phone %> <br/>
          <strong> Address :</strong> <%= render_shipping_address(order).html_safe %> <br/>
          <strong> Qty : </strong>  <%= order.quantity %> <br/>
          <% if order.payment_type.to_s == '' %>
          <strong> Amount (Tk.) : </strong> <%= order.payable_amount %> <br/>
          <% end %>
          <strong> Booking Code : </strong> <%= order.security_code_booking %> <br/>
        </td>
        <% if index%2 == 1 %>
            </tr>
        <% end %>
        <% index =index+1 %>
    <% end %>
  </table>
  </form>
</div>