<% page_title 'Order details' %>



<table width="100%" cellspacing="5" class="info-block">
  <tr>
    <td class="info-block-bar" colspan="2">
      <h2>Order#<%= h @order.id %> Details</h2>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3">User</td>
        </tr>
        <tr>
          <td class="info-block-label">Name</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.user.name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.user.email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Phone</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.user.phone %></td>
        </tr>
        <tr>
          <td class="info-block-label">Address</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.user.address %></td>
        </tr>
        <tr>
          <td class="info-block-label">Buy Count</td>
          <td class="info-block-sep">:</td>
          <td><%= h bought_orders_count(@order.user) %> times</td>
        </tr>
      </table>
      <br/>
      <% if @order.gift.present? %>
          <table width="100%" cellspacing="2">
            <tr>
              <td class="info-block-title" colspan="3">Friend Infromation</td>
            </tr>
            <tr>
              <td class="info-block-label">Name</td>
              <td class="info-block-sep">:</td>
              <td><%= h @order.gift.firstname + ' ' + @order.gift.lastname %></td>
            </tr>
            <tr>
              <td class="info-block-label">Email</td>
              <td class="info-block-sep">:</td>
              <td><%= h @order.gift.email %></td>
            </tr>
            <tr>
              <td class="info-block-label">Phone</td>
              <td class="info-block-sep">:</td>
              <td><%= h @order.gift.phone %></td>
            </tr>
            <tr>
              <td class="info-block-label">Address</td>
              <td class="info-block-sep">:</td>
              <td><%= h @order.gift.address %></td>
            </tr>
          </table>
          <br/>
      <% end %>
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3">Merchant details</td>
        </tr>
        <tr>
          <td class="info-block-label">Name</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.deal.present? ? @order.deal.merchant.name : @order.product.merchant.name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Address</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.deal.present? ? @order.deal.merchant.address : @order.product.merchant.address %></td>
        </tr>
        <tr>
          <td class="info-block-label">Contact#</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.deal.present? ? @order.deal.merchant.contract_number : @order.product.merchant.contract_number %></td>
        </tr>
        <tr>
          <td class="info-block-label">Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.deal.present? ? @order.deal.merchant.email : @order.product.merchant.email %></td>
        </tr>
      </table>
    </td>
    <td width="50%" style="vertical-align:top">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3"><%= h @order.item_name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Details</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.item_details %></td>
        </tr>
        <% if @order.size.present? %>
            <tr>
              <td class="info-block-label">Size</td>
              <td class="info-block-sep">:</td>
              <td><%= h @order.size.name %></td>
            </tr>
        <% end %>
        <tr>
          <td class="info-block-label">Quantity</td>
          <td class="info-block-sep">:</td>
          <td><span class="order<%= h @order.id %>_quantity"><%= h @order.quantity %></span></td>
        </tr>
        <tr>
          <td class="info-block-label">Date</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.booking_at.to_date.strftime "%d.%m.%y" %></td>
        </tr>
        <tr>
          <td class="info-block-label">Booking Code</td>
          <td class="info-block-sep">:</td>
          <td><%= h @order.security_code_booking %></td>
        </tr>
        <tr>
          <td class="info-block-label">Avail Date</td>
          <td class="info-block-sep">:</td>
          <td>
            <%= (@order.deal.present? ? @order.deal.valid_from.to_date : @order.product.valid_from.to_date).strftime "%d.%m.%y" %>
            to <%= (@order.deal.present? ? @order.deal.valid_to.to_date : @order.product.valid_to.to_date).strftime "%d.%m.%y" %>
          </td>
        </tr>
        <tr>
          <td class="info-block-label">Confirm At</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.confirmed? ? (@order.confirmed_at.to_date.strftime "%d.%m.%y") : 'Not confirmed yet' %></td>
        </tr>
      </table>
      <br/>
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-title" colspan="3">Payment</td>
        </tr>
        <tr>
          <td class="info-block-label">Price</td>
          <td class="info-block-sep">:</td>
          <td><span style="text-decoration: line-through">Tk. <%= @order.actual_price %> </span>
            Tk. <%= @order.orderable.advance_payable? ? @order.quantity * @order.orderable[:discounted_price_for_advance_payment] : @order.amount %></td>
        </tr>


        <tr>
          <td class="info-block-label">Paid by referral credit</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.referral_credit > 0 ? "-#{@order.referral_credit}" : 0 %> Taka</td>
        </tr>

        <tr>
          <td class="info-block-label">Credit Card <%= @order.cc_discount < 0 ? "Charge" : "Discount" %></td>
          <td class="info-block-sep">:</td>
          <td><%= @order.cc_discount <= 0 ? @order.cc_discount.abs : "-#{@order.cc_discount}" %> Taka</td>
        </tr>

        <tr>
          <td class="info-block-label">Charges and discounts</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.total_charge_discounts %> Taka</td>
        </tr>

        <tr>
          <td class="info-block-label">Shipping Information</td>
          <td class="info-block-sep">:</td>
          <td>Cost: <%= @order.shipping_cost %> Taka &nbsp;&nbsp; Address: <%= @order.shipping_detail.address if @order.shipping_detail %></td>
        </tr>

        <tr>
          <td class="info-block-label">Paid Amount</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.paid? ? @order.payable_amount : 0 %> Taka</td>
        </tr>

        <tr>
          <td class="info-block-label">Due Amount</td>
          <td class="info-block-sep">:</td>
          <td><%= @order.paid? ? 0 : @order.due_amount %> Taka</td>
        </tr>

        <tr>
          <td class="info-block-label">Date</td>
          <td class="info-block-sep">:</td>
          <td><%= h (@order.paid? && @order.latest_payment.present? && @order.latest_payment.paid_at.present?) ? (@order.latest_payment.paid_at.to_date.strftime "%d.%m.%y") : 'Not paid yet' %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="100%" valign="top" colspan="2" style="padding-bottom:30px;" id="order<%= h @order.id %>_coupons">
      <%= render :partial => "coupons", :locals => {:order => @order} %>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="info-block-bar" style="text-align:left;">
      <%= show_order_actions(@order) %>
      <%= link_to 'Back', admin_orders_path(), :class => 'icon back', :id => "confirm#{@order.id}" %>
    </td>
  </tr>
</table>
