<%- if controller_name != 'sessions' %>
    <%= link_to t('SIGN_IN'), new_session_path(resource_name) %> |
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to t('SIGN_UP'), new_registration_path(resource_name) %>
    <%- if controller_name != 'passwords' %>
        |
    <% end -%>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
    <%= link_to t("FORGOT_PASSWORD"), new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>
