<% if order.user %>
    <tr id="order_<%= order.id %>" class='order-row <%= 'paid' if order.paid? %>'>
      <td>
        <%= order.security_code_booking %>
      </td>
      <td nowrap>
        <%= order.user.name_or_email %>
        <% if order.orderable.merchant.can_view_customer_contact? && order.orderable.merchant.manager?(current_user) %>
          <br />
          <%= order.user.email %>
          <br />
          <%= order.user.phone %>
        <% end %>
      </td>
      <td nowrap>
        <%= show_deal_or_product_details(order) %>
      </td>
      <td><%= order.booking_at.strftime "%d.%m.%Y" %></td>
      <td><%= order.quantity %></td>
      <td><%= order.actual_price %></td>
      <td><%= order.orderable.advance_payable? ? order.quantity * order.orderable.discounted_price_for_advance_payment : order.amount %></td>
      <td><%= order.payable_amount %></td>
      <td><%= show_order_status_for_merchant(order) %></td>
      <td>
        <div>
          <div class="comment<%= order.id %>_delivery_date"><%= order.delivery_date ? order.delivery_date.strftime("%d.%m.%Y") : '' %></div>
        </div>
      </td>
      <td>
        <div>
          <div class="comment<%= order.id %>_text" order_id="<%= order.id %>"><%= order.comment %></div>
        </div>
      </td>
    </tr>

<% end %>