<table width="100%" cellpadding="1" cellspacing="1" class="list">
  <thead>
  <tr>
    <th width="80">Image</th>
    <th>Name</th>
    <th width="350">Address</th>
    <th width="150">Contact Person</th>
    <th width="150">Contact Number</th>
  </tr>
  </thead>
  <tbody>
  <% @merchants.each do |merchant| %>
      <% klass = cycle('odd', 'even') %>
      <tr class='<%= klass %>'>
        <td><%= image_tag merchant.logo.url(:thumb) %></td>
        <td><%= link_to_coupons_page(merchant) %></td>
        <td><%= h merchant.address %></td>
        <td><%= h merchant.contact_person %></td>
        <td><%= h merchant.contract_number %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%#= coupons_url %>