<%= form_for @search, :url => merchant_merchants_orders_path, :html => {:id => 'filter_form', :name => 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block" style="font-size: 80%">
      <tr>
        <td colspan="4" class="info-block-title">
          Filter Order/Booking
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Deal</td>
        <td class="info-block-label-nowrap">
          <%= select("search", "deal_id_or_deal_parent_id_equals", merchant_specific_deal_options(), {:include_blank => true}) %>
          <span class="info-block-label-nowrap">Product</span>
          <%= select("search", "product_id_equals", merchant_specific_product_options(), {:include_blank => true, :size => 20}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Payment Methods</td>
        <td class="info-block-label-nowrap">
          <%= select("search", "payments_method_equals", Payment.methods.collect { |m| [m[:name], m[:id]] }, {:include_blank => true}) %>
          <span class="info-block-label-nowrap">Confirmed?</span>
          <%= f.check_box :confirmed_by_greater_than_or_equal_to %>
          &nbsp;&nbsp;Paid? <%= f.check_box :is_notified_is_true %>
          &nbsp;&nbsp;Canceled?
          <%= f.check_box :canceled_by_greater_than_or_equal_to %> Yes &nbsp;&nbsp;
          <%= f.check_box :canceled_by_less_than %> No &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Code</td>
        <td class="info-block-label-nowrap">
          <%= f.text_field :security_code_booking_or_coupons_security_code_coupon_contains, :size => '25' %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Booking Date between</td>
        <td class="info-block-label-nowrap">
          <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="booking_at"/>
          <%= f.datetime_select :booking_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
          and <%= f.datetime_select :booking_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Delivery Date between</td>
        <td class="info-block-label-nowrap">
          <input type="checkbox" id="select_delivery_date" name="select_delivery_date" class="date_filter_selector" for="delivery_date"/>
          <%= f.datetime_select :delivery_date_greater_than_or_equal_to, {:disabled => true}, {:class => 'delivery_date'} %>
          and <%= f.datetime_select :delivery_date_less_than_or_equal_to, {:disabled => true}, {:class => 'delivery_date'} %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
        </td>
      </tr>
    </table>

    <% if @orders.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="5"><%= page_entries_info @orders %></td>
            <td colspan="11" style="text-align:right;"><%= will_paginate(@orders) %></td>
          </tr>
          <tr>
            <th width="100"><%= f.sort_link :security_code_booking, 'Booking Code' %></th>
            <th>Name</th>
            <th>Deal/Product</th>
            <th width="60"><%= f.sort_link :booking_at, 'Date' %></th>
            <th width="30"><%= f.sort_link :quantity, 'Qty.' %></th>
            <th width="40">Org. Value</th>
            <th width="40">Dis. Value</th>
            <th width="40">Payable Value</th>
            <th width="80">Status</th>
            <th width="75">Delivery Date</th>
            <th>Comment</th>
          </tr>
          <tbody>
          <%= render :partial => "row_order", :collection => @orders, :as => :order %>
          <tr>
            <td colspan="5"><%= page_entries_info @orders %></td>
            <td colspan="11" style="text-align:right;"><%= will_paginate(@orders) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No orders</div>
    <% end %>
<% end %>