<% if @mobile_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mobile_transaction.errors.count, "error") %> prohibited this Mobile Transaction from being
        saved:</h2>

      <ul>
        <% @mobile_transaction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% form_for(@mobile_transaction, :url => submit_url, :method => submit_method) do |f| %>
    <%#= hidden_field 'mobile', 'default', {:value => '88'} %>
    <div class="actions">
      <table cellspacing="0" cellpadding="5" width="100%" class="form">
        <tbody>
        <tr>
          <td width="50%" style="vertical-align: top;">
            <table cellspacing="0" cellpadding="5" width="100%">
              <tbody>
              <tr>
                <td colspan="2">
                  <div class="label">Mobile Number +88</div>
                  <%= f.text_field :mobile_number, :maxlength => 11, :size => 30 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Amount</div>
                  <%= f.text_field :amount %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Transaction ID</div>
                  <%= f.text_field :transaction_id %>
                </td>
              </tr>
              <!--<tr>
                <td colspan="2">
                  <div class="label">Is Used</div>
                  <%#= f.check_box :is_used %>
                </td>
              </tr> -->
              </tbody>
            </table>
          </td>

        </tr>
        <tr>
          <td class="info-block-bar" colspan="2">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_mobile_transactions_url %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
<% end %>


