<%= link_to 'New Mobile transaction', new_admin_mobile_transaction_path %>
<% if @mobile_transactions.size > 0 -%>
<h1>Listing Mobile Transactions</h1>

<table class="list">
<%= render :partial => 'manage/commons/pagination', :locals => {:items => @mobile_transactions} %>
  <tr>
    <th>Mobile Number</th>
    <th>Amount</th>
    <th>Transaction ID</th>
    <th>User</th>
    <th>Is used</th>
    <th colspan="2" style="text-align:center;">Action</th>
  </tr>

<% @mobile_transactions.each do |mobile_transaction| %>
  <tr>
    <td><%= mobile_transaction.mobile_number %></td>
    <td><%= mobile_transaction.amount %></td>
    <td><%= mobile_transaction.transaction_id %></td>
    <td><%= mobile_transaction.user.name_or_email %></td>
    <td><%= mobile_transaction.used? ? 'Yes' : 'No' %></td>
    <td>
      <%= link_to 'Edit', edit_admin_mobile_transaction_path(mobile_transaction) if can?(:edit, :"manage/mobile_transactions") %>
    </td>
    <td>
      <% if deletable?(:edit, :"manage/mobile_transactions") %>
        <%= link_to 'Delete', admin_mobile_transaction_url(mobile_transaction), :confirm => 'Are you sure to delete?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% else %>
   <div class="empty">No Mobile Transaction available</div>
<% end %>


