<p id="notice"><%= notice %></p>

<p>
  <b>Mobile number:</b>
  <%= @mobile_transaction.mobile_number %>
</p>

<p>
  <b>Amount:</b>
  <%= @mobile_transaction.amount %>
</p>

<p>
  <b>Transaction:</b>
  <%= @mobile_transaction.transaction_id %>
</p>

<p>
  <b>User:</b>
  <%= @mobile_transaction.user_id %>
</p>

<p>
  <b>Is used:</b>
  <%= @mobile_transaction.is_used %>
</p>


<%= link_to 'Edit', edit_manage_mobile_transaction_path(@mobile_transaction) %> |
<%= link_to 'Back', manage_mobile_transactions_path %>
