<%= form_for(@deal, :url => admin_deal_path(@deal), :method => :PUT) do |f| %>
    <table>
      <tr>
        <td class="label">Location</td>
        <td><%= select :deal, :location_id, Location.all.collect { |l| [l.name, l.id] } %></td>
      </tr>
      <tr>
        <td class="label">Status</td>
        <td><%= select :deal, :status, Deal.statuses %></td>
      </tr>
      <tr>
        <td class="label">Date</td>
        <td nowrap><%= datetime_select :deal, :start_date, :start_year => 2011 %></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td nowrap><%= datetime_select :deal, :end_date, :start_year => 2011 %></td>
      </tr>
      <tr>
        <td class="label">Valid</td>
        <td nowrap><%= datetime_select :deal, :valid_from, :start_year => 2011 %></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td nowrap><%= datetime_select :deal, :valid_to, :start_year => 2011 %></td>
      </tr>
      <tr>
        <td class="label">Actual Price</td>
        <td><%= f.text_field :actual_price, :size => 8, :required => true %></td>
      </tr>
      <tr>
        <td class="label" nowrap>Discounted Price</td>
        <td><%= f.text_field :discounted_price, :size => 8, :required => true %></td>
      </tr>
      <tr>
        <td class="label" nowrap>Buy Qty./Person</td>
        <td><%= f.text_field :max_order_limit, :size => 8, :required => true %></td>
      </tr>
      <tr>
        <td class="label" nowrap></td>
        <td><%= f.submit %></td>
      </tr>
    </table>
<% end %>