<%= javascript 'tiny_mce/tiny_mce' %>
<% original_local = I18n.locale %>
<% can_edit = @deal.orders.size > 0 ? true : false %>
<% @deal.wait_message = Deal::DEFAULT_WAITING_MESSAGE if @deal.wait_message.nil? || @deal.wait_message.blank? %>

<div>
  <% if @deal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% @deal.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@deal, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <div class="actions">
    <table class="form" width="100%" cellpadding="5" cellspacing="0">
    <tr>
    <td valign="top" style="vertical-align:top">
      <fieldset class="content-block">
        <legend>Basic Information</legend>
        <table class="form" width="100%" cellpadding="5" cellspacing="0">
          <% if @deal.parent_deal? %>
              <tr>
                <td>
                  <div class="label">Merchant</div>
                  <%= select :deal, :merchant_id, Merchant.all.collect { |m| [m.name, m.id] }, {:include_blank => ''} %>
                </td>
              </tr>
          <% else %>
              <tr>
                <td>
                  <h4><%= h(@deal.parent.merchant.name) %></h4>
                  <%= f.hidden_field :merchant_id %>

                  <h4><%= link_to h(@deal.parent.title), admin_deal_path(@deal.parent) %></h4>
                  <%= f.hidden_field :parent_id %>
                </td>
              </tr>
          <% end %>
          <tr>
          <td>
            <div class="label">Deal Owner/Manager</div>
            <%= select :deal, :manager_id, User.not_members.collect { |m| [m.email, m.id] }, {:include_blank => ''} %>
          </td>
          </tr>

          <tr>
            <td>
              <div class="label">Title(English)*</div>
              <%= f.text_field :title, :size => 55, :maxlength => 150 %>
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Title(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_field :bangla_deal, :title, :value => params[:bangla_deal] && params[:bangla_deal][:title] ? params[:bangla_deal][:title] : @deal.title, :size => 55, :maxlength => 150, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          </tr>

          <tr style="height:35px">
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>
              <div class="label">Campaign Name</div>
              <%= f.text_field :campaign_name, :size => 55, :maxlength => 150 %>
            </td>
          </tr>

          <tr style="height:35px">
            <td>&nbsp;</td>
          </tr>

          <tr>
            <td>
              <div class="label">Short Description(English)*</div>
              <%= f.text_field :description, :size => 55, :maxlength => 255 %>
            </td>
          </tr>

          <tr>
            <td>
              <div class="label">Short Description(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_field :bangla_deal, :description, :value => params[:bangla_deal] && params[:bangla_deal][:description] ? params[:bangla_deal][:description] : @deal.description, :size => 55, :maxlength => 255, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          </tr>
        </table>
      </fieldset>

      <% if @deal.parent_deal? %>
          <!-- DATE BLOCK -->
          <fieldset class="content-block">
            <legend>Date*</legend>

            <table class="form" cellpadding="5" cellspacing="0">
              <tr>
                <td>
                  <div class="label">Start</div>
                  <%= datetime_select :deal, :start_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
                <td>
                  <div class="label">End</div>
                  <%= datetime_select :deal, :end_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Valid From</div>
                  <%= datetime_select :deal, :valid_from, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
                <td>
                  <div class="label">Valid To</div>
                  <%= datetime_select :deal, :valid_to, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
              </tr>
            </table>
          </fieldset>
      <% else %>
          <%= f.hidden_field :start_date %>
          <%= f.hidden_field :end_date %>
          <%= f.hidden_field :valid_from %>
          <%= f.hidden_field :valid_to %>
      <% end %>

      <% if @deal.parent_deal? %>
          <fieldset class="content-block">
            <legend>Description</legend>
            <table class="form" cellpadding="5" cellspacing="0">
              <tr>
                <td colspan="2">
                  <div class="label">Highlights(English)*</div>
                  <%= f.text_area :highlights, :rows => 5, :cols => 50 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Highlights(Bangla)*</div>
                  <% I18n.locale = reverse_language %>
                  <%= text_area :bangla_deal, :highlights, :value => params[:bangla_deal] && params[:bangla_deal][:highlights] ? params[:bangla_deal][:highlights] : @deal.highlights, :rows => 5, :cols => 50, :class => 'bangla' %>
                  <% I18n.locale = original_local %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Conditions(English)*</div>
                  <%= f.text_area :conditions, :rows => 5, :cols => 50 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Conditions(Bangla)*</div>
                  <% I18n.locale = reverse_language %>
                  <%= text_area :bangla_deal, :conditions, :value => params[:bangla_deal] && params[:bangla_deal][:conditions] ? params[:bangla_deal][:conditions] : @deal.conditions, :rows => 5, :cols => 50, :class => 'bangla' %>
                  <% I18n.locale = original_local %>
                </td>
              </tr>
            </table>
          </fieldset>
      <% else %>
          <%= f.hidden_field :is_show_logo %>
          <%= f.hidden_field :is_show_paid_amount %>
      <% end %>
      <fieldset class="content-block">
        <legend>Shipping Settings</legend>
        <table cellpadding="5" cellspacing="5">
          <tr>
            <td>
              <div class="label">Deal Weight</div>
              <%= f.text_field :weight %> Kg.
            </td>
            <td>
              <div class="label">Minimum Shipping Total Weight</div>
              <%= f.text_field :min_shipping_weight %> Kg.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(inside dhaka)</div>
              <%= f.text_field :min_shipping_cost_dhaka %> Tk.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(out side dhaka)</div>
              <%= f.text_field :min_shipping_cost_bd %> Tk.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(outside bangladesh)</div>
              <%= f.text_field :min_shipping_cost_world %> Tk.
            </td>
          </tr>
        </table>
      </fieldset>
    </td>
    <td valign="top" style="vertical-align:top">
    <!-- Price & Order BLOCK -->
    <fieldset class="content-block">
      <legend>Price & Order</legend>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <table>
              <tr>
                <td style="vertical-align:top;">
                  <div class="label">Actual Price*</div>
                  <%= f.text_field :actual_price, :size => 8 %>
                </td>
                <td style="vertical-align:top;">
                  <div class="label">Discounted Price* <span id="advance_payment_label" style="display: <%= @deal.advance_payable? ? 'block' : 'none' %>;float: left;">&nbsp;(For Advance Payment)</span> </div>
                  <%= f.text_field :discounted_price, :size => 10 %>
                </td>
              </tr>
              <tr style="height: 20px"></tr>
              <tr>
                <td>
                  Advance Payable?<%= f.check_box :advance_payable %>
                </td>
                <td  colspan="2">
                  <span id="advance_payment" style="display: <%= @deal.advance_payable? ? 'block' : 'none' %>;">
                    Original Discounted Price<%= f.text_field :discounted_price_for_advance_payment, :size => 8 %>
                  </span>
                </td>
              </tr>

              <tr>
                <td style="vertical-align:top;" colspan="2">
                  <div class="label">Discount or charge For Credit Card Purchase</div>
                  <%= f.text_field :discount_cc_payment, :size => 22 %> ( - for charge, + for discount)
                </td>
              </tr>

              <tr>
                <% if @deal.parent_deal? %>
                    <td style="vertical-align:top;" colspan="3">
                      <table>
                        <tr>
                          <td>
                            <div class="label">Price Label(English)</div>
                            <%= f.text_field :price_label, :size => 35, :maxlength => 100 %>
                          </td>
                          <td>
                            <div class="label">Price Label(Bangla)</div>
                            <% I18n.locale = reverse_language %>
                            <%= text_field :bangla_deal, :price_label, :value => params[:bangla_deal] && params[:bangla_deal][:price_label] ? params[:bangla_deal][:price_label] : @deal.price_label, :size => 35, :maxlength => 100, :class => 'bangla' %>
                            <% I18n.locale = original_local %>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2">
                            <b>__</b>
                            <small>will replace by discounted price and</small>
                            <b>??</b>
                            <small>will replace by actual price</small>
                          </td>
                        </tr>
                      </table>
                    </td>
                <% end %>
              </tr>
              <tr>
                <% if @deal.parent_deal? %>
                    <td style="vertical-align:top;" colspan="3">
                      <table>
                        <tr>
                          <td>
                            <div class="label">Promotional Code</div>
                            <%= f.text_field :promotional_code, :size => 20 %>
                          </td>
                          <td>
                            <div class="label">Promotional Discount</div>
                            <%= f.text_field :promotional_discount, :size => 20 %>
                          </td>
                        </tr>
                      </table>
                    </td>
                <% end %>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td>
                  <div class="label">Min Limit</div>
                  <%= f.text_field :min_quantity, :size => 5, :maxlength => 5 %>
                </td>
                <td>
                  <div class="label">Max Limit</div>
                  <%= f.text_field :max_quantity, :size => 5, :maxlength => 5 %>
                </td>
                <td>
                  <div class="label">Max Qty./Order</div>
                  <%= f.text_field :max_order_limit, :size => 10, :maxlength => 5 %>
                </td>
                <td>
                  <div class="label">Max Qty./Coupon</div>
                  <%= f.text_field :max_coupon_quantity, :size => 10, :maxlength => 5 %>
                </td>
                <td>
                  <div class="label">Wait Count</div>
                  <%= f.text_field :wait_count, :size => 5, :maxlength => 5 %>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <div class="label">Wait Message</div>
                  <%= f.text_area :wait_message, :rows => 4, :cols => 53 %>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </fieldset>

    <!-- LABELS BLOCK -->
    <fieldset class="content-block">
      <legend>Display Price Label</legend>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div class="label">Pay Label(English)</div>
            <%= f.text_field :pay_label, :size => 12 %>
            <div style="margin-top:10px" class="label">Pay Label(Bangla)</div>
            <% I18n.locale = reverse_language %>
            <%= text_field :bangla_deal, :pay_label, :value => params[:bangla_deal] && params[:bangla_deal][:pay_label] ? params[:bangla_deal][:pay_label] : @deal.pay_label, :size => 12, :class => 'bangla' %>
            <% I18n.locale = original_local %>
          </td>

          <td>
            <div class="label">Discount Label(English)</div>
            <%= f.text_field :discount_label, :size => 12 %>
            <div style="margin-top:10px" class="label">Discount Label(Bangla)</div>
            <% I18n.locale = reverse_language %>
            <%= text_field :bangla_deal, :discount_label, :value => params[:bangla_deal] && params[:bangla_deal][:discount_label] ? params[:bangla_deal][:discount_label] : @deal.discount_label, :size => 12, :class => 'bangla' %>
            <% I18n.locale = original_local %>
          </td>

          <td>
            <div class="label">Save Label(English)</div>
            <%= f.text_field :save_label, :size => 12 %>
            <div style="margin-top:10px" class="label">Save Label(Bangla)</div>
            <% I18n.locale = reverse_language %>
            <%= text_field :bangla_deal, :save_label, :value => params[:bangla_deal] && params[:bangla_deal][:save_label] ? params[:bangla_deal][:save_label] : @deal.save_label, :size => 12, :class => 'bangla' %>
            <% I18n.locale = original_local %>
          </td>
        </tr>
      </table>
    </fieldset>




    <%# if @deal.parent_deal? %>
    <!-- OPTIONS BLOCK -->
    <fieldset class="content-block">
      <legend>Options</legend>
      <table>
        <tr>
          <td colspan="4">
            <% if @deal.parent_deal? %>
                <%= f.check_box :is_featured %>
                <div class="label" style="display:inline-block;">Featured?</div>
                &nbsp;&nbsp;
                <%= f.check_box :skip_notification %>
                <div class="label" style="display:inline-block;">Skip Notification?</div>
                &nbsp;&nbsp;
            <% else %>
                <%= f.hidden_field :is_enable_mcoupon %>
                <%= f.hidden_field :is_pay_by_card %>
            <% end %>
            <%= f.check_box :is_pay_by_card %>
            <div class="label" style="display:inline-block;">Pay By Card?</div>
            &nbsp;&nbsp;
            <%= f.check_box :is_enable_mcoupon %>
            <div class="label" style="display:inline-block;">Send M-Coupon?</div>
          </td>
        </tr>

        <% if @deal.parent_deal? %>
            <tr>
              <td>
                <div class="label">Location</div>
                <%= select :deal, :location_id, Location.all.collect { |l| [l.name, l.id] } %>
              </td>
              <td>
                <div class="label">Type</div>
                <%= select :deal, :type_id, Deal::TYPES %>
              </td>
              <td>
                <div class="label">Category</div>
                <%= select :deal, :category_id, Deal::CATEGORIES %>
              </td>
              <td valign="top">
                <div class="label">Status</div>
                <% if (can? :edit, :"manage/deals") && @deal.have_edit_access?(current_user) && (!current_user.is?(:crm) || current_user.is?(:superadmin)) %>
                    <%= select :deal, :status, Deal.statuses %>
                <% else %>
                    <%= f.hidden_field(:status) %>
                    <%= @deal.status.humanize %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
    </fieldset>

    <% if @deal.parent_deal? %>
        <!-- COUPONS BLOCK -->
        <fieldset class="content-block">
          <legend>Coupon</legend>
          <%= f.check_box :is_show_logo %>
          <div class="label" style="display:inline-block;">Show Logo?</div>
          &nbsp;&nbsp;&nbsp;
          <%= f.check_box :is_show_value %>
          <div class="label" style="display:inline-block;">Show Value?</div>
          &nbsp;&nbsp;&nbsp;
          <%= f.check_box :is_show_paid_amount %>
          <div class="label" style="display:inline-block;">Show Paid Amount?</div>
          <br/>

          <div class="label" style="display:inline-block;">Header:</div>
          <%= f.text_field :coupon_header, :style => 'width: 150px;', :maxlength => 25 %>
        </fieldset>
    <% else %>
        <%= f.hidden_field :is_featured %>
        <%= f.hidden_field :type_id %>
        <%= f.hidden_field :location_id %>
        <%= f.hidden_field :status %>
        <%= f.hidden_field :coupon_header %>
        <%= f.hidden_field :highlights %>
        <%= f.hidden_field :conditions %>
    <% end %>






    <% if @deal.parent_deal? %>
        <fieldset class="content-block">
          <legend>Content</legend>
          <table class="form" width="100%" cellpadding="5" cellspacing="0">
            <tr>
              <td>
                <div class="label">Social Sharing Content</div>
                <%= f.text_field :social_media_sharing_content, :style => 'width: 510px;', :maxlength => 100 %>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Company Background(English)</div>
                <%= f.text_area :background, :rows => 6, :cols => 50 %>
              </td>
            </tr>
            <tr>
              <td>
                <div class="label">Company Background(Bangla)</div>
                <% I18n.locale = reverse_language %>
                <%= text_area :bangla_deal, :background, :value => params[:bangla_deal] && params[:bangla_deal][:background] ? params[:bangla_deal][:background] : @deal.background, :rows => 5, :cols => 50, :class => 'bangla' %>
                <% I18n.locale = original_local %>
              </td>
            </tr>
          </table>
        </fieldset>
    <% else %>
        <%= f.hidden_field :social_media_sharing_content %>
        <%= f.hidden_field :summary %>
        <%= f.hidden_field :background %>
    <% end %>

    <fieldset class="content-block">
      <legend>Picture(Size: 685X350)</legend>
      <div class="label">
        <%= add_object_link("Add new Picture", f, @deal.pictures.build, "manage/commons/picture", "#pictures") %></div>
      <br/><br/>

      <div id="pictures">
        <%= render :partial => 'manage/commons/picture', :locals => {:form => f, :picture => @deal.pictures.build} %>
      </div>
      <br/><br/>
      <%= render :partial => 'manage/commons/pictures', :locals => {:form => f, :pictures => @deal.pictures} %>
    </fieldset>
    </td>
    </tr>
    <% if @deal.gilt? %>
        <tr>
          <td colspan="2">
            <fieldset class="content-block">
              <legend>
                Products -
                <% if @deal.products.any? %>
                    <b><%= link_to('Preview', location_deal_products_path(@deal.location, @deal)) %></b> |
                <% end %>
                <%= link_to 'Add new', new_admin_product_path(:deal_id => @deal.id) if @deal.have_edit_access?(current_user) %>
              </legend>
              <%= render :partial => 'products' %>
            </fieldset>

          </td>
        </tr>
    <% elsif !@deal.new_record? && @deal.parent_deal? %>
        <tr>
          <td colspan="2">
            <fieldset class="content-block">
              <legend>
                Sub Deals -
                <% if @deal.sub_deals.any? %>
                    <b><%= link_to "Preview", deals_location_deal_path(@deal.location, @deal) %></b> |
                <% end %>
                <%= link_to 'Add new', new_admin_deal_path(:parent_id => @deal.id) if @deal.have_edit_access?(current_user) %>
              </legend>
              <%= render :partial => 'sub_deals' %>
            </fieldset>
          </td>
        </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= f.submit if @deal.have_edit_access?(current_user) %> or
        <% if !@deal.new_record? && @deal.parent_deal? %>
            <%= link_to('Preview', location_deal_path(@deal.location, @deal), :target => '_blank') %> |
        <% end %>
        <% if @deal.parent_deal? %>
            <%= link_to 'Cancel', admin_deals_path() %>
        <% else %>
            <%= link_to 'Cancel', edit_admin_deal_path(@deal.parent) %>
        <% end %>
      </td>
    </tr>
    </table>
    </div>
<% end %>

<% if @deal.parent_deal? %>
    <script type="text/javascript">
        initialize_tiny_mce("deal_background, deal_summary, deal_highlights, deal_conditions, bangla_deal_highlights, bangla_deal_conditions, bangla_deal_background");
    </script>
<% end %>

<script type="text/javascript">
    $("#deal_advance_payable").click(function(){
        if($(this).prop('checked')){
            $("#advance_payment, #advance_payment_label").show()
        }
        else
        {
            $("#advance_payment, #advance_payment_label").hide()
        }
    });
</script>
