<% if @deal.products.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <th width="80">Image</th>
        <th>Name</th>
        <th class="center" width="200">Size</th>
        <th class="center" width="40">Status</th>
        <th class="center" width="50" nowrap>Quantity</th>
        <th class="center" width="50" nowrap>Actual Price</th>
        <th class="center" width="50" nowrap>Discounted Price</th>
        <th width="90"></th>
      </tr>
      <tbody>
      <% @deal.products.each do |product| %>
          <tr>
            <td><%= show_picture(product, :tiny) %></td>
            <td><%= link_to h(product.name), edit_admin_product_path(product) %></td>
            <td class="center"><%=h show_product_sizes(product)%></td>
            <td class="center"><%= h(product.status.humanize) %></td>
            <td class="center"><%= h(product.quantity) %></td>
            <td class="center"><%= h(product.actual_price.to_i) %></td>
            <td class="center"><%= product.advance_payable? ? product.discounted_price_for_advance_payment : product.discounted_price.to_i %></td>
            <td class="center">
              <%= link_to 'Edit', edit_admin_product_path(product) %>
              <% if deletable?(:destroy, :"manage/products") %>
                  |
                  <%= link_to 'Delete', admin_product_path(product), :confirm => 'Are you sure, You want to delete?', :method => :delete %>
              <% end %>
              <%= show_history(product.id,'Product') %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No product available</div>
<% end %>
