<% if @deal.sub_deals.any? %>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <th width="80">Image</th>
        <th>Title</th>
        <th style="text-align: center;" width="100">Original Price</th>
        <th style="text-align: center;" width="120">Discounted Price</th>
        <th style="text-align: center;" width="50">Discount(%)</th>
        <th style="text-align: center;" width="50">Save</th>
        <th width="100"></th>
      </tr>
      <tbody>
      <% @deal.sub_deals.each do |deal| %>
          <tr>
            <td><%= show_picture(deal, :tiny) %></td>
            <td><%= link_to h(deal.title), edit_admin_deal_path(deal) %></td>
            <td style="text-align: center;"><%= h(deal.actual_price.to_i) %></td>
            <td style="text-align: center;"><%= deal.advance_payable? ? deal.discounted_price_for_advance_payment : deal.discounted_price.to_i %></td>
            <td style="text-align: center;"><%= deal.advance_payable? ? deal.discount_for_advance_payment : deal.discount %></td>
            <td style="text-align: center;"><%= deal.advance_payable? ? (deal.actual_price - deal.discounted_price_for_advance_payment).to_i : deal.discount_amount %></td>
            <td style="text-align: center;">
              <%= link_to 'Edit', edit_admin_deal_path(deal) %>
              <% if deletable?(:destroy, :"manage/deals") %>
                  |
                  <%= link_to 'Delete', admin_deal_path(deal), :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
              <%= show_history(deal.id,'Deal') %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <h3>No Sub Deal</h3>
<% end %>