<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Deal
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_deal_path(@deal), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
