<%= form_for @search, :url => admin_deals_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="0" class="info-block" cellpadding="0">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Deals
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Merchant</td>
        <td colspan="3">
          <%= select("search", "merchant_id_equals", Merchant.all.collect { |m| [m.name, m.id] }, {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Type</td>
        <td>
          <%= select("search", "type_id_equals", Deal::TYPES, {:include_blank => true}) %>
        </td>
        <td class="info-block-label-nowrap">Status</td>
        <td>
          <%= select("search", "status_equals", Deal.statuses, {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
        </td>
        <td class="info-block-title">
          <% if can? :new, :"manage/deals" %>
              <%= link_to 'New Deal', new_admin_deal_path() %>
          <% end %>
        </td>
      </tr>
    </table>

    <% if @deals.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="2"><%= page_entries_info @deals %></td>
            <td colspan="15" style="text-align:right;"><%= will_paginate(@deals) %></td>
          </tr>
          <tr>
            <th width="80">Image</th>
            <th>Title</th>
            <th width="180">Merchant</th>
            <th width="50" nowrap>Items</th>
            <th class="center" width="50">Featured?</th>
            <th class="center" width="40">CCP</th>
            <th class="center" width="40">Type</th>
            <th class="center" width="60">O. Price</th>
            <th class="center" width="60">D. Price</th>
            <th class="center" width="50">Status</th>
            <th width="150">Date</th>
            <th width="90"></th>
          </tr>
          <tbody>
          <% @deals.each do |deal| %>
              <tr id="deal_<%= deal.id %>">
                <td><%= show_picture(deal, :tiny) %></td>
                <td>
                  <% if(can? :edit, :"manage/deals")  %>
                      <%= link_to h(deal.title_with_campaign_name), edit_admin_deal_path(deal) %>
                  <% else %>
                      <%= h(deal.title_with_campaign_name) %>
                  <% end %>
                </td>
                <td><%#= h(deal.merchant.name) %></td>
                <td class="center">
                  <% if deal.gilt? %>
                      <% if (can? :edit, :"manage/products") && deal.have_edit_access?(current_user) %>
                          <b><%= link_to h(deal.products.size), edit_admin_deal_path(deal) %></b>
                      <% else %>
                          <%= h(deal.products.size) %>
                      <% end %>
                      <% if (can? :new, :"manage/products") && deal.have_edit_access?(current_user) %>
                          [<%= link_to 'Add', new_admin_product_path(:deal_id => deal.id) %>]
                      <% end %>
                  <% else %>
                      <% if(can? :edit, :"manage/deals") && deal.have_edit_access?(current_user) %>
                          <b><%= link_to h(deal.sub_deals.count), edit_admin_deal_path(deal) %></b>
                       <% else %>
                          <%= h(deal.sub_deals.count) %>
                      <% end %>
                      <% if(can? :edit, :"manage/deals") && deal.have_edit_access?(current_user) %>
                          [<%= link_to 'Add', new_admin_deal_path(:parent_id => deal.id) %>]
                      <% end %>
                  <% end %>
                </td>
                <td class="center"><%= show_icon(deal.is_featured) %></td>
                <td class="center"><%= show_icon(deal.is_pay_by_card) %></td>
                <td class="center"><%= deal.type_name %></td>
                <td class="center"><%= h(deal.actual_price.to_i) %></td>
                <td class="center"><%= deal.advance_payable? ? deal.discounted_price_for_advance_payment : deal.discounted_price.to_i %></td>
                <td class="center"><%= h(deal.status.humanize) %></td>
                <td><%= show_date(deal.start_date, 'dt') %> <b>to</b> <%= show_date(deal.end_date, 'dt') %></td>
                <td class="center">
                  <% if(can? :edit, :"manage/deals")  %>
                      <%= link_to 'Edit', edit_admin_deal_path(deal), :id => "edit_deal_#{deal.id}" %>
                      |
                  <% end %>
                  <% if deletable?(:destroy, :"manage/deals") %>
                      |
                      <%= link_to 'Delete', admin_deal_path(deal), :confirm => 'Are you sure, you want to delete?', :method => :delete, :id => "delete_deal_#{deal.id}" %>
                  <% end %>
                  <% if can? :show, :"manage/audits" %>
                      <%= show_history(deal.id, 'Deal',1) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          <tr class="clear">
            <td colspan="2"><%= page_entries_info @deals %></td>
            <td colspan="15" style="text-align:right;"><%= will_paginate(@deals) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No deal available</div>
    <% end %>
<% end %>
