<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Create Deal
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_deals_path(), :submit_method => :POST} %>
    </td>
  </tr>
</table>
