<table class="deal" cellpadding="10" cellspacing="10">
  <tr>
    <td colspan="2"><h1><%= h(@deal.title) %></h1></td>
  </tr>
  <tr>
    <td width="300" valign="top">
      <table width="100%">
        <tr>
          <td class="box">
            <%= @deal.merchant.name %>
            <br>
            <%= @deal.merchant.address %>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td class="box">
            <div class="label">Copyright Information</div>
            <%= @deal.copyrighter.name.present? ? @deal.copyrighter.name : @deal.copyrighter.email %> on
            <%= @deal.created_at %>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td class="box">
            <div class="label"><%= @deal.booking_count() %> booked</div>
            <div class="label"><%= @deal.sold_count() %> bought</div>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td class="box">
            <div id="deal_discount">
              <dl>
                <dd>Value</dd>
                <dd><%= @deal.discounted_price.to_i %></dd>
              </dl>
              <dl class="discount">
                <dd>Discount</dd>
                <dd><%= (@deal.actual_price.to_i - @deal.discounted_price.to_i) %></dd>
              </dl>
            </div>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
        <tr>
          <td class="mbox">
            <% if @deal.pending? && current_user.is?(:dealadmin) %>
                <%= render 'approval' %>
            <% else %>
                <table>
                  <tr>
                    <td class="label">Status</td>
                    <td><%= h @deal.status %></td>
                  </tr>
                  <tr>
                    <td class="label">Date</td>
                    <td nowrap><%= h @deal.start_date %> To <%= h @deal.end_date %></td>
                  </tr>
                  <tr>
                    <td class="label">Valid</td>
                    <td nowrap><%= h @deal.valid_from %> To <%= h @deal.valid_to %></td>
                  </tr>
                  <tr>
                    <td class="label">Actual Price</td>
                    <td><%= h @deal.actual_price %></td>
                  </tr>
                  <tr>
                    <td class="label" nowrap>Discounted Price</td>
                    <td><%= h @deal.discounted_price %></td>
                  </tr>
                  <tr>
                    <td class="label" nowrap>Buy Qty./Person</td>
                    <td><%= h @deal.max_order_limit %></td>
                  </tr>
                </table>
            <% end %>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <%= show_picture(@deal, :large) %>
      <%= @deal.description.html_safe %>
    </td>
  </tr>
  <tr>
    <td height="20" colspan="2"></td>
  </tr>
  <tr>
    <td colspan="2">
      <table width="100%">
        <tr>
          <td class="label">Highlights</td>
          <td class="label">Conditions</td>
        </tr>
        <tr>
          <td><%= @deal.highlights.html_safe %></td>
          <td><%= @deal.conditions.html_safe %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= @deal.background.html_safe %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @deal.pending? %>
          <%= link_to 'Edit', edit_admin_deal_path(@deal) %> |
      <% end %>
      <%= link_to 'Back', admin_deals_path() %>
    </td>
  </tr>
</table>