<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            $(".sortable-deals ul.sortable-list").sortable({ opacity: 0.6, cursor: 'move', update: function() {
                var deal_order = $("#deal_ordering").serialize();
                $.post("/manage/deals/update_order", deal_order, function(response) {
                });
            }
            });
        });
    });
</script>
<form id="deal_ordering">
  <h2> Drag To Change Deal Order  </h2>
  <br/>
  <div id="current_deals" class="sortable-deals">
    <div class="sortable-header">
      Current Deals
    </div>
    <ul class="sortable-list ui-sortable">
      <% @current_deals.each do |deal| %>
          <li class="sortable-item" id="deal<%= deal.id %>">
            <%= h(deal.title_with_campaign_name) %>
            <%= hidden_field_tag('current_deals[]', deal.id) %>
          </li>
      <% end %>
    </ul>
  </div>

  <div id="past_deals" class="sortable-deals">
    <div class="sortable-header">
      Past Deals
    </div>
    <ul class="sortable-list ui-sortable">
      <% @past_deals.each do |deal| %>
          <li class="sortable-item" id="deal<%= deal.id %>">
            <%= h(deal.title_with_campaign_name) %>
            <%= hidden_field_tag('past_deals[]', deal.id) %>
          </li>
      <% end %>
    </ul>
  </div>
</form>

