<% page_title 'Statistical Report - Deal-wise orders ' %>

<div>
  <% form_for '', :url => stat_report_admin_deals_url, :html => {:method => :GET} do |f| %>
      <table cellspacing="4" class="info-block">
        <tr>
          <td colspan="10" class="info-block-title">
            Select Date Range
          </td>
        </tr>
        <tr>
          <td>
            <%= f.datetime_select :start_date, :default => @start_date %>
            to
            <%= f.datetime_select :end_date, :default => @end_date %>
          </td>
        </tr>
        <tr>
          <td>
            <%= submit_tag 'Generate' %>
            <%= submit_tag 'Export to Excel' %>
          </td>
        </tr>
      </table>
  <% end %>

  <% if @deals.size > 0 -%>
      <br/>

      <div align="center" style="font-size:15pt;background-color:#E5E5E5;font-style:italic;"> Generated report
        from <%= show_date(@start_date) %> to <%= show_date(@end_date) %></div>
      <table cellpadding="10" cellspacing="1" border="0" class="list">
        <tr>
          <th>Title</th>
          <th width="180">Merchant</th>
          <th class="center" width="100">Original Unit Price</th>
          <th class="center" width="100">Unit Paid Amount</th>
          <th class="center" width="100">Orders Count</th>
          <th class="center" width="100">Confirmed Count</th>
          <th class="center" width="100">Sold Count</th>
          <th class="center" width="100">Canceled Count</th>
          <th class="center" width="100">Redeemed Count</th>
        </tr>
        <tbody>
        <% @deals.each do |deal| %>
            <tr id="deal_<%= deal.id %>">
              <td><%= h(deal.title_with_campaign_name) %></td>
              <td><%= h(deal.merchant.name) %></td>
              <td class="center"> <%= deal.actual_price %></td>
              <td class="center"> <%= deal.discounted_price %></td>
              <td class="center"> <%= deal.order_count_date_wise %></td>
              <td class="center"> <%= deal.confirmed_count_date_wise %></td>
              <td class="center"> <%= deal.sold_count_date_wise %></td>
              <td class="center"> <%= deal.canceled_count_date_wise %></td>
              <td class="center"> <%= deal.redeemed_count_date_wise %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div class="empty">No deal available</div>
  <% end %>

</div>
