<%= javascript 'tiny_mce/tiny_mce' %>

<div>
  <% if @notice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this merchant from being saved:</h2>

        <ul>
          <% @notice.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@notice, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>

    <div class="actions">
      <table class="form" width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td>
            <%= f.check_box :published %>
            <div class="label" style="display:inline-block;font-size:11pt">Publish?</div>
          </td>
        </tr>

        <tr>
          <td width="50%" style="vertical-align:top;background-color: #F0F0F0">
            <h1>Widget</h1>
            <table width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td colspan="2">
                  <div class="label">Title</div>
                  <%= f.text_field :widget_title, :size => 55, :maxlength => 50 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Footer</div>
                  <%= f.text_field :widget_footer, :size => 55, :maxlength => 50 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Start Date and Time</div>
                  <%= datetime_select :notice, :start_date_time, :start_year => 2011 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">End Date and Time</div>
                  <%= datetime_select :notice, :end_date_time, :start_year => 2011 %>
                </td>
              </tr>
              <tr>
                <td>
                  <br/>

                  <div class="label">
                    <%= add_object_link("Add new Picture", f, @notice.pictures.build, "manage/commons/picture", "#pictures") %></div>

                  <div id="pictures">
                    <div class="legend">Upload First Image for <span>Widget Logo</span> (120x61).
                      Upload Second Image for Popup (450x230)<br/>
                      * Always Remove both pictures if you want to add or remove any of the uploaded one
                    </div>
                       <br />
                    <%= render :partial => 'manage/commons/picture', :locals => {:form => f, :picture => @notice.pictures.build} %>
                  </div>
                  <br/><br/>
                  <%= render :partial => 'manage/commons/pictures', :locals => {:form => f, :pictures => @notice.pictures} %>
                </td>
              </tr>
            </table>
          </td>
          <td></td>
          <td width="50%" style="vertical-align:top ;background-color: #F0F0F0">
            <h1>Popup</h1>
            <table width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td colspan="2">
                  <%= f.check_box :is_popup %>
                  <div class="label" style="display:inline-block;">Display Pop Up?</div>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Title</div>
                  <%= f.text_field :popup_title, :size => 55, :maxlength => 150 %>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <div class="label">Description</div>
                  <%= f.text_area :popup_desc, :rows => 3, :cols => 71 %>
                </td>
              </tr>
            </table>
          <td>

        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan="3" class="info-block-bar">
            <%= f.submit %> or
            <%= link_to 'Cancel', admin_notices_path() %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

<script type="text/javascript">
    //  changeAbility()
    ////  if (document.forms[0].notice_is_popup.checked == true)
    initialize_tiny_mce("notice_popup_desc");
</script>
