<div id="existing_images">
  <% form.fields_for :pictures do |picture| %>
      <% unless picture.object.new_record? %>
          <div class="thumbnail">
            <%= link_to(image_tag(picture.object.data.url(:small)), "/images/#{picture.object.data.url(:original)}" ) %> <br/>
            <%= picture.check_box :_destroy %> Remove
          </div>
      <% end %>
  <% end %>
</div>