<div class="picture">
  <%= form.fields_for :pictures, picture, :child_index => (picture.new_record? ? "index_to_replace_with_js" : nil) do |picture_form| %>
      <%= picture_form.file_field :data %>
  <% end %>
</div>