<% page_title 'Edit Notice Information' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Notice
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_notice_path(@notice), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
