<% if can? :new, :"manage/notices" %>
    <%= link_to 'New Notice', new_admin_notice_path() %>
<% end %>
<br/><br/>

<% if @notices.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @merchants %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@merchants) %></td>
      </tr>
      <tr>
        <th>Widget Title</th>
        <th width="200">Published</th>
        <th width="150">Start Time</th>
        <th width="150">End Time</th>
         <th width="150">Created By</th>
         <th width="150"></th>
      </tr>
      <tbody>
      <% @notices.each do |notice| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= h(notice.widget_title) %></td>
            <td><%= h(notice.published) %></td>
            <td><%= show_date(notice.start_date_time, 'dt') %></td>
            <td><%= show_date(notice.end_date_time, 'dt') %></td>
             <td><%= h(notice.creator.name) %></td>
            <td class="center">
              <% if can? :edit, :"manage/notices" %>
                <%= link_to 'Edit', edit_admin_notice_path(notice) %>
              <% end %>

              <% if deletable?(:destroy, :"manage/notices") %>
                  |
                  <%= link_to 'Delete', admin_notice_path(notice), :confirm => 'Are you sure, You want to delete notice?', :method => :delete %>
              <% end %>
                <%= show_history(notice.id,'Notice') %>
            </td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @notices %></td>
        <td colspan="8" style="text-align:right;"><%= will_paginate(@notices) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Notice available</div>
<% end %>
