<% page_title 'Add New Merchant' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      New Notice
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_notices_path(), :submit_method => :POST} %>
    </td>
  </tr>
</table>





