<% page_title 'Site Settings' %>

<table width="100%" cellspacing="5" class="info-block">
  <tr>
    <td colspan="2" width="100%">
      <table width="100%">
        <tr>
          <td class="info-block-bar">Settings details</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-label">ID</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.id %></td>
        </tr>
        <td class="info-block-label">Meta Title</td>
        <td class="info-block-sep">:</td>
        <td><%= h @setting.meta_title %></td>
        </tr>
        <tr>
          <td class="info-block-label">Meta Keywords</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.meta_keywords %></td>
        </tr>
        <tr>
          <td class="info-block-label">Multiple</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.multiple %></td>
        </tr>
        <tr>
          <td class="info-block-label">Logo</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.logo %></td>
        </tr>
        <tr>
          <td class="info-block-label">Current Deal Label</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.current_deal_label %></td>
        </tr>
        <tr>
          <td class="info-block-label">Company Address</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.company_address %></td>
        </tr>
        <tr>
        <tr>
          <td class="info-block-label">Office Phone</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.office_phone %></td>
        </tr>
        <tr>
          <td class="info-block-label">Business Phone</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.business_phone %></td>
        </tr>
        <tr>
          <td class="info-block-label">Hotline Number</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.hotline_number %></td>
        </tr>
        <tr>
          <td class="info-block-label">Contact Number</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.contact_number %></td>
        </tr>
        <tr>
          <td class="info-block-label">CEO email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.ceo_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Contact Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.contact_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Business Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.business_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Employment Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.employment_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Newsletter Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.newsletter_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Order Confirmation Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.order_confirmation_email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Operating Time</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.operating_time %></td>
        </tr>
        <tr>
          <td class="info-block-label">Past Deal Count To Show</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.past_deal_count_to_show %></td>
        </tr>
        <tr>
          <td class="info-block-label">Background Image Path</td>
          <td class="info-block-sep">:</td>
          <td><%= h @setting.background_image_path %></td>
        </tr>


      </table>
    </td>
  </tr>

</table>


