<%= javascript 'tiny_mce/tiny_mce' %>
<% original_local = I18n.locale %>

<div>
  <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this deal from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<% @product.wait_message = Deal::DEFAULT_WAITING_MESSAGE if @product.wait_message.nil? || @product.wait_message.blank? %>

<%= form_for(@product, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <div class="actions">
    <table class="form" width="100%" cellpadding="5" cellspacing="0">
    <tr>
    <td valign="top" style="vertical-align:top">
      <fieldset class="content-block">
        <legend>Basic Information</legend>
        <table class="form" width="100%" cellpadding="5" cellspacing="0">
          <% if @product.deal.present? %>
              <tr>
                <td colspan="3">
                  <div class="label">Merchant</div>
                  <%= h(@product.deal.merchant.name) %>
                  <%= f.hidden_field :merchant_id %>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="label">Deal</div>
                  <%= h(@product.deal.title) %>
                  <%= f.hidden_field :deal_id %>
                </td>
              </tr>
          <% else %>
              <tr>
                <td colspan="3">
                  <div class="label">Merchant</div>
                  <%= select :product, :merchant_id, Merchant.all.collect { |m| [m.name, m.id] }, {:include_blank => ''} %>
                </td>
              </tr>
          <% end %>
          <tr>
            <td>
              <div class="label">Product Owner/Manager</div>
              <%= select :product, :manager_id, User.not_members.collect { |m| [m.email, m.id] }, {:include_blank => ''} %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="label">Name(English)*</div>
              <%= f.text_field :name, :size => 45, :maxlength => 150 %>

              <div class="label">Name(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_field :bangla_product, :name, :value => params[:bangla_product] && params[:bangla_product][:name] ? params[:bangla_product][:name] : @product.name, :size => 45, :maxlength => 150, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <div class="label">Campaign Name</div>
              <%= f.text_field :campaign_name, :size => 45, :maxlength => 150 %>
            </td>
          </tr>

          <tr>
            <td colspan="3">
              <div class="label">Description(English)*</div>
              <%= f.text_field :description, :size => 45, :maxlength => 255 %>
              <div class="label">Description(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_field :bangla_product, :description, :value => params[:bangla_product] && params[:bangla_product][:description] ? params[:bangla_product][:description] : @product.description, :size => 45, :maxlength => 255, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="label">Highlights(English)*</div>
              <%= f.text_area :highlights, :rows => 5, :cols => 40 %>
              <div class="label">Highlights(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_area :bangla_product, :highlights, :value => params[:bangla_product] && params[:bangla_product][:highlights] ? params[:bangla_product][:highlights] : @product.highlights, :rows => 5, :cols => 40, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          <tr>
            <td colspan="3">
              <div class="label">Conditions(English)*</div>
              <%= f.text_area :conditions, :rows => 5, :cols => 40 %>
              <div class="label">Conditions(Bangla)*</div>
              <% I18n.locale = reverse_language %>
              <%= text_area :bangla_product, :conditions, :value => params[:bangla_product] && params[:bangla_product][:conditions] ? params[:bangla_product][:conditions] : @product.conditions, :rows => 5, :cols => 40, :class => 'bangla' %>
              <% I18n.locale = original_local %>
            </td>
          </tr>
        </table>
      </fieldset>
    </td>
    <td valign="top" style="vertical-align:top">
      <fieldset class="content-block">
        <legend>Options</legend>

        <table class="form" width="100%" cellpadding="5" cellspacing="0">
          <tr>
            <td>
              <div class="label">Location</div>
              <% if @product.deal.present? %>
                  <%= h @product.location.name %>
                  <%= f.hidden_field(:location_id) %>
              <% else %>
                  <%= select :product, :location_id, Location.all.collect { |l| [l.name, l.id] } %>
              <% end %>
            </td>
            <td valign="top">
              <div class="label">Status</div>
              <% if (can? :edit, :"manage/products") && @product.have_edit_access?(current_user) && !@product.deal.present? && (!current_user.is?(:crm) || current_user.is?(:superadmin)) %>
                  <%= select :product, :status, Product.statuses %>
              <% else %>
                  <%= f.hidden_field(:status) %>
                  <%= @product.status.to_s.humanize %>
              <% end %>
            </td>
            <td valign="top" colspan="2">
              <%= f.check_box :is_featured %>
              <div class="label" style="display:inline-block;">Featured?</div>
              &nbsp;&nbsp;
              <%= f.check_box :is_pay_by_card %>
              <div class="label" style="display:inline-block;">Pay by Card?</div>
              &nbsp;&nbsp;
              <%= f.check_box :is_enable_mcoupon %>
              <div class="label" style="display:inline-block;">Send M-Coupon?</div>
              &nbsp;&nbsp;
              <%= f.check_box :skip_notification %>
              <div class="label" style="display:inline-block;">Skip Notification?</div>
              <%= f.check_box :is_active %>
              <div class="label" style="display:inline-block;">Enable?</div>
            </td>

          </tr>
        </table>
      </fieldset>
      <% if @product.deal.nil? %>
          <fieldset class="content-block">
            <legend>Date*</legend>

            <table class="form" width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td>
                  <div class="label">Start</div>
                  <%= datetime_select :product, :start_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
                <td>
                  <div class="label">End</div>
                  <%= datetime_select :product, :end_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="label">Valid From</div>
                  <%= datetime_select :product, :valid_from, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
                <td>
                  <div class="label">Valid To</div>
                  <%= datetime_select :product, :valid_to, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                </td>
              </tr>
            </table>
          </fieldset>
      <% else %>
          <%= f.hidden_field :start_date %>
          <%= f.hidden_field :end_date %>
          <%= f.hidden_field :valid_from %>
          <%= f.hidden_field :valid_to %>
      <% end %>

      <fieldset class="content-block">
        <legend>Quantity & Price</legend>
        <table class="form" width="100%" cellpadding="5" cellspacing="0">
          <tr>
            <td>
              <div class="label">Quantity</div>
              <%= f.text_field :quantity, :size => 5, :maxlength => 5 %>
            </td>
            <td style="vertical-align:top;">
              <div class="label">Actual Price*</div>
              <%= f.text_field :actual_price, :size => 8 %>
            </td>
            <td style="vertical-align:top;">
              <div class="label">Discounted Price* <span id="advance_payment_label" style="display: <%= @product.advance_payable? ? 'block' : 'none' %>;float: left;">&nbsp;(For Advance Payment)</span></div>
              <%= f.text_field :discounted_price, :size => 10 %>
            </td>

          <tr>
            <td>
              Advance Payable?<%= f.check_box :advance_payable %>
            </td>
            <td  colspan="2">
                  <span id="advance_payment" style="display: <%= @product.advance_payable? ? 'block' : 'none' %>;">
                    Original Discounted Price<%= f.text_field :discounted_price_for_advance_payment, :size => 8 %>
                  </span>
            </td>
          </tr>

            <td style="vertical-align:top;">
              <div class="label">Credit Card Purchase</div>
              <%= f.text_field :discount_cc_payment, :size => 22 %> ( - for charge, + for discount)
            </td>
            <td style="vertical-align:top;">
              <div class="label">Wait Count</div>
              <%= f.text_field :wait_count, :size => 10 %>
            </td>
          </tr>
          <tr>
            <% if @product.deal.nil? %>
                <td style="vertical-align:top;" colspan="3">
                  <table>
                    <tr>
                      <td>
                        <div class="label">Promotional Code</div>
                        <%= f.text_field :promotional_code, :size => 20 %>
                      </td>
                      <td>
                        <div class="label">Promotional Discount</div>
                        <%= f.text_field :promotional_discount, :size => 20 %>
                      </td>
                    </tr>
                  </table>
                </td>
            <% end %>
          </tr>
          <tr>
            <td colspan="4">
              <div class="label">Wait Message</div>
              <%= f.text_area :wait_message, :rows => 4, :cols => 53 %>
            </td>
          </tr>
        </table>
      </fieldset>

      <fieldset class="content-block">
        <legend>Size Information</legend>

        <div class="label">Category</div>
        <%= select :product, :category_id, Category.all.collect { |c| [c.name, c.id] }, {:include_blank => ''} %>
        <br/><br/>

        <div class="label">
          <%= add_object_link("Add new size", f, @product.product_sizes.build, "manage/commons/product_size", "#product_sizes") %></div>
        <br/>

        <div id="product_sizes">
          <%= render :partial => 'manage/commons/product_size', :locals => {:form => f, :product_size => @product.product_sizes.build} %>
        </div>
        <br/>
        <%= render :partial => 'manage/commons/product_sizes', :locals => {:form => f, :product_sizes => @product.product_sizes} %>
      </fieldset>

      <fieldset class="content-block">
        <legend>Picture(Size: 574x360)</legend>
        <div class="label">
          <%= add_object_link("Add new Picture", f, @product.pictures.build, "manage/commons/picture", "#pictures") %></div>
        <br/><br/>

        <div id="pictures">
          <%= render :partial => 'manage/commons/picture', :locals => {:form => f, :picture => @product.pictures.build} %>
        </div>
        <br/><br/>
        <%= render :partial => 'manage/commons/pictures', :locals => {:form => f, :pictures => @product.pictures} %>
      </fieldset>
      <fieldset class="content-block">
        <legend>Shipping Settings</legend>
        <table cellpadding="5" cellspacing="5">
          <tr>
            <td>
              <div class="label">Product Weight</div>
              <%= f.text_field :weight %> Kg.
            </td>
            <td>
              <div class="label">Minimum Shipping Total Weight</div>
              <%= f.text_field :min_shipping_weight %> Kg.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(inside dhaka)</div>
              <%= f.text_field :min_shipping_cost_dhaka %> Tk.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(out side dhaka)</div>
              <%= f.text_field :min_shipping_cost_bd %> Tk.
            </td>
          </tr>
          <tr>
            <td>
              <div class="label">Minimum Shipping Cost(outside bangladesh)</div>
              <%= f.text_field :min_shipping_cost_world %> Tk.
            </td>
          </tr>
        </table>
      </fieldset>
    </td>
    </tr>
    <tr>
      <td colspan="3">
        <%= f.submit if @product.have_edit_access?(current_user)  %>  or
        <%= link_to('Preview', location_product_path(@product.location, @product), :target => '_blank') if @product && @product.id %>
        |
        <% if @product.deal.present? %>
            <%= link_to 'Cancel', edit_admin_deal_path(@product.deal) %>
        <% else %>
            <%= link_to 'Cancel', admin_products_path() %>
        <% end %>
      </td>
    </tr>
    </table>
    </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {

        $("#product_advance_payable").click(function () {
            if ($(this).prop('checked')) {
                $("#advance_payment, #advance_payment_label").show()
            }
            else {
                $("#advance_payment, #advance_payment_label").hide()
            }
        });


    });

    initialize_tiny_mce("product_highlights, product_conditions, bangla_product_highlights, bangla_product_conditions");
</script>