<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Product
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_product_path(@product), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
