<% if can? :new, :"manage/products" %>
    <%= link_to 'New Product', new_admin_product_path() %>
<% end %>
<br/><br/>

<%= form_for @search, :url => admin_products_path, :html => {:id => 'filter_form', :name => 'filter_form', :method => :get} do |f| %>
    <table cellspacing="0" class="info-block" cellpadding="0">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Products
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Product Name</td>
        <td colspan="3">
          <%= text_field("search", "name_contains") %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Merchant</td>
        <td colspan="3">
          <%= collection_select(:search, :merchant_id_equals, Merchant.where("merchant_translations.locale='en'").order('merchant_translations.name ASC').includes(:translations), :id, :name, :include_blank => 'Please Select') %>
        </td>
      </tr>

      <tr>
        <td colspan="3" class="info-block-title">
          <%= f.submit "Filter" %>
        </td>
        <td class="info-block-title">
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
        </td>
      </tr>
    </table>

    <% if @products.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="2"><%= page_entries_info @products %></td>
            <td colspan="15" style="text-align:right;"><%= will_paginate(@products) %></td>
          </tr>
          <tr>
            <th width="80">Image</th>
            <th>Name</th>
            <th width="150">Merchant</th>
            <th class="center" width="50" nowrap>Quantity</th>
            <th class="center" width="50" nowrap>A. Price</th>
            <th class="center" width="50">D. Price</th>
            <th class="center" width="40">Size</th>
            <th class="center" width="40">Status</th>
            <th width="90"></th>
          </tr>
          <tbody>
          <% @products.each do |product| %>
              <tr id="product_<%= product.id %>">
                <td><%= show_picture(product, :tiny) %></td>
                <td>
                  <% if (can? :edit, :"manage/products")  %>
                      <%= link_to h(product.title_with_campaign_name), edit_admin_product_path(product) %>
                  <% else %>
                      <%= h(product.title_with_campaign_name) %>
                  <% end %>
                </td>
                <td><%= h(product.merchant.name) %></td>
                <td class="center"><%= h(product.quantity) %></td>
                <td class="center"><%= h(product.actual_price.to_i) %></td>
                <td class="center"><%= product.advance_payable? ? product.discounted_price_for_advance_payment : product.discounted_price.to_i %></td>
                <td class="center"><%= h(show_product_sizes(product)) %></td>
                <td class="center"><%= product.status %></td>
                <td class="center">
                  <% if (can? :edit, :"manage/products") %>
                      <%= link_to 'Edit', edit_admin_product_path(product), :id => "edit_product_#{product.id}" %>
                      |
                  <% end %>
                  <% if deletable?(:destroy, :"manage/products") %>
                      |
                      <%= link_to 'Delete', admin_product_path(product), :confirm => 'Are you sure, You want to delete?', :method => :delete, :id => "edit_product_#{product.id}" %>
                  <% end %>
                  <% if can? :show, :"manage/audits" %>
                      <%= show_history(product.id, 'Product', 1) %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          <tr class="clear">
            <td colspan="2"><%= page_entries_info @products %></td>
            <td colspan="15" style="text-align:right;"><%= will_paginate(@products) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No product available</div>
    <% end %>
<% end %>
