<table class="info-block">
  <tr>
    <td class="info-block-bar">
      New Product
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => admin_products_path(), :submit_method => :POST} %>
    </td>
  </tr>
</table>
