 <%= size_form.collection_select :name, @sizes, :name, :name  %>

<%#=collection_select(:product, :sizes, @sizes, :id, :name, {:include_blank => true },{:name => 'product[sizes_attributes][name]',:id=>'product_sizes_attributes_name'})  %>


