<div>
  <div>
    <b>Dear Admin,</b><br/>
    Get featured request has been submitted by <%= @business.contact_person_name %> with following information:
    <br/><br/>
    <table>
      <tr>
        <td><b>Name of the business</b></td>
        <td>:</td>
        <td><%= h @business.name %></td>
      </tr>

      <tr>
        <td><b>Type of Business</b></td>
        <td>:</td>
        <td><%= h @business.category %> </td>
      </tr>

      <tr>
        <td><b>Location</b></td>
        <td>:</td>
        <td><%= h @business.city %></td>
      </tr>

      <tr>
        <td><b>Website</b></td>
        <td>:</td>
        <td><%= h @business.website %></td>
      </tr>

      <tr>
        <td><b>Contact Person</b></td>
        <td>:</td>
        <td><%= h @business.contact_person_name %></td>
      </tr>

      <tr>
        <td><b>Contact Number</b></td>
        <td>:</td>
        <td><%= h @business.phone %></td>
      </tr>

      <tr>
        <td><b>Email Address</b></td>
        <td>:</td>
        <td><%= h @business.email %></td>
      </tr>

      <tr>
        <td valign="top"><b>Notes</b></td>
        <td>:</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="3"><%= h @business.notes %></td>
      </tr>
    </table>
  </div>
  <div style="padding-top: 20px;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>