<div>
  <div>
    Dear <%= h @business.contact_person_name %>,<br/>
    Thank you for your interest in partnering with Akhoni.com.<br/><br/>
    One of our business development executives is taking a look at your information. We want to make sure that we
    can create a promotion that brings customers through your door and delivers measurable results.  <br/><br/>

    That way, everyone wins. Especially you. <br/><br/>

    We'll be in touch soon.
  </div>
  <div style="padding-top: 20px;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>