body {
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#page_container {
    width: 100%;
    margin: 0px;
}

.header {
    background-color: #5c0b3a;
    height: 75px;
    position: relative;
    margin: 0 0;
}

#header_wrap {
    margin: 0px auto;
    width: 95%;
}

.header p.logo {
    position: relative;
    width: 400px;
    padding: 0px 0 0 0;
    float: left
}

.header p.logo a img {
    border: none
}

#content_container {
    margin: 0px auto;
    width: 95%;
}

.content {
    padding-top: 20px;
    min-height:350px;
}

a {
    color: #5C0B3A;
    font-weight: bold;
}

a:hover {
}

/*################LAYOUT################*/

ul#dropDown {
    background-color: #CFCFCF;
    height: 20px;
    width: 100%;
    margin: 20px 0 0;
}

.list {
    margin: 15px 5px 15px 0;
    width: 100%;
}

.info-block {
    border: 2px solid #f0f0f0;
    padding: 5px;
}

.info-block th, .info-block td {
    vertical-align: middle;
    text-align:left;
    padding: 4px;
}

.info-block .info-block-title {
    font-weight: bold;
    font-size: 13px;
    padding: 4px 4px 4px 10px;
    text-align: left;
    background-color: #f0f0f0;
    color:#6688EE;
}

.info-block .info-block-label, .info-block .info-block-label-nowrap {
    font-weight: bold;
    width: 100px;
    padding: 5px 0px 5px 10px;
    white-space:nowrap;
}

.info-block-sep {
    width: 5px;
}

.info-block th {
    vertical-align: middle;
    text-align:left;
}
.info-block .info-block-bar{
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    background-color: #f0f0f0;
    color:#6688EE;
    padding: 10px;
}
.info-block th, .info-block td, .info-block imput, .info-block select{
    font-size: 12px;
}

ul.login {
    color: white;
}

ul.login a {
    color: #FFC200;
    font-weight: bold;
}

a.button {
    float: left;
    width: 120px;
    height: 41px;
    text-decoration: none;
    font-family: "Georgia", Times, serif;
    background-image: url(/images/buy_button.png);
    background-repeat: no-repeat;
    color: #ffc200;
    padding: 8px 12px 0 8px;
    font-size: 15px;
    text-align: center;
}

a.button a:hover {
    color: #FFF
}

td.action a.button, div.action a.button {
    border-radius: 1ex 1px 1ex 1ex;
    width: auto;
    height: auto;
    font-size: 11px;
    padding: 3px;
    margin: 2px;
    background: #5C0B3A;
    color: white;
}

td.action a.button:hover, div.action a.button:hover {
    text-decoration: underline;
}

#notice {
    background-color: #FFC200;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 3px;
    text-align: center;
    width: auto;
}

tr.even {
    background-color: #f0f0f0;
}

tr.paid td, tr.paid a {
    color: green;
}

div.thumbnail {
    display: inline-block;
    padding: 5px;
}

div.thumbnail img {
    display: inline;
}

.button_outside_border_blue {
    width: 100px;
    border: solid #29447e 1px;
    border-bottom: solid #1a356e 1px;
    cursor: pointer;
}

.button_inside_border_blue {
    padding: 6px 0 6px 0;
    background-color: #5c75a9;
    border-top: solid #8a9cc2 1px;
    text-align: center;
    color: #ffffff;
}

div.button_inside_border_blue:active {
    background-color: #4f6aa3;
}

table.list tr:nth-child(even) {
    background-color: #f0f0f0;
}

a.icon{
    width: 30px;
    display:inline-block;
    text-indent: -9999999px;
    font-size:7px;
    padding-top:28px;
    text-align:center;

}
a.icon:hover{
    text-indent: 0%;
}
a.coupon{
    background: url("/images/icons/coupon.png") no-repeat scroll center 0 transparent;
}
a.comment{
    background: url("/images/icons/comment.png") no-repeat scroll center 0 transparent;
}
a.cancel{
    background: url("/images/icons/cancel.png") no-repeat scroll center 0 transparent;
}
a.confirm{
    background: url("/images/icons/confirm.png") no-repeat scroll center 0 transparent;
}
a.paid{
    background: url("/images/icons/payment.png") no-repeat scroll center 0px transparent;
}
a.back{
    background: url("/images/icons/back.png") no-repeat scroll center 0px transparent;
}
a.next{
    background: url("/images/icons/next.gif") no-repeat scroll center 0px transparent;
}
a.trash{
    background: url("/images/icons/trash.png") no-repeat scroll center 0px transparent;
}
a.history{
    background: url("/images/icons/history.png") no-repeat scroll center 0px transparent;
}

fieldset.content-block{
    background-color:#f0f0f0;
    margin-bottom:10px;
    border:1px solid #c0c0c0;
}
fieldset.content-block legend{
    font-weight:bold;
    background-color:#f0f0f0;
    border:1px solid #c0c0c0;
    padding: 4px 10px;
}
.sortable-deals{
    padding: 0;
    border: 1px solid #cccccc;
    width: 600px;
    margin-bottom:20px;
}
.sortable-header{
    background: #cccccc;
    padding: 5px;
    font-size: 16px;
    vertical-align:middle;
    text-align:left;
    font-weight:bold;
}
.sortable-deals ul{
    margin: 10px;
    padding: 0px;
}
.sortable-deals ul li{
    background: #f0f0f0;
    padding: 5px;
    border: 1px solid #c0c0c0;
    margin: 2px 0px;
    cursor: pointer;
    width: auto;
}
.legend{
    font-style: italic;
    font-size: smaller;
    color: #E70086;
}
.legend .l-title{
    font-variant: small-caps;
    font-weight: bold;
    font-style: normal;
}
.hide-show-action-strip{
    height: 40px;
    position: absolute;
    right: 0;
    text-align: right;
    top: -15px;
    width: 140px;
    background-color: #f0f0f0;
    border: 1px solid #c0c0c0;
}