/*COMMON*/
body {
    background-color: #fff;
    color: #333;
}

/*body, p, ol, ul, td {*/
/*font-family: verdana, arial, helvetica, sans-serif;*/
/*font-size: 13px;*/
/*}*/

div.topbar {
    background-color: #FFC100;
    width: 190px;
    padding: 8px 0 0 10px;
    margin-left: 39px;
    margin-bottom: 5px;
    height: 25px;
}

ul.category-nav {
    background-color: #F0F0F0;
    width: 199px;
    padding: 0px;
    margin-left: 39px;
    margin-bottom: 5px;
}

ul.category-nav li {
    list-style-type: none;
    float: left;
    border-bottom: 1px solid #ABAAA5;
    height: 18px;
    width: 190px;
    padding: 4px 0 2px 9px;
    background-image: url('/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right center;
}

ul.category-nav li.last {
    border-bottom: none;
}

ul.category-nav li a {
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #444;
    width: 190px;
    float: left;
}

ul.category-nav li a:visited {
    color: #444;
}

ul.category-nav li.selected {
    background-image: url('/images/arrow.png') !important;
    background-repeat: no-repeat!important;
    background-position: right center!important;
    background: #CCCCCC;
}

ul.category-nav li a:hover {
    color: black;
}

.clear {
    clear: both;
}

ul li {
    list-style-type: none;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

img {
    border: 0px;
    background: none;
}

/*ERROR*/
div.field, div.actions {
    margin-bottom: 10px;
}

.field_with_errors {
    padding: 1px;
    background-color: red;
    display: table;
}

#error_explanation, .error_explanation {
    border: 1px solid red;
    background-color: #f0f0f0;
    margin: 20px 10px 20px 0;
    padding: 7px 7px 0 7px;
}

#error_explanation h2, .error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li, .error_explanation ul li {
    font-size: 12px;
    list-style: square;
}

.left {
    float: left;
}

.right {
    float: right;
}

.message-dialog {
    margin: 0 20px;
    padding-top: 80px;
}

.message-dialog h1 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 3px;
}

.message-dialog h1.error {
    color: red;
}

.message-dialog p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    text-indent: 0px;
}

/*LAYOUT*/
#page-container {
    width: 90%;
    margin: 0px auto;
}

/*HEADER*/
#header {
    height: 70px;
    text-align: center;
}

h1.logo {
    font-size: 35px;
}

/*FLASH MESSAGE*/
div.notice {
    text-align: center;
    padding: 5px 0px 3px;
    font-weight: bold;
    margin: 0 0 10px;
    min-height: 25px !important;
    -moz-border-radius: 0px;
    background-color: #FFC200;
    color: #5C0B3A;
}

/*CONTENT*/
#content-container {
    min-height: 400px;
    margin-top: 20px;
}

/*FOOTER*/
#footer {
    font-size: 10px;
    text-align: center;
}

/*NAVIGATION*/
ul#dropDown {
    background-color: #cfcfcf;
    margin: 0px;
    padding: 0px;
    height: 20px;
}

ul#dropDown li {
    padding: 2px 15px;
    font-size: 15px;
    display: inline;
    list-style-type: none;
    margin: 2px;
    background-color: #f0f0f0;
}

/*LINK*/

a {
    text-decoration: none;
    font-weight: normal;
    color: #000;
}

a:visited {
    color: #666;
}

a:hover {
    color: #d4600c;
    text-decoration: underline;
}

/*LIST*/
.list {
    width: 98%;
    margin: 15px 5px;
}

.list tr {
    background-color: #ffffff;
}

.list th {
    font-weight: bold;
    color: #6688ee;
    border-bottom: 2px solid #c0c0c0;
    background-color: #f0f0f0;
}

.list th, .list td {
    padding: 4px 3px;
    text-align: left;
}

.list tr.odd {
}

.list tr.even {
}

.list td {
    border-bottom: 1px solid #c0c0c0;
}

th.center, td.center {
    text-align: center;
}

td.right-align {
    text-align: right;
}

.list tr.clear {
    background-color: transparent;
}

.list tr.clear td {
    border-bottom: none;
}

.list td.empty {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 40px;
    border-bottom: none;
}

#error_explanation {
    color: red;
}

/*FORM*/
.label {
    font-weight: bold;
}

/*DEAL DETAILS*/
.deal {
    width: 800px;
    padding: 5px 0;
}

.deal .label {
    font-size: 14px;
}

.deal .value {
    font-size: 16px;
}

.deal .box {
    background-color: #DDEDCC;
    border: 1px solid #98C267;
    padding: 5px;
    text-align: center;
}

.deal .mbox {
    background-color: #DDEDCC;
    border: 1px solid #98C267;
    padding: 5px;
    text-align: left;
    font-size: 10px;
}

.deal .mbox .label {
    font-size: 11px;
}

.deal dl {
    float: left;
    font-weight: bold;
    text-align: center;
}

.deal dl dt {
    font-size: 1.2em;
}

.deal dl dt, .deal dl dd {
    text-align: center;
}

.deal dl dd {
    font-size: 1.2em;
    line-height: 1em;
}

.deal img.hourglass {
    height: 40px;
}

img.rounded-box {
    -moz-border-radius: 10px;
    border: 1px solid #F0F0F0;
    color: #000000;
}

div.pagination {
    font-weight: normal;
    font-size: 10px;
}

div.pagination a {
    border: 1px solid #cccccc;
    padding: 1px 4px;
    color: #808185;
}

div.pagination em, div.pagination a:hover {
    border: 1px solid #808185;
    padding: 1px 4px;
    color: #fff;
    background-color: #808185;
    text-decoration: none;
}

div.pagination .disabled {
    color: #c0c0c0;
    border: 1px solid #f0f0f0;
    padding: 1px 4px;
}

body a#live_chat_link {
    background: url(/images/live-chat.png);
    background-position: 2px 50% !important;
    background-repeat: no-repeat !important;
    display: block !important;
    height: 137px !important;
    margin: -72px 0 0 !important;
    padding: 0 !important;
    position: fixed !important;
    text-indent: -9000px;
    top: 45% !important;
    width: 70px !important;
    z-index: 100001 !important;
}

/*REFERRAL PROGRAM*/
.referral-container {
    background: url("/images/referral-taka.png") no-repeat scroll right top transparent;
    padding: 20px 20px 15px;
    min-height: 400px;
}

.referral-box {
    margin: 5px 15px 20px 0;
    width: 650px;
    -moz-border-radius: 10px;
    border-radious: 10px;
}

.referral-box-title {
    background: url("/images/announcement.png") no-repeat scroll left top transparent;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    padding-left: 35px;
    color: #ffc200;
    margin-bottom: 10px;
}

.social-media-box {
    padding-top: 0px;
    height: 150px;
}

.referral-box .share-box {
    float: left;
    margin-right: 20px;
}

.referral-box .share-box .s-icon {
    background-color: #F0F0F0;
    -moz-border-radius: 10px;
    border-radious: 10px;
    border: 1px solid #c0c0c0;
    height: 32px;
    padding: 15px 25px;
    width: 32px;
}

.referral-box .share-box .s-txt {
    float: left;
    padding: 8px 0px;
    text-align: center;
    width: 100%;
}

.referral-box .share-box .s-txt a {
    font-size: 12px;
    color: #5c0b3a;
    font-weight: bold;
    background-image: none;
    width: 100%;
}

.referral-box .share-box .s-txt a span {
    background-image: none;
    width: 0px;
    height: 20px;
}

input.referral_link {
    margin: 3px 0px;
    padding: 3px;
    -moz-border-radius: 3px;
    border-radious: 3px;
    border: 1px solid #c0c0c0;
    width: 530px;
    font-size: 11px;
}

.referral-content {
    font-size: 12px;
    font-weight: bold;
    color: #5c0b3a;
}

textarea.referral_link {
    width: 530px;
    height: 40px;
    -moz-border-radius: 3px;
    border-radious: 3px;
    border: 1px solid #c0c0c0;
    font-size: 11px;
}

/*FEATURED ITEMS*/
.multiple-product {
    color: #e70086;
    text-decoration: none;
    font-weight: bold;
}

table#featured_products .products_prices {
    font-size: 12px;
    padding-top: 10px;
    width: 210px;
}

.product_image_hover_wrapper a.multiple-product {
    font-size: 13px;
    color: white;
}

.product_image_hover_wrapper {
    top: 92px;
    left: 100px;
    position: relative;
    float: left;
    z-index: 10000;
    width: 0;
}

.travel_image_hover_wrapper {
    top: 120px;
    left: 200px;
    position: relative;
    float: left;
    z-index: 10000;
    width: 0;
}

.product_image_hover img.product_medium, img.product_medium_missing {
    width: 200px;
    height: 125px;
}

.travel_image_hover img.large, .travel_image_hover img.large_missing {
    width: 300px;
    height: 153px;
}

#featured_products td {
    width: 220px;
}

.discount-multiple-product {
    float: right;
    -moz-border-radius: 5px 0px 5px 0px;
    border-radius: 5px 0px 5px 0px;
    border: 1px;
    background: #F7BC37;
    margin-left: 8px;
    color: #e70086;
    height: 15px;
    font-weight: bold;
    padding: 3px;

}

.product_image_hover {
    width: 200px;
    height: 125px;
    cursor: pointer;
}

.show-product-details_link {
    float: left;
    font-size: 12px;
}

.show-product-details_link a {
    font-weight: bold !important;
}

/*TOP NAVIGATION*/
ul.top-menu {
    width: 336px;
    float: left;
    display: inline;
    padding: 0;
    margin: 0;
}

ul.top-menu li.top-menu-item a {
    background: #5C0B3A;
    border: 1px solid #FFBE38;
    text-decoration: none;
    display: inline-block;
    -moz-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    color: #FFC100;
    padding: 9px 8px 7px 25px;
    font-size: 12px;
    margin: 3px 5px 0 0;
}

ul.top-menu li.top-menu-item {
    display: inline;
}

ul.top-menu li.top-menu-item a.link-top-menu-current-deal {
    background-image: url('../images/Home.png');
    background-repeat: no-repeat;
    background-position: 5px 6px;
}

ul.top-menu li.top-menu-item a.link-top-menu-product {
    background-image: url('../images/Product.png');
    background-repeat: no-repeat;
    background-position: 5px 6px;
}

ul.top-menu li.top-menu-item a.link-top-menu-travel {
    background-image: url('../images/travel.png');
    background-repeat: no-repeat;
    background-position: 5px 6px;
}

ul.top-menu li.top-menu-item a:hover, ul.top-menu li.top-menu-item a.selected {
    background-color: #FFC100;
    color: #5C0B3A;
}

/*PRODUCT PAGE NAVIGATION*/
.product_nav_outer {
    height: 20px;
    padding: 3px 0px 3px 7px;
    background-color: #5C0B3A;
    width: 99%
}

ul.product_nav {
    padding-left: 0px
}

ul.product_nav li {
    float: left;
    margin-right: 5px;
    margin-top: 1px;
}

ul.product_nav li a {
    background-color: #FFC100;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 10px 5px 7px;
    color: #fff;
}

ul.product_nav li a:hover, ul.product_nav li a.selected {
    background-color: #fff;
    color: #5C0B3A;
    text-decoration: none;
}

input.phone {
    /*background-image: url("/images/countrycode.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #C0C0C0;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    padding-left: 43px;*/
    width: 210px;
}

input.bKashphone {
    background-image: url("/images/countrycode.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    border: 1px solid #C0C0C0;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
    padding-left: 43px;
}

@-moz-document url-prefix() {
  input.phone {
     width: 290px;
  }
}

table#mobile_wrapper {
    margin: 0;
    padding: 0;
    width: 278px;
    /*height: 160px;
    background:url("/images/payment-background.png");
    background-position:left;
    background-repeat:no-repeat; */
    background: #E6E6E6;
    border: 1px solid #999999;
}

#mobile_number {
    /* background-image: url("/images/robi-bkash.jpg");
   background-position: left top;
   background-repeat: no-repeat;
   padding-left: 60px;
   margin: 0;
   border: 1px solid #C0C0C0;
   border-radius: 2px 2px 2px 2px;
   -moz-border-radius: 2px;
   float:left; */
    width: 112px;
}

#mobile_transaction_id {
    background: #FFFFFF url("/images/blank.png") left no-repeat;
    width: 155px;
    margin-top: 6px;
    border: 1px solid #C0C0C0;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px;
}

table#mobile_wrapper div#errors {
    color: #FF0000;
    font-size: 12px;
}

span.phone_highlight {
    color: #ffc200;
    font-size: 11px;
    font-weight: bold;
}

ul.product-size li.available {
    cursor: pointer;
}

a#language_switch {
    font-family: 'SolaimanLipi';
    font-size: 15px;
    font-weight: bold;
    color: white;
}

span.all_products {
    width: 76px;
    float: right;
    margin-top: 6px;
}

span.all_products a {
    color: #E70086;
}

table.shipping_form tr td.shipping_selection {
    float: left;
    margin-left: 5px;
}

table.shipping_form tr.shipping_info td {
    width: 420px;
    float: left;
    margin-left: 5px;
}
