h2.multiple-deal-title, h2.multiple-deal-title span, .counter h3 p, .counter h3 span, .multiple-deal-original, h1.deal_title,
.main_deal_description, .original_price, .highlights h3, .highlights ul li, .deal_background p, div.main_price, .main_price span, a.buy-now-friend,
.address b, .pro_details_img_desc h1, .previous_price span, .current_price span, a.buy-product-for-friend, .product-saving-container .save,
.thumb_img_row .more_view_head .product_list_head a, .product_list_desc p, .product-discount p, .product-btn-wrapper a.product-btn-details,
.multiple-deal-content a.button, .buy_now a.button, .deal-content, ul.side-deals li.deal h4 a, .deal-content a, .saving p,
span.label i, span.label, table.deal_details td.link a, .welcome div, .header .hotline, .help_section, .multiple-deal-price,
.package-title, .package-title h1, .sub-deal table td, div.order div h2, .order, .order table.form tr th, .order table.form tr td,
#gift_info h2, .btn-submit, .orderscheckout h2, .orderscheckout table tr td, #pay_now, #booking_details h2, #booking_details div span,
#booking_details table tr td, #booking_details a.button, .product-original-price, .discount_price span, .pro_deal_info .current_price,
.more_view_head, .discount_save, .location h2.fb_comments_title, .dealspast table.deal_details td.content table td, a.buy_now_btn,
#error_explanation h2, #error_explanation ul li, .page-header h1, form#user_new p a, ul.login li a, ul.top-menu li.top-menu-item a,
.left-side-bar ul.nav li span, .left-side-bar ul.nav li a, a.iframe,h2.block-header u,div.error_explanation h2,td div label,td label,
#business_submit,p.highlight-box, ul#user_sub_nav li a, p.link-container a, p.copyright, .notice-box, #user_submit, #remember_me,
.user_new label, .terms, .referral-box-title,.s-txt a, .referral-content,.refer_and_win, .page_subtitle p,.bd_contacts ,#intro,
ul.side-deals li.header h3, .subscription-strip-input-container, .bangla, p label,i.bangla,div.discount-multiple-product span,
.show-product-details_link a, .pro_size, .pro_deal_info .previous_price, li.liclass a, .referral-content,h2.multiple-deal-title a.clickable_title,
.password_form h2,ul.footer-container li, ul.footer-container li a, ul.footer-container li strong
{
    font-family:'SolaimanLipi' !important;
}

div.counter {
    width:242px !important;
}
div.main_price {
    width: 170px !important;
}
div.counter h3 {
    float:left !important;
    width: 120px !important;
    margin: 0px !important;
}

.product_list_head a {
    padding: 0 0 0 15px !important;
}

.counter h3 p, .thumb_img_row .more_view_head, span.label i, span.label, table.deal_details td.link a, ul.login li.welcome ul.user-sub-nav li a,
ul.top-menu li.top-menu-item a,div.discount-multiple-product span, .show-product-details_link a, .products_prices div span.bangla, div.address span,
.referral-content, ul.category-nav li a
{
    font-size: 13px !important;
}


.counter h3 span, a.buy-now-friend, a.buy-product-for-friend, .multiple-deal-original, .highlights ul li, .product_list_desc p,
.product-btn-wrapper a.product-btn-details, .multiple-deal-price, ul.side-deals li.deal p, .order table.form tr th, .order table.form tr td,
.dealspast table.deal_details td.content table td, #error_explanation h2, #error_explanation ul li, form#user_new p a, .left-side-bar ul.nav li span,
.pro_size
{
    font-size: 14px !important;
}

.header .hotline, .help_section table td, .help_section table ul li, #booking_details a.button, .left-side-bar ul.nav li a {
    font-size: 15px !important;
}

.product_list_head a, .multiple-deal-content a.button, .buy_now a.button, .welcome div,div.terms p, a.sub-deal-buy  {
    font-size: 16px !important;
}

.counter h3 span {
    font-weight:bold !important;
}

h2.multiple-deal-title span, .product-saving-container .save , p.career_text{
    font-size: 17px !important ;
}


h2.multiple-deal-title a.clickable_title {
    font-size: 23px !important;
}

.left-side-bar ul.nav li span{
    font-weight:bold;
}
.saving-container {
 width: 78px !important;
}

div.main_price {
    font-size: 36px !important;
}

ul.login li {
    margin-left:13px !important;
}

ul.top-menu {
    width: 295px !important;
}
.header ul.login {
    width: 302px !important;
}

a#language_switch {
    font-family: Arial,'Helvetica',sans-serif !important;
    font-size: 13px;
    font-weight:bold;
    color:white;
}