#main-menu {
    padding-top: 0px;
}

#nav {
    margin: 0;
    padding: 5px 4px 0;
    background: #900e59;
    line-height: 100%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

#nav li {
    margin: 0 0px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}

/* main level link */
#nav a {
    font-weight: bold;
    color: #e7e5e5;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    padding: 8px 20px;
    margin: 0;
}

#nav a:hover {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

/* main level link hover */
#nav .current, #nav li:hover {
    background: #5c0b3a;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

/* sub levels link hover */
#nav ul li:hover {
    color: #666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #5c0b3a;
}

/* dropdown */
#nav li:hover > ul {
    display: block;
}

/* level 2 list */
#nav ul {
    display: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: absolute;
    top: 20px;
    left: 0;
    background: #900e59;
    border: solid 1px #5C0B3A;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#nav ul li {
    float: none;
}

/* level 3+ list */
#nav ul ul {
    left: 181px;
    top: -3px;
}

/* clearfix */
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#nav {
    display: inline-block;
}

html[xmlns] #nav {
    display: block;
}

* html #nav {
    height: 1%;
}

#nav li.right-arrow {
    background-image: url(../images/icons/right_arrow.png);
    background-repeat: no-repeat;
    background-position: right 2px;
}

#nav li.right-arrow:hover {
    background-image: url(../images/icons/right_arrow.png);
    background-repeat: no-repeat;
    background-position: 160px 2px;
}

/*User Menu*/
.login li:hover > ul {
    display: block;
}

ul.user-sub-nav, .extra_cat {
    display: none;
    background-color: #ffc200;
    position: relative;
    width: 170px;
    z-index: 999;
    padding: 5px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    float: right;
    opacity: 0.9
}

.extra_cat {
    -moz-border-radius: 0 0 10px 10px;
    background-color: #EEEEEE;
    display: block;
    float: right;
    height: 100px !important;
    left: 421px;
    opacity: 0.9;
    padding: 5px 10px;
    position: relative;
    top: 13px;
    width: 170px;
    z-index: 999;
    color: #000;
}


/* clearfix */
.login:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

ul.login li{
    margin-left: 16px;
    float:right;
}
ul.login li {
    color: #fff;
    text-align: right;
    display: inline-block;
    font-size: 14px;
    float: right;
    margin-top: 6px;
}

ul.login li.welcome a {
    float: none;
}

li.welcome a.my-account {
    margin-left: 5px;
    background: transparent url(../images/icons/down_arrow.png) no-repeat right top;
    padding-right: 20px;
    width: 100%;
}

ul.user-sub-nav li {
    display: inline-block;
    width: 100%;
    line-height: 16px;
}

ul.login li.welcome ul.user-sub-nav li a {
    float: left;
    font-size: 12px;
    color: #5C0B3A;
    margin-left: 0px;
    font-weight: bold;
    text-decoration: none;
}

ul.login li.welcome ul.user-sub-nav li a:hover {
    text-decoration: underline;
}

ul.login li.welcome ul.user-sub-nav li.separator {
    border-top: 1px solid #5C0B3A;
    height: 5px;
    line-height: 5px;
}

.more_wrapper {
    width: 60px;
    float: right;
    color: #FFF;
    font-weight:bold;
    font-size: 14px;
    padding-right: 5px;
}

.more_wrapper img {
    float:right;
}
