@charset
"utf-8"
;

@font-face {
    font-family: 'HelveticaRoundedLTBoldCnRg'
;
    src: url('fonts/helvetica_rounded_lt_bold_condensed-webfont.eot')
;
    src: url('fonts/helvetica_rounded_lt_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/helvetica_rounded_lt_bold_condensed-webfont.woff') format('woff'), url('fonts/helvetica_rounded_lt_bold_condensed-webfont.ttf') format('truetype'), url('fonts/helvetica_rounded_lt_bold_condensed-webfont.svg#HelveticaRoundedLTBoldCnRg') format('svg')
;
    font-weight: normal
;
    font-style: normal
;
}

body {
    font-family: Arial, 'Helvetica', sans-serif; /*font-family: 'Play', arial, serif;*/
    font-size: 16px
}

p {
    font-family: Arial, 'Helvetica', sans-serif;
    margin: 0;
}

.main_deal_wrap > p {
    margin: 0 0 30px 0;
}

* {
    margin: 0 0
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and

(
max-width:

    1024px

) {
    img.bg {
        left: 50%;
        margin-left: -512px
    }

}

/*********************header styles***********************/
.header {
    width: 100%;
    background-color: #5c0b3a;
    height: 85px;
    position: relative;
    margin: 0 0
}

#header_wrap {
    width: 940px;
    margin: 0 auto
}

.header div.logo {
    position: relative;
    width: 200px;
    padding-left: 40px;
    float: left;
    padding-top: 5px;
}

.header div.content {
    position: relative;
    height: 80px;
    width: 630px;
    padding: 0px 0 0 0;
    float: right
}

.header div.logo a img {
    border: none
}

/*********************signup/login styles***********************/
.header .hotline {
    float: right;
    width: auto;
    height: 20px;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.header .hotline div {
    text-align: right;
}

.header ul.login {
    float: right;
    height: 30px;
    width: 291px;
    display:inline;
    padding:0;
}

ul.login li {
    list-style: none;
    display: inline
}

ul.login a {
    float: right;
    color: #ffc200;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

ul.login a:hover {
    color: #FFF
}

/*********************body styles***********************/
#page-wrap {
    position: relative;
    width: 940px;
    margin: 10px auto;
    padding-bottom: 20px
}

/*********************main navigation styles***********************/
ul.nav {
    font-family: 'HelveticaRoundedLTBoldCnRg', sans-serif;
    float: left;
    display: block;
    width: 170px
}

ul.nav li {
    list-style: none;
    font-size: 18px;
    font-weight: normal;
}

ul.nav li a {
    background: #ffc200;
    height: 25px;
    text-decoration: none;
    float: left;
    width: 170px;
    margin-bottom: 5px;
    -moz-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    padding-left: 30px;
    padding-top: 7px;
    color: #FFF;
    overflow: auto
}

ul.nav li span {
    /*background: #ffc200;*/
    background-color: #5c0b3a;
    height: 25px;
    text-decoration: none;
    float: left;
    width: 170px;
    margin-bottom: 5px;
    -moz-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    padding-left: 30px;
    padding-top: 7px;
    color: #FFF;
    overflow: auto
}

ul.nav li a:hover, ul.nav li a.active {
    background-color: #5c0b3a;
    color: #FFF;
}

/*********************main_deal styles***********************/
.right-side-bar {
    position: relative;
    width: 685px;
    background: #ffffff;
    -moz-border-radius: 2ex 0px 2ex 0px;
    border-radius: 2ex 0px 2ex 0px;
    float: right;
    min-height: 400px;
}

.right-side-bar, .notice-box {
    position: relative;
    width: 685px;
    background: #ffffff;
    -moz-border-radius: 2ex 0px 2ex 0px;
    border-radius: 2ex 0px 2ex 0px;
    float: right;
    margin-bottom: 10px;
}

.dealsindex {
    background: transparent;
}

.right-side-bar h2 {
    padding: 20px 0 20px 10px;
}

div.form {
    padding-left: 10px;
    width: 675px;
    text-align: left;
    text-indent: 0;
}

div.form h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

div.form h2.block-header {
    margin: 0px 0px 10px;
    padding: 0px;
}

div.form hr {
    margin-left: 15px;
    margin-right: 2px;
}

div.form p {
    text-align: left;
    text-indent: 0;
    margin-bottom: 10px;
    margin-top: 15px;

}

div.form form {
    padding-left: 15px;
}

div.form label {
    display: block;
}

div.form input, div.form textarea {
    margin-bottom: 10px;
}

.field_with_errors {
    margin: 0 0 0px 0px;
    background: transparent;
}

.field_with_errors input, .field_with_errors textarea {
    border: 1px solid red;
    border-radius: 3px;
}

.field_with_errors label {
    color: red;
}

img.deal {
    width: 685px;
    margin: 0px 0 20px 0;
}

h1.deal_title, h1.page_title {
    width: 650px;
    float: left;
    line-height: 26px;
    margin: 10px 0 0px 0;
    color: #e70086;
    height: auto;
    padding-left: 20px;
    font-family: 'HelveticaRoundedLTBoldCnRg', arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

h1.deal_title a, h1.page_title a {
    color: #e70086;
}

.main_deal_wrap {
    float: left;
    width: 650px;
    position: relative;
    height: auto;
    margin: 10px 0 10px 20px;
}

.main_deal_description, .page_subtitle {
    clear: both;
    width: 650px;
    float: left;
    margin: 10px 0 10px 20px;
    font-size: 16px;
    color: #666;
}

.main_deal_description p, .page_subtitle p {
    text-align: justify;
    text-indent: 0;
}

a.gift {
    float: right;
    width: auto;
    text-decoration: none;
    margin: -30px 70px 0 0;
    font-size: 14px;
    color: #666
}

a.gift:hover {
    color: #600
}

.deal_background {
    text-align: left;
    font-size: 12px;
    color: #666;
    line-height: 14px;
    float: left;
    width: 300px;
    margin-top: 20px;
    margin-left: 10px;
    list-style: circle;
}

div.deal_texts {
    text-align: left;
    font-size: 12px;
    color: #666;
    line-height: 14px;
    float: left;
    width: 650px;
    margin: 20px 0 30px 0;
    list-style: circle;
    padding-left: 35px;
}

div.deal_background p {
    /*color: #333;*/
    line-height: 20px;
    margin-bottom: 10px;
    float: left; /*width: 370px;*/
    text-indent: 0;
    text-align: justify;
    font-size: 14px;
}

.line {
    width: 650px;
    height: 1px;
    background: #CCC;
    margin-right: 10px;
    float: left;
    margin-left: 0px;
}

.social_media {
    width: 370px;
    float: left;
    margin-top: 15px
}

/*DEAL INFO*/

div.original_price {
    font-size: 20px;
    color: #e70086;
    font-weight: bold;
    text-indent: 0;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    padding: 3px 5px;
}
div.original_price span {
    text-decoration: line-through;
}

p span.taka {
    text-decoration: line-through;
    color: #e70086;
}

div#deal_info {
    width: 100%;
    height: 70px;
}

div#deal_info div {
    display: inline-block;
    vertical-align: middle;
}

div.main_price {
    font-size: 40px;
    color: #e70086;
    font-weight: bold;
    padding-top: 7px;
    width: 190px;
}

div.main_price sup {
    font-weight: normal;
    font-size: 14px;
    color: #999;
    vertical-align: top;
    width: auto
}

.saving-container {
    width: 90px;
    padding-left: 0px;
}

.saving {
    background-color: #FFD700;
    border-radius: 10px 2px 10px 2px;
    padding: 3px 10px;
    text-align: center;
}

.saving p {
    text-indent: 0px;
    color: #666;
    font-size: 13px;
}

p.save {
    font-size: 20px;
    font-weight: bold;
    color: #E70086;
}

div.counter {
    width: 210px;
    text-align: center;
    padding-top: 4px;
    padding-left: 0px;
}

div.counter h3 {
    margin: 0 7px;
    font-size: 12px;
    display: inline-block;
}

div.counter h3 p {
    text-indent: 0px;
    font-size: 10px;
}

div.counter div.expire {
    padding-left: 50px;
    width: 200px;
}

div.buy_now {
}

a.button {
    /*float: right;*/
    width: 120px;
    height: 41px;
    text-decoration: none;
    font-family: "Georgia", Times, serif;
    background: url(../images/buy_button.png) no-repeat;
    color: #ffc200;
    padding: 10px 5px 0;
    font-size: 10pt;
    margin-top: 10px;
    text-align: center;
    display: block;
}

a.buy_now:hover {
    color: #FFF
}

/*******************/

/*********************google map and location styles***********************/
.location {
    position: relative;
    width: 665px;
    background: #ffffff;
    -moz-border-radius: 2ex 0px 2ex 0px;
    border-radius: 2ex 0px 2ex 0px;
    float: right;
    margin-bottom: 10px;
    padding: 10px;
}

#google_map {
    width: 667px;
    height: 260px;
    margin: 20px 0 0 10px;
    float: left
}

h2.map {
    margin: 10px 10px 0 10px;
    padding: 5px;
    color: #333;
    background-color: #eee;
    font-family: 'HelveticaRoundedLTBoldCnRg', arial, sans-serif;
    font-weight: normal;
}

/*********************footer styles***********************/
.footer {
    position: relative;
    width: 100%;
    background: #5c0b3a;
    /*-moz-border-radius: 2ex 0px 2ex 0px;
    border-radius: 2ex 0px 2ex 0px;*/
    color: #FFC200;
    font-size: 80%;
    text-align: center;
    padding: 10px 0;
    clear: both;
    /*margin-left: 40px;*/
}

.copyright {
    color: #fff;
    clear: both;
}

.footer a {
    color: #FFC200;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    text-indent: 0px;
}

/*********************nearby deals styles***********************/
.nearby_deals {
    float: right;
    width: 200px;
    margin: 0 10px 0 0
}

img.nearby_deals {
    width: 38px;
    height: 51px;
    float: left
}

p.nearby_deals_name {
    font-size: 15px;
    font-weight: bold;
    color: #5c0b3a
}

p.nearby_description {
    font-size: 14px;
    font-weight: bold;
    color: #CCC
}

p.nearby_location {
    font-size: 14px;
    color: #CCC
}

h2.nearby_deal_title {
    margin: -30px 0 20px 0;
    color: #333
}

.nearby_deals ul {
    list-style: none;
    margin-left: -35px
}

.nearby_deals ul li {
    margin-bottom: 15px
}

.nearby_deals ul li img {
    float: left;
    margin: 0 5px 5px 0
}

.nearby_deals ul li a.deal_name {
    text-decoration: none;
    margin: 0 0 5px 0px;
    font-weight: bold;
    color: #5c0b3a
}

.nearby_deals ul li a.deal_des {
    text-decoration: none;
    margin: 0 0 5px 0px;
    color: #666;
    font-size: 14px
}

.nearby_deals ul li a.deal_place {
    text-decoration: none;
    color: #999;
    font-size: 12px
}

.nearby_deals ul li a.deal_name:hover, .nearby_deals ul li a.deal_des:hover, .nearby_deals ul li a.deal_place:hover {
    color: #000
}

dl.help_section {
    float: left;
    margin: 20px 20px 0;
}

dl.help_section dt {
    font-size: 24px;
    font-weight: bold;
    color: #5D0B3B;
    float: left;
}

dl.help_section span {
    color: #E70086;
}

dl.help_section dd {
    font-size: 10pt;
    margin: 10px 0;
    width: 620px;
    float: left;
    color: #666666;
}

dl.help_section dd div {
    display: inline;
}

dl.help_section img {
    margin-top: -12px;
    margin-left: -12px;
}

dl.help_section td {
    vertical-align: top;
}

div.terms {
    text-align: justify;
}

div.terms p {
    font-size: 10pt;
    margin: 5px 40px 20px 0px;
    text-indent: 0;

}

div.terms ul {
    margin: 10px 40px 10px 0;
}

div.terms ul li {
    font-size: 10pt;
    margin-bottom: 10px;
    list-style-type: disc;
}

div.terms h3 {
    color: #5A0B3A;
    margin-top: 15px;
}

.social_button {
    float: left;
    width: auto;
    height: auto;
}

.deal_description p {
    text-indent: 20px;
}

.deal .prices {
    color: #E70086;
}

.left_box {
    background-color: #5c0b3a;
    font-weight: normal;
    font-family: 'HelveticaRoundedLTBoldCnRg', sans-serif;
    text-decoration: none;
    float: left;
    width: 180px;
    margin-bottom: 5px;
    padding: 5px 10px;
    -moz-border-radius: 10px 0 10px 0;
    border-radius: 10px 0 10px 0;
    margin-left: 40px;
    margin-top: 5px;
    color: #FFF;
    overflow: hidden;
    text-align: center;
}

.left_box a {
    text-decoration: none;
    margin: 0 0 5px 0px;
    color: #fff;;
    font-size: 16px
}

.left_box a:hover {
    color: Orange;
    text-decoration: none;
}

.noticebox {
    background-color: #FFC200;
}

.noticebox:hover {
    background-color: #5c0b3a;
}

.noticebox a {
}

.noticebox a:hover {
    color: white;

}

.box-message {
    color: #000000;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    text-shadow: 1px 1px 0 #ddd;
    margin-top: 5px;

}

ul.side-deals, ul.user-account {
    background-color: #5C0B3A;
    float: left;
    width: 185px;
    padding: 0px;
    margin: 5px 0 5px 40px;
    border-top-left-radius: 2ex;
    border-bottom-right-radius: 2ex;
    -webkit-border-radius: 2ex 0 0 0;
    -moz-border-radius: 2ex 0 0 0;
}

ul.side-deals li, ul.user-account li {
    background-color: #ffffff;
    width: 100%;
    padding: 7px;
    text-align: left;
}

ul.side-deals li.header, ul.user-account li.header {
    padding-top: 5px;
    background-color: #5C0B3A;
    border-top-left-radius: 10px;
    height: 20px;
    font-size: 13px;
    color: #fff;
}

ul.side-deals li.header h3 a {
    font-size: 18px;
    color: #fff;
}

ul.side-deals li.header h3, ul.user-account li.header h3 {
    padding-left: 25px;
}

li.deal h4 {
    padding-bottom: 5px;
}

li.deal h4 a, td.deal h4 a {
    font-size: 1em;
    color: #E70086;
    font-weight: normal;
}

ul.side-deals li.deal {
    border-top: 1px solid #5C0B3A;
}

ul.side-deals li.deal img {
    border-radius: 10px 2px 10px 2px;
}

ul.side-deals li.deal p, ul.side-deals li.deal .deal-content a {
    text-indent: 0px;
    font-size: 80%;
    padding-bottom: 3px;
}

ul.side-deals li.deal .deal-content a {
    text-indent: 0px;
    font-size: 80%;
    padding-bottom: 3px;
    color: #0981BE;
}

ul.side-deals li.deal .saving {
    padding: 13px 5px;
    font-size: 90%;
    color: #E70086;
    height: 36px;
    margin: -3px 0px 0;
}

ul.side-deals li.deal .upto {
    padding: 4px 5px;
    height: auto;
}

ul.side-deals li.last, ul.user-account li.last {
    border-bottom-right-radius: 10px;
    height: 5px;
}

.multiple-deal ul.side-deals {
    margin-left: 15px;
}

.multiple-deal ul.side-deals li.deal {
    border-top: none medium;
}

table.price-list {
    padding: 20px;
}

table.price-list p, table.price-list h2 {
    text-indent: 0px;
    padding-left: 0px;
}

div.page-header.title {
    background-color: #5C0B3A;
    color: #fff;
    border-radius: 2ex 0 0 0;
    -webkit-border-radius: 2ex 0 0 0;
    -moz-border-radius: 2ex 0 0 0;
    padding: 6px 20px;
}

table.deal_details {
    margin-top: 20px;
}

td.image {
    vertical-align: top;
    padding: 0px 10px 0 0px;
    width: 350px;
    height: 100px;
    margin: 0px;
}

td.image img.medium {
    padding: 0px;
    margin: 0px;
    width: 350px;
}

td.content {
    vertical-align: top;
    padding: 0px;
    margin: 0px;
}

td.deal-title a {
    color: #E70086;
    font-size: 14px;
}

td.content p {
    text-indent: 0px;
}

td.content td {
    border-bottom: 1px solid #DFDFDF;
    font-size: 12px;
    padding: 3px 3px 3px 0px;
}

td.content td.last {
    border-bottom: none;
}

td.content td.top {
    padding-top: 0px;
}

td.content td span.label {
    font-weight: bold;
}

td.link {
    height: 30px;
}

td.link a {
    padding: 3px 10px 2px;
    background-color: #5C0B3A;
    color: #FFC200;
    margin-right: 10px;
    font-size: 11px;
}

td.link a:hover {
    color: #fff;
    text-decoration: none;
}

td.link a.social-button {
    background-color: transparent;
    padding: 0px;

}

a.closed {
    background: url(../images/buy_button_disabled.png) no-repeat;
    font-weight: bold;
    font-size: 16px;
}

.closed {
    font-weight: normal;
}

.sold_out {
    font-weight: bold;
    font-size: 18pt;

}

td.separator {
    height: 20px;
}

.left-side-bar {
    float: left;
    width: 240px;
}

div.address {
    margin-top: 15px;
    float: left;
}

div.address span {
    font-size: 12px;
}

/*********************career page styles***********************/

h3.vacancies {
    float: left;
    width: 500px;
    margin-bottom: 20px;
    color: #5d0b3b;
    text-decoration: underline;
}

p.career_text span, h3.vacancies span, h5.drop_resume span {
    color: #e70086;
}

h4.qualification {
    float: left;
    width: 500px;
    margin-bottom: 10px;
    color: #5d0b3b;
}

p.job_texts {
    float: left;
    width: 500px;
}

ul.requirements {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #666;
    font-size: 14px;
}

ul.requirements li {
    margin-bottom: 5px;
}

h5.drop_resume {
    float: left;
    width: 500px;
    margin-bottom: 20px;
    color: #5d0b3b;
}

.line_hor {
    float: left;
    background-color: #CCC;
    width: 630px;
    height: 1px;
}

p.career_text {
    float: left;
    width: 630px;
    font-size: 14px;
    color: #666;
    line-height: 1.3em;
}

h2.step {
    float: left;
    width: 630px;
    margin-bottom: 10px;
    color: #5d0b3b;
    padding: 0;
}

h2.step span {
    color: #e70086;
}

ul.career_links {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 14px;
}

ul.career_links li {
    margin-bottom: 10px;
}

ul.career_links li a {
    color: #e70086;
}

ul.career_links li a:hover {
    color: #5d0b3b;
}

ul.career_links li a:visited {
    color: #999;
}

/*Subscription strip*/
.subscription-strip-wrap {
    background: #FFB200;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 2;
}

.subscription-strip-content {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 5px 0;
}

.subscription-strip-content div {
    float: left;
    padding: 0 0 0 15px;
}

.subscription-strip-input-label {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    padding: 2px 0 0 0;
}

#subscription-strip-email {
    width: 290px;
    padding: 4px 10px;
    border: 1px #323232 solid;
    font-size: 12px;
    color: #5a5a5a;
}

#subscription-strip-submit {
    width: 86px;
    background: #000;
    border: 1px #8f8888 solid;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 0;
}

.response-container {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.subscription-skip {
    background: url("/images/close.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 15px;
    position: absolute;
    right: -15px;
    top: 5px;
    width: 15px;
}

td#subscription-form-container {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

/*Subscription popup*/
#subscription-popup {
    font-family: 'HelveticaRoundedLTBoldCnRg', sans-serif;
    text-align: center;
    padding: 15px;
}

#subscription-popup .city-name {
    font-size: 20px;
    color: #ffffff;
    padding: 5px;
    background: #5C0B3A;
}

#subscription-popup-form {
    padding: 20px 60px;
}

#subscription-popup-title {
    font-size: 15px;
}

#subscription-popup-email {
    width: 254px;
    padding: 5px 10px;
    border: 1px solid #323232;
    font-size: 15px;
    color: #5a5a5a;
    margin: 5px 0;
}

#subscription-popup-submit {
    background: #000;
    border: 1px #8f8888 solid;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}

.subscription-footer span {
    color: #c0c0c0;
    font-size: 13px;
}

.subscription-footer span.hide-strip {
    font-size: 14px;
    color: #5C0B3A;
    cursor: pointer;
}

.subscription-footer span.hide-strip:hover {
    text-decoration: underline;
}

#subscription-popup .response-container {
    padding-bottom: 5px;
}

div.website {
    float: left;
    width: 330px;
    font-size: 80%;
}

div.website a {
    color: blue;
}

.highlight-box {
    background-color: #FFC200;
    border-radius: 10px 20px 20px 0px;
    padding: 20px;
    text-align: center;
    margin: 5px 10px 40px 0px;
    font-size: 16px;
    color: #5C0B3A;
}

.highlight-box a {
    color: #5C0B3A;
}

a.coupon_link {
    text-decoration: underline
}

a.coupon_link:hover {
    text-decoration: none
}

/** press coverage start **/
.press-release {

    overflow: hidden;
    float: left;
    padding-left: 22px;
    padding-bottom: 10px;
}

.press-label {
    float: left;
}

.page-title {
    color: #800000;
    font-size: 18px;
}

.head-label {
    background: url(/images/press-image/line-arrow.gif?v=5) bottom left no-repeat;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    color: #029ecb;
    margin-bottom: 10px;
}

.news-box {
    float: left;
    border-bottom: 1px dotted #505050;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 20px;
}

.press-l {
    float: right;
    width: 450px;
    padding-left: 10px;
    margin-left: 10px;
    background: url(/images/press-image/press-arrow-right.gif) top left no-repeat;
    height: 95px;
}

.press-head {
    font-size: 14px;
    font-weight: 700;
    color: #444;
    line-height: 160%;
    margin-bottom: 2px;
    text-decoration: none;
}

.press-txt {
    font-size: 12px;
    font-weight: 400;
    color: #444;
    line-height: 130%;
}

.press-left {
    float: left;
    width: 130px;
}

.press-left .date {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    color: #029ecb;
    text-decoration: none;
}

.press-right .img {
    width: 130px;
    margin-top: 7px;
    text-align: left;
}

.news-title {
    color: #FF8000;
}

.last {
    border-bottom: 0px;
}

/** press coverage end **/

/*********************multiple deal styles***********************/
.multiple-deal {
    position: relative;
    width: 685px;
    background: #ffffff;
    -moz-border-radius: 2ex 0px 2ex 0px;
    border-radius: 2ex 0px 2ex 0px;
    float: right;
    margin-bottom: 10px;
    font-family: 'HelveticaRoundedLTBoldCnRg', arial, sans-serif;
}
h2.multiple-deal-title  {
    margin: 0;
    color: #e70086;
    height: auto;
    background-color: #5A0E3C;
    -moz-border-radius: 17px 0 0 0;
    border-radius: 17px 0 0 0;
    padding: 10px 20px;
    font-size: 22px;
}

h2.multiple-deal-title a.clickable_title {
    color: #e70086;
    font-size: 22px;
}

h2.multiple-deal-title span {
    color: #ffffff;
    font-size: 16px;
}

.multiple-deal-description {
    clear: both;
    width: 650px;
    float: left;
    margin: 10px 0 10px 20px;
    font-size: 16px;
    color: #666;
}

.multiple-deal-description p, .multiple-deal-content p {
    text-indent: 0px;
}

.multiple-deal img.medium {
    float: left;
    padding: 0 10px 0 0;
    margin: 0px;
    width: 400px;
    height: 204px;
}

.multiple-deal td.img-medium {
    width: 450px;
    height: 230px;
    padding: 5px;
}

.multiple-deal-stat {
    float: left;
    width: 250px;
}

.multiple-deal-original {
    font-weight: bold;
    text-indent: 0px;
    font-size: 13px;
    float: none;
    /*padding: 5px;*/
    text-align: center;
    height: 25px;
    text-align: center;
    text-decoration: line-through;
}

.multiple-deal-discounted {
    font-size: 43px;
    color: #e70086;
    font-weight: bold;
    float: left;
    padding-top: 5px;
}

.multiple-deal .counter {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    height: 45px;
    padding-top: 3px;
}

.multiple-deal .counter .sold_out {
    font-size: 12px;
}

.multiple-deal-content .saving {
    background-color: transparent;
    float: right;
    margin: 0;
}

.multiple-deal-content a.button {
    width: 160px;
    height: 30px;
    background: url(../images/buy_button_large.png) no-repeat;
    padding: 5px 0px 0;
    font-size: 11pt;
    margin: 5px auto;
}

.multiple-deal-content .multiple-deal-discounted {
    font-size: 35px;

}

td.deal-item {
    background: #f0f0f0;
    border-left: 1px solid #fff
}

td.deal-item li {
    background: #f0f0f0;
}

.multiple-deal-content td {
    padding: 0px;
    margin: 0px;
}

.multiple-deal-content .saving * {
    font-size: 14px;
}

.multiple-deal-price {
    text-align: center;
    width: 32%;
    height: 50px;
    font-size: 11pt;
    font-weight: bold;
    vertical-align: middle;
    background: #FFD700;
    -moz-border-radius: 5px 0px 5px 0px;
    border-radius: 5px 0px 5px 0px;
}

.multiple-deal-price span {
    font-weight: bold;
    color: #E70086;
    font-size: 13px;
}

.multiple-deal-content .counter h3 span {
}

.multiple-deal-content .counter h3 p {
    font-size: 11px;
}

ul.product-size {
    margin: 0px;
    padding: 0px;
}

ul.product-size li {
    display: inline-block;
    border: 1px solid #c0c0c0;
    padding: 5px 15px;
    background: #f9f9f9;
    cursor: pointer;
}

ul.product-size li:hover, ul.product-size li.selected {
    background: #c1c1c1;
}

ul.product-size li.sold {
    cursor: default;
    background: #f0f0f0 url(../images/strike_through.png) repeat-x scroll left center;
}

.sub-deal {
    font-family: 'HelveticaRoundedLTBoldCnRg', arial, sans-serif;
    margin: 15px 20px;
    padding: 15px;
    -moz-border-radius: 10px 0px 10px 0px;
    border-radius: 10px 0px 10px 0px;
    font-size: 14px;
    background-color: #f9f9f9;
    border: 1px solid #f0f0f0;
}

.sub-deal .package-title {
    font-size: 15px;
}

.sub-deal .package-title h1 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: #810d50;
}

.sub-deal .original-price {
    color: #000000;
    text-decoration: line-through;
}

.sub-deal .discounted-price {
    color: #e70086;
    font-weight: bold;
}

.order table.form th {
    text-align: left;
    vertical-align: top;
    text-decoration: underline;
    padding: 3px 0px 8px 0px;
    font-size: 13px;
    font-weight: bold;
}

.order table.form td {
    text-align: left;
    vertical-align: top;
    font-size: 13px;
}

/*Product list page*/
.gilt-product-container {
    font-size: 11px;
    /*margin: 0px 0px 15px 20px;*/
    clear: both;
    overflow: hidden;
    width: 685px;
}

.product-wrapper {
    float: left;
    margin: 0 15px 25px 0;
    padding: 0;
    width: 315px;
}

.product_list_head {
    background: #5C0B3A;
    border-radius: 10px 0 10px 0;
    float: left;
    height: 32px;
    overflow: auto;
    padding-top: 5px;
    text-decoration: none;
    width: 315px;
}

.product_list_head a {
    color: #ffc200;
    font-size: 14px;
    font-family: 'Tahoma';
    padding: 4px 0 0 15px;
    float: left
}

.product_list_desc {
    float: left;
    width: 295px;
    margin-left: 15px;
    display: inline;
}

.product_list_desc p {
    float: left;
    width: 280px;
    padding: 10px 0;
    text-indent: 0;
    font-size: 12px;
}

.product-image {
    float: left;
    width: 170px;
    height: 120px;
    border: 1px solid #cfcad0
}

.product-image img {
    cursor: pointer;
    height: 110px;
    width: 160px;
    padding: 5px;
}

.product-price-wrapper {
    float: left;
    width: 112px;
    margin: 0px 0 0 10px;
    display: inline;
    overflow: hidden;
}

.product-price {
    color: #4b4b4b;
    float: left;
    width: 112px;
    font-size: 14px;
    font-weight: bold;
}

.product-original-price {
    color: #4b4b4b;
    float: left;
    width: 112px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
}

.discount_price {
    float: left;
    width: 112px;
    color: #5c0b3a;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    display: inline

}

.product-discount {
    width: 76px;
    float: left;
    margin-top: 15px;
    display: inline;
    background: url(../images/discount_bg.jpg) no-repeat;
    height: 76px;
}

.product-discount p {
    color: #FFC200;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 0 21px;
    text-align: left;
    width: 50px;

}

.product-btn-wrapper {
    float: left;
    margin: 15px 0 0 0;
    display: inline;

}

a.product-btn-details {
    background: url(../images/view_details_btn.jpg) no-repeat;
    width: 160px;
    height: 27px;
    color: #ffc200;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    text-decoration: none
}

a:hover.product-btn-details {
    background: url(../images/view_details_btn_hover.jpg) no-repeat;
    width: 160px;
    height: 27px;
    color: #5c0b3a;
    text-align: center;
    padding-top: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    text-decoration: none
}

/*product details page*/

.pro_details_row {
    float: left;
    width: 650px;
    margin: 15px 0 0 20px;
    display: inline
}

.pro_details_img {
    float: left;
    border: 1px solid #CFCAD0;
    width: 395px;
    height: 252px
}

.pro_details_img img {
    float: left;
    padding: 6px;
    width: 383px;
    height: 240px
}

.pro_details_img_desc {
    float: left;
    width: 235px;
    margin-left: 15px;
    display: inline
}

.pro_details_img_desc h1 {
    float: left;
    width: 235px;
    color: #666666;
    font-size: 16px;
    font-weight: normal;
}

.pro_size {
    float: left;
    width: 235px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    display: inline
}

.size_box_row {
    float: left;
    width: 235px;
    margin-top: 10px;
    display: inline
}

.size_box {
    float: left;
    width: 235px;
    margin-top: 10px;
    display: inline
}

ul.product-size {
    margin: 0px;
    padding: 0px;
}

ul.product-size li {
    display: inline-block;
    border: 1px solid #cfcad0;
    padding: 10px 0 0 0;
    background: #f0f0f0 url(../images/pro_size_box_bg.jpg) repeat-x;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    width: 47px;
    height: 28px;
    float: left;
    text-align: center;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline;
    cursor: default
}

ul.product-size li:hover, ul.product-size li.selected {
    background: #f0f0f0;
}

ul.product-size li.sold {
    cursor: default;
    background: #f0f0f0 url(../images/sold_sign.png) repeat-x left center;
}

.pro_deal_info {
    float: left;
    width: 235px;
    margin-top: 10px;
    display: inline
}

.pro_deal_info .previous_price {
    float: left;
    width: 205px;
    color: #b9b9b9;
    font-size: 22px;
    font-family: 'Tahoma';
    text-decoration: line-through;
}

.pro_deal_info .current_price {
    float: left;
    width: 205px;
    color: #e70086;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Tahoma';
}

.product-saving-container {
    width: 155px;
    height: 40px;
    float: left;
    background: url(../images/saving_bg.jpg) no-repeat;
    margin-top: 22px;
}

.discount_save {
    font-size: 20px;
    font-weight: bold;
    color: #E70086;
    float: left;
    width: 61px;
    text-align: center;
    padding-top: 7px
}

.product-saving-container .save {
    float: left;
    width: 94px;
    text-align: center;
    color: #ffc200;
    padding-top: 10px
}

.more_view_saving {
    display: inline;
    float: left;
    margin: 5px 0 0 20px;
    width: 650px;
}

.thumb_img_row, .more_view_head {
    float: left;
    width: 335px;
}

.more_view_head {
    color: #5c0b3a;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline
}

.thumb_img_row  .thumb {
    border: 1px solid #CFCAD0;
    display: inline;
    float: left;
    height: 45px;
    margin-right: 10px;
    width: 48px;
}

.thumb_img_row  .thumb a img, .thumb_img_row  .thumb img {
    float: left;
    width: 42px;
    height: 39px;
    padding: 3px;
}

.thumb_img_row .thumb_sel {
    border: 1px solid #5c0b3a
}

a.buy_now_btn {
    float: left;
    width: 123px;
    height: 31px;
    text-decoration: none;
    background: url(../images/buy_btn.jpg) no-repeat;
    color: #ffc200;
    padding: 10px 5px 0;
    font-size: 10pt;
    margin: 22px 0 0 10px;
    text-align: center;
    display: block;
    font-size: 16px
}

a:hover.buy_now_btn {
    float: left;
    width: 123px;
    height: 31px;
    text-decoration: none;
    background: url(../images/buy_btn_hover.jpg) no-repeat;
    color: #5c0b3a;
    padding: 10px 5px 0;
    font-size: 10pt;
    margin: 22px 0 0 10px;
    text-align: center;
    display: block;
    font-size: 16px
}

a.inactive_product_button {
    float: right;
    width: 123px;
    height: 31px;
    text-decoration: none;
    background: url(../images/buy_button_disabled.png) no-repeat;
    color: #ffc200;
    padding: 10px 5px 0;
    font-size: 10pt;
    margin: 22px 0 0 10px;
    text-align: center;
    display: block;
    font-size: 16px
}

.highlights {
    width: 48%;
    float: left;
}

.highlights h3 {
    padding-bottom: 10px;
    color: #5c0b3a;
    font-size: 16px;
    font-weight: bold
}

.highlights ul {
    margin-top: 20px;
    display: inline;
    margin-left: 0px;
    padding-left: 0px;
}

.highlights ul li {
    background: url(../images/con_icon.jpg) no-repeat left 4px;
    padding: 0px 10px 10px 16px;
    display: inline;
    float: left;
    margin-left: 5px;
    width: 90%;
}

.buy-now-friend {
  color:#E70086;
  float:right;
  font-size:13px;
  font-weight:bold;
  height:24px;
  margin: 6px 15px 0 2px;
  margin-top:6px;
  text-align:center;
}
.buy-product-for-friend{
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #670c40;
    text-align: right;
    padding-right: 45px;
}

.social_content_wrapper
{
    float: left;
    width:685px;
    background-color: #EEEEEE;
    border-radius:0px 0px 10px 0px;
    -moz-border-radius-bottomright: 10px;
}

.social_content_inner_wrapper
{
    width: 335px ;
    margin: 0 auto;
    height: 32px;
}

.social_content
{
    padding-top: 4px;
}

.corporate-extra-discount {
    height: 22px;
    padding-top: 3px;
    font-size: 14px;
    color: #FFD700;
    background: #960060;
    -moz-border-radius: 5px 0 5px 0;
    border-radius: 5px 0 5px 0;
}

.original_price .corporate-extra-discount{
    width: auto;
    float: right;
    padding: 2px 5px 0 5px;
    color: white;
}

.products_prices .corporate-extra-discount {
    background:  none;
    color: #E70086;
    font-size: 13px;
    clear: both;
    font-weight: bold;
}


.digital-mind-main { width:600px; margin:0 auto; }

.digital-mind-content-full h1 { font-size:2.5em; margin:0 0 6px; color:#3B0024; float:left}


.digital-mind-left { float:left;}
.digi { float:left;}
.digital-mind-right { float:right; }
.digital-mind-clear { clear:both; }
.digital-mind-full { width:100%; padding:0 0 5px; }
.digital-mind-half { width:50%; }
.digital-mind-onethird { width:33%; }
.digital-mind-twothirds { width:66%; }

.digital-mind-content-full { margin-top:200px; margin-bottom:10px; text-align: justify; }

div.footer ul.footer-container{
    width: 990px;
    margin: 0 auto;
    border-style: none;
}
div.footer ul.footer-container li{
    width: 185px;
    float: left;
    color: #FFFFFF;
    margin-right: 10px;
}

ul.footer-container li a {
    width: 185px;
    float: left;
    text-align: left;
    padding-bottom: 3px;
    color: #FFD700;
}
ul.footer-container li strong {
    padding-bottom: 5px;
    float: left;
    color: #FFD700;
}

ul.footer-container li span {
    float: left;
    text-align: left;
}

ul.footer-container li strong a {
    font-weight: bold;
}
