<%= form_for @search, :url => admin_users_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter User
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Name/Phone/Email Contains</td>
        <td><%= f.text_field :email_or_firstname_or_lastname_or_phone_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap">Mobile Operator</td>
        <td> <%= select("search", "phone_starts_with", {"GrammenPhone" => "017", "Airtel" => "016", "Banglalink" => "019", "Citycell" => "011", "Robi" => "018", "Teletalk" => "015"}, {:include_blank => true}) %></td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Address Contains</td>
        <td><%= f.text_field :address_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap">Gender</td>
        <td>
          <%= select("search", "gender_equals", {"Male" => "M", "Female" => "F"}, {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Sign in count between</td>
        <td><%= f.text_field :sign_in_count_greater_than_or_equal_to, :size => '9' %>
          and <%= f.text_field :sign_in_count_less_than_or_equal_to, :size => '10' %>
        </td>
        <td class="info-block-label-nowrap">ID between</td>
        <td><%= f.text_field :id_greater_than_or_equal_to, :size => '9' %>
          and <%= f.text_field :id_less_than_or_equal_to, :size => '10' %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Sign-up Between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="created_at"/>
          <%= f.datetime_select :created_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'created_at'} %>
          and <%= f.datetime_select :created_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'created_at'} %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Last Sign-in Between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="sign_in_at"/>
          <%= f.datetime_select :last_sign_in_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'sign_in_at'} %>
          and <%= f.datetime_select :last_sign_in_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'sign_in_at'} %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Ordered Deal</td>
        <td colspan=""><%= select("search", "orders_deal_id_or_orders_deal_parent_id_equals", deal_options(), {:include_blank => true}, :style=>"width: 250px") %></td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Ordered Product</td>
        <td colspan=""><%= select("search", "orders_product_id_equals", product_options(), {:include_blank => true}, :style=>"width: 250px") %></td>
        <td class="info-block-label-nowrap" colspan="2">
          <%= f.check_box :orders_is_notified_is_true %> Paid? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :orders_confirmed_at_is_not_null %> Confirmed? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <%= f.check_box :orders_coupons_redeemed_by_user_id_is_null %> Not Redeemed?
        </td>
      </tr>
      <tr>
        <%= f.hidden_field :is_active_is_true, :value => 1 %>
        <td colspan="3" class="info-block-title">
          <%= f.submit "Filter" %>
          <%= f.submit "Export to Excel" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
        </td>
        <td class="info-block-title" align="right">
        </td>
      </tr>
    </table>
<% end %>