<div class="picture">
  <%= form.fields_for :pictures, picture, :child_index => (picture.new_record? ? "index_to_replace_with_js" : nil) do |picture_form| %>
      <%= picture_form.file_field :data %>
      <%= link_to_function "Remove", "$(this).parent().remove()", :href => "javascript:void(0);" %>
  <% end %>
</div>