<div id="product_size">

  <%= form.fields_for :product_sizes, product_size, :child_index => (product_size.new_record? ? "index_to_replace_with_js" : nil) do |size_form| %>

      <table>
        <tr>
          <td>
            <div class="label">Size</div>
                    <span id="product_size_container" title="product_size" >
                      <%= size_form.collection_select :size_id, Size.all, :id, :name ,{:include_blank => true } %>
                    </span>
          </td>
          <td>
            <div class="label">Quantity</div>
            <%= size_form.text_field :quantity, :size => 10, :maxlength => 150 ,:class =>'q_input'%>
          </td>
          <td>
            <%= link_to_function "Remove", "$(this).parent().parent().remove()", :href => "javascript:void(0);" ,:class =>"remove" %>
          </td>
        </tr>
      </table>
  <% end %>

</div>




