<div id="existing_sizes">
  <table id="all_sizes">
    <tr>
      <th>Size</th>
      <th>Quantity</th>
       <th></th>
    </tr>
    <tbody>
    <%= form.fields_for :product_sizes do |product_size| %>
        <% unless product_size.object.new_record? %>
            <tr id=<%= product_size.object.id %>>
              <td style="text-align:center;" >
                <span class="name"><%= h product_size.object.size.name %> </span>
                
              </td>
              <td style="text-align:center;">
                <span class="quantity"><%= h product_size.object.quantity %>  </span>
              </td>
              <td>
                <%= product_size.hidden_field :size_id, :value => product_size.object.size.id %>
                <%= product_size.hidden_field :quantity, :value => product_size.object.quantity %>
                <%= product_size.check_box :_destroy %> Remove
              </td>
              <td>
                <%= product_size.check_box :is_active %> Enabled?
              </td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>