<%= form_for @search, :url => admin_audits_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Audits
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Auditable Type</td>
        <td>
          <%= select("search", "auditable_type_equals", auditable_type_options(), {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Operation</td>
        <td>
          <%= select("search", "action_equals", action_options(), {:include_blank => true}) %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Date between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="paid_at"/>
          <%= f.datetime_select :created_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'paid_at'} %>
          and <%= f.datetime_select :created_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'paid_at'} %>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <%= f.submit "Export to Excel" %>
        </td>
      </tr>
    </table>

    <% if @audits.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="2"><%= page_entries_info @audits %></td>
            <td colspan="8" style="text-align:right;"><%= will_paginate(@audits) %></td>
          </tr>
          <tr>
            <th width="200">Item</th>
            <th width="200">Operation</th>
            <th width="150">User</th>
            <th width="150">Date Time</th>
            <th>Changes</th>
          </tr>
          <tbody>
          <% @audits.each do |audit| %>
              <% klass = cycle('odd', 'even') %>
              <tr class='<%= klass %>'>
                <td><%= h(audit.auditable_type) %></td>
                <td><%= h(audit.action) %></td>
                <td><%= h(audit.user.present? ? audit.user.name : '') %></td>
                <td><%= show_date(audit.created_at, 'dt') %></td>
                <td>
                  <%= audit.audited_changes.present? ? audit.audited_changes : '' %>
                </td>
              </tr>
          <% end %>
          <tr class="clear">
            <td colspan="2"><%= page_entries_info @audits %></td>
            <td colspan="8" style="text-align:right;"><%= will_paginate(@audits) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No History available</div>
    <% end %>
<% end %>