<style>
    * {
        font-size: 11px;
    }
</style>
<center>
  <h3 style="font-size:20px;">Audit Histories</h3>
</center>
<% if @audits.size > 0 -%>
    <table cellpadding="2" cellspacing="3" border="0" class="list">
      <tr>
        <th>Action</th>
        <th>Auditor</th>
        <th>Date</th>
        <th>Changes</th>
      </tr>
      <tbody>
      <% @audits.each do |audit| %>
          <tr>
            <td><%= h(audit.action.humanize) %></td>
            <td nowrap><%= h(audit.user.present? ? audit.user.name : '') %></td>
            <td nowrap><%= show_date(audit.created_at, 'dt') %></td>
            <td><%= audit.audited_changes %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No History available</div>
<% end %>
