<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<title>Newsletter template</title>
		<!--general stylesheet-->
		<style type="text/css">
			h1, h2, h3, h4, h5 { margin: 0; padding: 0; }
			p { padding: 0; margin: 0; }
			h2, h3, p, li { font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif; color: #ffffff !important; }
			td { vertical-align:top;}
			ul, ol { margin: 0; padding: 0;}
			h1, .date { font-family:"Lucida Fax",Georgia,Helvetica,Arial,sans-serif; }
			.content-item h2 {margin: 0; padding: 0; font-size: 18px; font-weight: normal; color: #ffffff !important; }
			.content-item a { color: #ff9e9e; text-decoration: underline; font-weight: normal;}
			.content-item p { margin: 0 0 12px; padding: 0; font-size: 12px; font-weight: normal; line-height: 20px; color: #ffffff;}

			.address p{  font-size: 13px; text-align: center; font-family:Lucida Grande,Lucida Sans Unicode,arial,sans-serif; color: #ffadad;}
			a { color: #ff9e9e; text-decoration: underline; font-weight: normal;}

		</style>
	</head>
	<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" background="" style="margin: 0px; background-color: #652416; background-image: url(''); background-repeat: repeat;" bgcolor="#652416">

		<table cellspacing="0" border="0" cellpadding="0" width="100%">
			<tbody>
				<tr valign="top">
					<td><!--container-->
						<table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#652416" width="750" height="1000">
							<tbody>
								<tr><!--content-->
									<td>
										<table cellspacing="0" cellpadding="0" border="0" align="center" width="700">

											<tbody>
												<tr>
													<td valign="top" background="http://akhoni.com/images/newsletter/nescafe-4.jpg" bgcolor="#c52223" height="144">
														<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" height="144" style="height: 144px !important;">
															<tbody>
																<tr>
																	<td valign="middle" width="500" style="vertical-align:middle;">
																		<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%" height="100%">
																			<tbody>

																				<tr>
																					<td colspan="2" height="55" valign="top">&nbsp;</td>
																				</tr>
																				<tr>
																					<td width="28" valign="top">&nbsp;</td>
																					<td valign="top">
																						<h1 style="font-size:28px; font-weight: normal; color: #ffffff !important; margin:0; padding: 0; font-family:Lucida Fax,Georgia,Helvetica,Arial,sans-serif;">
																						<singleline label="Title"><strong>NESCAFÉ Get Set Rock!</strong></singleline>

																					</h1>
																					<h2 class="date" style="font-size:16px; font-weight: normal; color: #f8aaaa !important; margin:0; padding: 0; font-family:Lucida Fax,Georgia,Helvetica,Arial,sans-serif;">
																						<currentmonthname />
																					    Creating the Brand of the Future!
																					</h2>
																					</td>
																				</tr>
																				<tr>
																					<td colspan="2" height="34" valign="top">&nbsp;</td>

																				</tr>
																			</tbody>
																		</table>

																	</td>
																	<td valign="top" width="200"><p>&nbsp;</p>
																    <p>&nbsp;</p>
																    <p>&nbsp;</p>
																    <p>&nbsp;</p></td>
																</tr>

															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td height="26" valign="top" style="height: 26px;">&nbsp;</td>
												</tr>
												<tr>
													<td valign="top">

														<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
															<tr>
																<td valign="top" width="100%"><!--main content-->
																 <repeater>
													<!--article--><table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="border-bottom-width: 30px; border-bottom-style: solid; border-bottom-color: #652416;" class="content-item">
																		<tbody>
																			<tr>
																				<td height="32" align="left" valign="top" style="height: 32px;color:#ffffff;">
																					<h2>

																						<singleline label="Title"></singleline>
																					</h2>
																					<p><span style="border-top-width: 10px; border-top-style: solid; border-top-color:#652416;">
<img width="341" height="255" alt="" align="left" style="margin-right: 10px; border-width: 2px; border-style: solid; border-color: #541b0f;" src="http://akhoni.com/images/newsletter/nescafe-1.jpg" editable="true" label="Image" /></span>Dear Friend,</p>
                                                                                    <p>World's Biggest Coffee brand NESCAFÉ is proud to present NESCAFÉ Get Set Rock! - the Biggest Musical Event of Bangladesh to create the band of the future.</p>
                                                                                    <p>If you are 18+ and can play any sort of musical instrument of this world (or of Alien's) or can SING only, you are welcome to register.</p>
                                                                                    <p>For registration, CALL 09 666 700 600 or MAIL to nescafebd@gmail.com with your Name, Number, Location and Choice of Instrument/Vocal.</p>
                                                                                <p>Follow in Facebook: www.facebook.com/nescafebd</p></td>

																			</tr>
																			<tr>
																				<td align="left" valign="top" style="border-top-width: 10px; border-top-style: solid; border-top-color:#652416;"><multiline label="Description">
																				  <p><img src="http://akhoni.com/images/newsletter/nescafe-2.jpg" width="698" height="533"></p>
																				  <p><img src="http://akhoni.com/images/newsletter/nescafe-3.jpg" width="700" height="46"></p>
                                                                                </multiline>
																			  </td>
																			</tr>
																		</tbody>

													<!--/article--></table>
																	</repeater>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</tbody>
										</table>

									</td><!--/content-->
								</tr>
							</tbody>
						</table><!--/container-->
					</td>
				</tr>
			</tbody>
		</table>
	</body>

</html>
