<div style="padding: 20px 15px;">
  <table cellpadding="0" cellspacing="0" style="width:100%;background-color: #ffffff;">
    <tr>
      <td align="left" style="width:100%;">
        <%= @notification.content.html_safe %>
      </td>
    </tr>
  </table>
</div>



