  <% cache 'latest_newsletter' do %>
    <% has_child_deals = @deal.sub_deals.count > 0 %>
    <% price_info = @deal.price_information %>
    <table width="650" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="350" valign="top">
          <a href="<%= location_deal_url(@deal.location, @deal) %>">
            <img src="<%= root_url + "images/" + @deal.pictures[0].data.url(:large) %>" alt="<%= strip_tags(@deal.title) %>" width="640" height="350" style="border:#F06 5px solid;"/>
          </a>
        </td>
      </tr>
    </table>
    <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="626" valign="top">
          <table width="626" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="626" align="left" valign="middle" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color: #ff0060; font-size: 30px; letter-spacing: -1px;">
                <%= @deal.title %>
              </td>
            </tr>
            <tr>
              <td align="left" valign="bottom" style="font-family: Arial, Helvetica, sans-serif; color: #4b082f; font-size: 14px;">
                <%= strip_tags(@deal.description) unless @deal.description.nil? %>
              </td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="70" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px; margin-top:20px;">
                <table width="618" height="70">
                  <tr>
                    <td valign="top" style="padding-top: 5px;list-style:none; width:80px; height:70px; background-color:#fcbf00; -moz-border-radius-topleft: 10px;
                            -moz-border-radius-topright: 0px;
                            -moz-border-radius-bottomright: 10px;
                            -moz-border-radius-bottomleft: 0px;
                            -webkit-border-radius: 10px 0px 10px 0px;
                            border-radius: 10px 0px 10px 0px; color:#000; margin-left:0px; text-align:center;">
                      <%= show_pay(@deal, price_info, 'newsletter') %>
                    </td>
                    <td width="10" height="70"></td>
                    <td valign="top" style="padding-top: 5px; list-style:none; width:80px; height:70px; background-color:#fcbf00; -moz-border-radius-topleft: 10px;
                            -moz-border-radius-topright: 0px;
                            -moz-border-radius-bottomright: 10px;
                            -moz-border-radius-bottomleft: 0px;
                            -webkit-border-radius: 10px 0px 10px 0px;
                            border-radius: 10px 0px 10px 0px; color:#000; margin-left:0px; text-align:center;">
                      <%= show_discount_email(@deal, price_info) %>
                    </td>
                    <td width="10" height="70"></td>
                    <td valign="top" style="padding-top: 5px;list-style:none; width:80px; height:70px; background-color:#fcbf00; -moz-border-radius-topleft: 10px;
                            -moz-border-radius-topright: 0px;
                            -moz-border-radius-bottomright: 10px;
                            -moz-border-radius-bottomleft: 0px;
                            -webkit-border-radius: 10px 0px 10px 0px;
                            border-radius: 10px 0px 10px 0px; color:#000; margin-left:0px; text-align:center;">
                      <%= show_save_email(@deal, price_info) %>
                    </td>
                    <td width="10" height="70"></td>
                    <td width="200" height="24" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color:#999; font-size:18px;">
                      <%= show_price_label_email(@deal, price_info) %>
                    </td>
                    <td width="228" height="35" valign="middle">
                      <a href="<%= location_deal_url(@deal.location, @deal) %>"><img src="<%= root_url %>images/newsletter/see-details-button.png" width="228" height="35" alt="View Details &amp; Buy"/></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td height="20">&nbsp;</td>
      </tr>
    </table>
    <% @deals = Deal.live.parent_deal.for(@deal.location.url).not_in([@deal.id]).order("created_at desc") %>
    <% if @deals.size > 0 %>
        <table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="40" colspan="2" align="left" valign="middle" bgcolor="4b082f" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color: #ff0060; font-size: 22px; letter-spacing: -1px; margin-bottom:15px; -moz-border-radius-topleft: 5px;
                    -moz-border-radius-topright: 5px;
                    -moz-border-radius-bottomright: 5px;
                    -moz-border-radius-bottomleft: 5px;
                    -webkit-border-radius: 5px 5px 5px 5px;
                    border-radius: 5px 5px 5px 5px; padding-left:10px;">
              <img src="<%= root_url %>images/newsletter/arrow.png" width="8" height="11" alt="More>>"/>&nbsp;Check more
              deal
              from akhoni.com
            </td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #929292; line-height: 18px;"><!-- START OF more deals Gallery Row 1 -->
              <table width="630" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20" colspan="3"></td>
                </tr>
                <% index = 0 %>
                <% @deals.each do |deal| %>
                    <% if index%2 == 0 %>
                        <tr>
                    <% end %>
                    <td width="300" valign="top">
                      <table width="100%">
                        <tr>
                          <td width="300" height="178" align="left" valign="top">
                            <img src="<%= root_url + "images/" + deal.pictures[0].data.url(:medium) if deal.pictures[0].present? %>" alt="<%= strip_tags(deal.title) %>" width="290" height="150" style="border:#F06 5px solid;"/>
                          </td>
                        </tr>
                        <tr>
                          <td width="300" height="30" align="left" valign="top">
                            <a href="<%= location_deal_url(deal.location, deal) %>" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color: #ff0060; font-size: 22px; letter-spacing: -1px;" target="_blank">
                              <%= strip_tags(deal.title) unless deal.title.nil? %>
                            </a></td>
                        </tr>
                        <tr>
                          <td width="300" height="2" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px;">
                            <%= strip_tags(deal.description) unless deal.description.nil? %>
                          </td>
                        </tr>
                        <tr>
                          <td width="300" height="54" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px;">
                            <a href="<%= location_deal_url(deal.location, deal) %>">
                              <img src="<%= root_url %>images/newsletter/chk-details-button.png" alt="Click Here To Check Details" width="129" height="27" border="0"/>
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <% if index%2 == 1 %>
                        </tr>
                    <% else %>
                        <td width="30" align="left" valign="top">&nbsp;</td>
                    <% end %>
                    <% index =index+1 %>
                <% end %>

                <% if index%2 == 1 %>
                    <td width="300" valign="top">
                      <table width="100%">
                        <tr>
                          <td width="300" height="178" align="left" valign="top">
                            <img src="<%= root_url %>images/newsletter/facebook-image.jpg" width="290" height="150" alt="Follow us on Facebook" style="border:#F06 5px solid;"/>
                          </td>
                        </tr>
                        <tr>
                          <td width="300" height="42" align="left" valign="top">
                            <a href="http://www.facebook.com/akhonioffers" target="_blank" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color: #ff0060; font-size: 22px; letter-spacing: -1px;">Be
                              a fan of Akhoni.com</a></td>
                        </tr>
                        <tr>
                          <td width="300" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px;">Click
                            on this link to see our facebook page, be a fan and stay connected with us to get regular
                            exclusive deals.
                          </td>
                        </tr>
                        <tr>
                          <td width="300" height="54" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; line-height: 18px;">&nbsp;</td>
                        </tr>
                      </table>
                    </td>
                <% end %>
                </tr>
              </table>
            </td>
          </tr>
        </table>
    <% end %>
<% end %>

<table width="630" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="20">&nbsp;</td>
  </tr>
  <tr>
    <td height="40" colspan="2" align="left" valign="middle" bgcolor="4b082f" style="font-family:'HelveticaRoundedLTBoldCnRg', Arial, Helvetica, sans-serif; color: #ff0060; font-size: 18px; letter-spacing: -1px; margin-bottom:15px; -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            -moz-border-radius-bottomright: 5px;
            -moz-border-radius-bottomleft: 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px; padding-left:10px;">
      <img src="<%= root_url %>images/newsletter/arrow.png" width="8" height="11" alt=">>"/>&nbsp;Refer your friend and
      get <%= Referral::CREDIT[:buy].to_i %> Tk. credit when they make their first purchase
    </td>
  </tr>
  <tr>
    <td style="padding-top: 5px;font-weight:bold;">
      Copy your unique referral link below & paste on any blog, message board etc.<br/>
      <input type="text" id="referral_link"
             value="http://akhoni.com/?ref=<%= @referral.code %>"
             style="border: 1px solid #C0C0C0;border-radius: 3px 3px 3px 3px;font-size: 11px;height: 18px;width: 610px;padding: 0px 5px;"/>
    </td>
  </tr>
  <tr>
    <td height="15"></td>
  </tr>
</table>