<% page_title "Reset Password" %>

<div class="title page-header">
  <h1><%= t("FORGOT_PASSWORD")%></h1>
</div>

<div class="form">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
      <%= devise_error_messages! %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <br/>
        <%= f.submit t("SEND_ME_PASSWORD_INSTRUCTION") %>
      </p>

      <p>
        <%= render :partial => "devise/shared/links" %>
      </p>
  <% end %>
</div>