<% page_title "Sign Up" %>

<div class="title page-header">
  <h1><%= t("SIGN_UP")%></h1>
</div>

<div class="form">
  <% resource.phone = resource.phone_without_country_code %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <p>
        <%= f.label :email %>

        <%= f.text_field :email %>

        <%= f.label :phone %>

        <%= f.text_field :phone, :class => 'phone', :autocomplete => "off" %>

        <%= f.label :password %>

        <%= f.password_field :password %>

        <%= f.label :password_confirmation %>

        <%= f.password_field :password_confirmation %> <br/>


        <%= f.check_box :blink_priyojon %>
         <%= t("BLINK_PRIYOJON")  %>

        <br/>

        <%= check_box_tag "agree", "1", false %>
        <% if I18n.locale == :bn %>
           <span class="terms" > আমি </span><%= link_to t("TERMS_OF_USE"), "/TermsOfUse", :class => 'terms' %><span class="terms"> তে একমত</span>
        <% else %>
            I agree to the <%= link_to t("TERMS_OF_USE"), "/TermsOfUse" %>
        <% end %>
        <br/>
        <%= f.submit t("SIGN_UP"), :disabled => 'disabled', :class => 'btn-submit' %>
      </p>

      <p>
        <%= render :partial => "devise/shared/links" %>
      </p>
  <% end %>
</div>
