<% page_title 'About akhoni.com' %>
<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">
  <h3>About akhoni</h3>

  <p>Greetings from akhoni.com Ltd!<br/>

  <p>akhoni.com is an online marketplace featuring discount deals with popular businesses like Internet services,
    Luxurious restaurants, Hotels, Transports, Beauty parlors, Fashion houses, Theme parks, Gymnasiums, Furniture shops,
    Sports & Recreation centers, etc. Our merchant partners offer discounts, date and time specific, on their products,
    and we promote that offer through activation campaigns, emails and sms and obviously our website. We currently have
    a database of around 1.5 lakh consumers which is growing every moment. End of the day, we provide consumers with
    quality and demandable products in cheap, and the businesses with a ton of customers.
    Businesses need customers & profit also, Customers need products but at low cost, AND (what we do?) WE SOLVE THE
    RIDDLE...</p>

  <h3>Our Mission</h3>

  <p>We increase sales of our merchants and create wonderful buying experience for our consumers. We create happiness
    for both our merchants and consumers.</p>
</div>