<% page_title 'About akhoni.com' %>
<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">
  <h3>এখনইকে জানুন</h3>

  <p>এখনই ডট কম লিমিটেডের পক্ষ থেকে আপনাকে স্বাগতম !<br/>

  <p>এখনই ডট কম একটি অনলাইন বাজার ব্যবস্থা। ইন্টারনেট সেবা, অভিজাত রেস্তরা, হোটেল, পরিবহন, বিউটি পার্লার, ফ্যাশন হাউজ,
    থিম পার্ক, জিমনেশিয়াম, আসবাব পত্রের দোকান, খেলাধুলা এবং বিনোদন কেন্দ্র, ইত্যাদি জনপ্রিয় ব্যবসা প্রতিষ্ঠানের পণ্য ও
    সেবা আকর্ষণীয় ছাড়ে ক্রেতার নাগালে পৌঁছে দেয়াই এখনি ডট কমের প্রধান কাজ। আমাদের মাধ্যমে আমাদের বাণিজ্যিক অংশীদারেরা
    নির্দিষ্ট সময়ের মাঝে বিভিন্ন ছাড়ে পণ্য এবং সেবা গ্রহণের জন্য আপনাকে আহ্বান করবে। এবং আমরা সেই আকর্ষণীয় প্রস্তাব
    গুলোকে আমাদের ওয়েব সাইটের কার্যকর প্রচারণা, ই-মেইল, এবং মোবাইল এসএমএসের মাধ্যমে আপনাদের কাছে তুলে ধরবে। বর্তমানে
    আমাদের কাছে দেড় লাখের উপরে ক্রেতার তথ্য সংরক্ষিত আছে, যার পরিমাণ প্রতি মুহূর্তে বাড়ছে। এই তথ্য সমূহ ব্যবহার করে আমরা
    ক্রেতার দোরগোড়ায় মানসম্মত সহজ লভ্য পণ্য ও সেবা সহজেই পৌঁছে দিতে সক্ষম হচ্ছি এবং একই সঙ্গে বিপুল পরিমাণ ক্রেতা
    সাধারণের সঙ্গে ব্যবসায়ীক লেনদেন সম্পন্ন করতে পারছি। ব্যবসায়ে ক্রেতা এবং লাভ এই দু’টাই দরকার, ভোক্তার প্রয়োজন পণ্য
    সেবা কিন্তু সবসময়ই তারা সেটা কমদামে পেতে চায়, কিন্তু ( এক্ষেত্রে করনীয় কী ?) আমরা সেই কঠিন ধাঁধারই সুন্দর একটা
    সমাধান বের করেছি....
  </p>

  <h3>আমাদের মিশন</h3>

  <p>আমরা আমাদের ব্যবসায়ীদের বিক্রি বাড়াই এবং ক্রেতা সাধারণের জন্য সুন্দর ও সুস্থ কেনাকাটার অভিজ্ঞতা তৈরী সৃজন করি।
    ব্যবসায়ী এবং ভোক্তা এই দু’য়ের মাঝে আনন্দময় একটি সেতুবন্ধ তৈরি করাই আমাদের লক্ষ্য।</p>
</div>