<style>
  .description {
      color: #444444;
      font-size: 16px;
  }
  <% if I18n.locale == :bn %>
  .bangla {
      font-family:'SolaimanLipi' !important;
  }
  <% end %>


</style>
<div style="text-align:center;">
<h1 class="bangla"><%= t("PAY_WITH_BKASH")%></h1>
  <p class="description bangla">
    <%= t("TO_PAY_EASILY_FROM_YOUR_MOBILE").html_safe %>

  </p>
  <p class="description bangla"  style="font-variant:small-caps;">
    <%= t("IF_YOU_ARE_ALREADY_A_REGISTERED_USER").html_safe %>

  </p>

  <%= image_tag "/images/bkash_instructions-#{I18n.locale}.png" %>

  <p class="description bangla"  style="font-variant:small-caps;">
    <%= t("CLICK_HERE_TO_KNOW_MORE_ABOUT_BAKSH_PAYMENT_PROCEDURE").html_safe %>
  </p>

</div>