<style type="text/css">
  a {
      color: #E70086;
  }

  a:hover {
      color: #5C0B3A;
  }
</style>
<div style="text-align: center; margin: 50px 50px; color: #555">
  <h1>Pay Cash on Coupon Delivery</h1>
  <p >
      If you don't have credit card, you can still avail the great discounts staying at your home.
      Just order for a coupon online and select the option <strong>"Pay Cash on Coupon Delivery"</strong>.
      For your convenience, we'll deliver the coupon to your home.
    </p>

  <p>Coupon/Product delivery facility is currently available only within Dhaka metropolitan area.</p>

  <p><%= link_to "See our How \"it works\" section", "/HowAkhoniWorks", :target => '_blank' %></p>

</div>