<% page_title 'Contact akhoni.com' %>
<div style="padding:0 5px 0 15px;">
  <h2 style="padding: 20px 0px 0px;">Contact Information</h2>
  <hr/>
  <div id="intro">Having trouble using Akhoni.com or want to discuss about a business deal? You can reach us using the information below.</div>
  <br />

  <table width="100%" cellspacing="5" >
    <tr>
      <td width="40" valign="top"><strong>Address</strong></td>
      <td valign="top"><strong>:</strong></td>
      <td valign="top">House No. 47 (3rd Floor), Road No. 6, Block C, Niketon Housing Society,<br /> Gulshan-1, 1212 Dhaka, Bangladesh<br /><br /></td>
    </tr>
    <tr>
      <td valign="top"><strong>E-mail</strong></td>
      <td valign="top"><strong>:</strong></td>
      <td valign="top"><a href="mailto:<%=h SITE_CONFIG['system_email']['contact']%>" style="font-weight: normal;"><%=h SITE_CONFIG['system_email']['contact']%></a><br /><br /></td>
    </tr>
    <tr>
      <td valign="top"><strong>Phone</strong></td>
      <td valign="top"><strong>:</strong></td>
      <td valign="top"><%=h SITE_CONFIG['office_phone']%><br/><%=h SITE_CONFIG['hotline_number']%></td>
    </tr>
  </table>
</div>