<% page_title 'Contact akhoni.com' %>
<div style="padding:0 5px 0 15px;">
  <h2 class="bd_contacts" style="padding: 20px 0px 0px;">যোগাযোগের তথ্য </h2>
  <hr/>
  <div id="intro">এখনি ডট কম সাইট ব্যবহারে সমস্যা হচ্ছে অথবা আপনি কি কোন বিজনেস ডিল নিয়ে কথা বলতে ইচ্ছুক ? তাহলে নিচের তথ্য ব্যবহার করে আপনি আমাদের কাছে পৌঁছে যেতে পারবেন।</div>
  <br />

  <table  width="100%" cellspacing="5" >
    <tr>
      <td class="bd_contacts" width="45" valign="top"><strong>ঠিকানা</strong></td>
      <td valign="top"><strong>:</strong></td>
      <td class="bd_contacts" valign="top">House No. 47 (3rd Floor), Road No. 6, Block C, Niketon Housing Society,<br /> Gulshan-1, 1212 Dhaka, Bangladesh<br /><br /></td>
    </tr>
    <tr>
      <td class="bd_contacts" valign="top"><strong>ই-মেইল</strong></td>
      <td valign="top"><strong>:</strong></td>
      <td valign="top"><a href="mailto:<%=h SITE_CONFIG['system_email']['contact']%>" style="font-weight: normal;"><%=h SITE_CONFIG['system_email']['contact']%></a><br /><br /></td>
    </tr>
    <tr>
      <td class="bd_contacts" valign="top"><strong>ফোন </strong></td>
      <td valign="top"><strong>:</strong></td>
      <td valign="top"><%=h SITE_CONFIG['office_phone']%><br/><%=h SITE_CONFIG['hotline_number']%></td>
    </tr>
  </table>
</div>