
<style>
  .description {
      color: #444444;
      font-size: 16px;
  }


</style>
<div style="text-align:center;">
    <%= image_tag "/images/pop_up_writing_for_credit-#{I18n.locale}.png", :border => 0 %>
</div>