<% page_title 'Decon Developments Limited' %>
<div class="title page-header">
  <h1> Decon Developments Limited </h1>
</div>

<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">

  <%= image_tag "/images/decon-banner.jpg", :alt => 'decon banner', :style =>'padding-left:35px' %>
  <br/>
  <%= image_tag "/images/decon.gif", :alt => 'decon', :style =>'padding-left:35px'%>
  <br/>  <br/>

  <p style="padding-left: 10px">Decon Developments Ltd. has already been working in various numbers of apartments, commercial and land projects
    in around Dhaka. Decon Developments Ltd. is not only to deliver apartment of schedule but also to maintain the highest-grade
    construction quality that has gained trust and respect in customer.</p>

  <p style="padding-left: 10px">Since inception, Decon Developments Ltd. has been actively contributing to the national economy by way of effective utilization
    of resources, using raw materials, production and marketing high quality products at the most competitive prices and creating
    employment opportunities.</p>

  <h3 style="padding-left: 10px">Contact : </h3>

  <p style="padding-left: 10px">
  DECON DEVELOPMENTS LIMITED<br/>
  House -43, Avenue - 5, Block-A,Section- 6,<br/>
  Mirpur,Dhaka-1216,<br/>
  Bangladesh<br/>
  Phone: 88-02-8060746, 8054289,<br/>
  Mobile: 01971000152, 01971000153<br/>
  E-mail: info@decon.com.bd<br/>
  For more information, please visit: <a href="http://decon.com.bd/" style="color:blue;" target="_blank">http://decon.com.bd</a><br/>
  Connect with us at facebook:  <a href="https://www.facebook.com/Decon.development" style="color:blue;" target="_blank" >https://www.facebook.com/Decon.development</a> </p>
</div>