<div class="digital-mind-main">
  <div class="heading">
    <%= image_tag('/images/top-banner.png') %>
  </div>
  <div class="digital-mind-left">


    <div class="digital-mind-left"><a href="#" title=""><%= image_tag('/images/grand-prize.png') %></a></div>

    <div class="digital-mind-left">
      <a href="#" title="educational books"><%= image_tag('/images/real-life-challenge.png') %></a></div>

    <div class="digital-mind-left">
      <a href="#" title="educational books"><%= image_tag('/images/grooming-session.png') %></a></div>
    <div class="digital-mind-left">
      <a href="#" title="educational books"><%= image_tag('/images/certificate.png') %></a>
    </div>


    <div style="clear: both;"></div>
    <div id="poll" style="padding: 20px 0 35px 0;">

        <% form_for '', :url => vote_url, :html => {:method => :get, :id => 'poll_form'} do |f| %>
            <% @polls.each do |poll| %>
                <strong style="margin-bottom: 10px;width: 585px;float: left;"><%= poll.question %></strong>
                <% poll.poll_options.each do |poll_option| %>
                    <% vote_casted = poll.vote_casted?(current_user) %>
                  <table style="clear: both;">
                    <tr>
                      <td>
                        <%= radio_button_tag("poll_options[#{poll.id}]", poll_option.id, false, :class => "vote_#{poll.id}", :disabled => vote_casted) %>
                      </td>
                      <td style="background: #EEEEEE;min-width: 360px" class="<%= !vote_casted ? 'active-poll-option' : '' %>">
                        <%= "#{poll_option.option}" %>
                      </td>
                      <td style="background: #EEEEEE;min-width: 60px;">
                        <%= poll_option.vote_count %> <%= poll_option.vote_count > 1 ? "votes" : "vote" %>
                      </td>
                    </tr>
                  </table>
                <% end %>
            <% end %>
        <% end %>

    </div>

  </div>
  <div class="digital-mind-content-full">

    <% if I18n.locale == :bn %>
        <style type="text/css">
            .digital-mind-content-full p {
                font-family: 'SolaimanLipi';
                font-size: 17px;
            }
        </style>
        <p>
          নিঃসন্দেহে আমরা ছুটে চলেছি এক ডিজিটাল বিপ্লবের মধ্য দিয়ে।কিন্তু ডিজিটাল যুগের বাসিন্দা হিসেবে আমরা কতটা
          প্রস্তুত?</p><br/>

        <p>বাংলাদেশে এই প্রথমবারের মত <%= link_to 'এখনই ডট কম', root_url %> আয়োজন করেছে ”এখনই ডট কম-ডিজিটাল মাইন্ড’
          শিরোনামের এক অনন্য
          প্রতিযোগীতার। </p><br/>

        <p>প্রতিযোগীতাটি অনুষ্ঠিত হবে ৩টি ধাপে।প্রথম ধাপে আমরা আপনার ইউনিভার্সিটিতে একটি সেমিনার এর আয়োজন করবো।সেমিনারে
          বর্তমান ডিজিটাল দুনিয়া এবং প্রতিযোগীতা সম্পর্কে বিস্তারিত আলোচনা করা হবে। সেমিনার শেষে একটি সংক্ষিপ্ত পরীক্ষা
          নেয়া হবে। </p><br/>

        <p>ছাত্র-ছাত্রীদেরকে তাদের জীবন বৃত্তান্ত সংগে নিয়ে আসার জন্য বিশেষভাবে অনুরোধ করা হচ্ছে। পরীক্ষার নম্বর ও জীবন
          বৃত্তান্ত বাছাইয়ের মাধ্যমে প্রতি ইউনিভার্সিটি থেকে ৫ জনের একটি দল মনোনীত করা হবে।</p><br/>

        <p>দ্বিতীয় ধাপে, এই ৫ জনের দলকে একটি সংক্ষিপ্ত প্রশিক্ষণের মধ্যে দিয়ে যেতে হবে।বর্তমানে দেশের সফল ডিজিটাল গুরুরা
          এই প্রশিক্ষণ দেবেন।প্রশিক্ষণ শেষে প্রতিযোগীরা নিজ নিজ ইউনিভার্সিটিতে বিভিন্নভাবে প্রচার প্রচারণা চালাবেন এবং
          কিভাবে বাংলাদেশে একটি সফল ই-কমার্স ব্যবসায়কে জনপ্রিয় করা যায় সে ব্যাপারে কাজ করবেন। </p><br/>

        <p>তৃতীয় ধাপে প্রতিযোগীদের নিয়ে একটি ফাইনাল গালা রাউন্ড অনুষ্ঠিত হবে।এতে প্রতিযোগীরা দেশের সফল মার্কেটিং এবং
          এ্যাডভার্টাইজিং গুরুদের সামনে প্রেজেন্টেশন করবেন।বিজয়ী দলকে ক্রেস্ট, সার্টিফিকেট, আকর্ষনীয় উপহার এবং শীর্ষ
          কোম্পানীগুলোতে ইন্টার্নশীপ সাপোর্ট এর সুযোগ দেয়া হবে।</p><br/>

        <p>যে কোন বিভাগের ছাত্র-ছাত্রীরাই সেমিনার এ অংশ নিতে পারবেন। প্রতিযোগীতার ব্যাপারে যে কোন তথ্যের জন্য 01198 00
          87 80 এই নম্বরে ফোন করুন।</p>
    <% end %>
    <% if I18n.locale == :en %>
        <p>
          There is no doubt that we are going through a DIGITAL revolution. So, as a proud citizen of Digital World, ARE
          WE READY...??
        </p>
        <br/>

        <p>
          <%= link_to 'Akhoni.com', root_url %> brings this opportunity first time in Bangladesh to explore the world of
          digital marketing for our future marketers. We have arranged an Inter University Digital Marketing Contest
          titled Akhoni.com- Digital Mind 2012.
        </p>
        <br/>

        <p>
          The contest will run in 3 phases. In phase 1, we will arrange a seminar in your university. The seminar will
          cover topics such as digital marketing trends and details about the contest. After the seminar, there will be
          a short written test. Students are requested to bring their CVs to sit for the test. 5 students from each
          university will be selected based on the test result and CV screening.
        </p>
        <br/>

        <p>
          In phase 2, these 5 students from each university will form a group and will be provided a short grooming
          session conducted by Industry experts on Digital Marketing. After the grooming session, students will run
          campaign in the university as well as online and will show their effort about popularizing eCommerce in
          Bangladesh.
        </p>
        <br/>

        <p>
          In phase 3, there will be a FINAL GALA round in which participants will make a presentation in front of the
          judges. Marketing and Advertising Leaders and Gurus of the industry will be present as judges. The winners
          will get crests, certificates, attractive gifts and support in getting internships in top companies
        </p>
        <br/>

        <p>
          Students from all disciplines are encouraged to join the seminar. For more info, please call us on
          01198 00 87 80
        </p>
        <br/>
    <% end %>

  </div>

</div>