<% page_title t('HOW_AKHONI_WORKS') %>
<div class="terms">
  <h1 class="page_title" style="width:600px">How Akhoni.com works?</h1>
  <!--a style="width:50px;float:right;font-weight:bold;color:#5C0B3A;font-size:18px" href="<%#= root_url %>HowAkhoniWorks?locale=bn">বাংলা</a-->

  <div class="page_subtitle" style="margin: 0.5em 0.5 1em 0em;"><p>
    Akhoni offers discounts upto 90% in your city on popular businesses like Dining, Travel, Entertainment, Movies, Spa,
    Healthcare services, Fitness centers, Beauty parlors and lot more
  </p></div>
  <%= image_tag 'how_it_works_discount.gif', :width => 685 %>
  <dl class="help_section">
    <dt>Step One: <span>Sign Up</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;"><%= image_tag 'subscribe.png' %></td>
          <td>
            Sign up with Akhoni.com to get crazy discount notifications right in your email inbox.
            Sign up FREE <%= link_to "here", new_user_registration_path %>.
          </td>
        </tr>
      </table>
    </dd>
    <dt>Step Two: <span>Buy and Receive Coupon</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;">
            <br/>
            <%= image_tag 'buy_now.png' %>
            <br/><br/>
            <%= image_tag 'voucher.png' %>
          </td>
          <td>
            <ul style="margin: 0px 0px 0px -20px; ">
              <li>To purchase a deal, click on <b>“View details & Buy”</b> / <b>“Buy Now”</b> button.</li>
              <li><b>"Instant Pay"</b> Option: Safely pay with your Visa/ MasterCard/ DBBL Nexus card and from mobile phone through bKash. You’ll receive your coupon instantly in your email inbox and on your mobile phone through sms.

              </li>
              <li><b>"Pay on Coupon Delivery"</b> Option: Click "Pay cash on coupon delivery" if you
                want to pay later. This option lets you pay when you receive the coupon from our
                delivery men at your home or at your preferred location. There is NO additional
                charge for the delivery of coupon - pay only for the coupon.
              </li>
              <li><b>"Collect from Akhoni.com Office"</b> Option: You can also collect your coupon
                from Akhoni.com office [House No. 47 (3rd Floor), Road No. 6, Block C, Niketon Housing Society, Gulshan-1, 1212 Dhaka, Bangladesh] and pay there.
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </dd>
    <dt>Step Three: <span>Show Coupon</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;">
            <br/>
            <%= image_tag 'merchant.png' %>
          </td>
          <td>Show your coupon to the merchant at his/her outlet and enjoy the discount.</td>
        </tr>
      </table>
    </dd>
  </dl>
</div>
