<% page_title t('HOW_AKHONI_WORKS') %>
<div class="terms">
  <h1 class="page_title" style="width:585px">এখনই ডট কম আপনার জন্য কী করছে ?</h1>
  <!--a style="width:65px;float:right;font-weight:bold;color:#5C0B3A;font-size:14px;margin-top:10px" href="<%#= root_url %>HowAkhoniWorks?locale=en">English</a-->

  <div class="page_subtitle" style="margin: 0.5em 0.5 1em 0em;"><p>
    এখনই ডট কম ডাইনিং, ভ্রমণ, চিত্তবিনোদন, সিনেমা, স্পা, স্বাস্থ্যসেবা, ফিটনেস সেন্টার, বিউটি পার্লার এবং শহরের আরো অনেক
    জনপ্রিয় ব্যবসা প্রতিষ্ঠানের পণ্য এবং সেবা সমূহের ৯০ ভাগ পর্যন্ত ছাড় আপনার হাতের নাগালে এনে দিচ্ছে।
  </p></div>
  <%= image_tag 'how_it_works_discount.gif', :width => 685 %>
  <dl class="help_section">
    <dt>প্রথম ধাপ: <span> সাইন আপ/ নিবন্ধন করুন</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;"><%= image_tag 'subscribe.png' %></td>
          <td>

            আপনার ই-মেইল ইনবক্সে আকর্ষণীয় সব ছাড়ের খবর পেতে এখনই ডট কম এ সাইন আপ/ নিবন্ধন করুন। সাইনআপ/ নিবন্ধন সম্পূর্ণ
            <b style="font-size:18px;font-weight:bold;">ফ্রি</b> <%= link_to "এখানে", new_user_registration_path %>.
          </td>
        </tr>
      </table>
    </dd>
    <dt>দ্বিতীয় ধাপ: <span>কুপন কেনা ও গ্রহণ করা ( এখনি কিনুন )</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;">
            <br/>
            <%= image_tag 'buy_now.png' %>
            <br/><br/>
            <%= image_tag 'voucher.png' %>
          </td>
          <td>
            <ul style="margin: 0px 0px 0px -20px; ">
              <li>কোন একটি ডিল কেনার জন্য “বিস্তারিত দেখে কিনুন” এবং “কিনুন” বোতামে ক্লিক করুন।</li>
              <li>“ইনস্ট্যান্ট পে বা এখনি পরিশোধ” এই অপশনে আপনার ভিসা কার্ড/ মাস্টার কার্ড/ ডিবিবিএল নেক্সাস কার্ড এবং
                বিক্যাশ এর মাধ্যমে নিরাপদে মূল্য পরিশোধ করতে পারেন। সঙ্গে সঙ্গে আপনার ই-মেইল ইনবক্স এবং মোবাইলে এসএমএসের
                মাধ্যমে কুপন পৌঁছে যাবে।
              </li>
              <li>কুপন হাতে পাবার পর মূল্য পরিশোধ করতে চাইলে “পে অন কুপন ডেলিভারি বা কুপন হাতে পাবার পর টাকা দিন” এই
                অপশনটিতে ক্লিক করে আপনি “কুপন হাতে পাবার পর মূল্য পরিশোধের সুযোগ পাবেন। এই অপশনের মাধ্যমে আপনি ঘরে বসে
                বা আপনার কাঙ্ক্ষিত ঠিকানায় সরবরাহকারীর হাত থেকে কুপন বুঝে পাবার সময় হাতে হাতে কুপনের দাম দেবার সুযোগ
                পাবেন। এ ক্ষেত্রে অতিরিক্ত কোন চার্জ দিতে হবে না-কেবল মাত্র কুপনে উল্লেখিত টাকা পরিশোধ করতে হবে।
              </li>
              <li>“এখনই ডট কম অফিস থেকে সংগ্রহ করুন” এই অপশনটি বেছে নিয়ে আপনি এখনই ডট কম এর অফিস ঠিকানা [৮, গুলশান সাউথ
                এভিনিউ, ইউনিট-এস৩, গুলশান-১, ঢাকা-১২১২] এসে মূল্য পরিশোধ করে কুপন সংগ্রহ করতে পারেন।
              </li>
            </ul>
          </td>
        </tr>
      </table>
    </dd>
    <dt>তৃতীয় ধাপ: <span>কুপন দেখান</span></dt>
    <dd>
      <table width="100%">
        <tr>
          <td style="width: 150px;">
            <br/>
            <%= image_tag 'merchant.png' %>
          </td>
          <td>নির্দিষ্ট ব্যবসায়ীক আউটলেটে কুপন দেখিয়ে ছাড় উপভোগ করুন।</td>
        </tr>
      </table>
    </dd>
  </dl>
</div>
