<% page_title 'Join the akhoni.com Team - Careers' %>
<h1 class="deal_title" style="padding-bottom: 10px;">এখনি ডট কমের মাধ্যমে ক্যারিয়ার গড়ে তোলার সুযোগ</h1>
<div class="main_deal_description" style="clear:both;">
  <p class="career_text">প্রিয় পদপ্রার্থী ভাই বোনেরা, আমারা আমাদের যোগাযোগ বিস্তৃত করে আরো সুদূরপ্রসারী ও বড় ধরনের
    ব্যবসায়ী নেটওয়ার্ক গড়ে তুলতে আগ্রহী। তাই আপনি যদি নিজেকে এই ধরনের অসাধারণ কাজের সঙ্গে যুক্ত করতে আগ্রহী হন এবং
    নিজেকে <span>"মার্কেটিং"</span> অথবা <span>"সফটওয়্যার প্রোগ্রামিং"</span> এ যথেষ্ট যোগ্য হিসেবে বিবেচনা করেন সেক্ষেত্রে আপনার জন্য আমাদের এই
    আনন্দময় ব্রাউজিং অফিসে চাকুরীর ব্যবস্থা রয়েছে ! ওয়েব বিশ্ব নিয়ে আপনার মাঝে সুপ্ত সব ধরনের সম্ভাবনা কাজে লাগাতে আপনার
    অভিজ্ঞতাকে বিকশিত করতে নিচে চোখ রাখুন
  </p>
</div>
<img class="deal" src="images/career.jpg" width="662" height="300">
<div class="main_deal_wrap">
  <h2 class="steps">Following positions are available:</h2>
  <ul class="career_links">
    <li><a href="#steps1">Business Development Executive (Corporate)</a></li>
    <li><a href="#steps2">Business Development Manager</a></li>
    <li><a href="#steps3">Senior Software Engineer</a></li>
    <li><a href="#steps4">Software Engineer</a></li>
    <li><a href="#steps5">Jr. Software Engineer</a></li>
    <li><a href="#steps6">Graphic Designer</a></li>

  </ul>

  <h2 class="step" id="steps1">Position: <span>Business Development Executive (Corporate)</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
    <li>Presenting and Selling Akhoni.com services to our current and prospective clients.</li>
    <li>Responsible for managing client relationships.</li>
    <li>Meeting aggressive sales target.</li>
    <li>Regular follow up to the clients</li>

  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li>Marketing and Sales knowledge</li>
    <li>Excellent interpersonal communication skills.</li>
    <li>Energetic, presentable, dynamic and innovative.</li>
    <li>Ready to take up challenges</li>
    <li>Aptitude for technology and willingness to update knowledge on a continuous basis are essential
      requirements.
    </li>
    <li>Capability of convincing.</li>

    <li>Strong negotiation skill.</li>
    <li>A great communicator, written and verbal; both English & Bengali.</li>
    <li>Able to work with minimal supervision while maintaining focus and productivity.</li>


  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>Bachelor in Marketing, Business Administration or Mathematics.</li>
  </ul>

  <h4 class="qualification">Experience Requirements:</h4>
  <ul class="requirements">
    <li>Relevant experience of sales or marketing will be valued.</li>
  </ul>
  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h4 class="qualification">Job Location:</h4>
  <ul class="requirements">
    <li>Dhaka and Chittagong</li>

  </ul>
  <h5 class="drop_resume">Interested? Send your resume to
    <span><%= h SITE_CONFIG['system_email']['employment'] %></span></h5>
  <!--Business Development Executive section ends here-->
  <div class="line_hor"></div>
</div>
<!--main deal wrap ends here-->

<div class="main_deal_wrap">

  <h2 class="step" id="steps2">Position: <span>Business Development Manager</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
    <li>Managing Business Development team</li>
    <li>Sales target achievement monitoring and controlling.</li>
    <li>Develop relation with different valuable and respectable corporate bodies to develop sales.</li>
    <li>Prepare corporate sales activity plan with guidance of the management for sales development.</li>
    <li>Responsible for new business development and try to maximize company growth.</li>
    <li>Involved in the complete business cycle of marketing, required to handle opportunity sourcing
      negotiating and deal closing.
    </li>

  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li>Marketing and Sales knowledge</li>
    <li>Excellent interpersonal communication skills.</li>
    <li>Energetic, presentable, dynamic and innovative.</li>
    <li>Ready to take up challenges</li>
    <li>Aptitude for technology and willingness to update knowledge on a continuous basis are essential
      requirements.
    </li>


    <li>Strong leadership quality and negotiation skills.</li>
    <li>A great communicator, written and verbal; both English & Bengali.</li>
    <li>Able to work with minimal supervision while maintaining focus and productivity.</li>


  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>Masters/ MBA in Marketing, Business Administration or Mathematics.</li>
  </ul>

  <h4 class="qualification">Experience Requirements:</h4>
  <ul class="requirements">
    <li>3 to 5 years experience of sales, marketing, business development or new project development.</li>
    <li>Qualification may be relaxed for experienced deserving candidate.</li>
  </ul>
  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h4 class="qualification">Job Location:</h4>
  <ul class="requirements">
    <li>Dhaka and Chittagong</li>

  </ul>
  <h5 class="drop_resume">Interested? Send your resume to
    <span><%= h SITE_CONFIG['system_email']['employment'] %></span></h5>

  <div class="line_hor"></div>
  <!--Business Development Manager section ends here-->
</div>



<div class="main_deal_wrap">

  <h2 class="step" id="steps3">Position: <span>Senior Software Engineer</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
    <li>Java SE and Java EE</li>
    <li>Experience in web development in any of these languages: PHP, Python, or Ruby</li>
    <li>Must have practiced Object Oriented Design and applied design patterns while coding.</li>
    <li>Must be an expert in HTML and CSS and practice liquid web layout.</li>
    <li>Experience in writing JavaScript and have used any of these javaScript libraries: jQuery, YUI, ExtJS</li>
    <li>Capable of writing complex SQL queries and do query optimization for MySQL or PostgreSQL.</li>
    <li>Experience in test driven development will be an added advantage.</li>

  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li>At least 5 years experience in developing web application.</li>
    <li>Ability to learn quickly.</li>
    <li>Ability to work in a team. Participate in technical discussion and decision making.</li>
    <li>Familiar with more than one MVC frameworks and their comparative advantages/disadvantages.</li>
    <li>Contribution to the open source community will be considered as an added advantage.</li>


  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>BSc. in Computer Science from any reputed university.</li>
  </ul>

  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Training on New Technology at both home and abroad</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h5 class="drop_resume">Interested? Send your resume to
    <span><%= h SITE_CONFIG['system_email']['employment'] %></span></h5>

  <div class="line_hor"></div>
</div>

<div class="main_deal_wrap">

  <h2 class="step" id="steps4">Position: <span>Software Engineer</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
    <li>Java SE and Java EE</li>
    <li>Experience in web development in any of these languages: PHP, Python, or Ruby</li>
    <li>Must have practiced Object Oriented Design and applied design patterns while coding.</li>
    <li>Must be an expert in HTML and CSS and practice liquid web layout.</li>
    <li>Experience in writing JavaScript and have used any of these javaScript libraries: jQuery, YUI, ExtJS</li>
    <li>Capable of writing complex SQL queries and do query optimization for MySQL or PostgreSQL.</li>
    <li>Experience in test driven development will be an added advantage.</li>

  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li>At least 1 year full time or 2 years part time experience in developing web application.</li>
    <li>Ability to learn quickly.</li>
    <li>Ability to work in a team. Participate in technical discussion and decision making.</li>
    <li>Familiar with more than one MVC frameworks and their comparative advantages/disadvantages.</li>
    <li>Contribution to the open source community will be considered as an added advantage.</li>


  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>BSc. in Computer Science from any reputed university.</li>
  </ul>

  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Training on New Technology at both home and abroad</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h5 class="drop_resume">Interested? Send your resume to
    <span><%= h SITE_CONFIG['system_email']['employment'] %></span></h5>

  <div class="line_hor"></div>
</div>

<div class="main_deal_wrap">

  <h2 class="step" id="steps5">Position: <span>Jr. Software Engineer</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
    <li>Fresh graduates are encouraged to apply</li>
    <li>Moderately skilled with the following languages C, C++, PHP, Java or .NET</li>
    <li>Must have clear concept about Object Oriented Programming</li>
    <li>Familiar with HTML and CSS and Javascript or JQuery</li>
    <li>Capable of writing complex SQL queries and do query optimization for MySQL or MS SQL Server.</li>
  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li>Ability to learn quickly.</li>
    <li>Ability to work in a team. Participate in technical discussion and decision making.</li>
    <li>Familiar with MVC frameworks and their comparative advantages/disadvantages.</li>
    <li>Contribution to the open source community will be considered as an added advantage.</li>
  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>BSc. in Computer Science from any reputed university.</li>
  </ul>

  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Training on New Technology at both home and abroad</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h5 class="drop_resume">Interested? Send your resume to <span><%=h SITE_CONFIG['system_email']['employment']%></span></h5>

  <div class="line_hor"></div>
</div>

<div class="main_deal_wrap">

  <h2 class="step" id="steps6">Position: <span>Graphic Designer</span></h2>

  <h4 class="qualification">Job Requirements:</h4>
  <ul class="requirements">
        <li>Creating websites, logos, icons, web banners images, online ads.</li>
        <li>Solid understanding of Web development and Printing.</li>
        <li>Should design and create graphics according to the guideline and instructions.</li>
        <li>Expert in Adobe Photoshop and Adobe Illustrator.</li>
        <li>Design GUI for web application.</li>
        <li>Moderately skilled about HTML,CSS.</li>
  </ul>

  <h4 class="qualification">Additional Requirements:</h4>
  <ul class="requirements">
    <li> At least 2 years experience in graphic designer.</li>
    <li> Ability to learn quickly.</li>
    <li> Ability to work in a team.</li>


  </ul>
  <h4 class="qualification">Educational Requirements:</h4>
  <ul class="requirements">
    <li>Bachelor from any reputed university. .</li>
  </ul>

  <h4 class="qualification">Salary Range:</h4>
  <ul class="requirements">
    <li>Very Attractive and Competitive Salary and Benefits.</li>
  </ul>
  <h4 class="qualification">Other Benefits:</h4>
  <ul class="requirements">
    <li>Excellent Career Opportunity</li>
    <li>Training on New Technology at both home and abroad</li>
    <li>Flexible, friendly and fun work environment</li>
  </ul>

  <h5 class="drop_resume">Interested? Send your resume to <span><%=h SITE_CONFIG['system_email']['employment']%></span></h5>

  <div class="line_hor"></div>
</div>


