<% page_title "The page you were looking for doesn't exist (404)" %>

<div class="message-dialog">
  <h1 class="error">The page you were looking for doesn't exist.</h1>

  <p>You may have mistyped the address or the page may have moved.</p>
</div>
