<% page_title "Press Coverage - Akhoni.com" %>

<div class="title page-header">
  <h1><%= t("PRESS_COVERAGE") %></h1>
</div>



<div class="press-release">
  <br/><br/>
  <% @presses.each do |press| %>
      <!--New div Start -->
      <div class="news-box">

        <div class="press-l">
          <div class="press-head">
            <a href="<%= press.url %>" target="_blank">
              <span class="news-title"><%= h press.title %></span>
            </a>

          </div>
          <div class="press-txt"><%= h press.description %></div>

        </div>

        <div class="press-left">
          <div class="date"><%= show_date(press.published_at) %></div>
          <div class="img">
            <%= image_tag press.logo.url(:medium) %>
          </div>
        </div>
      </div>
  <% end %>
  <div style="clear: both;"></div>
  <%= will_paginate @presses %>
</div>

