<% page_title 'Privacy Policy - Akhoni' %>

<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">
  <h3>Privacy Policy</h3>
  <p>This Privacy Statement (<strong>“Privacy Statement”</strong>) clarifies how Akhoni.com uses personal information.
  </p>
  <strong style="font-size: 13px">1. Types of Personal Information We Collect</strong>
  <p>
    Personal Information is information that can be used to identify, locate, or contact an individual.
    It also includes other information that may be associated with Personal Information. We collect the following
    types of Personal Information:
  </p>
  <p><strong>Contact Information</strong> that allows us to communicate with you, such as your name,
    postal addresses, email addresses, social media website user account names, telephone numbers, or other addresses
    at which you receive communications from or on behalf of Akhoni.
  </p>

  <p><strong>Transaction Information</strong> about how you purchase and redeem
    </p>

  <p><strong>Financial Account Information</strong> as needed to process payments for Akhoni.com
    that you buy, such as your credit or debit card number, expiration date.
    </p>

  <strong style="font-size: 13px">2. How Akhoni.com Collects Personal Information</strong>
  <p>We ask you for Personal Information when you register, subscribe, create an
    account, order a deal, or otherwise interact with the Sites or contact.</p>

  <strong style="font-size: 13px">3. How Akhoni.com Uses Personal Information</strong>
  <p>
    <ul>
      <li>Operate and improve our Sites</li>
      <li>Provide customers with offers for products and services</li>
      <li>Process orders, including purchase and redemption</li>
      <li>Track redemption of order and perform other analytics</li>
      <li>Provide customer support, including to our merchants or business partners</li>
      <li>Fulfill requests for services</li>
      <li>Communicate and provide additional information that may be of interest to you, such as news, special offers and coupons, announcements, and marketing materials</li>
      <li>Send you reminders, technical notices, updates, security alerts and support and administrative messages service bulletins, or marketing</li>
      <li>Provide advertisements to you through the Sites, email messages, text messages, applications, or other methods of communication</li>
      <li>Administer surveys, sweepstakes, contests, or other promotional activities or events sponsored by us or our partners</li>
      <li>Allow you to apply for a job, post a video or sign up for special offers from third parties through the Site</li>
    </ul>
  </p>

  <strong style="font-size: 13px">4. When Akhoni.com Discloses Personal Information</strong>
  <p>We will not disclose your Personal Information to third parties.</p>

  <strong style="font-size: 13px">5. Accessing and Correcting Personal Information</strong>
    <p>You may correct your information by signing in your account. Or you may also email to info@akhoni.com.
      If you want to close your account or have other questions or requests, please contact us <a target="_blank" style="color: blue;" href="http://akhoni.com/ContactUs">here</a>. </p>


</div>