<style>
    .description {
        color: #5C0B3A;
        font-size: 14px;
    }
</style>

<div style="text-align:center;">
  <h1 style="font-size:15pt">Special offer at Bellagio only for Akhoni.com users!</h1>
  <%= image_tag  'blogo_black.jpg' %>
   <img height="143px" width="350px" src=" /images/bel.jpg">

  <p class="description">
   Akhoni.com presents a very special offer at Bellagio, the most exclusive and posh restaurant in Dhaka. Have the finest meal of Tk. 2,277 value at Tk. 1,500 only!
  </p>

  <p style="font-variant:small-caps;color:#444;"><em>
    <h3 style="font-variant:small-caps;font-size:14pt">YOU CAN’T AFFORD TO MISS IT!</h3></em></p>
</div>