<% page_title 'Terms of Use - Akhoni' %>
<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">
  <h3>General</h3>

  <p>
    Akhoni.com is an online marketplace featuring discount deals with popular businesses like Internet services,
    Restaurants, Hotels, Transports, Beauty parlors & Saloons, Fashion houses, Theme parks, Gymnasiums, Furniture shops,
    Sports & Recreation centers, etc. Our merchant partners offer discounts, date and time specific, on their products,
    and we promote that offer through activation campaigns, emails and sms and obviously our website
  </p>

  <p>
    Please review the following carefully, by using the site and Akhoni.com service you are agreeing to these terms:
  </p>

  <h2 style="text-align: center;">Terms and conditions</h2>

  <div>
    <h3>For Users</h3>
    <ul>
      <li>Provide actual information while creating your user ID.
      <li> You are solely responsible for your User ID and the activity that occurs while signed in to or while using
        Akhoni.com using your User ID.
      <li> You will not use Akhoni.com to collect any personally identifiable information, including account names,
        email addresses, or other such information, for commercial purposes.
      <li> When you register, you will obtain unique log-in credentials (a “User ID”). Access to Akhoni.com and Services
        is not authorized by any other person or entity using your User ID and you are responsible for preventing such
        unauthorized use. Please notify us immediately if you become aware that your User ID is being used without
        authorization.
      <li> Each Deal has specific terms associated with the Deal, which will be presented to you at the time you commit
        to purchase the particular Deal.
      <li> No cash value for any Voucher.
      <li> No cash back will be issued for partial redemption of the paid portion of a Voucher, except as required by
        law.
      <li> No cash back or credit will be issued for partial redemption of the promotional portion of a Voucher.
      <li> Vouchers cannot be combined with any other coupons or promotions unless otherwise noted in the Voucher.
      <li> Neither Akhoini.com nor the Merchant is responsible for lost or stolen Vouchers or Voucher reference numbers.
      <li> Duplicate use, sale or trade of a Voucher is prohibited.
      <li> Keep your voucher safe from getting stolen or duplicated. In case of loss or duplication, merchant will
        provide service to the first person who submits the coupon.
    </ul>
  </div>

  <p>
    We have the right to determine whether any of your Content submissions are appropriate and comply with these Terms
    of Service, remove any and/or all of your submissions, and terminate your account with or without prior notice.
  </p>


  <h3>For Merchants</h3>

  <p>To be clear, Akhoni.com markets the Deals and acts an as agent in selling the Vouchers on behalf of the Merchants.
    But the Merchant is the issuer of the Voucher. As issuer of the Voucher, the Merchant shall be fully responsible for
    any and all injuries, illnesses, damages, claims, liabilities and costs suffered by or in respect of a customer,
    caused in whole or in part by the Merchant or its products and services, as well as for any unclaimed property
    liability arising from unredeemed or partially redeemed Vouchers. By purchasing a Deal, a customer acquires the
    right to print a Voucher issued by the participating Merchant and to use the Voucher according to its terms and the
    terms of this Agreement. Whether you choose to print and/or redeem the Voucher is within your sole control and at
    your sole discretion.</p>
</div>