<% page_title 'Terms of Use - Akhoni' %>
<div class="terms" style="padding: 10px 0 0 10px; width: 675px;">
  <h3>সাধারণ নিয়মাবলী</h3>

  <p>
    এখনই ডট কম একটি অনলাইন কেনাকাটার স্থান। এই সাইটে ইন্টারনেট সার্ভিস, হোটেল, রেস্টুরেন্ট, পরিবহন, বিউটি পার্লার এবং
    সেলুন, ফ্যাশন হাউজ সমূহ, থিম পার্ক, জিমনেশিয়াম, ফার্নিচার এবং খেলাধুলার উপকরণ বিক্রির দোকান এবং রিক্রিয়েশন সেন্টার
    ইত্যাদি সহ বিভিন্ন পণ্য ও সেবায় আকর্ষণীয় ছাড়ের কুপন সরবরাহ করা হয়। সাইটটিতে আমাদের ব্যবসায়ী অংশীদার গণ নির্দিষ্ট
    তারিখ এবং সময় উল্লেখ করে তাদের পণ্য ও সেবার আকর্ষণীয় ছাড় ঘোষণা করেনএবং আমরা সেই ঘোষণাকে একাধারে আমাদের সাইট সহ
    বিভিন্ন সামাজিক যোগাযোগের সাইটে এবং ইমেইল, এসএমএস এর মাধ্যমে প্রচার করে থাকি।
  </p>

  <p>
    দয়াকরে নিচের অংশটুকু ভালো করে পড়ুন, এই সাইট এবং এখনই ডট কম এর সেবা পেতে আপনাকে নিচের নিয়মাবলী গুলোর সঙ্গে একমত পোষণ
    করতে হবে।
  </p>

  <h2 style="text-align: center;">শর্তাবলী</h2>

  <div>
    <h3>ব্যবহারকারীদের জন্য</h3>
    <ul>
      <li>ইউজার আইডি তৈরি করার সময় সঠিক তথ্য প্রদান করতে হবে।</li>
      <li>আপনার ইউজার আইডি এবং এখনই ডট কম এ আপনার এই ইউজার আইডির সব ধরনের কর্মকাণ্ডের দায়ভার আপনাকেই বহন করতে হবে।</li>
      <li>ব্যবসায়ীক উদ্দেশ্যে একাউন্ট নাম, ই-মেইল ঠিকানা, অথবা এ ধরনের কোন তথ্য ব্যক্তিগত তথ্য সংগ্রহের জন্য আপনি এখনই
        ডট কম কে ব্যবহার করতে পারবেন না।
      </li>
      <li>নিবন্ধন করার সঙ্গে সঙ্গে আপনাকে সম্পূর্ণ আলাদা একটি নাম তথা “ইউজার আইডি” প্রদান করা হবে। আপনার এই আইডি ব্যবহার
        করে অন্য কারো জন্যে এখনি ডট কমে প্রবেশ এবং এর সেবা গ্রহণ অনুমোদিত নয়। এই ধরনের অননুমোদিত ব্যবহার প্রতিরোধে আপনিই
        দায়ী থাকবেন। আপনার অগোচরে এই ইউজার আইডি অন্য কেউ ব্যবহার করছে, এটা টের পাওয়ার সঙ্গে সঙ্গে আমাদের অবহিত করুন।
      </li>
      <li>প্রতিটি ডিলের সঙ্গে নির্দিষ্ট নিয়মাবলী সম্পর্কযুক্ত, ডিলটি কেনার সময়ই আপনাকে তা অবহিত করা হবে।</li>
      <li>কোন কুপনের নগদ মূল্য নেই।</li>
      <li>আইনি বাধ্যবাধকতা ছাড়া কোন ভাবেই রসিদের পরিশোধিত অংশের আংশিক ছাড়ের মূল্য ফেরত দেওয়া হবে না।</li>
      <li>আইনি বাধ্যবাধকতা ছাড়া কোন ক্রমেই রসিদের বিপণন অংশের আংশিক ছাড়ের মূল্য ফেরত দেওয়া হবে না।</li>
      <li>রসিদে উল্লেখ না থাকলে কোন ভাবেই কোন কুপন অথবা বিপণনকে রসিদের সাথে একত্রিত করা যাবেনা।</li>
      <li>হারানো অথবা চুরি যাওয়া রসিদ অথবা রসিদের সূত্র নম্বরের জন্য এখনই ডট কম বা পণ্য ও সেবা প্রদানকারী বাণিজ্যিক
        প্রতিষ্ঠান দায়ী থাকবে না।
      </li>
      <li>রসিদ একের অধিক বার ব্যবহার, বিক্রয় অথবা ব্যবসায়ীক উদ্দেশ্যে ব্যবহার করা যাবেনা।</li>
      <li>আপনার রসিদ যাতে নকল বা হারিয়ে না যায় সেদিকে খেয়াল রাখুন। কোন কারণে হারিয়ে গেলে বা নকল হলে পণ্য ও সেবা
        প্রদানকারী বাণিজ্যিক প্রতিষ্ঠান সর্ব প্রথম কুপন উপস্থাপনকারীকেই সেবা প্রদান করবে।
      </li>
    </ul>
  </div>

  <p>
    কোন ধরনের আগাম সতর্কীকরণ ছাড়াই, আপনার সম্মতি প্রদান সঠিক হয়েছে কিনা এবং সব ধরনের নীতিমালা সম্মত কিনা তা নির্ধারণ
    করার এবং আপনার পেশ করা যে কোন বা সব ধরনের সম্মতি বাতিল করার অধিকার আমরা সংরক্ষণ করি।
  </p>


  <h3>পণ্য ও সেবা প্রদানকারী বাণিজ্যিক প্রতিষ্ঠানের জন্য</h3>

  <p>একথা খুবই স্পস্ট, এখনই ডট কম ডিলের বাজারজাত করণের মাধ্যমে পণ্য ও সেবা প্রদানকারী বাণিজ্যিক প্রতিষ্ঠানের প্রতিনিধি
    হিসেবে কুপন বিক্রয় করবে। কিন্তু সব ধরনের রসিদ পণ্য ও সেবা প্রদানকারী বাণিজ্যিক প্রতিষ্ঠান বিতরণ করবে। রসিদ বিতরণকারী
    হিসেবে যে কোন ধরনের বা সব ধরনের ক্ষতি, ত্রুটি, ক্ষতিপূরণ, দাবি এবং দায় দায়িত্ব এবং ক্রেতার সম্মানে নির্ধারিত মূল্য
    ভোগান্তির জন্য বাণিজ্যিক প্রতিষ্ঠান দায়ী থকবে। রসিদ ঘটিত যে কোন ধরনের দাবীকৃত বা অদাবীকৃত পণ্য এবং সেবার দায়
    দায়িত্বও পণ্য ও সেবা প্রদানকারী বাণিজ্যিক প্রতিষ্ঠান বহন করবে। বিদ্যমান নীতিমালা অনুসারে ডিল ক্রয় করার পর একজন
    ভোক্তা অংশগ্রহণকারী ব্যবসা প্রতিষ্ঠানের ইস্যুকরা রসিদটি ছাপানোর এবং নীতিমালা অনুযায়ী ব্যবহারের অধিকার সংরক্ষণ করে।
    রসিদ ছাপানো বা কেমন করে পুনরুদ্ধার করা হবে সেটি কেবল আপনারই নির্দেশে হবে এবং আপনারই নিয়ন্ত্রণে থাকবে। </p>
</div>