<%
   deal_url = @deal_url
%>

  <div class="social_button social_content" style="width: 80px;">
    <g:plusone class="g-plusone" size="medium" href="<%= deal_url %>"></g:plusone>
  </div>
  <div class="social_button social_content" style="width: 100px;">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="<%= deal_url %>" data-count="horizontal" data-via="akhonidotcom">Tweet</a>
  </div>
  <div class="social_button social_content" style="width: 88px;">
    <fb:like class="fb-like" href="<%= deal_url %>" send="false" width="50" show_faces="false" font="" layout="button_count"></fb:like>
  </div>
  <div class="social_button social_content" style="width: 62px;">
    <fb:send class="fb-like" href="<%= deal_url %>" font=""></fb:send>
  </div>
