<% page_title 'Book a deal' %>
<% is_gift = (params.present? && (params[:gift].present? || params['friend_info'].present?)) %>

<div class="form order">

<%= form_for(@order, :url => submit_url, :method => submit_method) do |f| %>
    <div style="margin-left:-15px;">
      <h2>
        <%= t('YOUR_PURCHASE')%>
        <% if  @order.orderable.advance_payable? %>
            (Pay in Advance)
        <% end %>
      </h2>
      <hr/>
    </div>

    <div id="error-quantity">
    </div>

    <% error_count = @order.errors.count + @order.user.errors.count
       if error_count > 0 %>
        <div id="error_explanation">
          <h2><%= pluralize(error_count, t("ERROR")) %> <%= t("OCCURED_ERROR")%></h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            <% @order.user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>


          </ul>
        </div>
    <% end %>
    <div>
      <table class="form" cellspacing="0" width="98%">
        <tr>
          <th><%= t('ITEM_NAME') %></th>
          <th style="width: 50px;"><%= t('QUANTITY') %></th>
          <% if ((@order.deal.present? && !(@order.deal.free_coupon? || @order.deal.free_gift?)) || @order.product.present?) %>
              <th style="width: 20px"></th>
              <th style="width: 60px;" nowrap><%= t('UNIT_PRICE')%></th>
              <th style="width: 30px"></th>
              <% if @order.orderable.discount_cc_payment != 0 %>
                  <th style="width: 100px;"><%= t('CASH_PAY')%></th>
                  <th style="width: 100px;"><%= t('CARD_PAY')%></th>
              <% else %>
                  <th style="width: 100px;"><%= t('TOTAL')%></th>
              <% end %>
          <% end %>
        </tr>
        <tbody>
        <tr>
          <td><%= h(@order.item_name) %></td>
          <td style="vertical-align:bottom;"><%= (@order.quantity_limit == 1) ? '1' : f.text_field(:quantity, :size => 5, :maxlength => 4, :required => true) %></td>
          <% if ((@order.deal.present? && !(@order.deal.free_coupon? || @order.deal.free_gift?)) || @order.product.present?) %>
              <td style="text-align:center;"><b> X </b></td>
              <td nowrap>Tk. <%= @order.orderable.discounted_price %></td>
              <td style="text-align:center;"><b> = </b></td>
              <td nowrap>Tk.
                <span id="total_price"><%= @order.orderable.discounted_price %></span>
              </td>
              <% if @order.cc_discount_amount != 0 %>
                  <td nowrap>Tk.
                    <span id="total_price_cc_discounted"><%#= @order.amount_for_cc.to_i %></span>
                  </td>
              <% end %>
          <% end %>
        </tr>
        </tbody>
      </table>
    </div>
    <%= hidden_field_tag "discounted_price_cc", @order.amount_for_cc %>

    <% if show_friend_checkbox? (@order)%>
        <%= check_box_tag "friend_info", "1", is_gift, {:style=>'margin-left:5px'} %>
        <%= t('BUY_FOR_FRIEND') %>
    <% end %>
    <% show_friend = show_friend_checkbox? (@order)%>
    <div id="gift_info" style="<%= (show_friend && is_gift) ? 'display:block' : 'display:none' %>">
      <div style="margin-left:-15px;">
        <h2><%= t('YOUR_FRIEND_INFORMATION') %></h2>
        <hr/>
      </div>

      <div id="error">
      </div>

      <div>

        <table class="form" cellpadding="5" cellspacing="0" style="font-size: 80%;">
          <tr>
            <td colspan="2">
            </td>
          </tr>
          <tr>
            <td><%= t('FIRST_NAME') %>*</td>
            <td><%= t('LAST_NAME') %></td>
          </tr>
          <tr>
            <td><%= text_field_tag 'friend[firstname]', (params.present? && params['friend'].present? ? params['friend']['firstname'] : ''), {:size => 30, :blank_msg => t("FRIENDS_FIRST_NAME_MUST_BE_FIELD_OUT")} %></td>
            <td><%= text_field_tag 'friend[lastname]', (params.present? && params['friend'].present? ? params['friend']['lastname'] : ''), {:size => 30} %></td>
          </tr>
          <tr>
            <td><%= t('EMAIL') %>*</td>

            <td><%= t('PHONE') %>*(<span class="phone_highlight"><%= t("COUPON_WILL_BE_SENT_TO_YOUR_FRIEND")%></span>)</td>
          </tr>
          <tr>
            <td><%= text_field_tag 'friend[email]', (params.present? && params['friend'].present? ? params['friend']['email'] : ''), {:size => 30, :blank_msg => t("FRIENDS_EMAIL_MUST_BE_FIELD_OUT"), :invalid_email => t("FRIENDS_INVALID_EMAIL")} %></td>
            <td valign="top">
              <%= text_field_tag 'friend[phone]', (params.present? && params['friend'].present? ? params['friend']['phone'] : ''), {:size => 30, :blank_msg => t("FRIENDS_PHONE_MUST_BE_FIELD_OUT"), :class => 'phone', :style => "width:267px;"} %>

            </td>
          </tr>
          <tr>
            <td colspan="2"><%= t('ADDRESS') %>*</td>
          </tr>
          <tr>
            <td colspan="2"><%= text_field_tag 'friend[address]', (params.present? && params['friend'].present? ? params['friend']['address'] : ''), {:style => 'width:420px', :blank_msg => t("FRIENDS_ADDRESS_MUST_BE_FIELD_OUT")} %></td>
          </tr>
        </table>
      </div>
    </div>


    <div style="margin-left:-15px;">
      <h2><%= t('YOUR_PERSONAL_INFORMATION') %></h2>
      <hr/>
    </div>

    <div>
      <%= fields_for @order.user do |u| %>
          <% @order.user.phone = @order.user.phone_without_country_code %>
          <table class="form" cellpadding="5" cellspacing="0" style="font-size: 80%;">
            <tr>
              <td colspan="2">
              </td>
            </tr>
            <tr>
              <td><%= t('FIRST_NAME') %>*</td>
              <td><%= t('LAST_NAME') %></td>
            </tr>
            <tr>
              <td><%= u.text_field :firstname, :size => 30 %></td>
              <td><%= u.text_field :lastname, :size => 30 %></td>
            </tr>
            <tr>
              <td><%= t("GENDER")%></td>
              <td><%= t('EMAIL') %>*</td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td><%= radio_button_tag("user[gender]", "M", @order.user.gender.to_s == 'M' ? true : false) %></td>

                    <td valign="top"><%= t("MALE")%></td>
                    <td><%= radio_button_tag("user[gender]", "F", @order.user.gender.to_s == 'F' ? true : false) %></td>
                    <td valign="top"><%= t("FEMALE")%></td>
                  </tr>
                </table>
              </td>
              <td>
                <% if @order.user.is?(:collector) || @order.user.is?(:merchant) %>
                    <%= h @order.user.email %>
                <% else %>
                    <%= u.text_field :email, :size => 30 %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><%= t('ADDRESS') %>*</td>
              <td><%= t('PHONE') %>*</td>
            </tr>
            <tr>
              <td><%= u.text_area :address, :rows => 2, :style => "width:290px;" %></td>
              <td valign="top">
                <%= u.text_field :phone, :class => 'phone', :style => "width:160px;margin-bottom:0px" %> <br />
                <span class="phone_highlight">[ <%= t("COUPON_WILL_BE_SENT_TO_ABOVE_NUMBER")%> ]</span>

              </td>
            </tr>
          </table>
          <%#= u.hidden_field(:id) %>
      <% end %>
    </div>

    <% if @order.has_shipping? %>
    <div style="margin: 0 0 10px -15px;">
      <h2><%= t('YOUR_DELIVERY_INFORMATION')%></h2>
      <hr/>
    </div>
        <div>
          <table class="form shipping_form">
            <tr>
              <td class="shipping_selection" style="width: 10px;"><%= radio_button :shipping, :detail, 0, {:id => "pickup_from_akhoni", :checked => true, :akhoni_pickup => t("PICK_UP_FROM_AKHONI")} %></td>
              <td class="shipping_selection" style="width: 200px;"><%= t("PICK_UP_FROM_AKHONI")%></td>
              <td class="shipping_selection" style="width: 10px;"><%= radio_button :shipping, :detail, 1,{:id => "need_shipping"} %></td>
              <td class="shipping_selection" style="width: 200px;">Shipping Delivery required</td>
            </tr>
            <tr class="shipping_info">
              <td colspan="4">
                <%= radio_button :shipping, :choice, ShippingDetail::SHIPPING_CHOICES[:dhaka], :checked => true %>&nbsp;<%= t("INSIDE_DHAKA")%> &nbsp;
                &nbsp;<%= radio_button :shipping, :choice, ShippingDetail::SHIPPING_CHOICES[:bd] %>&nbsp;<%= t("OUTSIDE_DHAKA")%>
                &nbsp;<%= radio_button :shipping, :choice, ShippingDetail::SHIPPING_CHOICES[:world] %>&nbsp;<%= t("OUTSIDE_BANGLADESH")%>
              </td>
            </tr>
            <tr class="shipping_info">
                <td colspan="2">
                  <%= t("SHIPPING_ADDRESS")%>:<br /><%= text_area :shipping, :address, :value => @order.user.address, :rows => 2, :style => "width:290px;" %>
                </td>
            </tr>

          </table>
        </div>
    <% end %>

    <div style="margin-left: 5px;">
      <table class="form" cellpadding="5" cellspacing="0">
        <% if @order.orderable.promotional_code.present? %>
        <tr>
          <td>Have promotional code ?</td>
          <td><%= text_field_tag :promotional_code %></td>
        </tr>
        <% end %>
        <tr>
          <td colspan="6">
            <%= check_box_tag "agree", "1", false %>
            <% if I18n.locale == :en %>
                I agree to the <%= link_to "Terms of Use", "/TermsOfUse", :style => "text-decoration: underline" %>
            <% else %>
                আমি <%= link_to "শর্তাবলীতে", "/TermsOfUse" %> একমত
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="6" class="bangla">

            <%= hidden_field_tag('deal[discounted_price]', @order.orderable.discounted_price) %>
            <%= f.hidden_field(:size_id) %>
            <%= f.hidden_field(:product_id) %>
            <%= f.hidden_field(:deal_id) %>
            <%= f.submit label_for_order_button(@order), :disabled => 'disabled', :class => 'btn-submit' %>
            <%= t("OR")%>
            <% if @order.deal.present? %>
                <%= link_to t('CANCEL'), location_deal_path(@order.deal.location, @order.deal), :style => "text-decoration: underline" %>
            <% else %>
                <%= link_to t('CANCEL'), location_product_path(@order.product.location, @order.product), :style => "text-decoration: underline" %>
            <% end %>

          </td>
        </tr>
      </table>
    </div>

<% end %>
</div>
<script language="javascript">
    $(document).ready(function() {
        $("#order_quantity").blinkme();
    });
</script>