<% page_title 'Purchase deal' %>

<div class="form" style="padding-left: 10px; width: 675px">
  <h2><%= t('YOUR_ORDER_DETAILS') %></h2>
  <hr>


  <table width="100%" cellspacing="10">
    <tr>
      <td width="180"><%= t('ITEM_NAME') %></td>
      <td width="5">:</td>
      <td>
        <%= h @order.item_name %>
      </td>
    </tr>
    <tr>
      <td><%= t('ITEM_DETAILS') %></td>
      <td>:</td>
      <td>
        <%= h @order.item_details %>
      </td>
    </tr>
    <tr>
      <td><%= t('QUANTITY') %></td>
      <td>:</td>
      <td><%= @order.quantity.to_bddigit %></td>
    </tr>
    <tr>

    <% if !@order.waiting? && @order.amount.to_f > 0 && @order.user.referral_balance.to_f > 0 %>
        <tr id="checkout_use_referral_tr">
          <td><%= t('USE_MY_REFERRAL_CREDIT') %></td>
          <td>:</td>
          <td>
            <%= check_box(:checkout, :use_referral, :checked => params[:use_referral].present? && params[:use_referral].to_i == 1) %>
          </td>
          <%= hidden_field_tag :referral_credit, @order.user.referral_balance.to_f %>
          <%= hidden_field_tag :payable_order_amount, @order.payable_amount + @order.cc_discount_amount %>
        </tr>
    <% end %>

    <td colspan="3">
      <table border="1" width="100%">
        <tr>
          <td>
            <%= t('CASH_PAYMENT_PRICE') %>
            <% if  @order.orderable.advance_payable? %>
                (Pay in Advance)
            <% end %>
          </td>
          <td align="right">
            <span id="cash_payment_price" class="charge_discounts">
              <%= params[:use_referral].present? && params[:use_referral].to_i == 1 ? (@order.amount - @order.user.referral_balance) : @order.amount %>
            </span>
          </td>
          <td>Tk.</td>
        </tr>
        <% corporate_discount = @order.charge_discounts.find_by_charge_discount_type(ChargeDiscount::TYPES[:CORPORATE_DISCOUNT]) %>
        <% if corporate_discount %>
            <tr>
              <td><%= t('CORPORATE_DISCOUNT')%></td>
              <td align="right" class="charge_discounts"><%= corporate_discount.amount * @order.quantity %></td>
              <td>Tk.</td>
            </tr>
        <% end %>

        <% promotional_discount = @order.charge_discounts.find_by_charge_discount_type(ChargeDiscount::TYPES[:PROMOTIONAL_DISCOUNT]) %>
        <% if  promotional_discount %>
            <tr>
              <td>Promotional Discount</td>
              <td align="right" class="charge_discounts"><%= promotional_discount.amount * @order.quantity %></td>
              <td>Tk.</td>
            </tr>
        <% end %>

        <% shipping = @order.shipping_detail %>
        <% if  shipping.present? %>
            <tr>
              <td><%= t('SHIPPING_COST')%></td>
              <td align="right" class="charge_discounts"><%= shipping.amount.to_f %></td>
              <td>Tk.</td>
            </tr>
        <% end %>


        <% if current_user.referral_balance.to_i > 0 %>
            <tr id="referral_balance" style="display:none;">
              <td>Referral Credit</td>
              <td align="right" class="charge_discounts">-<%= (current_user.referral_balance < @order.payable_amount) ? current_user.referral_balance.to_f : @order.payable_amount %></td>
              <td>Tk.</td>
            </tr>
        <% end %>

        <% if @order.orderable.discount_cc_payment != 0 %>
            <tr id="credit_card_payment" style="display: none;">
              <td>Credit Card <%= @order.orderable.discount_cc_payment < 0 ? "Charge" : "Discount" %> </td>
              <td align="right" id="credit_card_amount" class="charge_discounts"><%= @order.orderable.discount_cc_payment < 0 ? @order.cc_discount_amount.to_f.abs : "-#{@order.cc_discount_amount.to_f}" %></td>
              <td>Tk.</td>
            </tr>
        <% end %>

        <tr>
          <td>
            <strong><%= t("TOTAL")%></strong>
            <% if  @order.orderable.advance_payable? %>
                (Pay in Advance)
            <% end %>
          </td>
          <td align="right" id="total_calculated_amount" style="font-weight: bold;"></td>
          <td>Tk.</td>
        </tr>

      </table>
    </td>
    </tr>

    <tr>
      <%= form_for(@order, :url => PAYMENT_CONFIG["submit_url"], :method => :POST, :html => {:id => 'cash_or_credit_debit_form'}) do |f| %>
          <td valign="top">
            <%= t('SELECT_PAYMENT_METHOD') %>
          </td>
          <td valign="top">:</td>
          <td>
            <% if @order.deal.present? %>
                <%= hidden_field_tag "success_url", location_deal_order_payment_success_url(@order.deal.location, @order.deal, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
                <%= hidden_field_tag "cancel_url", location_deal_order_payment_canceled_url(@order.deal.location, @order.deal, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
                <%= hidden_field_tag "fail_url", location_deal_order_payment_failed_url(@order.deal.location, @order.deal, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
            <% else %>
                <%= hidden_field_tag "success_url", location_product_order_payment_success_url(@order.product.location, @order.product, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
                <%= hidden_field_tag "cancel_url", location_product_order_payment_canceled_url(@order.product.location, @order.product, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
                <%= hidden_field_tag "fail_url", location_product_order_payment_failed_url(@order.product.location, @order.product, @order, @order.latest_payment, :authenticity_token => form_authenticity_token), :class => 'url_for_ssl' %>
            <% end %>

            <%= hidden_field_tag "tran_id", @order.latest_payment.transaction_id %>

            <%= hidden_field_tag "total_amount", @order.payable_amount + @order.cc_discount_amount  %>

            <%= hidden_field_tag "store_id", PAYMENT_CONFIG["store_id"] %>

            <% if @order.gift.nil? %>
                <%= radio_button_tag 'payment', 'cash', flash[:number] ? false : true, {:class => 'payment_methods', :id => 'pay_cash_on_coupon_deal_delivery', :value => link_to_order_book_path(@order)} %>
                <%= t("PAY_CASH_ON_COUPON_OR_PRODUCT_DELIVERY")%>
                <br/>
            <% end %>

            <% if !@order.waiting? && @order.amount > 0 && @order.online_payable? %>
                    <%= radio_button_tag 'payment', 'card', false, {:class => 'payment_methods', :id => 'pay_cash_by_credit_debit_card'} %>
                    <%= t("PAY_WITH_CREDIT_OR_DEBIT_CARD")%>
            <% end %>
      <% end %>
      <br/>

      <% if !@order.waiting? && @order.amount.to_f > 0 && @order.user.referral_balance.to_f >= @order.payable_amount.to_f %>
          <% form_for '', :url => link_to_referral_payment(@order), :html => {:method => :POST, :style => 'margin:0px;padding:0px;', :id => 'pay_by_referral_credit_form'} do |f| %>
              <%#= radio_button_tag 'payment', 'referral-credit', false, {:class => 'payment_methods', :id => 'pay_by_referral_credit', :value => link_to_referral_payment(@order), :disabled => @order.user.referral_balance.to_f < @order.amount.to_f} %>
              <!--Pay by Referral Credit-->
          <% end %>
      <% end %>

      <% if SITE_CONFIG["m_wallet"] && !@order.waiting? && @order.online_payable? %>
          <%= form_for '', :url => link_to_order_payment(@order), :html => {:method => :post, :id => 'mobile_form', :style => 'margin:0px;padding:0px;'} do |f| %>
              <%= radio_button_tag 'payment', 'Mobile', flash[:number] ? true : false, {:class => 'payment_methods', :id => 'pay_cash_by_mobile'} %>
              <%= t("BKASH_MOBILE_PYMENT")%>
              (<a title="Click to see details" target="_blank" href="http://www.bkash.com/" style="cursor:pointer;font-size:11pt;">?</a>)

              <table id="mobile_wrapper" style="display:<%= flash[:number] ? 'block' : 'none' %>;" cellpadding="2" cellspacing="2">
                <tr style="height:5px">
                  <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div id="errors"><%= flash[:mobile_pay_error] %></div>
                  </td>
                </tr>
                <tr>
                  <td><%= t("MOBILE_NUMBER")%></td>
                  <td><%= text_field 'mobile', 'number', {:value => flash[:number], :size => 14, :maxlength => 11, :class => 'bKashphone'} %></td>
                </tr>
                <tr>
                  <td><%= t("TRANSACTION_ID")%></td>
                  <td><%= text_field 'mobile', 'transaction_id', {:value => flash[:transaction_id], :size => 14} %></td>
                </tr>
                <tr>
                  <td colspan="2">
                        <span class="lightbox">
                    <a class="iframe" href="/bkashInstruction">
                      <strong style="color:#5C0B3A;font-size: 13px"><%= t("CLICK_TO_SEE_INSTRUCTIONS")%></strong>
                    </a>
                  </span>
                  </td>
                </tr>
              </table>
          <% end %>
      <% end %>
      <%#= link_to 'Go Back', edit_location_deal_order_path(@order.deal.location, @order.deal, @order) %>
      </td>
    </tr>

    <tr>
      <td><input type="button" name="pay_now" value="<%= t('NEXT') %>" id="pay_now"></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>

<script type="text/javascript">
    $(document).ready(function() {
//        var sum = 0;
//        $(".charge_discounts").each(function() {
//            sum = sum + parseInt($(this).html());
//        })
//        var cash_payment_price = parseInt($('#cash_payment_price').html());
//        $('#total_calculated_amount').html(cash_payment_price + sum);
    });
</script>
