<% page_title "List of Coupons" %>

<div class="title page-header">
  <h1>List of Coupons</h1>
</div>

<table cellpadding="10" cellspacing="1" border="0" class="list" style="font-size:12px;">
  <thead>
  <tr>
    <th width="170">Coupon Code</th>
    <th width="80"  style="text-align:center;">Quantity</th>
    <th width="100"  style="text-align:center;">Original Value</th>
    <th width="100"  style="text-align:center;">Paid Amount</th>
    <th width="120" style="text-align:center;">Used</th>
    <th width="50"></th>
  </tr>
  </thead>
  <tbody>
  <% @order.coupons.each do |coupon| %>
      <tr>
        <td><%= h coupon.security_code_coupon %></td>
        <td style="text-align:center;"><%= h coupon.quantity %></td>
        <td style="text-align:center;"><%= h coupon.actual_price %></td>
        <td style="text-align:center;"><%= h coupon.amount %></td>
        <td style="text-align:center;"><%= h coupon.redeemed? ? show_date(coupon.created_at) : 'No' %></td>
        <td class="action"><%= link_to_print_coupon(coupon, 'Show', {:class => 'coupon_link'}) %></td>
  <% end %>
  </tbody>
</table>