<table width="100%">
  <tr>
    <td width="100%" align="center" valign="middle" height="400">
      <% if @deal.present? && @deal.free_gift? %>
          <table width="500" style="border: 3px dashed #000;padding:20px;" cellspacing="20">
            <tr>
              <td align="center" style="font-size:20px;color:#5C0B3A;font-weight:bold;" class="bangla">
                <br/>
                <%= t("THANK_YOU_FOR_PARTICIPATING_IN_THIS_ZERO_DEAL").html_safe %>
                <br/>
              </td>
            </tr>
          </table>
      <% else %>
          <table width="500" style="border: 3px dashed #000;padding:20px;" cellspacing="20">
            <tr>
              <td align="center" style="font-size:50px;color:red;font-weight:bold;" class="bangla"><%= t("COUPON")%></td>
            </tr>
            <tr>
              <td align="center" style="font-size:20px;color:#5C0B3A;font-weight:bold;" class="bangla">
                <%= t("AN_EMAIL_NOTIFICATION_HAS_BEEN_SENT")%>

                <br/>
              </td>
            </tr>
          </table>
      <% end %>
    </td>
  </tr>
</table>
