<% if @order.deal.present? %>
<%= render :partial => 'form', :locals => {:submit_url => location_deal_orders_path(@order.deal.location, @order.deal), :submit_method => :POST} %>
<% else %>
<%= render :partial => 'form', :locals => {:submit_url => location_product_orders_path(@order.product.location, @order.product), :submit_method => :POST} %>
<% end %>
