<% page_title 'Akhoni.com coupon' %>

<style type="text/css">
    .clear {
        clear: both;
    }

    .lightbox, .noprint {
        display: none;
    }

    ul li {
        text-indent: 0;
        padding: 0;
        margin-left: -20px;
    }

    @media print {
        img.bg, .header, .coupon_button, #uservoice-feedback {
            display: none;
        }

        .print_this {
            display: block;
            page-break-after: avoid;
            page-break-before: avoid;
        }
    }

    #coupon_header {
        width: 100%;
        height: 70px;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    #coupon_container {
        background-color: #ffffff;
        border: 1px dashed black;
        padding: 10px;
        width: 840px;
        margin-left: 60px;
    }

    .coupon_button {
        width: 840px;
        float: right;
        margin-right: 10px;
    }

    #coupon_content {
        width: 100%;
        margin-top: 0px;
        font-size: 11px;
    }

    #coupon_content_left {
        width: 370px;
        float: left;
        padding-right: 0px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    #coupon_content_right {
        border-left: 1px solid gray;
        width: 400px;
        float: right;
        margin-bottom: 5px;
        padding-left: 20px;
    }

    #coupon_container ul {
        padding-left: 25px;
    }

    #coupon_container ul li {
        list-style-type: disc;
        margin-left: 0px;
    }

    #coupon_code {
        background: black;
        color: white;
        font-weight: bold;
        font-size: 12pt;
        width: 380px;
        padding: 10px;
        margin: 0 0 10px 0;
    }

    #coupon_info {
    }

    #coupon_info .label {
        float: left;
        width: 110px;
    }

    #coupon_info .value {
        font-style: italic;
    }

    #merchant_info {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #coupon_container #footer {
        text-align: center;
    }

    #coupon_container #footer_banner {
        background: #000;
        color: white;
        font-weight: bold;
        font-size: 16pt;
        text-transform: lowercase;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
    }

    #coupon_container #footer_address {
        font-size: 10pt;
        font-family: 'Trebuchet MS', Helvetica, sans-serif;

    }

    .coupon_button a {
        float: right;
        width: 120px;
        height: 41px;
        text-decoration: none;
        font-family: "Georgia", Times, serif;
        background-image: url(/images/buy_button.png);
        background-repeat: no-repeat;
        color: #ffc200;
        padding: 8px 12px 0 8px;
        font-size: 15px;
        text-align: center;
    }

    .coupon_button a:hover {
        color: #FFF
    }

    ul.nav {
        display: none;
    }

    div.footer {
        display: none;
    }

    div.left_box {
        display: none;
    }

    .right-side-bar {
        position: relative;
        top: auto;
        width: auto;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        float: none;
        min-height: 0;
        padding-bottom: 0px;
        background: none;
    }

    #coupon_content_left ul {
        line-height: 1.6;
        width: 95%;
    }

    .footer-hot-line-bar {
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        padding: 4px 4px 10px;
    }
</style>

<script type="text/javascript">
    function open_print_window() {
        var url = "<%=link_to_print_coupon(@coupon, '', {:print => true})%>";
        var print_window = window.open(url, 'Print Coupon', 'left=0,top=0,location=no');
        window.print();
    }
</script>
<% original_language = I18n.locale %>
<% I18n.locale = :en %>
<% if params[:print].nil? %>
    <div class="coupon_button">
      <%= link_to "#{SITE_CONFIG['current_deal_label']}", location_deals_path(session[:location_id]) %>
      <a href="javascript:void(0);" onclick="javascript:open_print_window();">Print Now</a>
    </div>
<% end %>
<div class="clear"></div>

<div id="coupon_container" class="print_this">
  <div id="coupon_header" style="height:95px;">
    <table width="100%">
      <tr>
        <td style="width:150px;padding-left: 18px;vertical-align:middle;text-align:left;">
          <% if @order.deal.present? && @coupon.show_logo? && @order.deal.merchant.logo.present? %>
              <%= show_picture(@order.deal.merchant, :small) %>
          <% elsif  @order.product.present? && @order.product.deal.present? && @order.product.deal.is_show_logo && @order.product.deal.merchant.logo.present? %>
              <%= show_picture(@order.product.deal.merchant, :small) %>
          <% elsif  @order.product.present? && !@order.product.deal.present? && @order.product.merchant.logo.present? %>
              <%= show_picture(@order.product.merchant, :small) %>
          <% end %>
        </td>
        <td style="vertical-align:middle;text-align:center;font-size:30px;">
          <%= h ((@order.deal.present? && @coupon.coupon_header.present?) ? @coupon.coupon_header : "") %>
        </td>
        <td style="width:150px;vertical-align:middle;text-align:right;">
          <img src="/images/coupon_logo.jpg"/>
        </td>
      </tr>
    </table>
  </div>

  <div class="clear"></div>
  <div id="coupon_content">
    <div id="coupon_content_left">
      <div style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 14pt; font-weight: bold">Terms &
        Conditions:
      </div>
      <%= show_conditions(@order.deal.present? ? @order.deal : @order.product).html_safe %>
    </div>
    <div id="coupon_content_right">
      <div id="coupon_code">Coupon Code# <%= @coupon.coupon_code %></div>
      <div id="coupon_info">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td class="label">Date</td>
            <td class="value">: <%= show_date(@order.booking_at) %></td>
          </tr>
          <tr>
            <td class="label">Customer name</td>
            <td class="value">: <%= h @coupon.user_name() %></td>
          </tr>
          <tr>
            <td class="label">Item name</td>
            <td class="value">: <%= h @order.item_name() %></td>
          </tr>
          <% if @order.deal.present? && @order.deal.parent.present? %>
              <tr>
                <td class="label">Item details</td>
                <td class="value">: <%= h @order.item_details() %></td>
              </tr>
          <% end %>
          <tr>
            <td class="label">Quantity</td>
            <td class="value">: <%= @coupon.quantity %></td>
          </tr>
          <% if @coupon.order.deal.present? && !(@coupon.order.deal.free_coupon? || @coupon.order.deal.free_gift?) %>
              <% if @order.deal.present? && @coupon.show_value? %>
                  <tr>
                    <td class="label">Value</td>
                    <td class="value">: <%= @coupon.actual_price %> Taka</td>
                  </tr>
              <% end %>
              <% if  @coupon.order.orderable.advance_payable? %>
                  <tr>
                    <td class="label">Discounted Value</td>
                    <td class="value">: <%= @coupon.quantity * @coupon.order.orderable.discounted_price_for_advance_payment %> Taka</td>
                  </tr>
              <% end %>

              <% if @coupon.show_paid_amount? %>
                  <tr>
                    <td class="label">Paid Amount</td>
                    <td class="value">
                      : <%= @coupon.amount %> Taka
                      <% if  @coupon.order.orderable.advance_payable? %>
                          <strong>(Paid in Advance)</strong>
                      <% end %>
                    </td>
                  </tr>
              <% end %>
          <% elsif @coupon.order.product.present? %>
              <tr>
                <td class="label">Value</td>
                <td class="value">: <%= @coupon.actual_price %> Taka</td>
              </tr>
              <tr>
                <td class="label">Paid Amount</td>
                <td class="value">:
                  <%= @coupon.amount %> Taka
                  <% if  @coupon.order.orderable.advance_payable? %>
                      <strong>(Paid in Advance)</strong>
                  <% end %>
                </td>
              </tr>
          <% end %>

          <% if @coupon.order.orderable.advance_payable? %>
              <tr>
                <td class="label">Pay to Merchant</td>
                <td class="value">:
                  <%= @coupon.merchant_payable_amount %> Taka
                </td>
              </tr>
          <% end %>

          <tr>
            <td class="label">Address</td>
            <td class="value">
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td width="5" valign="top" align="left">:</td>
                  <td style="font-style: italic;"><%= @order.deal.present? ? @order.deal.merchant.name : @order.product.merchant.name %>
                    <br/><%= @order.deal.present? ? h(@order.deal.merchant.address) : h(@order.product.merchant.address) %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <% if @order.orderable.present? && @order.orderable.merchant.contract_number.present? %>
              <tr>
                <td class="label">Phone</td>
                <td class="value">: <%= h @order.orderable.merchant.contract_number %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="footer">
    <div class="footer-hot-line-bar">Have a query? We are here to help. Call our
      Hotline: <%= h SITE_CONFIG['hotline_number'] %>
    </div>
    <div id="footer_banner">
      akhoni.com
    </div>
    <div id="footer_address">
      <%= h SITE_CONFIG['company_address'] %>
      <%= h SITE_CONFIG['contact_number'].gsub(/ /, '') %>,
      <%= h SITE_CONFIG['system_email']['contact'] %>
    </div>
  </div>
</div>
<div class="clear"></div>
<br/>
<% if params[:print].nil? %>
    <div class="coupon_button">
      <%= link_to "#{SITE_CONFIG['current_deal_label']}", location_deals_path(session[:location_id]) %>
      <a href="javascript:void(0);" onclick="javascript:open_print_window();">Print Now</a>
    </div>
<% end %>

<% I18n.locale = original_language %>