<% page_title 'Booking information' %>

<script type="text/javascript">
    function printSelection(node) {
        var content = node.innerHTML;
        var pwin = window.open('', 'print_content');
        pwin.document.open();
        pwin.document.write('<html><body onload="window.print()">' + content + '</body></html>');
        pwin.document.close();
    }
</script>

<div class="form" id="booking_details" style="padding-left: 10px; width: 675px">
  <div style="text-align:right;padding-top:10px">
      <span colspan="3" style="font-style:italic; color:red;font-size:20px;font-weight:bold; padding-right:20px;">
          * <%= t('THIS_IS_NOT_A_COUPON') %> *
        </span>
  </div>
  <h2><%= t('YOUR_ORDER_BOOKING_DETAILS') %></h2>
  <hr/>
  <form>
    <table width="100%" cellspacing="5">
      <tr>
        <td width="180"><%= t('ITEM_NAME') %></td>
        <td width="5">:</td>
        <td>
          <%= h @order.item_name %>
        </td>
      </tr>
      <tr>
        <td><%= t('ITEM_DETAILS') %></td>
        <td>:</td>
        <td>
          <%= h @order.item_details %>
        </td>
      </tr>
      <tr>
        <td><%= t('QUANTITY') %></td>
        <td>:</td>
        <td>
          <%= @order.quantity.to_bddigit %>
        </td>
      </tr>
      <tr>
        <td><%= t('AMOUNT') %></td>
        <td>:</td>
        <td>
          Tk. <%= @order.payable_amount.to_bddigit %>
          <% if  @order.orderable.advance_payable? %>
            (Paid in Advance)
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= t('BOOKING_CODE') %></td>
        <td>:</td>
        <td><b><%= @order.security_code_booking %></b></td>
      </tr>
      <tr>
        <td colspan="3" style="padding-top: 20px;font-style:italic;color:red;font-size:80%;">
          <% if !@order.latest_payment.mwallet?  %>
              * <%= t('PLEASE_STORE_THE_BOOKING_CODE_TO_PAY_CASH').html_safe %>
          <% else %>
              * <%= t('PLEASE_STORE_THE_BOOKING_CODE_TO_PAY_BKASH').html_safe %>
          <% end %>
        </td>
      </tr>
      <%#raise params.inspect  %>
      <% if @order.waiting? %>
          <tr>
            <td style="font-style:italic;color:red;font-size:13pt;" colspan="3">
              <%= @order.deal.present? && !@order.product.present? ? @order.deal.wait_message : @order.product.wait_message %>
            </td>
          </tr>
      <% end %>
    </table>
    <a href="javascript:void(0);" onclick="javascript:printSelection(document.getElementById('booking_details'));" class="button" style="padding-top:2px">
      <%= t('PRINT_BOOKING_INFORMATION') %>
    </a>
  </form>
  <br/>
</div>
