<% if (@deals.size > 0) %>
    <div class="referral-box sharing-link">
      <div class="referral-box-title">Refer Deal</div>
      <div class="referral-content">
        <table>
          <tr>
            <td colspan="2">
              Copy links below and share anywhere
            </td>
          </tr>
          <% @deals.each do |deal| -%>
              <tr>
                <td>
                  <input class="referral_link" type="text" id="referral_link<%= deal.id %>" value="<%= show_referral_link(current_user) %>"/>
                </td>
              </tr>
          <% end %>
        </table>
      </div>
    </div>
<% end %>