<% page_title 'Referral histories - Akhoni' %>

<div class="title page-header">
  <h1>Referral Credit</h1>
</div>

<div class="form">
  <br/>
  <table style="font-size: 13px;" class="list">
    <tr>
      <th width="350"><b>Total Referral Credit Earned</b></th>
      <th style="border: none;"> Tk. <%= @referral_events.sum(:amount).to_f %></th>
    </tr>
    <tr>
      <th><b>Total Purchase Amount Using Referral Credit</b></th>
      <th style="border: none;">Tk. <%= @total_purchased %></th>
    </tr>
    <tr>
      <th><b>Remaining Balance</b></th>
      <th style="border: none;"> Tk. <%= current_user.referral_balance.to_f %></th>
    </tr>
  </table>

  <% if @referral_events.any? %>
      <table class="list" style="font-size: 11px;width: 97%">
        <thead>
        <tr>
          <th>Referred User</th>
          <th width="120">First Visit</th>
          <th width="120">Credit Date</th>
          <th width="70" style="text-align: right">Amount</th>
        </tr>
        </thead>
        <% total_credit = 0 %>
        <% @referral_events.each do |referral_event| %>
            <tr>
              <td><%= referral_event.referred_to.name_or_email %></td>
              <td><%= show_date(referral_event.first_visit, 'dt') %></td>
              <td><%= show_date(referral_event.updated_at, 'dt') %></td>
              <td style="text-align: right"><%= referral_event.amount.to_f %></td>
            </tr>
            <% total_credit = total_credit + referral_event.amount %>
        <% end %>
        <tr>
          <td colspan="3" style="border: none;"><b>Total</b></td>
          <td style="border: none;text-align: right"><b>Tk. <%= total_credit.to_f %></b></td>
        </tr>
      </table>
  <% else %>
      <table class="list" style="width: 97%">
        <tr>
          <td style="border: none;"><h3>You haven't any referral credit yet. <%= link_to('Click here', referrals_path()) %> to refer now.</h3></td>
        </tr>
      </table>
  <% end %>
</div>