<% page_title 'Referral Program - Akhoni' %>

<div class="title page-header">
  <h1><%= t("REFER_FRIENDS")%></h1>

  <div class= "refer_and_win">
    <%= t("SHARE_YOUR_REFERRAL_LINK", :tk => Referral::CREDIT[:buy].to_i.to_bddigit).html_safe%>
  </div>
</div>

<div class="referral-container">
  <div class="referral-box social-media-box">
    <div class="referral-box-title"><%= t("REFER_ON")%></div>
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <div class="share-box">
        <div class="s-icon"><a class="addthis_button_facebook"></a></div>
        <div class="s-txt"><a class="addthis_button_facebook"><%= t("FACEBOOK") %></a></div>
      </div>
      <div class="share-box">
        <div class="s-icon"><a class="addthis_button_twitter"></a></div>
        <div class="s-txt"><a class="addthis_button_twitter"><%= t("TWITTER") %></a></div>
      </div>
      <div class="share-box">
        <div class="s-icon"><a class="addthis_button_email"></a></div>
        <div class="s-txt"><a class="addthis_button_email"><%= t("EMAIL") %></a></div>
      </div>
    </div>
  </div>
  <div class="referral-box sharing-link">
    <div class="referral-box-title"><%= t("REFER_ANYWHERE") %></div>
    <div class="referral-content">
      <%= t("COPY_TO_BLOG_MESSAGE") %><br/>
      <input type="text" id="referral_link" value="<%= @referral_link %>" class="referral_link"/>
    </div>
  </div>
  <div class="referral-box sharing-link">
    <div class="referral-box-title"><%= t("ADD_WIDGET") %></div>
    <div class="referral-content">
      <table>
        <tr>
          <td><%= t("TEXT_LINK") %></td>
        </tr>
        <tr>
          <td>
            <textarea class="referral_link"><a href="<%= @referral_link %>">Crazy discount on Akhoni.com</a></textarea>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <%= t("BANNER") %> <br/>
            <%= image_tag('referral_banner.gif') %>
          </td>
        </tr>
        <tr>
          <td>
            <textarea class="referral_link"><a href="<%= @referral_link %>"><img src="<%=root_url%>images/referral_banner.gif" alt="Crazy discount on akhoni.com" width="532" height="103"/></a></textarea>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>
            <%= t("LOGO")%> <br/>
            <%= image_tag('akhoni-logo-purple.png') %>
          </td>
        </tr>
        <tr>
          <td>
            <textarea class="referral_link"><a href="<%= @referral_link %>"><img src="<%=root_url%>images/akhoni-logo-purple.png" alt="Crazy discount on akhoni.com" width="200" height="71"/></a></textarea>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
    $('.referral_link').click(function() {
        $(this).select();
    });
    addthis_config = {"data_track_clickback": false};
    addthis_share = {url: "<%=@referral_link%>",title: "Place for the best deals"};
</script>

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e25250d10a70bec"></script>