    <div class="multiple-deal">
      <div class="multiple-deal-wrap">
        <div class="multiple-deal-content">
          <h2 class="multiple-deal-title">
            <%= t("ALL_STORES")%>
            <span style="float: right;">
                  <%#= link_to "All Stores", stores_url, :style => "color: #E70086" %>
                </span>
          </h2>
          <div style="width: 665px;padding: 15px;float: left;">
            <% @merchants.each_with_index do |merchant,index| %>
                <div style="width:108px;height:105px;float: left;margin: 0 20px 10px 0;border: 1px solid #EEEEEE">
                  <div class="show-product-details_link">
                    <a href="/<%= merchant.url_name %>"><%= merchant.name %></a>
                  </div>
                  <div class="travel_image_hover">
                    <a href="/<%= merchant.url_name %>"><%= image_tag merchant.logo.url(:thumb) %></a>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>