<div>
<div class="title page-header">
  <h1 class="bangla"><%= @merchant.name %></h1>
</div>


<table style="margin: 0">
  <tr>
    <td>
      <%= image_tag @merchant.banner.url(:big) if @merchant.banner %>
    </td>
    <!--<td valign="top" style="padding-left: 10px">
      &lt;!&ndash;<strong class="bangla"><%= t("ADDRESS")%></strong>: <span class="bangla"><%#= @merchant.address %></span>  <br />
      <strong class="bangla"><%= t("PHONE")%></strong>: <%#= @merchant.contract_number %>  <br />
      <strong class="bangla"><%= t("EMAIL")%></strong>: <%#= @merchant.email %>  <br />
      <strong class="bangla"><%= t("WEBSITE")%></strong>: <a style="text-decoration: underline" target="_blank" href="http://<%#= @merchant.website %>"><%#= @merchant.website %></a>&ndash;&gt;
    </td>-->
  </tr>
</table>

</div>


 <%= render :partial => "merchants/products", :locals => {:products => @merchant.approved_products.order('created_at DESC')  } %>