<%
   deal_url = location_deal_url(@deal.location, @deal)
%>
    <% price_info = @deal.price_information(@deal.advance_payable?) %>


    <h1 class="deal_title"><%= @deal.title %></h1>

    <div style="clear:both;"></div>
    <div class="main_deal_description">
      <%= @deal.description.to_s.html_safe %>
    </div>
    <div style="clear:both;"></div>

    <%= image_slider(@deal, :large,nil,nil,'deal fast_image') %>

    <div class="original_price">
      <% if @deal.discount > 0  %>
      <span>
      <%= show_price_label(@deal, price_info) %>
     </span>
     <% end %>
      <% if current_user && current_user.corporate_discount_of(@deal).present? %>
          <div class="corporate-extra-discount" item_id="<%= @deal.id %>" item_type="deal" max_length="57">
          </div>
      <% end %>
    </div>
    <div style="clear:both;"></div>
    <% if @deal.advance_payable? && @deal.sub_deals.empty? && !@deal.gilt? && !@deal.free_gift? && !@deal.free_coupon? %>
        <div style="margin-left: 20px;float: left;width: 200px;">Pay in advance <%= @deal.discounted_price %></div>
        <div style="clear:both;"></div>
    <% end %>
    <div class="main_deal_wrap" style="margin-top: 0">

      <div id="deal_info">

        <div>
          <div class="main_price">
            <%= show_pay(@deal, price_info) %>
          </div>
        </div>
        <div>
          <div class="saving-container">
            <% if @deal.discount > 0  %>
            <%= show_discount(@deal, price_info) %>
            <% end %>
          </div>
        </div>
<div>
  <div class="counter ">
    <%= show_time_counter(@deal, true) %>
    <%= show_avail_date(@deal, true) %>
  </div>
</div>
<div>
  <div class="buy_now" style="width:146px;">
    <%= show_buy_now_button(@deal) %>
    <%= show_buy_now_friend_button(@deal) %>
  </div>
</div>
</div>
<div style="clear:both;"></div>

<div class="deal_texts">
  <div id="deal_highlights" class="highlights">
    <h3><%= t("HIGHLIGHTS") %></h3>
    <%= @deal.highlights.to_s.html_safe %>
  </div>
  <div id="deal_conditions" class="highlights">
    <h3><%= t("CONDITIONS") %></h3>
    <%= @deal.conditions.to_s.html_safe %>
  </div>
</div>
<div style="clear:both;"></div>
<div class="line"></div>
<div class="social_media social-media-likes-featured-deal" deal_id="<%= @deal.id %>" deal_url="<%= CGI.escape(location_deal_url(@deal.location, @deal)) %>">
</div>

</div>
<!-- End main_deal -->