<% cache "featured-deal-#{deal.id}-#{I18n.locale}" do %>
<% price_info = deal.price_information(deal.advance_payable?) %>
<% deal_url = location_deal_url(deal.location, deal) %>

<div class="multiple-deal">
  <div class="multiple-deal-wrap">
    <div class="multiple-deal-content">
      <h2 class="multiple-deal-title">
        <%= link_to deal.title, location_deal_path(deal.location, deal), :class => 'clickable_title' %> :
        <span><%= deal.description.to_s.html_safe %></span>
      </h2>

      <div style="clear:both;"></div>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="img-medium">
            <%= image_slider(deal, :medium, 450, 230, 'fast_image',1) %>
          </td>
          <td style="padding: 5px 4px 0 4px;vertical-align:top;">
            <div>
              <% if deal.discount > 0  %>
              <div class="multiple-deal-original">
                <%= show_price_label(deal, price_info) %>
              </div>
              <% end %>
              <div style="clear:both;"></div>
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="multiple-deal-price">
                    <%= show_pay(deal, price_info, 'multiple_deal') %>
                  </td>
                  <% if deal.discount > 0  %>
                  <td style="width: 2%;"></td>    
                  <td class="multiple-deal-price">
                    <%= show_discount(deal, price_info, 'multiple_deal') %>
                  </td>
                  <% end %>
                  <% if deal.discount > 0  %>
                  <td style="width: 2%;"></td>
                  <td class="multiple-deal-price">
                    <%= show_save(deal, price_info) %>
                  </td>
                  <% end %>
                </tr>
<% end %>
                <% if current_user && current_user.corporate_discount_of(deal).present? %>
                <tr>
                  <td colspan="5" class="counter" style="height: 28px;">
                    <div class="corporate-extra-discount" item_id="<%= deal.id %>" item_type="deal" max_length="37">
                    </div>
                  </td>
                </tr>
                <% else %>
                <tr>
                  <td colspan="5" class="counter" style="height: 20px;font-size: 5px;">&nbsp;</td>
                </tr>
                <% end %>

                <tr>
                  <td colspan="5" class="counter"><%= show_time_counter(deal) %></td>
                </tr>
                <tr>
                  <td colspan="5" class="counter"><%= show_avail_date(deal) %></td>
                </tr>
                <tr>
                  <td style="text-align:center" colspan="5">
                    <%= show_multiple_deal_button(deal) %>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
   <div style="clear:both "></div>
  </div>
</div>


<% if deal.active? and !(deal.gilt? and deal.booked?) %>
    <script type="text/javascript">
        displayCountdown("<%=h deal.id%>", "<%=(deal.end_date.to_i - Time.now.to_i)%>", "time_remaining_counter<%= deal.id%>")
    </script>
<% end %>