<% deal = deal_for_facebook %>
<% price_info = deal.price_information %>
<div class="multiple-deal" style="width:520px">
  <div class="multiple-deal-wrap">
    <div class="multiple-deal-content">
      <h2 class="multiple-deal-title" style='font-size:12pt'>
        <%= deal.title %>: <span><%= deal.description.to_s.html_safe %></span>
      </h2>

      <div style="clear:both;"></div>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="img-medium" style="height:175px;width:330px">
            <%= image_slider(deal, :medium, 330, 175, '') %>
          </td>
          <td style="vertical-align:top;">
            <div>
              <div class="multiple-deal-original" style="height:15px;padding:5px;font-size:8pt">
                <%= show_price_label(deal, price_info) %>
              </div>
              <div style="clear:both;"></div>
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="multiple-deal-price" style="font-size:9pt">
                    <%= show_pay(deal, price_info, 'multiple_deal') %>
                  </td>
                  <td style="width: 2%;"></td>
                  <td class="multiple-deal-price" style="font-size:9pt">
                    <%= show_discount(deal, price_info, 'multiple_deal') %>
                  </td>
                  <td style="width: 2%;"></td>
                  <td class="multiple-deal-price"style="font-size:9pt">
                    <%= show_save(deal, price_info) %>
                  </td>
                </tr>
                <tr>
                  <td colspan="5" class="counter" style="height:20px;font-size:8pt"><%= show_time_counter(deal) %></td>
                </tr>
                <tr>
                  <td colspan="5" class="counter" style="height:20px;font-size:8pt"><%= show_avail_date(deal) %></td>
                </tr>
                <tr>
                  <td style="text-align:center" colspan="5">
                    <%= show_multiple_deal_button(deal) %>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<% if deal.active? and !(deal.gilt? and deal.booked?) %>
    <script type="text/javascript">
        displayCountdown("<%=h deal.id%>", "<%=(deal.end_date.to_i - Time.now.to_i)%>", "time_remaining_counter<%=h deal.id%>")
    </script>
<% end %>
