<% if travels.present? && travels.size > 0 %>
        <div class="multiple-deal">
          <div class="multiple-deal-wrap">
            <div class="multiple-deal-content">
              <h2 class="multiple-deal-title">
                <%= t("BLINK_PRIYOJON_LABEL") %>
              </h2>

              <div style="clear:both;"></div>
              <table width="95%" cellspacing="14" style="background-color:#FCFAFB" id="featured_travel">
                <%
                   index = 0
                %>
                <% travels.each do |travel| %>
                    <% if index%2 == 0 %>
                        <tr>
                    <% end %>
                    <td style="border: 1px solid #EEEEEE">
                      <div style="width:300px;">
                        <div class="show-product-details_link">
                          <%= link_to travel.title, location_deal_path(travel.location, travel) %>
                        </div>
                        <div style="clear:both"></div>
                        <div class="travel_image_hover">
                          <div class="travel_image_hover_wrapper">
                            <%= link_to("<img src='/images/details_buy.png'/>".html_safe, location_deal_path(travel.location, travel), :class => 'multiple-product') %>
                          </div>
                          <%= show_picture(travel, :travel) %>
                        </div>
                        <div style="clear:both"></div>
                      </div>
                      <div class="products_prices" style="width:300px">
                        <div style="float:left">
                          <span style="text-decoration: line-through;color: #e70086;">Tk.<%= h travel.actual_price.to_s.to_bddigit %> </span>
                        </div>
                        <div style='float:left;margin-left:8px;'>
                          <span style="color: #e70086;" class="tk">
                            Tk.<%= travel.advance_payable? ? travel[:discounted_price_for_advance_payment].to_bddigit : travel.discounted_price.to_bddigit %>
                          </span>
                        </div>
                        <div class='discount-multiple-product'>
                          <span><%= travel.advance_payable? ? travel.discount_for_advance_payment : travel.discount.to_s.to_bddigit %>% <%= t("OFF1")%></span>
                        </div>
                      </div>
                          <div style="clear: both;background: none;color: #E70086" class="corporate-extra-discount" item_id="<%= travel.id %>" item_type="deal" max_length="37">
                          </div>
                    </td>
                    <% if index%2 == 1 %>
                        </tr>
                    <% end %>
                    <% index =index+1 %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
<% end %>