<%= render :partial => 'layouts/notice' %>

<div class="lightbox" title="Click to see details">
  <a class="iframe" href="/InstantPurchase" style="display: inline-block;margin-left: 40px;">
    <%= image_tag "/images/We-Accept-#{I18n.locale}.png", :border => 0 %>
  </a>
</div>


<div id="fb_like_box" class="left_box" style="background: white;"></div>

<div class="lightbox" title="Click to see details">
  <a class="iframe" href="/couponOnYourMobile" style="display: inline-block;margin-left: 40px;" >
    <%= image_tag "/images/Coupon-on-your-mobile-phone-#{I18n.locale}.png",  :border => 0 %>
  </a>
</div>





