<% if @left_widget.present? && @left_widget[:deals].size > 0 %>
    <div class="multiple-deal">
      <div class="title page-header" style="pading-left_widget:15px;">
        <h3><%= h @left_widget[:title] %></h3>
      </div>

      <table cellpadding="0" cellspacing="0" style="width:685px;">
        <tr>
          <% @left_widget[:deals].each do |deal| %>
              <td class="deal-item">
                <ul class="side-deals">
                  <li class="deal">
                    <h4><%= link_to h(deal.title), location_deal_path(deal.location, deal) %></h4>
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td><%= show_picture(deal, :small) %></td>
                        <td align="center" valign="middle">
                          <%= show_discount(deal,deal.price_information) %>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="deal-content">
                          <%= deal.description.html_safe %>
                          <%= link_to('View More..', location_deal_path(deal.location, deal)) %>
                        </td>
                      </tr>
                    </table>
                  </li>
                </ul>
              </td>
          <% end %>
        </tr>
      </table>
    </div>
<% end %>