<div class="location">
  <h2 class="map"><%= @deal.merchant.name %></h2>

  <div class="deal_background" style="float: left; width: 300px;">
    <%= @deal.background.html_safe if @deal.background.present? %>
  </div>
  <div style="float: right; width: 330px; margin-right: 10px">
    <div id="google_map" style="float: right; width: 330px;" deal_id="<%= @deal.id %>"></div>
    <div style="float: left; width: 330px;"><%= show_address(@deal) %></div>
    <div class="website"><%= link_to(@deal.merchant.website, @deal.merchant.website, :target => '_blank') if @deal.merchant.website.present? %></div>
  </div>
</div>

<div class="location" style="height:auto;">
  <h2 class="map">Comment</h2>
  <div style="float:left;margin:20px 0 0 10px;width:640px">
    <fb:comments href="<%= request.url %>" num_posts="2" width="645"></fb:comments>
  </div>
</div>