<% price_information = deal.price_information %>
<table cellpadding="0" cellspacing="0" border="0" width="100%" class="deal_details">
  <tr>
    <td class="image" rowspan="3">
      <%= show_picture(deal, :medium) %>
    </td>
  </tr>
  <tr>
    <td class="content">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td class="deal-title top">
            <h4><%= link_to h(deal.title), location_deal_path(deal.location, deal) %></h4>
          </td>
        </tr>
        <tr>
          <td class="desc">
            <%= deal.description.to_s.html_safe %>
          </td>
        </tr>
        <% unless (deal.free_coupon? || deal.free_gift?) %>
          <tr>
            <td><span class="label"><i><%=show_price_label(deal, price_information) %></i></span></td>
          </tr>
        <% end %>
        <tr>
          <td><span class="label"><%= t('DISCOUNT')%> :</span> <%= show_discount(deal, price_information, 'past') %></td>
        </tr>
        <% unless (deal.free_coupon? || deal.free_gift?) %>
          <tr>
            <td><span class="label"><%= t('SAVINGS')%>  :</span> <%= show_save(deal, price_information, 'past') %></td>
          </tr>
        <% end %>
        <tr>
          <td><span class="label"><%= t('CLOSED_ON')%> :</span> <%= show_date(deal.end_date) %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="link">
      <fb:like href="<%= location_deal_url(deal.location, deal) %>" send="false" width="50" show_faces="false" font="" layout="button_count"></fb:like>
      <!--<a name="fb_share" class="social-button" type="button_count" share_url="<%= location_deal_url(deal.location, deal) %>" href="http://www.facebook.com/sharer.php">Share</a>-->
      <%= link_to(t("VIEW_DETAILS"), location_deal_path(deal.location, deal)) %>
    </td>
  </tr>
</table>