<% if deals.present? && deals.size > 0 %>
    <ul class="side-deals">
      <li class="header"><h3><%= link_to t("RECENT_DEALS"), past_location_deals_path(session[:location]) %></h3></li>
      <%= render :partial => 'side_deal', :collection => deals, :as => :deal %>
      <li class="bangla" style="border-top: 1px solid #000000"><%= link_to t("VIEW_ALL_RECENT_DEALS"), past_location_deals_path(session[:location]), :style => "color: #5A0E3C" %></li>
      <li class="last"> </li>
    </ul>
<% end %>