<li class="deal">
  <h4><%= link_to h(deal.title), location_deal_path(deal.location, deal) %></h4>
  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td><%= show_picture(deal, :small) %></td>
      <td align="center" valign="middle">
        <%=show_discount(deal,deal.price_information) %>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="deal-content">
        <%= deal.description.to_s.html_safe %>
        <%= link_to(t('VIEW_MORE'), location_deal_path(deal.location, deal)) %>
      </td>
    </tr>
  </table>
</li>