<% if @left_widget.present? && @left_widget[:deals].size > 0 %>
    <ul class="side-deals">
      <li class="header"><h3><%= h @left_widget[:title].html_safe %></h3></li>
      <%= render :partial => 'side_deal', :collection => @left_widget[:deals], :as => :deal %>
      <li class="last"> </li>
    </ul>
<% end %>