    <% @deal.sub_deals.each do |deal| %>
        <div class="sub-deal">
          <table width="100%" cellspacing="0">
            <tr>
              <td align="left" valign="top">
                <div class="package-title">
                  <h1><%= deal.title %></h1>
                  <%= h deal.description.html_safe %>
                  <div class="corporate-extra-discount" item_id="<%= deal.id %>" item_type="deal" style="clear: both;font-weight: bold;background: none;color: #E70086">
                  </div>
                </div>
              </td>
              <td valign="top" style="width: 167px;">
                <table>
                  <tr>
                    <td valign="top"><b><%= t('PRICE') %>:</b></td>
                    <td>
                      <% if deal.discount > 0 %>
                      <span class="original-price"> <%= t("TAKA") %> <%= deal.actual_price.to_i %></span> <br/>
                       <% end %>
                      <% if deal.advance_payable? %>
                          <span class="discounted-price"><%= t("TAKA") %> <%= deal.discounted_price(true) %></span>  <br />
                          <span class="discounted-price" style="font-size: 11px"><%= t("TAKA") %> <%= deal.discounted_price(false) %>(in advance)</span>
                      <% else %>
                          <span class="discounted-price"><%= t("TAKA") %> <%= deal.discounted_price.to_i %></span>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </td>
              <td style="width: 158px;">
                <div style="float:right;padding-right: 10px;">
                  <%= link_to t('BUY_NOW'), new_location_deal_order_path(deal.location, deal), :class => 'button sub-deal-buy', :style => "margin: 0" %>
                  <%= show_buy_now_friend_button(deal) %>
                </div>
              </td>
            </tr>
          </table>
        </div>
    <% end %>
