<script type="text/javascript">
    function initialize() {
        var myLatlng = new google.maps.LatLng("<%= @deal.merchant.lat %>", "<%= @deal.merchant.long %>");
        var mapOptions = {
            zoom: 16,
            center: myLatlng,
            mapTypeControlOptions: {
                mapTypeIds: [google.maps.MapTypeId.SATELLITE, 'akhoni_map']
            }
        };

        var mapStyles = [
            {
                featureType: "all",
                elementType: "all",
                stylers: [
                    { hue: "#5C0B3A"},
                    {saturation: 10 }
                ]
            }
        ];
        var styledMapOptions = { name: "<%= t('AKHONI_MAP').html_safe %>" };

        var mapType = new google.maps.StyledMapType(mapStyles, styledMapOptions);

        var map = new google.maps.Map(document.getElementById("google_map"), mapOptions);

        map.mapTypes.set('akhoni_map', mapType);
        map.setMapTypeId('akhoni_map');

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            animation: google.maps.Animation.DROP,
            title: "<%= @deal.merchant.name %>"
        });
    }

    function loadScript() {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize&language=<%= I18n.locale.to_s %>";
        document.body.appendChild(script);
    }

    $(document).ready(function() {
        // load google maps
        loadScript();

//        // Initialize fancybox
//        $('.lightbox a').fancybox({
//            width   : 800,
//            height  : 350,
//            opacity : true
//        });
    });

</script>
