
<%= render_featured_deals %>

<% cache "featured-merchants-#{I18n.locale}" do %>
    <%= render_featured_merchants() %>
<% end %>


<% if params[:category_id].to_i != 1 %>
    <% cache "featured-travels-#{I18n.locale}" do %>
        <%= render_featured_travels() %>
    <% end %>
<% end %>


<% cache "featured-products-#{I18n.locale}" do %>
    <%= render_featured_products() %>
<% end %>

<%#= render :partial => 'more_deals' %>

<% content_for :left_sidebar do %>
    <%#= render :partial => 'left_sidebar' %>

    <div class="noprint" title="Click to see details">
      <a class="" href="/digital-mind-2012" style="display: inline-block;margin-left: 40px;" >
        <%= image_tag "/images/digital-mind-2012.png",  :border => 0 %>
      </a>
    </div>

    <% cache "recent-deals-#{I18n.locale}"  do%>
        <%#= render_recent_deals %>
    <% end %>
<% end %>

