<% cache 'current_deals_facebook' do %>
    <% @deals = Deal.live.parent_deal.featured.in_categories([0]).for(params[:location_id]).order_by_rating() %>
    <link href="/stylesheets/nivo-slider.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/javascripts/jquery.nivo.slider.pack.js" type="text/javascript"></script>
    <div style="width:520px;">
      <%= render :partial => 'deal_for_facebook', :collection => @deals %>
    </div>
<% end %>


