<% page_title 'Recent deals - Akhoni' %>
<div class="title page-header">
  <h1>Recent Deals</h1>
</div>

<table cellpadding="0" cellspacing="0" border="0" width="100%" class="deals">
  <tbody>
  <% if @deals.size > 0 %>
      <tr>
        <td colspan="2">
          <%= render :partial => 'past_deal', :collection => @deals, :as => :deal %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="separator"></td>
      </tr>
      <tr class="clear">
        <td colspan="2" align="center"><%= will_paginate(@deals) %><%#= page_entries_info @deals %></td>
      </tr>
  <% else %>
      <tr class="clear">
        <td class="empty">No deal available</td>
      </tr>
  <% end %>
  </tbody>
</table>


<% content_for :subscription do %>
    <%= render :partial => 'subscriptions/subscription_strip' %>
<% end %>
