
<div id="fb-root"></div>

<%= render :partial => 'content' %>

<% content_for :page_bottom do %>
    <%= render :partial => 'page_bottom' %>
<% end %>

<% content_for :subscription do %>
    <%= render :partial => 'subscriptions/subscription_strip' %>
<% end %>

<% content_for :left_sidebar do %>
    <%#= render :partial => 'left_sidebar' %>
    <%= render :partial => 'side_deals' %>
<% end %>

<% if @deal.active? and !(@deal.gilt? and @deal.booked?) %>
    <script type="text/javascript">
        displayCountdown("<%=h @deal.id%>", "<%=(@deal.end_date.to_i - Time.now.to_i)%>", "time_remaining_counter<%=h @deal.id%>")
    </script>
<% end %>

<div style="display:none;" id="check_time"></div>


