<div class="sub-deal-container">
  <h1 class="deal_title">
    <%= link_to(@deal.title, location_deal_path(@deal.location, @deal)) %>
  </h1>

  <div style="clear:both;"></div>
  <br/>

  <%= render :partial => 'sub_deals' %>
</div>