<tr id="order_<%= coupon.order_id %>" class='<%= 'paid' if coupon.order.paid? %>'>
  <td id="order_id"><%= h(coupon.order_id) %></td>
  <td nowrap><%= h coupon.user_name %></td>
  <!--td><%#= truncate(coupon.order.user.email, :length => 40) %></td-->
  <td><%= coupon.order.user.phone %></td>
  <td>
    <% if can? :show, :"manage/orders" %>
        <%= link_to coupon.order.security_code_booking, admin_order_path(coupon.order) %>
    <% else %>
        <%= coupon.order.security_code_booking %>
    <% end %>
  </td>
  <td>
    <% if can? :show, :"manage/orders" %>
        <%= link_to coupon.security_code_coupon, admin_order_path(coupon.order) %>
    <% else %>
            <%= coupon.security_code_coupon %>
    <% end %>
    </td>
  <td nowrap><%= show_date(coupon.created_at) %></td>
  <td><%= coupon.quantity %></td>
  <td><%= coupon.actual_price %></td>
  <td><%= coupon.amount %></td>
  <td><%= coupon.order.payment_type %></td>
  <td><%= show_status(coupon.order) %></td>
  <td style="text-align:center"><%= coupon.gift? ? 'Yes' :'No' %></td>
  <td style="text-align:center"><%= coupon.redeemed? ? 'Yes' : 'No' %></td>
  <td class="action">
    <%= link_to_print_coupon(coupon, 'Coupon', {:class => 'button'}) %>
    <% if can? :resend_sms, :"manage/coupons" %>
        <%= link_to('Resend', admin_coupon_resend_sms_path(coupon), :method => :post, :confirm => 'Are you sure, you want to resend the coupon?', :id => "resend#{coupon.id}", :title => 'Resend SMS',:class =>'button') %>
    <% end %>
    <%= show_history(coupon.id,'Coupon') %>
  </td>
</tr>