<%
coupon_html = escape_javascript(render( :partial => 'manage/orders/coupons', :locals => {:order => @order.reload, :message => @notice}))
%>

$("#order<%=h @order.id%>_coupons").html("<%=coupon_html%>")
$(".order<%=h @order.id%>_quantity").html("<%=h @order.quantity%>")