<div id="dialog_comment" style="display:none;">
  <form>
    <textarea rows="3" cols="45" id="comment_value"></textarea>
  </form>
</div>


<%= form_for @search, :url => admin_coupons_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Coupons
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Deal</td>
        <td colspan="3"><%= select("search", "order_deal_id_or_order_deal_parent_id_equals", deal_options(), {:include_blank => true}) %></td>
      </tr>

      <tr>
        <td class="info-block-label-nowrap">Product</td>
        <td ><%= select("search", "order_product_id_equals", product_options(), {:include_blank => true ,:size => 20}) %></td>
      <tr>

      <tr>
        <td class="info-block-label-nowrap">Confirmed?</td>
        <td>
          <%= f.check_box :order_confirmed_by_greater_than_or_equal_to %>
          <%= select("search", "order_confirmed_by_equals", collector_options_using_email(), {:include_blank => true}) %>
        </td>
        <td class="info-block-label-nowrap">Paid? <%= f.check_box :order_is_notified_is_true %>
          <%= select("search", "order_payments_collector_id_equals", collector_options_using_email(), {:include_blank => true}) %>
        </td>
        <td>
          <span class="info-block-label-nowrap">Redeemed?</span>
          <%= f.check_box :redeemed_by_user_id_greater_than_or_equal_to %> Yes &nbsp;&nbsp;
          <%= f.check_box :redeemed_by_user_id_is_null %> No
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Code</td>
        <td><%= f.text_field :order_security_code_booking_or_security_code_coupon_contains, :size => '25' %></td>
        <td class="info-block-label-nowrap" colspan="2">
          Customer Name/Phone
          <%= f.text_field :order_user_firstname_or_order_user_lastname_or_order_user_phone_contains, :size => '28' %>
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Date between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="selectDate"  class="date_filter_selector" for="booking_at" />
          <%= f.datetime_select :order_booking_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
          and <%= f.datetime_select :order_booking_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'booking_at'} %>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <% if exportable?(:coupon) %>
            <%= f.submit "Export to Excel" %>
          <% end %>
        </td>
      </tr>
    </table>

    <% if @coupons.size > 0 -%>
        <table cellpadding="10" cellspacing="1" border="0" class="list">
          <tr>
            <td colspan="5"><%= page_entries_info @coupons %></td>
            <td colspan="10" style="text-align:right;"><%= will_paginate(@coupons) %></td>
          </tr>
          <tr>
            <th width="40">Order#</th>
            <th width="100">Name</th>
            <!--th>Email</th-->
            <th width="110">Phone</th>
            <th width="90"><%= f.sort_link :order_security_code_booking, 'Booking Code' %></th>
            <th width="90"><%= f.sort_link :security_code_coupon, 'Coupon Code' %></th>
            <th width="85"><%= f.sort_link :created_at, 'Date' %></th>
            <th width="30"><%= f.sort_link :quantity, 'Qty.' %></th>
            <th width="45">Value</th>
            <th width="65">P. Amount</th>
            <th width="65">P. Method</th>
            <th>Status</th>
            <th width="40">Gift?</th>
            <th>Redeemed?</th>
            <th width="50">Action</th>
          </tr>
          <tbody>
          <%= render :partial => "row_coupon", :collection=> @coupons, :as => :coupon %>
          <tr>
            <td colspan="5"><%= page_entries_info @coupons %></td>
            <td colspan="10" style="text-align:right;"><%= will_paginate(@coupons) %></td>
          </tr>
          </tbody>
        </table>
    <% else %>
        <div class="empty">No orders</div>
    <% end %>
<% end %>