<div id="subscription-strip">
  <div class="subscription-strip-wrap">
    <div class="subscription-strip-content">
      <center>
        <table>
          <tr>
            <td id="subscription-strip-form-container">
              <form id="subscription-strip-form" name="subscription-strip-form" method="post" action="<%= subscriptions_path() %>">
                <div class="subscription-strip-input-container">
                  <span class="subscription-strip-input-label"><%= t("MAKE_SURE_YOU_NEVER_MISS_A_DEAL")%></span>
                  <input name="email" id="subscription-strip-email" value="Enter your email or phone number" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" type="text">
                  <span id="response-strip-container" class="response-container"></span>
                </div>

                <div id="subscription-strip-btn-container">
                  <input value="<%= t("SUBSCRIBE")%>" type="submit" id="subscription-strip-submit" class="bangla">
                </div>
              </form>
            </td>
          </tr>
        </table>
      </center>

      <div class="hide-strip subscription-skip"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
    var is_subscribed = "<%= (current_user.present? && current_user.is_subscribed?) ? 1 : 0 %>";
    is_subscribed = is_subscribed == "1" ? 1 : $.cookie('is_subscribed');
</script>

<% if (current_user.present?) %>
    <script>$.cookie('subscription_popup', 1)</script>
<% end %>

<a class="subscription-popup"></a>

<%= javascript_include_tag 'subscribe' %>