<div id="subscription-popup">
  <div class="subscription-wrap">
    <div class="subscription-content">
      <div class="city-name">The Place for best deals in <%= h Location.default.name %></div>
      <form id="subscription-popup-form" name="subscription-popup-form" method="post" action="<%= subscriptions_path() %>">
        <div id="subscription-popup-title">Enter your email address/mobile number to get FREE deal alerts</div>
        <div class="subscription-input-container">
          <input name="email" id="subscription-popup-email" value="Enter your email address" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" type="text">
          <div id="response-popup-container" class="response-container"></div>
        </div>

        <div id="subscription-popup-btn-container">
          <input value="Subscribe" type="submit" id="subscription-popup-submit">
        </div>
      </form>
      <div class="subscription-footer">
        <span class="hide-strip">I'm already a subscriber, skip</span><br />
        <span>(You need to sign-up to get discount)</span>
      </div>
    </div>
  </div>
</div>