<% page_title "Sign In" %>

<div class="title page-header">
  <h1><%= t("SIGN_IN")%></h1>
</div>

<div class="form">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <p><%= f.label :login %>
        <%= f.text_field :login %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <% if devise_mapping.rememberable? -%>
            <br/> <%= f.check_box :remember_me, {:checked => 'checked'} %> <span id="remember_me"><%= t("REMEMBER_ME")%></span>
        <% end -%>
        <br/>

        <%= f.submit t("SIGN_IN") %>
      </p>

      <p>
        <%= render :partial => "devise/shared/links" %>
      </p>
  <% end %>
</div>
<script language="JavaScript">
    $(document).ready(function(){
      $("form#user_new input#user_login").focus();
      /*$("form#user_new").submit(function(){
          var phone_or_email = $("form#user_new input#user_login").val();
          phone_or_email = phone_or_email.substr(0,1) == '+' ? phone_or_email.substr(1,phone_or_email.length) : phone_or_email;
          if((phone_or_email > '') && (!isNaN(phone_or_email))){
              phone_or_email = phone_or_email.match("^88") == null ? '88' + phone_or_email :  phone_or_email ;
              $("form#user_new input#user_login").val(phone_or_email);
          }
          return true;
      })*/
    });
</script>