<div>
  <div style="width:100%;">
    <b>Dear <%= @order.user.name %>,</b><br/><br/>
    Thank you for using our service.
    <% if @order.waiting? %>
    <br />
      <%= @order.deal.present? && !@order.product.present? ? @order.deal.wait_message : @order.product.wait_message  %>
    <br />
    <% end %>
    Please <%= link_to "Click here", @order.deal.present? ? location_deal_order_url(@order.orderable.location, @order.orderable, @order) : location_product_order_url(@order.orderable.location, @order.orderable, @order)%> to see
    your order/booking details and collect coupon, We'll contact with you shortly. <br/><br/>
    You can also call us @ <%=h SITE_CONFIG['hotline_number']%> specially if you have not given your contact number during sign-up. <br/><br/>
    Please visit  Akhoni.com everyday to get more attractive deals. <br/><br/><br/>
  </div>
  <div style="width:100%; color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>