<div>
  <div>
    <b>Dear <%= @recipient[:name] %>,</b><br/>
    Order has been canceled, details are as follows:
    <table id="order_table" style="width: 600px;padding-top:20px;" cellspacing="5">
      <tr>
        <% if @order.deal.present? %>
            <td width="100"><b>Deal</b></td>
            <td width="5">:</td>
            <td><%= @order.deal.title %></td>
        <% else %>
            <td><b>Product</b></td>
            <td>:</td>
            <td><%= @order.product.name %></td>
        <% end %>
      </tr>
      <tr>
        <td width="100"><b>User</b></td>
        <td width="5">:</td>
        <td><%= @order.user.name %></td>
      </tr>
      <tr>
        <td><b>Booking Code</b></td>
        <td>:</td>
        <td><%= @order.security_code_booking %></td>
      </tr>
      <tr>
        <td><b>Quantity</b></td>
        <td>:</td>
        <td><%= @order.quantity %></td>
      </tr>
      <tr>
        <td><b>Quantity</b></td>
        <td>:</td>
        <td><%= @order.actual_price %></td>
      </tr>
    </table>
  </div>
  <div style="width:100%; padding-top: 20px;color:#666;">
    Sincerely, <br/>
    The Akhoni.com Team
  </div>
</div>