<div>
  <div style="width:100%;">
    <b>Dear <%= @user.name %>,</b><br/><br/>
    Thank you for buying from Akhoni.com. Please <%= link_to "Click here", @coupon_url %> to get your coupon.
    <br/><br/>
    Enjoy the deal! <br/><br/>
  </div>
  <div style="width:100%;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>