<div>
  <div style="width:100%;">
    <b>Dear <%= @order.user.name %>,</b><br/><br/>
    Thank you for using our service.
    Please <%= link_to "Click here", location_deal_order_url(@order.deal.location, @order.deal, @order) %> to see
    your booking details, We'll contact with lucky winners! <br/><br/>
    You can also call us @ <%=h SITE_CONFIG['hotline_number']%> specially if you have not given your contact number during sign-up. <br/><br/>
    Please visit  Akhoni.com everyday to get more attractive deals. <br/><br/><br/>
  </div>
  <div style="width:100%; color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>