<div>
  <div style="width:100%;">
    <b>Dear <%= "#{@order.user.name}" %>,</b><br/><br/>
    You have successfully bought the Coupon for <%="#{@order.gift.name}"%>.
    The transaction process has been completed and the Gift Coupon has been emailed to <%="#{@order.gift.name}"%>.
    <br/><br/>
    Thank you for using Akhoni.com service.     <br/><br/>
  </div>
  <div style="width:100%;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>