<div>
  <div style="width:100%;">
    <b>Congratulations, <%= "#{@order.gift.name}" %>,</b><br/><br/>
    You have received Akhoni.com Gift Coupon from <%="#{@order.user.name_or_email}"%>! Please <%= link_to "Click here", @coupon_url %> to get your gift coupon.
    <br/><br/>
    Enjoy the deal! <br/><br/><br/><br/>
  </div>
  <div style="width:100%;color:#666;">
    Sincerely, <br/>
    Akhoni.com Team
  </div>
</div>