<div>
  <div style="width:100%;">
    <b>Dear <%= @order.user.name %>,</b><br/>
    Thank you for using our service. You have not paid actual amount to get the coupon. <br/>
    Please
    <% if @order.deal.present? %>
        <%= link_to "Click here", location_deal_order_url(@order.deal.location, @order.deal, @order) %>
    <% else %>
        <%= link_to "Click here", location_product_order_url(@order.product.location, @order.product, @order) %>
    <% end %>
    to see
    your order details and contact with us to pay CASH and collect your coupon.
    <br/><br/>
    Keep in touch to get more attractive deals.
  </div>
  <div style="width:100%; padding-top: 20px;color:#666;">
    Sincerely, <br/>
    The Akhoni.com Team
  </div>
  <br/><br/><br/>
</div>