<div>
  <div style="width:100%"><h1 style="margin: auto; font-variant: small-caps; text-align: left">Invoice</h1></div>
  <div style="width:100%">
    <table id="invoice_table" style="border: 1px solid #c0c0c0; margin:auto">
      <tr>
        <td colspan="4">
          <table id="reference" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td style="width:75px; vertical-align: top"><strong>Name</strong></td>
              <td style="width: 10px; vertical-align: top">:</td>
              <td style="width:500px; vertical-align: top"><%= @user.name %></td>
              <td style="width: 60px; vertical-align: top"><strong>Date</strong></td>
              <td style="width: 10px; vertical-align: top">:</td>
              <td style="width:100px; vertical-align: top"><%= @payment.paid_at.strftime "%d.%m.%y" %></td>
            </tr>
            <tr>
              <td style="vertical-align: top"><strong>Address</strong></td>
              <td style="width: 10px; vertical-align: top">:</td>
              <td style="vertical-align: top">
                <%= @user.address.gsub(/\n/, '<br />').html_safe if @user.address.present? %>
              </td>
              <td style="vertical-align: top">Ref. No</td>
              <td style="width: 10px; vertical-align: top">:</td>
              <td style="vertical-align: top"><%= @payment.id.to_s.rjust(8, '0') %></td>
            </tr>
            <tr>
              <td style="vertical-align: top"><strong>Phone</strong></td>
              <td style="vertical-align:top">:</td>
              <td style="vertical-align:top"><%= @user.phone %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border-bottom: 1px solid #c0c0c0;"></td>
      </tr>
      <tr id="heading">
        <td width="500">Description</td>
        <td width="100">Quantity</td>
        <td width="100">Total</td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #c0c0c0;">&nbsp;</td>
      </tr>

      <tr id="content">
        <td height="300" style="height:200px; min-height: 200px; vertical-align:top;"><%=  @payment.order.deal.present? ? @payment.order.deal.title :  @payment.order.product.name%></td>
        <td style="vertical-align: top"><%= @payment.order.quantity %></td>
        <td style="vertical-align: top"><%= @payment.amount %></td>
      </tr>
      <tr>
        <td colspan="4" style="border-top: 1px solid #c0c0c0;">&nbsp;</td>
      </tr>
      <tr id="footer">
        <td colspan="2">Total</td>
        <td><%= @payment.amount %></td>
      </tr>
    </table>
  </div>
  <div style="width:100%; padding-top: 40px;color:#666;">
    Sincerely, <br/>
    The Akhoni.com Team
  </div>
</div>