<% page_title "Payment canceled." %>

<div class="message-dialog">
  <h1 class="error">Payment has been canceled.</h1>

  <p><%= link_to 'Click here to go the deal page', location_deal_path(@payment.order.deal.location, @payment.order.deal) %></p>
</div>
