<% page_title "Error" %>

<div class="message-dialog">
  <h1 class="error">An error has occured during payment transaction.</h1>

  <p>Please <%= link_to 'Click here to contact', "/ContactUs" %> with administrator.</p>
</div>