<% page_title "Payment transaction failed" %>

<div class="message-dialog">
  <h1 class="error">Unable to process the payment.</h1>

  <p><%= params[:error].html_safe %>, Please <%= link_to 'click here to try again', new_location_deal_order_path(@payment.order.deal.location, @payment.order.deal) %> or contact with admin.</p>
</div>