<% page_title "Incomplete order" %>

<div class="message-dialog">
  <h1 class="error">Paid amount was less than the order amount.</h1>

  <p>You have not paid enough amount to get the coupon, <br />please <%= link_to 'Click here to contact', "/ContactUs" %> with administrator to get your coupon.</p>
</div>