<% page_title "Invalid payment transaction" %>

<div class="message-dialog">
  <h1 class="error">Invalid Payment Transaction</h1>

  <p>Please <%= link_to 'Click here to contact', "/ContactUs" %> with administrator.</p>
</div>