<% page_title "Payment completed" %>

<div class="message-dialog">
  <h1>Payment operation has been completed successfully.</h1>

  <p>Please <%= link_to 'Click here to contact', "/ContactUs" %> with administrator for further query.</p>
</div>