<% page_title "Unsubscribe" %>

<div class="title page-header">
  <h1>Unsubscribe</h1>
</div>
<br/>
<div class="form" style="padding-left: 0px;">
  <%= form_tag('/unsubscribe', :method => :post) do -%>
      We are sorry to find you are not any longer interested in our newsletter.<br>
      Please click to <b>Unsubscribe</b> button below.<br><br>

      <%= hidden_field_tag "email", @user.email %>
      <%= hidden_field_tag "id", @user.id %>
      <%= h @user.email %> <%= submit_tag 'Unsubscribe' %>
  <% end %>
</div>
