<%= form_for @search, :url => admin_referrals_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Referrals
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">User Name/Phone</td>
        <td><%= f.text_field :user_firstname_or_user_lastname_or_user_phone_contains, :size => '15' %></td>
        <td class="info-block-label-nowrap">Medium</td>
        <td><%= select("search", "medium_equals",medium_options, {:include_blank => true}) %>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Code</td>
        <td><%= f.text_field :code_contains, :size => '15' %></td>
        <td class="info-block-label-nowrap">Referable type</td>
        <td><%= select("search", "referable_type_equals", referable_type_options) %>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Visit count between</td>
        <td><%= f.text_field :visit_count_greater_than_or_equal_to, :size => '9' %>
          and <%= f.text_field :visit_count_less_than_or_equal_to, :size => '10' %>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <%= f.submit "Export to Excel" %>
        </td>
      </tr>
    </table>
<% end %>
<% if @referrals.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @referrals} %>
      <tr>
        <th width="80">User name</th>
        <th width="80">Code</th>
        <th width="80">Medium</th>
        <th width="80">Visit Count</th>
        <th width="150">Referrable Link</th>
        <th width="80">Referrable Type</th>
        <th width="80">Referral Tracking</th>
      </tr>
      <tbody>
      <% @referrals.each do |referral| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= User.find(h(referral.user_id)).name %></td>
            <td><%= h(referral.code) %></td>
            <td><%= h(referral.medium) %></td>
            <td><%= h(referral.visit_count) %></td>
            <td><%= h show_referable_link referral.referable_id, referral.referable_type %></td>
            <td><%= h(referral.referable_type) %></td>
            <td class="center">
              <%= link_to 'referral tracking', tracking_admin_referral_path(referral) %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @referrals} %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Referrals available</div>
<% end %>
