
<% if @referral_trackings.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%#= render :partial => 'manage/commons/pagination', :locals => {:items => @referral_trackings} %>
      <tr>
        <th width="80">Referral ID</th>
        <th width="80">Visit Time</th>
        <th width="80">Visitor IP</th>
        <th width="150">User Agent</th>
        <th width="80">Visitor ID</th>
        <th width="80">Order ID</th>
        <th width="80">Event</th>
      </tr>
      <tbody>
      <% @referral_trackings.each do |referral_trakings| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= h(referral_trakings.referral_id) %></td>
            <td><%= h(referral_trakings.visit_time) %></td>
            <td><%= h(referral_trakings.visitor_ip) %></td>
            <td><%= h(referral_trakings.user_agent) %></td>
            <td><%= h(referral_trakings.visitor_id) %></td>
            <td><%= h(referral_trakings.order_id) %></td>
            <td><%= h(referral_trakings.event) %></td>
          </tr>
      <% end %>
      <%#= render :partial => 'manage/commons/pagination', :locals => {:items => @referral_trackings} %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Referral Trackings available</div>
<% end %>
