<%= form_for @search, :url => '/referrals/:id/tracking' , :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
    <table cellspacing="4" class="info-block">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Referral Tracking
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Visitor Name/Phone</td>
        <td><%= f.text_field :user_firstname_or_user_lastname_or_user_phone_contains, :size => '15' %></td>
        <td class="info-block-label-nowrap">Order ID</td>
        <td><%= f.text_field :order_id_contains, :size => '9' %></td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Visit Time between</td>
        <td colspan="5">
          <input type="checkbox" id="selectDate" name="search[select_date]" class="date_filter_selector" for="paid_at" <%=date_filter_enabled? ? 'checked' : ''%> />
          <%= f.date_select :visit_time_greater_than_or_equal_to, {:disabled => !date_filter_enabled?()}, {:class => 'paid_at'} %>
          and <%= f.date_select :visit_time_less_than_or_equal_to, {:disabled => !date_filter_enabled?()}, {:class => 'paid_at'} %>
        </td>
      </tr>

      <tr>
        <td colspan="6" class="info-block-title">
          <%= f.submit "Filter" %>
          <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
          <%= f.submit "Export to Excel" %>
        </td>
      </tr>
    </table>
<% end %>
<% if @referral_trackings.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%#= render :partial => 'manage/commons/pagination', :locals => {:items => @referral_trackings} %>
      <tr>
        <th width="80">Referral ID</th>
        <th width="80">Visit Time</th>
        <th width="80">Visitor IP</th>
        <th width="150">User Agent</th>
        <th width="80">Visitor ID</th>
        <th width="80">Order ID</th>
        <th width="80">Event</th>
      </tr>
      <tbody>
      <% @referral_trackings.each do |referral_trakings| %>
          <% klass = cycle('odd', 'even') %>
          <tr class='<%= klass %>'>
            <td><%= h(referral_trakings.referral_id) %></td>
            <td><%= h(referral_trakings.visit_time) %></td>
            <td><%= h(referral_trakings.visitor_ip) %></td>
            <td><%= h(referral_trakings.user_agent) %></td>
            <td><%= referral_trakings.visitor_id.present? ?  User.find(h(referral_trakings.visitor_id)).name : '' %></td>
            <td><%= h(referral_trakings.order_id) %></td>
            <td><%= h(referral_trakings.event) %></td>
          </tr>
      <% end %>
      <%#= render :partial => 'manage/commons/pagination', :locals => {:items => @referral_trackings} %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No Referral Trackings available</div>
<% end %>
