<% page_title 'Edit User Information' %>

<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit User Information
    </td>
  </tr>
  <tr>
    <td>
      <div>
        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this merchant from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
      </div>

      <%= form_for(@user, :url => admin_user_path(@user), :method => :PUT) do |f| %>
          <div class="actions">
            <table class="form" width="100%" cellpadding="5" cellspacing="0">
              <tr>
                <td width="50%" style="vertical-align:top">
                  <table width="100%" cellpadding="5" cellspacing="0">
                    <tr>
                      <td colspan="2">
                        <div class="label">First Name</div>
                        <%= f.text_field :firstname, :size => 55, :maxlength => 150 %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Last Name</div>
                        <%= f.text_field :lastname, :size => 55, :maxlength => 150 %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Email</div>
                        <%= f.text_field :email, :size => 55, :maxlength => 150 %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Phone</div>
                        <%= f.text_field :phone %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Referral Credit</div>
                        <%= f.text_field :referral_credit %>
                      </td>
                    </tr>
                  </table>
                </td>
                <td width="50%" style="vertical-align:top">
                  <table width="100%" cellpadding="5" cellspacing="0">
                    <tr>
                      <td colspan="2">
                        <div class="label">Role</div>

                        <% for role in User::ROLES %>
                            <%= check_box_tag "user[roles][]", role, @user.is?(role) %>
                            <%= h role.humanize %>
                        <% end %>
                        <%= hidden_field_tag "user[roles][]" %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <table>
                          <tr>
                            <td>
                              <div class="label">Gender</div>
                            </td>
                            <td><%= radio_button_tag("user[gender]", "M", @user.gender.to_s == 'M' ? true : false) %></td>
                            <td valign="top">Male</td>
                            <td><%= radio_button_tag("user[gender]", "F", @user.gender.to_s == 'F' ? true : false) %></td>
                            <td valign="top">Female</td>
                          </tr>
                        </table>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="label">Address</div>
                        <%= f.text_area :address, :rows => 3, :cols => 71 %>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="2">
                        <div class="label">Subscribed?</div>
                        <%= f.check_box :is_subscribed %>
                        <div class="label">Active?</div>
                        <%= f.check_box :is_active, :class => 'act' %>
                        <div class="label">Suspend/Activate Reason</div>
                        <%= f.text_field :suspended_reason %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td colspan="2" class="info-block-bar">
                  <%= f.submit %> or
                  <%= link_to 'Cancel', admin_users_path() %>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </td>
  </tr>
</table>
