<%= render :partial => 'manage/commons/filter_users' %>

<% if @users.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @users} %>
      <tr>
        <th width="20">ID</th>
        <th>Name</th>
        <th width="200">Email</th>
        <th width="150">Phone</th>
        <th>Address</th>
        <th width="40">Gender</th>
        <th width="50">Subscribed?</th>
        <th width="50">Suspended?</th>
        <th width="140"></th>
      </tr>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= h(user.id) %></td>
            <td><%= link_to user.name, admin_user_path(user.id) %></td>
            <td><%= link_to user.email, admin_user_path(user.id) %></td>
            <td><%= h(user.phone) %></td>
            <td><%= h(user.address) %></td>
            <td><%= show_gender(user) %></td>
            <td><%= h(user.is_subscribed? ? 'Yes' :'No') %></td>
            <td><%= h(user.active? ? 'No' :'Yes') %></td>
            <td class="center">
              <% if can? :edit, :"manage/users" %>
                  <%= link_to 'Edit', edit_admin_user_path(user) %>
                  |
              <% end %>
              <% if can? :show, :"manage/users" %>
                  <%= link_to 'Show', admin_user_path(user) %>
              <% end %>
              <% if can? :access, :"manage/users" %>
                  <% if user.active? %>
                      |
                      <%= link_to 'suspend', suspend_admin_user_path(user), :method => :put, :confirm => 'Are you sure, You want to suspend user?' %>
                  <% else %>
                      |
                      <%= link_to 'Activate', activate_admin_user_path(user), :method => :put, :confirm => 'Are you sure, You want to activate user?' %>
                  <% end %>
              <% end %>

              <%= show_history(user.id, 'User') %>
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @users} %>
      </tbody>
    </table>
<% else %>
    <div class="empty">No User available</div>
<% end %>
