<h1>Login As</h1>
<%= form_for '', :url => login_admin_users_url do |f| %>
    <table>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= text_field :user, :email, :value => @user.present? ? @user.email : nil %></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><%= f.submit "Submit" %></td>
      </tr>
    </table>
<% end %>