<% page_title 'User details' %>

<table width="100%" cellspacing="5" class="info-block">
  <tr>
    <td colspan="2" width="100%">
      <table width="100%">
        <tr>
          <td class="info-block-bar">User details</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-label">ID</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.id %></td>
        </tr>
        <td class="info-block-label">Name</td>
        <td class="info-block-sep">:</td>
        <td><%= h @user.name %></td>
        </tr>
        <tr>
          <td class="info-block-label">Email</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.email %></td>
        </tr>
        <tr>
          <td class="info-block-label">Phone</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.phone %></td>
        </tr>
        <tr>
          <td class="info-block-label">Gender</td>
          <td class="info-block-sep">:</td>
          <td><%= show_gender(@user) %></td>
        </tr>
        <tr>
          <td class="info-block-label">Address</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.address %></td>
        </tr>
        <tr>
          <td class="info-block-label">Roles</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.roles.any? ? @user.roles : 'User' %></td>
        </tr>
        <tr>
        <tr>
          <td class="info-block-label">Subscribed?</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.is_subscribed? ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <td class="info-block-label">Registered?</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.is_registered? ? 'Yes' : 'No' %></td>
        </tr>
        <tr>
          <td class="info-block-label">Location</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.subscribed_location.name if @user.subscribed_location %></td>
        </tr>
        <tr>
          <td class="info-block-label">Active?</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.is_active? ? 'Yes' : 'Suspended' %></td>
        </tr>
        <tr>
          <td class="info-block-label">Suspended At</td>
          <td class="info-block-sep">:</td>
          <td><%= show_date(@user.suspended_at, 'dt') %></td>
        </tr>
        <tr>
          <td class="info-block-label">Reason Of Suspension</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.suspended_reason %></td>
        </tr>
      </table>
    </td>
    <td width="50%" valign="top" style="vertical-align:top;">
      <table width="100%" cellspacing="2">
        <tr>
          <td class="info-block-label">Remember Created At</td>
          <td class="info-block-sep">:</td>
          <td><%= h show_date(@user.remember_created_at, 'dt') %></td>
        </tr>
        <tr>
          <td class="info-block-label">Sign In Count</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.sign_in_count %></td>
        </tr>
        <tr>
          <td class="info-block-label">Current Sign In At</td>
          <td class="info-block-sep">:</td>
          <td><%= h show_date(@user.current_sign_in_at, 'dt') %></td>
        </tr>
        <tr>
          <td class="info-block-label">Last Sign In At</td>
          <td class="info-block-sep">:</td>
          <td><%= h show_date(@user.last_sign_in_at, 'dt') %></td>
        </tr>
        <tr>
          <td class="info-block-label">Current Sign In IP</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.current_sign_in_ip %></td>
        </tr>
        <tr>
          <td class="info-block-label">Last Sign In IP</td>
          <td class="info-block-sep">:</td>
          <td><%= h @user.last_sign_in_ip %></td>
        </tr>
        <tr>
          <td class="info-block-label">Created At</td>
          <td class="info-block-sep">:</td>
          <td><%= h show_date(@user.created_at, 'dt') %></td>
        </tr>
        <tr>
          <td class="info-block-label">Updated At</td>
          <td class="info-block-sep">:</td>
          <td><%= h show_date(@user.updated_at, 'dt') %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" class="info-block-bar">
      <% if can? :edit, :"manage/users" %>
        <%= link_to 'Edit', edit_admin_user_path(@user) %> or
      <% end %>
      <%= link_to 'Back to List', admin_users_path() %>
    </td>
  </tr>
</table>


