<%= render :partial => 'manage/commons/filter_users' %>

<% if @users.size > 0 -%>
  <%= form_tag(verify_admin_users_path(), :method => :post) do -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr><td colspan="20" style="text-align:right;"><input type="submit" name="verify" value="Update" class="verify-user-info" /></td></tr>
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @users} %>
      <tr>
        <th width="20">ID</th>
        <th>Name</th>
        <th width="200">Email</th>
        <th width="100">Phone</th>
        <th width="50">Active?</th>
        <th width="50">#Bounce</th>
        <th width="50">#Complain</th>
        <th width="120">Gender</th>
        <th width="100">Subscribed?</th>
        <th width="100">Valid?</th>
      </tr>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= h(user.id) %></td>
            <td><%= h(user.name) %></td>
            <td><%= h(user.email) %></td>
            <td><%= h(user.phone) %></td>
            <td style="text-align: center;"><%= h(user.active? ? 'No' :'Yes') %></td>
            <td style="text-align: center;"><%= h(user.bounce_count) %></td>
            <td style="text-align: center;"><%= h(user.complain_count) %></td>
            <td>
              <%= radio_button_tag("gender[#{user.id}]", 'M', user.gender.to_s == 'M' ? true : false) %>Male &nbsp;&nbsp;
              <%= radio_button_tag("gender[#{user.id}]", 'F', user.gender.to_s == 'F' ? true : false) %>Female
            </td>
            <td>
              <%= radio_button_tag("is_subscribed[#{user.id}]", 1, user.is_subscribed? ? true : false) %>Yes &nbsp;&nbsp;
              <%= radio_button_tag("is_subscribed[#{user.id}]", 0, !user.is_subscribed? ? true : false) %>No
            </td>
            <td>
              <%= radio_button_tag("is_verified[#{user.id}]", 1, user.is_verified? ? true : false) %>Yes &nbsp;&nbsp;
              <%= radio_button_tag("is_verified[#{user.id}]", 0, !user.is_verified? ? true : false) %>No
            </td>
          </tr>
      <% end %>
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @users} %>
      <tr><td colspan="20" style="text-align:right;"><input type="submit" name="verify" value="Update" class="verify-user-info" /></td></tr>
      </tbody>
    </table>
  <% end %>
<% else %>
    <div class="empty">No User available</div>
<% end %>