<% original_local = I18n.locale %>
<% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this Mobile Transaction from being
        saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<% form_for(@category, :url => submit_url, :method => submit_method) do |f| %>
    <div class="actions">
      <table>
        <tr>
          <td>
            <table cellspacing="0" cellpadding="5" width="100%" class="form" border="0">
              <tbody>
              <tr>
                <td width="50%" style="vertical-align: top;">
                  <table cellspacing="0" cellpadding="5" width="100%">
                    <tbody>

                    <tr>
                      <td>
                        <div class="label">Active ?</div>
                        <%= f.check_box :is_active %>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="label">Name(English)*</div>
                        <%= f.text_field :name, :size => 55, :maxlength => 150 %>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <div class="label">Name(Bangla)*</div>
                        <% I18n.locale = reverse_language %>
                        <%= text_field :bangla_category, :name, :value => params[:bangla_category] && params[:bangla_category][:name] ? params[:bangla_category][:name] : @category.name, :size => 55, :maxlength => 150, :class => 'bangla' %>
                        <% I18n.locale = original_local %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label">Description (English)</div>
                        <%= f.text_area :description, :size => 55, :maxlength => 150 %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="label">Description (Bangla)</div>
                        <% I18n.locale = reverse_language %>
                        <%= text_area :bangla_category, :description, :value => params[:bangla_category] && params[:bangla_category][:description] ? params[:bangla_category][:description] : @category.description, :size => 55, :maxlength => 150, :class => 'bangla' %>
                        <% I18n.locale = original_local %>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>

              </tr>
              <tr>
                <td class="info-block-bar" colspan="2">
                  <%= f.submit %> or
                  <%= link_to 'Cancel', admin_categories_url %>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>

    </div>
<% end %>


