<table class="info-block">
  <tbody>
  <tr>
    <td class="info-block-bar">
      Edit Mobile Transaction
    </td>
  </tr>
  <tr>
    <td>

      <%= render :partial => 'form', :locals => {:submit_url => admin_category_path(@category), :submit_method => :PUT} %>

  </tr>
  </tbody>
</table>