<%= link_to 'New category', new_admin_category_path %>
<% if @categories.size > 0 -%>
<h1>Listing categories </h1>

<table class="list">
<%= render :partial => 'manage/commons/pagination', :locals => {:items => @categories} %>
  <tr>
    <th>Name (English)</th>
    <th colspan="2" style="text-align:center;">Action</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td>
      <%= link_to 'Edit', edit_admin_category_path(category) if can?(:edit, :"manage/categories") %>

      <% if deletable?(:edit, :"manage/categories") %>
        <%#= link_to 'Delete', admin_category_url(category), :confirm => 'Are you sure to delete?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% else %>
   <div class="empty">No category available</div>
<% end %>


