<h2>You have a new order for the following item </h2>

<% if @order.orderable.class.to_s == 'Deal' %>
    <%= link_to @order.orderable.title, location_deal_path(@order.orderable.location, @order.orderable) %>
<% end %>

<% if @order.orderable.class.to_s == 'Product' %>
   <%= @order.orderable.name %>
<% end %>