<tr id="payment_<%= payment.id %>" class='payment-row'>
  <td id="payment_id"><%= h(payment.id) %></td>
  <td id="order_id"><%= h(payment.order.id) %></td>
  <td><%= payment.order.actual_price %></td>
  <td><%= payment.order.amount %></td>
  <td><%= payment.order.total_charge_discounts %></td>
  <td><%= '-' if payment.order.referral_credit > 0 %><%= payment.order.referral_credit.to_f %></td>
  <td><%= payment.order.payable_amount %></td>
  <td><%= show_date(payment.paid_at) %></td>
  <td><%= payment.order.referral_credit.to_f > 0.0 ? payment.method.to_s + ' and Referral Credit' : payment.method %></td>
  <td><%= h payment.collector_name %></td>
  <!--<td><%#= payment.transaction_id %></td>-->
  <!--<td><%#= payment.validation_token %></td>-->
  <td><%= payment.status %></td>
</tr>