<%= form_for @search, :url => admin_payments_path, :html => {:id=> 'filter_form', :name=> 'filter_form', :method => :get} do |f| %>
  <table cellspacing="4" class="info-block">
    <tr>
      <td colspan="10" class="info-block-title">
        Filter Payments
      </td>
    </tr>
    <tr>
      <td class="info-block-label-nowrap">Deal</td>
      <td colspan="3"><%= select("search", "order_deal_id_or_order_deal_parent_id_equals", deal_options(), {:include_blank => true}) %></td>
    </tr>
    <tr>
      <td class="info-block-label-nowrap">Product</td>
      <td colspan="3"><%= select("search", "order_product_id_equals", product_options(), {:include_blank => true}) %></td>
    </tr>
    <tr>
      <td class="info-block-label-nowrap">Collector</td>
      <td colspan="3">
        <%= select("search", "collector_id_equals", collector_options_using_email(), {:include_blank => true}) %>
      </td>
    </tr>
    <tr>
      <td class="info-block-label-nowrap">Method</td>
      <td><%= select("search", "method_equals", Payment.methods.collect { |m| [m[:name], m[:id]] }, {:include_blank => true}) %>
      </td>
      <td>
        <span class="info-block-label-nowrap">Status</span>
        <%= select("search", "status_equals", Payment.statuses, {:include_blank => true}) %>
      </td>
    </tr>
    <tr>
      <td class="info-block-label-nowrap">Date between</td>
      <td colspan="5">
        <input type="checkbox" id="selectDate" name="select_date" class="date_filter_selector" for="paid_at" />
        <%= f.datetime_select :paid_at_greater_than_or_equal_to, {:disabled => "true"}, {:class => 'paid_at'} %>
        and <%= f.datetime_select :paid_at_less_than_or_equal_to, {:disabled => "true"}, {:class => 'paid_at'} %>
      </td>
    </tr>
    <tr>
      <td colspan="6" class="info-block-title">
        <%= f.submit "Filter" %>
        <input type="button" value="Reset" onclick="ResetForm('filter_form');document.forms[0].submit()"/>
        <%= f.submit "Export to Excel" %>
      </td>
    </tr>
  </table>

  <% if @payments.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <%= render :partial => 'manage/commons/pagination', :locals => {:items => @payments} %>
      <tr>
        <th width="120">Payment ID</th>
        <th width="120">Order ID</th>
        <th width="120">Original Value</th>
        <th width="120">Discounted Value</th>
        <th width="120">Charges and Discounts</th>
        <th width="120">Referral Credit</th>
        <th width="120">Paid Amount</th>
        <th width="120"><%= f.sort_link :paid_at, 'Date' %></th>
        <th><%= f.sort_link :method, 'Method' %></th>
        <th><%= f.sort_link :collector_id, 'Collector' %></th>
        <!--<th width="120">Transaction ID</th>-->
        <!--<th width="120">Validation Token</th>-->
        <th width="120">Status</th>
      </tr>
      <tbody>
        <%= render :partial => "row_payment", :collection=> @payments, :as => :payment %>
        <%= render :partial => 'manage/commons/pagination', :locals => {:items => @payments} %>
      </tbody>
    </table>
  <% else %>
    <div class="empty">No payments</div>
  <% end %>
<% end %>