<% if products.size > 0 %>
    <div class="multiple-deal">
      <div class="multiple-deal-wrap">
        <div class="multiple-deal-content">
          <h2 class="multiple-deal-title">
            <%= t("FEATURED_PRODUCTS") %>
            <span class="all_products"><%= link_to t('ALL_PRODUCTS'), location_products_path(session[:location_id]) %></span>
          </h2>


          <div style="clear:both;"></div>
          <table width="95%" cellspacing="12" style="background-color:#FCFAFB" id="featured_products">
            <%
               index = 0
            %>
            <% products.each do |product| %>
                <% if index%3 == 0 %>
                    <tr>
                <% end %>
                <td style="border: 1px solid #EEEEEE">
                  <div style="width:210px;">
                    <div class="show-product-details_link">
                      <%= show_product_details_link(product) %>
                    </div>
                    <div style="clear:both"></div>
                    <div class="product_image_hover">
                      <div class="product_image_hover_wrapper">
                        <%= show_product_details_link(product, "<img src='/images/details_buy.png'/>", 'multiple-product') %>
                      </div>
                      <%#= show_picture(product, :product_medium) %>
                      <% data_src = product.pictures.any? ? product.pictures.first.data.url(:product_medium) : 'product.jpg' %>
                      <%= image_tag 'product.jpg', :data_src => data_src, :class => 'fast_image' %>
                      <% if !product.enabled? || product.booked? %>
                          <%= image_tag '/images/sold-out.png', :style => "position:relative;top:-131px;left:103px;width:100px;" %>
                      <% end %>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                  <div class="products_prices">
                    <div style="float:left">
                      <span style="text-decoration: line-through;color: #e70086;">Tk.<%= product.actual_price.to_bddigit %> </span>
                    </div>
                    <div style='float:left;margin-left:8px;'>
                      <span style="color: #e70086;" class="tk">Tk.<%= product.discounted_price.to_bddigit %></span>
                    </div>
                    <div class='discount-multiple-product'>
                      <span><%= h product.discount.to_bddigit %>% off </span>
                    </div>
                    <div class="corporate-extra-discount" item_id="<%= product.id %>" item_type="product" style="clear: both;font-size: 14px;width: 205px;overflow: hidden;height: 20px;">
                    </div>
                  </div>
                </td>
                <% if index%3 > 2 %>
                    </tr>
                <% end %>
                <% index =index+1 %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
<% end %>