
<% if @products.size > 0 %>
    <table width="95%" cellspacing="11" style="background-color:#FCFAFB" id="featured_products">
      <%
         index = 0
      %>
      <% @products.each do |product| %>
          <% if index%3 == 0 %>
              <tr>
          <% end %>
          <td style="border: 1px solid #EEEEEE">
            <div style="width:210px;">
              <div class="show-product-details_link">
                <%= show_product_details_link(product) %>
              </div>
              <div style="clear:both"></div>
              <div class="product_image_hover">
                <div class="product_image_hover_wrapper">
                  <%= show_product_details_link(product, "<img src='/images/details_buy.png'/>", 'multiple-product') %>
                </div>
                <%#= show_picture(product, :product_medium) %>
                <% data_src = product.pictures.any? ? product.pictures.first.data.url(:product_medium) : 'product.jpg' %>
                <%= image_tag 'product.jpg', :data_src => data_src, :class => 'fast_image' %>
                <% if !product.enabled? || product.booked? %>
                    <%= image_tag '/images/sold-out.png', :style => "position:relative;top:-145px;left:112px;width:100px;" %>
                <% end %>
              </div>
              <div style="clear:both"></div>
            </div>
            <div class="products_prices">
              <div style="float:left">
                <span style="text-decoration: line-through;color: #e70086;" class="bangla"><%= t("TAKA") %> <%= product.actual_price.to_s.to_bddigit %> </span>
              </div>
              <div style='float:left;margin-left:8px;'>
                <span style="color: #e70086;" class="tk bangla"><%= t("TAKA") %> <%= product.advance_payable? ? product.discounted_price_for_advance_payment.to_bddigit : product.discounted_price.to_bddigit %></span>
              </div>
              <div class='discount-multiple-product'>
                <span><%= product.advance_payable? ? product.discount_for_advance.to_bddigit : product.discount.to_bddigit   %>%  <%= t("OFF1") %> </span>
              </div>
              <div class="corporate-extra-discount" item_id="<%= product.id %>" item_type="product" max_length="33">
              </div>
            </div>
          </td>
          <% if index%3 > 2 %>
              </tr>
          <% end %>
          <% index =index+1 %>
      <% end %>
    </table>
<% end %>