<h1 class="deal_title"><%= @product.name %></h1>

<div style="clear:both;"></div>
<div class="main_deal_description">
  <%= @product.description.html_safe %>
</div>
<div style="clear:both;"></div>

<%= show_picture(@product, :large) %>

<div class="gilt-product-container">
  <% if @product.sizes.any? %>
    <div>
      <div>
        <b>Select Size:</b>
        <span class="selected-size-name" id="selected_size_name"></span>
      </div>
      <input type="hidden" class="selected-size" name="size_id" id="selected_size_id" />
      <ul class="product-size">
        <% @product.sizes.each do |size| %>
          <% if @product.available?(size.id) %>
            <li class="available" size_id="<%=h size.id %>" ><%= h size.name %></li>
          <% else %>
            <li class="sold"><%= h size.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="clear:both;"></div>

  <div id="deal_info">
    <div>
      <div class="main_price product-original-price">
        <%= @product.actual_price.to_i %><span style="font-size: 14pt"> Taka</span>
      </div>
    </div>
    <div>
      <div class="main_price">
        <%= @product.discounted_price.to_i %><span style="font-size: 14pt"> Taka</span>
      </div>
    </div>
    <div>
      <div class="saving-container">
        <div class="saving ">
          <p class="save">
            <%=h @product.discount.to_i%>%
          </p>
          <p>SAVINGS</p>
        </div>
      </div>
    </div>
    <div>
      <div class="buy_now">
        <%= show_product_buy_link(@product) %>
      </div>
    </div>
  </div>

  <div style="clear:both;"></div>

  <div class="deal_texts">
    <div class="highlights" style="float: left">
      <h3>Highlights</h3>
      <%= @product.highlights.html_safe if @product.highlights.present?  %>
    </div>
    <div class="highlights" style="float: right">
      <h3>Conditions</h3>
      <%= @product.conditions.html_safe if @product.conditions.present? %>
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
<br/><br/>