<div class="gilt-product-container">
  <% if params[:deal_id].present? %>
      <%# cache "deal_products-#{params[:deal_id]}-#{I18n.locale}" do %>
        <%= render_deal_products %>
      <%# end %>
  <% elsif params[:cat_id].present? && params[:cat_id].to_i > 0 %>
      <%# cache "categorized_products-#{params[:cat_id]}-#{I18n.locale}" do %>
        <%= render_categorized_products %>
      <%# end %>
  <% else %>
      <%# cache "all_products-#{I18n.locale}" do %>
         <%= render_all_products %>
      <%# end %>
  <% end %>

</div>