<script language="JavaScript">
    $(document).ready(function() {
        $('.tiny').click(function() {
            $('.medium').attr('src', $(this).attr('src').replace('tiny', 'medium'));
        });
        $('.jqzoom').jqzoom({
            zoomType: 'standard',
            lens:true,
            preloadImages: false,
            alwaysOn:false,
            zoomWidth: 350,
            zoomHeight: 260,
            xOffset: 5,
            yOffset: 0,
            position: "right",
            preloadImages: false,
            preloadText: 'Loading...',
            title: false,
            lens: true,
            imageOpacity: 0.4,
            alwaysOn: false
        });
    });
</script>



<div class="right-side-bar productsshow">
  <h1 class="deal_title"><%= @product.name %></h1>

  <div style="clear:both;"></div>

  <div style="clear:both;"></div>
  <div class="pro_details_row">
    <div>
      <div>
        <%
           product_first_image = @product.pictures.first
           product_first_large_image = product_first_image.present? && FileTest.exists?(Rails.root.to_s + '/public/images/' + product_first_image.data.url(:product_large))
           product_first_large_image_url =  product_first_large_image ? product_first_image.data.url(:product_large) : product_first_image.data.url(:product)
        %>
        <a href="/images/<%= product_first_large_image_url%>" class="jqzoom" rel='gal1'  title="<%= @product.name %>" >
          <%= image_tag product_first_image.data.url(:product)%>
        </a>
      </div>
      <br/>

    </div>
    <div class="pro_details_img_desc">
      <h1><%= @product.description.html_safe %></h1>

      <% if @product.product_sizes.any? %>
        <div class="pro_size"><span id="select_size"><%= t("SELECT_SIZE") %></span>: <span class="selected-size-name" id="selected_size_name"></span></div>
        <div class="size_box_row">
          <input type="hidden" class="selected-size" name="size_id" id="selected_size_id"/>
          <ul class="product-size">
            <% @product.product_sizes.each do |product_size| %>
                <% if product_size.enabled? && @product.available?(product_size.size.id) %>
                    <li class="available" size_id="<%= product_size.size.id %>"><%=  product_size.size.name %></li>
                <% else %>
                    <li class="sold"><%= product_size.size.name %></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="pro_deal_info">

        <% if @product.discount > 0 %>
        <div class="previous_price ">
          <%=  @product.actual_price.to_s.to_bddigit %>
          <span style="font-size: 14pt"> <%= t('TAKA')%> </span>
        </div>
        <% end %>

        <div class="current_price">
          <%= @product.advance_payable? ? @product.discounted_price_for_advance_payment.to_bddigit : @product.discounted_price.to_bddigit %>
          <span style="font-size: 14pt"> <%= t('TAKA')%> </span>
        </div>

        <div class="corporate-extra-discount" item_id="<%= @product.id %>" item_type="product" style="clear: both;padding-left: 3px;background: #EFCCE0;color: #5A0E3C;height: auto;font-weight: bold;">
        </div>

        <% if @product.advance_payable? %>
            <div style="margin-top: 10px;">
              Pay <%= @product.discounted_price.to_i %> Taka for advance payment
            </div>
        <% end %>

      </div>

    </div>

  </div>

  <div class="more_view_saving">
    <div class="thumb_img_row">
      <div class="more_view_head"><%= @product.pictures.count > 1 ? t("MORE") : "" %> <%= t('VIEW')%></div>
        <ul id="thumblist" style="float: left;width: 350px;padding: 0">
          <% @product.pictures.each_with_index do |picture, index| %>
              <%
                 product_large_image = FileTest.exists?(Rails.root.to_s + '/public/images/' + picture.data.url(:product_large))
                 product_large_image_url =  product_large_image.present? ? picture.data.url(:product_large) : product_first_image.data.url(:product)
              %>
              <li style="float: left;margin-right: 10px;">
                <a class="<%= "zoomThumbActive" if index == 0 %>" href='javascript:void(0);' rel="{gallery: 'gal1', smallimage: '/images/<%= picture.data.url(:product)%>',largeimage: '/images/<%= product_large_image_url %>'}">
                  <%= image_tag picture.data.url(:product_thumb), :width => 80, :height => 55, :style => "border: 1px solid #E70086" %>
                </a>
              </li>
          <% end %>
        </ul>
    </div>

    <% if @product.discount > 0 %>
    <div class="product-saving-container">

      <div class="discount_save">
        <%= @product.advance_payable? ? @product.discount_for_advance.to_bddigit : @product.discount.to_bddigit %>%
      </div>
      <div class="save"><%= t('SAVINGS')%> </div>

    </div>
    <% end %>
    <%= show_product_buy_link(@product) %>
    <%#= show_product_buy_now_friend_button(@product) %>
  </div>

  <div class="gilt-product-container">

    <div style="clear:both;"></div>
    <div class="deal_texts">

      <div class="highlights">
        <h3><%= t('HIGHLIGHTS')%></h3>
        <%= @product.highlights.html_safe if @product.highlights.present? %>
      </div>
      <div class="highlights">
        <h3><%= t('CONDITIONS')%></h3>
        <%= @product.conditions.html_safe if @product.conditions.present? %>
      </div>
    </div>
    <div style="clear:both;"></div>
  </div>

</div>