<%= javascript 'tiny_mce/tiny_mce' %>

<div>
  <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>

<%= form_for(@product, :url => submit_url, :method => submit_method, :html => {:multipart => true}) do |f| %>
    <div class="actions">
      <table class="form" width="100%" cellpadding="5" cellspacing="0">
        <tr>
          <td valign="top" style="vertical-align:top">
            <fieldset class="content-block">
              <legend>Basic Information</legend>
              <table class="form" width="100%" cellpadding="5" cellspacing="0">
                <tr>
                  <td colspan="3">
                    <div class="label">Merchant</div>
                    <%= select :product, :merchant_id, current_user.merchants.collect { |m| [m.name, m.id] } %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">Location</div>
                    <%= select :product, :location_id, Location.all.collect { |l| [l.name, l.id] } %>
                  </td>
                  <td valign="top">
                    <div class="label">Status</div>
                    <% if @product.pending? && current_user.is?(:superadmin) %>
                        <%= select :product, :status, Product.statuses %>
                    <% else %>
                        <%= f.hidden_field(:status) %>
                        <%= @product.status.to_s.humanize %>
                    <% end %>
                  </td>
                  <td valign="top">
                    <% if current_user.is?(:superadmin) %>
                      <%= f.check_box :is_featured %>
                      <div class="label" style="display:inline-block;">Featured?</div>
                    <% else %>
                        &nbsp;
                    <% end %>
                  </td>


                </tr>
                <tr>
                  <td colspan="3">
                    <div class="label">Name(English)*</div>
                    <%= f.text_field :name, :size => 55, :maxlength => 200 %>
                    <div class="label">Name(Bangla)</div>
                    <% I18n.locale = reverse_language %>
                    <%= text_field :bangla_product, :name, :value => params[:bangla_product] && params[:bangla_product][:name] ? params[:bangla_product][:name] : @product.name, :size => 55, :maxlength => 200, :class => 'bangla' %>
                    <% I18n.locale = I18n.default_locale %>
                  </td>
                  <tr style="height: 30px"></tr>
                </tr>
                <tr>
                  <td colspan="3">
                    <div class="label">Description(English)*</div>
                    <%= f.text_field :description, :size => 55, :maxlength => 255 %>
                    <div class="label">Description(Bangla)</div>
                    <% I18n.locale = reverse_language %>
                    <%= text_field :bangla_product, :description, :value => params[:bangla_product] && params[:bangla_product][:description] ? params[:bangla_product][:description] : @product.description, :size => 55, :maxlength => 255, :class => 'bangla' %>
                    <% I18n.locale = I18n.default_locale %>
                  </td>
                </tr>
                <tr style="height: 30px"></tr>
                <tr>
                  <td colspan="3">
                    <div class="label">Highlights(English)*</div>
                    <%= f.text_area :highlights, :rows => 5, :cols => 50 %>
                    <div class="label">Highlights(Bangla)</div>
                    <% I18n.locale = reverse_language %>
                    <%= text_area :bangla_product, :highlights, :value => params[:bangla_product] && params[:bangla_product][:highlights] ? params[:bangla_product][:highlights] : @product.highlights, :rows => 5, :cols => 50, :class => 'bangla' %>
                    <% I18n.locale = I18n.default_locale %>
                  </td>
                </tr>
                <tr style="height: 30px"></tr>
                <tr>
                  <td colspan="3">
                    <div class="label">Conditions(English)*</div>
                    <%= f.text_area :conditions, :rows => 5, :cols => 50 %>
                    <div class="label">Conditions(Bangla)</div>
                    <% I18n.locale = reverse_language %>
                    <%= text_area :bangla_product, :conditions, :value => params[:bangla_product] && params[:bangla_product][:conditions] ? params[:bangla_product][:conditions] : @product.conditions, :rows => 5, :cols => 50, :class => 'bangla' %>
                    <% I18n.locale = I18n.default_locale %>
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
          <td valign="top" style="vertical-align:top">
            <fieldset class="content-block">
              <legend>Date*</legend>

              <table class="form" width="100%" cellpadding="5" cellspacing="0">
                <tr>
                  <td>
                    <div class="label">Start</div>
                    <%= datetime_select :product, :start_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                  </td>
                  <td>
                    <div class="label">End</div>
                    <%= datetime_select :product, :end_date, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">Valid From</div>
                    <%= datetime_select :product, :valid_from, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                  </td>
                  <td>
                    <div class="label">Valid To</div>
                    <%= datetime_select :product, :valid_to, {:start_year => 2011}, {:style => 'font-size:90%;'} %>
                  </td>
                </tr>
              </table>
            </fieldset>
            <fieldset class="content-block">
              <legend>Quantity & Price</legend>
              <table class="form" width="100%" cellpadding="5" cellspacing="0">
                <tr>
                  <td colspan="3">
                    <div class="label">Quantity</div>
                    <%= f.text_field :quantity, :size => 5, :maxlength => 5 %>
                  </td>
                </tr>
                <tr>
                  <td style="vertical-align:top;">
                    <div class="label">Actual Price*</div>
                    <%= f.text_field :actual_price, :size => 8 %>
                  </td>
                  <td style="vertical-align:top;">
                    <div class="label">Discounted Price*</div>
                    <%= f.text_field :discounted_price, :size => 10 %>
                  </td>
                </tr>
              </table>
            </fieldset>

            <fieldset class="content-block">
              <legend>Size Information</legend>

              <div class="label">Category</div>
              <%= select :product, :category_id, Category.all.collect { |c| [c.name, c.id] }, {:include_blank => ''} %>
              <br/><br/>

              <div class="label">
                <%= add_object_link("Add new size", f, @product.product_sizes.build, "manage/commons/product_size", "#product_sizes") %></div>
              <br/>

              <div id="product_sizes">
                <%= render :partial => 'manage/commons/product_size', :locals => {:form => f, :product_size => @product.product_sizes.build} %>
              </div>
              <br/>
              <%= render :partial => 'manage/commons/product_sizes', :locals => {:form => f, :product_sizes => @product.product_sizes} %>
            </fieldset>

            <fieldset class="content-block">
              <legend>Picture(Size: 383x240)</legend>
              <div class="label">
                <%= add_object_link("Add new Picture", f, @product.pictures.build, "manage/commons/picture", "#pictures") %></div>
              <br/><br/>

              <div id="pictures">
                <%= render :partial => 'manage/commons/picture', :locals => {:form => f, :picture => @product.pictures.build} %>
              </div>
              <br/><br/>
              <%= render :partial => 'manage/commons/pictures', :locals => {:form => f, :pictures => @product.pictures} %>
            </fieldset>
            <fieldset class="content-block">
              <legend>Shipping Settings</legend>
              <table cellpadding="5" cellspacing="5">
                <tr>
                  <td>
                    <div class="label">Product Weight</div>
                    <%= f.text_field :weight %> Kg.
                  </td>
                  <td>
                    <div class="label">Minimum Shipping Total Weight</div>
                    <%= f.text_field :min_shipping_weight %> Kg.
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">Minimum Shipping Cost(inside dhaka)</div>
                    <%= f.text_field :min_shipping_cost_dhaka %> Tk.
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">Minimum Shipping Cost(out side dhaka)</div>
                    <%= f.text_field :min_shipping_cost_bd %> Tk.
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="label">Minimum Shipping Cost(outside bangladesh)</div>
                    <%= f.text_field :min_shipping_cost_world %> Tk.
                  </td>
                </tr>
              </table>
            </fieldset>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <%= f.submit %>  or
            <%= link_to 'Cancel', merchant_products_path() %>
          </td>
        </tr>
      </table>
    </div>
<% end %>

<script type="text/javascript">
    //    $(document).ready(function() {
    //        $('#product_category_id').change(function() {
    //            $.ajax({
    //                url: "<%#=sizes_merchant_products_path()%>",
    //                data: 'product_id=' + "<%#=@product.id.to_s%>" + '&category_id=' + $(this).val(),
    //                success: function(data) {
    //                    $('#product_size_container').html(data);
    //                }
    //            })
    //        });
    //    });

    initialize_tiny_mce("product_highlights, product_conditions, bangla_product_highlights, bangla_product_conditions");
</script>