<table class="info-block">
  <tr>
    <td class="info-block-bar">
      Edit Product
      <% if current_user.is?(:merchant) && @product.pending? %>
        <span style="float: right;font-size: 20px;">
          <%= link_to "Send Approval Notification!", merchant_send_approval_notification_url(:product_id => params[:id].to_i), :style => "color: red", :confirm => "Sure to send approval notification to akhoni.com's Admin?'" %>
        </span>
      <% end %>
    </td>

  </tr>
  <tr>
    <td>
      <%= render :partial => 'form', :locals => {:submit_url => merchant_product_path(@product), :submit_method => :PUT} %>
    </td>
  </tr>
</table>
