<%= form_for '', merchant_products_url, :html => {:method => :get} do |f| %>
    <table cellspacing="0" class="info-block" cellpadding="0">
      <tr>
        <td colspan="10" class="info-block-title">
          Filter Products
        </td>
      </tr>
      <tr>
        <td class="info-block-label-nowrap">Merchant</td>
        <td colspan="3">
          <%= select :search, :merchant_id_equals, current_user.merchants.collect { |m| [m.name, m.id] }, {:selected => params[:search].present? ? params[:search][:merchant_id_equals] : ''} %>
        </td>
      </tr>

      <tr>
        <td colspan="3" class="info-block-title">
          <%= f.submit "Filter" %>
        </td>
        <td class="info-block-title">
          &nbsp;
        </td>
      </tr>
    </table>
<% end %>



<%= link_to 'New Product', new_merchant_product_path() %>
<br/><br/>

<% if @products.size > 0 -%>
    <table cellpadding="10" cellspacing="1" border="0" class="list">
      <tr>
        <td colspan="2"><%= page_entries_info @products %></td>
        <td colspan="15" style="text-align:right;"><%= will_paginate(@products) %></td>
      </tr>
      <tr>
        <th width="80">Image</th>
        <th width="250">Name</th>
        <th width="150">Merchant</th>
        <th class="center" width="50" nowrap>Quantity</th>
        <th class="center" width="50" nowrap>A. Price</th>
        <th class="center" width="50">D. Price</th>
        <th width="90"></th>
      </tr>
      <tbody>
      <% @products.each do |product| %>
          <tr id="product_<%= product.id %>">
            <td><%= show_picture(product, :tiny) %></td>
            <td>
              <% if product.status != 'approved' %>
                  <%= link_to h(product.name), edit_merchant_product_path(product) %>
              <% else %>
                  <%= h(product.name) %>
              <% end %>
            </td>
            <td><%= h(product.merchant.name) %></td>
            <td class="center"><%= h(product.quantity) %></td>
            <td class="center"><%= h(product.actual_price.to_i) %></td>
            <td class="center"><%= h(product.discounted_price.to_i) %></td>
            <td class="center">
              <% if product.status != 'approved' %>
                  <%= link_to 'Edit', edit_merchant_product_path(product), :id => "edit_product_#{product.id}" %>
              <% end %>
              <% if can? :show, :"manage/audits" %>
                  <%= show_history(product.id, 'Product') %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <tr class="clear">
        <td colspan="2"><%= page_entries_info @products %></td>
        <td colspan="15" style="text-align:right;"><%= will_paginate(@products) %></td>
      </tr>
      </tbody>
    </table>
<% else %>
    <div class="empty">No product available</div>
<% end %>
