<%= stylesheet_link_tag 'nav' %>

<div id="main-menu">
  <ul id="nav">
    <li><%= link_to 'HOME', location_deals_path(session[:location_id]) %></li>
    <li>
      <% if can?(:index, :"manage/deals") || can?(:sort, :"manage/deals") || can?(:index, :"manage/products") || can?(:index, :"manage/merchants") %>
          <a href="#" onclick="javascript:void(0);">DEAL</a>
      <% end %>
      <ul>
        <% if can? :index, :"manage/deals" %>
            <li><%= link_to 'Show All', admin_deals_path() %></li>
        <% end %>
        <% if can? :sort, :"manage/deals" %>
            <li><%= link_to 'Ordering', sort_admin_deals_path() %></li>
        <% end %>
        <% if can? :index, :"manage/products" %>
            <li><%= link_to 'Products', admin_products_path() %></li>
        <% end %>
        <% if can? :index, :"manage/merchants" %>
            <li><%= link_to 'Merchants', admin_merchants_path() %></li>
        <% end %>
        <% if can? :index, :"manage/categories" %>
            <li><%= link_to 'Product Categories', admin_categories_path() %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <% if can? :index, :"manage/orders" %>
          <%= link_to 'ORDER', admin_orders_path() %>
      <% end %>
      <ul>
        <% if can? :index, :"manage/orders" %>
            <li><%= link_to 'Show All', admin_orders_path() %></li>
        <% end %>
        <% if can? :index, :"manage/coupons" %>
            <li><%= link_to 'Coupons', admin_coupons_path() %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <% if can? :index, :"manage/payments" %>
          <%= link_to 'PAYMENTS', admin_payments_path() %>
      <% end %>
      <ul>
        <% if can? :index, :"manage/payments" %>
            <li><%= link_to 'Show All', admin_payments_path() %></li>
        <% end %>
        <% if can? :index, :"manage/payment_summaries" %>
            <li><%= link_to 'Collections', admin_payment_summaries_path() %></li>
        <% end %>
      </ul>
    </li>
    <li>
      <% if (can? :index, :"manage/users") || can?(:index, :"manage/complains") || can?(:index, :"manage/notices") || can?(:index, :"manage/notifications") || can?(:index, :"manage/audits") || can?(:index, :"manage/businesses") || can?(:new_background_image, :"manage/home") || can?(:index, :"manage/mobile_transactions") %>
          <a href="#" onclick="javascript:void(0);">MANAGE</a>
      <% end %>
      <ul>
        <% if can? :index, :"manage/users" %>
            <li class="right-arrow"><%= link_to 'Users', admin_users_path() %>
              <ul>
                <li><%= link_to 'Show All', admin_users_path() %></li>
                <% if can? :verify, :"manage/users" %>
                    <li><%= link_to 'Verify Information', verify_admin_users_path() %></li>
                <% end %>
              </ul>
            </li>
        <% end %>
        <% if can? :logs, :"manage/notifications" %>
            <li><%= link_to 'Email Logs', logs_admin_notifications_path() %></li>
        <% end %>
        <% if can? :index, :"manage/notices" %>
            <li><%= link_to 'Notices', admin_notices_path() %></li>
        <% end %>
        <% if can? :index, :"manage/notifications" %>
            <li><%= link_to 'Notifications', admin_notifications_path() %></li>
        <% end %>
        <% if can? :index, :"manage/audits" %>
            <li><%= link_to 'History', admin_audits_path() %></li>
        <% end %>
        <% if can? :index, :"manage/businesses" %>
            <li><%= link_to 'Featured Requests', admin_businesses_path() %></li>
        <% end %>
        <% if can? :login_as, :"manage/users" %>
            <li><%= link_to 'Login As', login_as_admin_users_url %></li>
        <% end %>

        <% if can? :new_background_image, :"manage/home" %>
            <li><%= link_to 'Background Image', '/manage/UploadBackgroundImage' %></li>
        <% end %>
        <% if can? :index, :"manage/corporate_discounts" %>
            <li><%= link_to 'Corporate Discounts', admin_corporate_discounts_path() %></li>
        <% end %>
        <% if can? :index, :"manage/mobile_transactions" %>
            <li><%= link_to 'Mobile Transactions', '/manage/mobile_transactions' %></li>
        <% end %>
        <% if can? :index, :"manage/presses" %>
            <li><%= link_to 'Press Releases', admin_presses_url %></li>
        <% end %>
        <% if can? :index, :"manage/polls" %>
            <li><%= link_to 'Polls', admin_polls_url %></li>
        <% end %>
        <% if can? :index, :"manage/banners" %>
            <li><%= link_to 'Banners', admin_banners_url %></li>
        <% end %>
        <% if can? :clear_cache, :"manage/settings" %>
            <li><%= link_to 'Clear Cache', admin_clear_cache_url %></li>
        <% end %>
      </ul>
    </li>
    <% if can? :stat_report, :"manage/deals" %>
        <li><%= link_to 'REPORT', stat_report_admin_deals_path() %>
          <ul>
            <% if can? :stat_report, :"manage/deals" %>
                <li><%= link_to 'ORDER STATISTICS', stat_report_admin_deals_path() %></li>
            <% end %>
          </ul>
        </li>
    <% end %>

    <li>
      <% if can?(:new, :"manage/merchants") || can?(:new, :"manage/deals") || can?(:new, :"manage/notifications") %>
          <a href="#" onclick="javascript:void(0);">QUICK LINKS</a>
      <% end %>
      <ul>
        <% if can? :new, :"manage/merchants" %>
            <li><%= link_to 'Add New Merchant', new_admin_merchant_path() %></li>
        <% end %>
        <% if can? :new, :"manage/deals" %>
            <li><%= link_to 'Add New Deal', new_admin_deal_path() %></li>
        <% end %>
        <% if can? :new, :"manage/notifications" %>
            <li><%= link_to 'Schedule Notification', new_admin_notification_path() %></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>


