<div class="footer" style="height: 168px;background-color: rgba(26, 26, 26, 0.9);border-top: 3px solid #5C0B3A;">
  <ul class="footer-container">
    <li class="lightbox">
      <strong><%= link_to t('GET_COUPON_ON_YOUR_MOBILE'), '/couponOnYourMobile', :class => 'iframe' %></strong>
      <a style="display: inline-block;" href="/couponOnYourMobile" class="iframe">
        <%= image_tag 'footer.jpg', :class => 'fast_image', :alt => "M-Coupon", :data_src => "footer/m-coupon.png" %>
      </a>
      <span><%= t('SHOPPING_WITH_US') %></span>
    </li>
    <li>
      <strong><%= link_to t('SURPRISE_YOUR_FRIEND'), '#' %></strong>
      <%= link_to image_tag('footer.jpg', :class => 'fast_image', :alt => 'Surprise-your-friends', :data_src => "footer/gift-friend.png" ),'#'%>
      <span><%= t('BUY_FOR_YOUR_FRIEND_AND_SURPRISE') %></span>
    </li>
    <li>
      <strong><%= link_to t('REFER_YOUR_FRIENDS'), '/referrals' %></strong>
      <%= link_to image_tag('footer.jpg', :class => 'fast_image', :alt => 'Refer-to-your-friends', :data_src => "footer/Refer-your-friend.png"), '/referrals' %>
      <span><%= t('REFFER_YOUR_FRIEND_AND_WIN_TK', :tk => 50.to_bddigit).html_safe %></span>
    </li>
    <li class="lightbox">
      <strong><%= link_to t('WE_ACCEPT'), '/InstantPurchase', :class => 'iframe' %></strong>
      <a style="display: inline-block;" href="/InstantPurchase" class="iframe">
        <%= image_tag 'footer.jpg', :class => 'fast_image', :alt => 'We-accept', :data_src => "footer/we-accept.png" %>
      </a>
      <span><%= t('YOUR_PAYMENT_IS_SECURE') %></span>
    </li>
    <li>
      <strong><%= link_to t('FEATURE_YOUR_BUSINESS'), '/getfeatured' %></strong>
      <%= link_to image_tag('footer.jpg', :class => 'fast_image', :alt => 'feature-your-business', :data_src => "footer/feature-your-business.png"), '/getfeatured' %>
      <span><%= t('PROMOTE_YOUR_BUSINESS_AND_INCREASE') %></span>
    </li>
  </ul>
</div>

<div class="footer" id="page_footer" style="height: 130px;background-color: rgba(38, 38, 38, 0.8)">
  <ul class="footer-container" style="margin-top: 10px">
    <li>
      <%= link_to t("ABOUT"), "/about" %>
      <%= link_to t("CURRENT_DEALS"), location_deals_path(session[:location_id]) %>
      <%#= link_to t("HOW_IT_WORKS"), "/HowAkhoniWorks" %>
      <%= link_to t("PRESS"), "/Press" %>
    </li>
    <li>
      <%= link_to t("JOBS"), "/career" %>
      <%= link_to t("TERMS_OF_USE"), "/TermsOfUse" %>
      <%= link_to t("PRIVACY_POLICY"), "/PrivacyPolicy" %>
      <%= link_to t("CONTACT_US"), "/ContactUs" %>
    </li>
    <li>
      <strong><%= t('BEST_DAILY_DEALS') %></strong> <br/>
      <span style="text-align: left;float: left;">
        <%= t('AKHONI_FEATURES_BEST_DAILY_DEALS_IN_BD') %>
      </span>

    </li>
    <li>
      <p class="copyright">&copy; <%= t("COPYRIGHT", :date => Date.today.year.to_bddigit) %></p>
    </li>
    <li>
      <%= t("FOLLOW_US_ON") %>:<br/><br/>
      <%= link_to image_tag('footer/facebook.png'), 'https://www.facebook.com/akhonioffers', :target => "_blank", :style => "float:none" %>
      <%= link_to image_tag('footer/twitter.png'), 'http://twitter.com/#!/akhonidotcom', :target => "_blank", :style => "float:none" %>
      <%= link_to image_tag('footer/google-plus.png'), 'http://plus.google.com/109852862256582032728/', :target => "_blank", :style => "float:none" %>
      <%= link_to image_tag('footer/linkedin.png'), 'http://www.linkedin.com/company/akhoni.com-ltd.', :target => "_blank", :style => "float:none" %>
    </li>
  </ul>


</div>