<%= stylesheet_link_tag 'nav' %>

<div id="main-menu">
  <ul id="nav">
    <li><%= link_to 'HOME', location_deals_path(session[:location_id]) %></li>
    <li><%= link_to 'REPORT', '/merchant/report' %></li>
    <% if can?(:index, :"merchant/products") %>
        <li><%= link_to 'PRODUCTS', merchant_products_path() %></li>
    <% end %>

    <% if current_user.merchants.present? && can_view_orders? && can?(:merchants_orders, :"merchant/report") %>
        <li><%= link_to 'ORDERS', '/merchant/merchants_orders' %></li>
    <% end %>
  </ul>
</div>
