<% cache "notices-#{I18n.locale}" do %>
    <% if Notice.live.size > 0 %>
        <% Notice.live.each do |notice| %>
            <div class="lightbox left_box noticebox" title="Click to see details">
              <% if notice.is_popup %>  <a class="iframe" href="notices/<%= notice.id %>">
              <% end %>
              <h2 style="font-size:18px;color:#E70086"><%= notice.widget_title %></h2>
              <%= show_image_or_nothing(notice.pictures.first, :small) %> <br/>
              <!--Starts <#%= notice.start_date_time.strftime("%I:%M %p %d/%m/%Y") %>-->
              <%= notice.widget_footer %>
              <% if notice.is_popup %>  </a>
              <% end %>
            </div>
        <% end %>
    <% end %>
<% end %>