<ul class="user-sub-nav" id="user_sub_nav">
  <% if can? :access, :referrals %>
      <li><%= link_to t("REFER_FRIENDS"), referrals_path() %></li>
      <li><%= link_to t("REFERRAL_HISTORY"), history_referrals_path() %></li>
      <li class="separator"></li>
  <% end %>

  <% if can? :index, :"merchant/report" %>
      <li><%= link_to_tag_current t("COUPON_REPORT"), :span, "/merchant/report" %></li>
  <% end %>

  <% if can? :index, :"merchant/products" %>
      <!--li class="m-item"><%#= link_to 'Manage Products', merchant_products_path() %></li-->
  <% end %>

  <% if can? :index, :"manage/home" %>
      <li><%= link_to_tag_current t("ADMIN_PANEL"), :span, "/manage" %></li>
      <li class="separator"></li>
  <% end %>

  <li><%= link_to t("CHANGE_INFORMATION"), '/settings' %></li>
  <li><%= link_to t("SIGN_OUT"), destroy_user_session_path %></li>
</ul>