<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">

<%
   title = yield(:title)
   meta_content = generate_meta_data(title, request.url)
%>

<head>
  <title><%= meta_content[:title] %></title>

  <meta name="title" content="<%= meta_content[:title] %>"/>
  <meta name="keywords" content="<%= meta_content[:keywords] %>"/>
  <meta name="description" content="<%= meta_content[:description] %>"/>

  <meta name="og:description" content="<%= meta_content[:description] %>"/>
  <meta property="og:title" content="<%= meta_content[:social_media_title] %>"/>
  <meta property="og:url" content="<%= meta_content[:request_url] %>"/>
  <meta property="og:image" content="<%= meta_content[:social_media_image] %>"/>
  <meta property="og:site_name" content="akhoni.com"/>
  <meta property="fb:admins" content="<%= SITE_CONFIG["facebook"]["admin_ids"] %>"/>
  <meta property="fb:app_id" content="<%= SITE_CONFIG["facebook"]["app_id"] %>"/>
  <meta content="noodp,noydir" name="robots"/>

  <%= stylesheet_link_tag 'application', 'style', 'nav', 'nivo-slider', 'jquery.jqzoom' %>
  <%= javascript_include_tag :defaults %>
  <!-- IE and Opera rounded corners script -->
  <%= javascript_include_tag 'curvycorners', 'jquery.cookie', 'fancybox/jquery.fancybox-1.3.4.pack', 'jquery.appear-1.1.1.min.js', 'jquery.nivo.slider.pack', 'jquery.jqzoom-core-pack' %>
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4' %>
  <%= stylesheet_link_tag 'bangla' if I18n.locale == :bn %>
  <script type="text/javascript">
      locale = '<%= I18n.locale %>';
      <% if request.protocol == 'https://' %>
      var restOfUrl = window.location.href.substr(6);
      window.location = "http:" + restOfUrl;
      <% end %>
  </script>

  <!-- favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
<!--<a href="javascript:void(0);" id="live_chat_link">Live Chat</a>-->

<div id="fb-root"></div>
<%= image_tag "background_image/background.JPG", :class => "bg", :alt => 'akhoni.com - background' %>
<div class="header">
  <div id="header_wrap">
    <div class="logo">
      <%= link_to image_tag('logo.png', :alt => 'akhoni.com - logo'), location_deals_path(session[:location_id]) %>
    </div>
    <div class="content">
      <div class="hotline">
        <div>
          <% if request.env["REQUEST_METHOD"] == 'GET' %>
              <%#= link_to I18n.locale == :en ? 'বাংলা' : 'English', get_language_switch_url, :id => 'language_switch' %>
              <% if I18n.locale == :bn %>
                  <%= link_to image_tag('/images/akhoni-english-version.png'), get_language_switch_url %>
              <% else %>
                  <%= link_to image_tag('/images/akhoni-bangla-version-beta.png'), get_language_switch_url %>
              <% end %>
          <% end %>
          &nbsp;<%= t('HOTLINE') %> : <%= h SITE_CONFIG['hotline_number'] %>
        </div>
        <div style="font-size:13px;">(<%= t("OPERATING_TIME") %>)</div>
      </div>
      <div style="width:100%;float:right;padding:0">


        <ul class="login">

          <% if user_signed_in? %>
              <li class="welcome">
                <div style="width:100%;">
                  <%= t('WELCOME') %>
                  , <%= link_to truncate(h(current_user.name_or_email), :length => 24, :omission => '..'), settings_url, :class => 'my-account' %></div>
                <%= render :partial => 'layouts/user_navigation' %>
              </li>
          <% else %>
              <li><%= link_to t("SIGN_UP"), new_user_registration_path %></li>
              <li><%= link_to t("SIGN_IN"), new_user_session_path %></li>
              <li><%= link_to t("SIGN_IN_WITH_FACEBOOK"), user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 1024, :"data-height" => 650 %></li>
          <% end %>
        </ul>
        <ul class="top-menu">
          <% if params[:controller].match(/devise/).nil? && params[:controller] != 'registrations' %>
              <li class="top-menu-item">
                <%= link_to t("CURRENT_DEALS"), location_deals_path(session[:location_id]), :class => "link-top-menu-current-deal #{'selected' if params[:controller]=='deals'&& params[:action]=='index' && !params[:category_id].present? }" %>
              </li>
              <li class="top-menu-item">
                <%= link_to t("PRODUCTS"), location_products_path(session[:location_id]), :class => "link-top-menu-product #{'selected' if params[:controller]=='products'&& params[:action]=='index'}" %>
              </li>
              <li class="top-menu-item">
                <%= link_to t("TRAVEL"), "/#{session[:location_id]}?category_id=1", :class => "link-top-menu-travel #{'selected' if params[:controller]=='deals'&& params[:action]=='index' && params[:category_id].present? && params[:category_id].to_i == 1}" %>
              </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="page-wrap">
  <% if notice.present? || alert.present? %>
      <div class="notice-box notice"><%= notice %><%= alert %></div>
  <% end %>


  <div class="left-side-bar">
    <ul class="nav">
      <!--<li><%#= link_to_tag_current t("HOW_IT_WORKS"), :span, "/HowAkhoniWorks" %></li>-->
      <li><%= link_to_tag_current t("FEATURE_YOUR_BUSINESS"), :span, '/getfeatured' %></li>
      <!--<li><%#= link_to_tag_current t("TERMS_OF_USE"), :span, "/TermsOfUse" %></li>-->
      <% if can? :index, :"merchant/report" %>
          <li><%= link_to_tag_current t("COUPON_REPORT"), :span, "/merchant/report" %></li>
      <% end %>
      <li><%= link_to_tag_current t("E_STORE"), :span, stores_url %></li>
      <li><%= link_to_tag_current t("BLINK_PRIYOJON_LABEL_ALL_LOW"), :span, "/#{session[:location_id]}?category_id=2" %></li>
    </ul>
    <% if Category.active_categories.any? %>
        <div class="topbar bangla" style="clear: both;">
          <%= t("SHOP_BY_CATEGORY").html_safe %>
        </div>
        <ul class="category-nav">
          <li class="<%= 'selected' if !params[:cat_id].present? && params[:controller]=='products' && params[:action]=='index' %>">
            <a class="bangla" href="/dhaka/products" id="all_prod"><%= t("ALL_PRODUCTS") %></a>
          </li>
          <% Category.active_categories.each do |cat_option| %>
              <li class="<%= 'selected' if params[:cat_id].present? && params[:cat_id].to_i == cat_option.id %>">
                <a class="bangla" href="/dhaka/products?cat_id=<%= cat_option.id %>" id="<%= cat_option.id %>"><%= h cat_option.name %></a>
              </li>

              <div class="clear"></div>
          <% end %>
        </ul>
    <% end %>

    <% cache "left-banners" do %>
        <% Banner.with_position('LEFT').active.order('rank ASC').each do |banner| %>
            <div class="noprint">
              <a title="<%= banner.title %>" class="" href="<%= banner.link %>" target="_blank" style="display: inline-block;margin-left: 40px;">
                <% data_src = banner.picture.present? ? banner.picture.url : 'side-bar.png' %>
                <%= image_tag "side-bar.png", :border => 0, :class => 'fast_dynamic_image', :data_src => data_src %>
              </a>
            </div>
        <% end %>
    <% end %>


    <div class="left_box" title="Click to see details" style="text-align: left;background-color: rgba(255,255,255,0.6);">
      <a class="iframe" href="/referrals" style="display: block; padding-left: 20px;color: #5C0B3A;">
        <%= t("REFER_YOUR_FREINDS_AND_GET_TK", :tk => Referral::CREDIT[:buy].to_i.to_bddigit).html_safe %>

      </a>
    </div>


    <%= render :partial => 'deals/left_sidebar' %>
    <%= yield(:left_sidebar) %>
  </div>

  <% cache 'top_banner' do %>
      <% Banner.with_position('TOP').active.each do |banner| %>
          <a title="<%= banner.title %>" class="" href="<%= banner.link %>" target="_blank" >
            <%= image_tag banner.picture.url, :width => 685, :style => "margin-left: 15px;", :class => 'noprint' %>
          </a>
      <% end %>
  <% end %>

  <div class="right-side-bar <%= "#{params[:controller]}#{params[:action]}" %>">
    <%= yield %>
  </div>

  <%= yield(:page_bottom) %>

  <%= yield(:subscription) %>
</div>

<%= render :partial => 'layouts/footer' %>

<script type="text/javascript">
    var fb_param = {};
    fb_param.pixel_id = '6005911809910';
    fb_param.value = '0.00';
    (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = (location.protocol=='http:'?'http':'https')+'://connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
    })();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6005911809910&amp;value=1" /></noscript>

<script type="text/javascript">
    if (window.opener) {
        window.opener.location.reload(true);
        //window.close()
    }

    var uservoiceOptions = {
        /* required */
        key:'akhoni',
        host:'akhoni.uservoice.com',
        forum:'1',
        showTab:true,
        /* optional */
        alignment:'right',
        background_color:'#5a0b3a',
        text_color:'white',
        hover_color:'#fba534',
        lang:'en'
    };

    function _loadUserVoice() {
        var s = document.createElement('script');
        s.setAttribute('type', 'text/javascript');
        s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js");
        document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function () {
        _loadSuper();
        _loadUserVoice();
    };

    <% if Rails.env.production? %>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7513913-2']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    <% end %>
</script>
</body>
</html>
