<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= show_title? ? yield(:title) : 'Akhoni.com' %></title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

  <%= stylesheet_link_tag 'application', 'admin' %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.13.custom' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui-1.8.13.custom.min' %>
    <!-- IE and Opera rounded corners script -->
  <%= javascript_include_tag 'curvycorners', 'jquery.cookie', 'fancybox/jquery.fancybox-1.3.4.pack', 'jquery.appear-1.1.1.min.js' %>
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4' %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="page_container">
  <div class="header">
    <div id="header_wrap">
      <p class="logo">
        <%= link_to image_tag('logo.png', :style => 'width:150px;'), root_url %>
      </p>
      <ul class="login" style="float: right">

        <% if user_signed_in? %>
            Welcome, <%= current_user.email %>.
            <%= link_to "Sign out", destroy_user_session_path %>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="content_container">
    <%= render :partial => 'layouts/merchant_navigation' if current_user.is?(:merchant) %>
    <% if notice.present? || alert.present? %>
        <div id="notice"><%= notice %></div>
    <% end %>

    <div class="content"><%= yield %></div>
  </div>
  <div id="footer">
    &copy; Copyright <%= Time.now.year %> Akhoni.com. All Rights Reserved
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.lightbox a').fancybox({
            width   : 800,
            height  : 350,
            opacity : true
        });
    });
    </script>
</body>
</html>
