<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Akhoni.com</title>
</head>
<body>
<style type="text/css">
    <!--
    body {
        background-color: #2e001b;
        margin: 0;
        padding: 0;
    }

    a:hover {
        color: #78002d;
        text-decoration: underline;
    }

    img {
        border: none;
    }

    @font-face {
        font-family: 'HelveticaRoundedLTBoldCnRg';
        src: url("<%= root_url%>images/newsletter/fonts/helvetica_rounded_lt_bold_condensed-webfont.eot");
        src: url("<%= root_url%>images/newsletter/fonts/helvetica_rounded_lt_bold_condensed-webfont.eot?#iefix") format('embedded-opentype'), url("<%= root_url%>images/newsletter/fonts/helvetica_rounded_lt_bold_condensed-webfont.woff") format('woff'), url("<%= root_url%>images/newsletter/fonts/helvetica_rounded_lt_bold_condensed-webfont.ttf") format('truetype'), url("<%= root_url%>images/newsletter/fonts/helvetica_rounded_lt_bold_condensed-webfont.svg#HelveticaRoundedLTBoldCnRg") format('svg');
        font-weight: normal;
        font-style: normal;
    }

    -->
</style>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#2e001b">
  <tr>
    <td valign="top" style="padding:20px">
      <table width="650" height="40" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
        <tr>
          <td height="40" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666;">&nbsp;
            Hello! In order to properly view this email newsletter please click on
            <span style="color:#F06; font-weight:bold; font-style:italic;">Display Images Below</span> .
            <!-- START OF Header Table -->
            <table width="650" height="94" border="0" cellspacing="0" cellpadding="0" bgcolor="#4b082f">
              <tr bgcolor="#4b082f">
                <td height="94" width="450" align="left" valign="top" bgcolor="#4b082f">
                  <img src="<%= root_url %>images/newsletter/akhoni-logo.jpg" width="425" height="94" alt="akhoni.com"/>
                </td>
                <td width="200" align="left" valign="top" bgcolor="#4b082f">
                  <table width="169" height="94" border="0" cellspacing="0" cellpadding="0" bgcolor="#2e001b">
                    <tr>
                      <td width="169" align="left" bgcolor="#4b082f" valign="bottom">
                        <a href="<%= root_url %>HowAkhoniWorks" style="color: #ff0060; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 0px; text-decoration:none;"><img src="<%= root_url %>images/newsletter/arrow.png" width="8" height="11" />&nbsp;How
                          Akhoni.com Works</a></td>
                    </tr>
                    <tr>
                      <td width="169" align="left" bgcolor="#4b082f" valign="middle">
                        <a href="<%= root_url %>getfeatured" style="color: #ff0060; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 0px; text-decoration:none;"><img src="<%= root_url %>images/newsletter/arrow.png" width="8" height="11" />&nbsp;Feature
                          Your Business</a></td>
                    </tr>
                    <tr>
                      <td width="169" align="left" bgcolor="#4b082f" valign="top">
                        <a href="<%= root_url %>referrals" style="color: #ff0060; font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 0px; text-decoration:none;"><img src="<%= root_url %>images/newsletter/arrow.png" width="8" height="11" />&nbsp;Refer Your Friends</a></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- END OF Header Table -->
            <table width="650" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><%= yield %></td>
              </tr>
            </table>
            <table width="650" border="0" cellspacing="0" cellpadding="10" bgcolor="#333333" align="center">
              <tr>
                <td height="70" colspan="3" valign="middle" bgcolor="#4b082f" style="color:#FC0; line-height:18px; text-align:center;">
                  Copyright &copy; <%=Date.today.year%> Akhoni.com Ltd. All Rights Reserved.<br/>
                  <span style="color:#cc0052">Corporate office:</span>
                  <%= h SITE_CONFIG['company_address'] %>  <br/>
                  <span style="color:#cc0052">Contact#</span> <%= h SITE_CONFIG['contact_number'] %>
                  <span style="color:#cc0052">Email:</span>
                  <a target="_blank" href="mailto:<%= h SITE_CONFIG['system_email']['contact'] %>" style="color:#FFC200;text-decoration: none"><%= h SITE_CONFIG['system_email']['contact'] %></a>
                </td>
              </tr>
              <tr>
                <td width="401" height="55" align="left" valign="middle" bgcolor="#ffffff" style="font-family: Helvetica, sans-serif; font-size: 11px; color:#999; line-height: 16px; text-align:center;">
                  You are receiving this email because you have an active Akhoni.com account.
                  If any time you wish to stop receiving our emails, you can
                  <a href="<%= root_url %>unsubscribe/new?id=<%= @user.id %>&email=<%= @user.email %>">unsubscribe
                    here</a>
                </td>
              </tr>
            </table>
            <!-- END OF FOOTER TABLE -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>

