<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <title>Akhoni.com</title>
  <%= stylesheet_link_tag 'application', 'style' %>
  <%= javascript_include_tag :defaults %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= yield %>
<script type="text/javascript">
    <% if Rails.env.production? %>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7513913-2']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    <% end %>
</script>
</body>
</html>
